$descriptionTextMargin: 60%;
$radioOptionIconMarginRight: 0.571em;

.sp-radio-buttons {
  display: inline-block;
  background-color: #ffffff;
  @include user-select(none);


  > label.sp-radio-option {
    display: inline-block;
    padding: 0.5em 0;
    cursor: pointer;
    position: relative;
    vertical-align: middle;

    .label {
      vertical-align: top;
    }

    &:before {
      $size: 0.8em;
      content: "";
      display: inline-block;
      background-image: url('//storage.googleapis.com/sp-public/global/frontend-icons/radio-button-false-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: $size;
      height: $size;
      vertical-align: middle;
      margin-right: $radioOptionIconMarginRight;
    }

    &.checked {
      font-weight: 700;

      &:before {
        background-image: url('//storage.googleapis.com/sp-public/global/frontend-icons/radio-button-true-icon.png');
        background-color: #414141;
      }

      > .help-text {
        display: block;
      }
    }

    .input-wrapper {
      display: inline-block !important;
      width: 0 !important;
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      overflow: hidden !important;
    }

    > .help-text {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;

      .arrow {
        text-align: center;
        height: 0.4em;
        padding-bottom: 0.1em;

        img {
          height: 100%;
          display: inline-block;
          vertical-align: top;
        }
      }

      .text {
        background-color: #414141;
        font-size: 1.9em;
        margin: 0 (-1 * $descriptionTextMargin / 2);
        white-space: normal;

        &.left {
          margin: 0 0 0 (-1 * $descriptionTextMargin);
          text-align: left;
        }

        &.right {
          margin: 0 (-1 * $descriptionTextMargin) 0 0;
          text-align: right;
        }
      }
    }

    &:last-child > .help-text .text {
      margin: 0 0 0 (-1 * $descriptionTextMargin);
      text-align: right;
    }

    &:first-child > .help-text .text {
      margin: 0 (-1 * $descriptionTextMargin) 0 0;
      text-align: left;
    }
  }

  &.switcher {
    border: 0;
    border-radius: 32px;

    > label.sp-radio-option {
      border-radius: 32px;
      padding: 0.8334em 2em;
      text-align: center;
      min-width: 9.6667em;
      box-sizing: border-box;

      &:before {
        display: none;
      }

      &.checked {
        color: #414141;
        font-weight: bold;
      }
    }
  }
}

.rtl {
  .sp-radio-buttons > label.sp-radio-option {
    &:before {
      margin-right: 0;
      margin-left: $radioOptionIconMarginRight;
    }

    > .help-text .text {
      &.left {
        margin: 0 (-1 * $descriptionTextMargin) 0 0;
        text-align: right;
      }

      &.right {
        margin: 0 0 0 (-1 * $descriptionTextMargin);
        text-align: left;
      }
    }

    &:last-child > .help-text .text {
      margin: 0 (-1 * $descriptionTextMargin) 0 0;
      text-align: left;
    }

    &:first-child > .help-text .text {
      margin: 0 0 0 (-1 * $descriptionTextMargin);
      text-align: right;
    }
  }
}

@media screen and (max-width: 1220px) {
  .sp-radio-buttons {
    &.switcher {
      > label.sp-radio-option {
        padding-top: 0.6334em;
        padding-bottom: 0.6334em;
      }
    }
  }
}