<div ng-show="count > 1" class="product-pricing-method" ng-class="{'extended': count == 3}">
    <button class="no-design" ng-click="toggle(1, $event)" ng-class="{'selected': !isCase && !isPack}"
            ng-if="product.branch.case && product.branch.regularPrice != product.branch.case.price || !product.branch.case">
        {{'Single' | translate}}
    </button>
    <button class="pack no-design" ng-click="toggle(2, $event)" ng-class="{'selected': !!isPack}" ng-if="product.branch.packQuantity">
        {{'Pack' | translate}}
    </button>
    <button class="no-design" ng-click="toggle(3, $event)" ng-class="{'selected': !!isCase}"
            ng-if="product.branch.case && !!product.branch.case.price">
        {{'Case' | translate}}
    </button>
</div>