<div class="summary tab-container">
    <h1 class="summary-title" id="page_title">
        {{checkoutCtrl.isRememberCreditCardsMode ? 'Payment Details' : 'Payment Details' | translate}}
    </h1>

    <div class="summary-container">
        <div class="summary-details" role="region" aria-labelledby="summary_details_title">
            <div class="center">
                <h2 id="summary_details_title" class="title secondary-font">{{'Checkout Summary' | translate}}</h2>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-next-delivery"></use>
                </svg>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{checkoutCtrl.detailsData.isShippingService ?
                    ('You selected' | translate) :
                    ('Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') | translate)}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{'Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') + ' in' | translate}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL">
                    {{checkoutCtrl.area.providerName}}
                </div>
                <div class="delivery-type" ng-if="checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{('fromBranch' | translate) + ' ' + checkoutCtrl.pickupAddress }}
                </div>
                <div class="delivery-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    <div class="date">
                        {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
                        ('in' | translate) + ' ' + (checkoutCtrl.detailsData.delivery.time.timeRange | date:'HH:mm':'UTC') + ' ' + ('hours' | translate) :
                        (checkoutCtrl.detailsData.delivery.times.isToday ? 'Today' : 'day' + checkoutCtrl.detailsData.delivery.times.day | translate) + ' ' +
                        (checkoutCtrl.detailsData.delivery.times.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC') + ' '}}
                    </div>
                    <div class="times">{{$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ?
                        ('at_hour' | translate) + ' ' + ((checkoutCtrl.detailsData.delivery.time.fromDisplay || checkoutCtrl.detailsData.delivery.time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') :
                        (checkoutCtrl.detailsData.delivery.time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') + ' - ' + (checkoutCtrl.detailsData.delivery.time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC')}}</div>
                    <div class="footnote" ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">{{'the waiting period will not exceed two hours' | translate}}</div>
                </div>
                <div class="delivery-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    <div class="date">{{checkoutCtrl.detailsData.delivery.time.daysRange}} {{'Business Days' | translate}}</div>
                </div>
                <div class="delivery-time" ng-if="checkoutCtrl.detailsData.isShippingService">
                    <div class="date">{{checkoutCtrl.detailsData.delivery.time.serviceName}}</div>
                </div>
                <div class="asap" ng-if="checkoutCtrl.detailsData.delivery.times.asap">
                    <img ng-src="{{'//storage.googleapis.com/sp-public/global/frontend-icons/small-v.png'}}" alt="">
                    {{'Sooner if Possible' | translate}}
                </div>
                <h5 class="center substitutions" ng-if="!!checkoutCtrl.detailsData.substitutePreferences">
                    {{'Substitutions Choice' | translate}}:
                    {{'substitute_preference_' + checkoutCtrl.detailsData.substitutePreferences + '_label' | translate}}
                </h5>
            </div>
            <ng-include src="'template/views/checkout/partials/summary-box/index.html'"></ng-include>
        </div>

        <form name="paymentForm" class="paymentForm" novalidate aria-labelledby="payment_title" ng-if="!$root.isCreditCustomer">
            <div class="payment-details">
                <div ng-if="summaryCtrl.paymentMethods.length > 1">
                    <div class="payment-title" id="payment_title">{{'Choose how you\'d like to pay' | translate}}</div>

                    <div class="payment-methods">
                        <sp-radio sp-model="checkoutCtrl.summaryData.paymentMethod" options="summaryCtrl.paymentMethods"
                                  value-key="option" sp-change="summaryCtrl.onPaymentMethodChanged()"
                                  role="radiogroup" aria-label="{{'Payment method options' | translate}}">
                            <span class="paypal-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL">
                                <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/paypal-logo.png" alt="{{'PayPal Logo' | translate}}">
                            </span>
                            <span class="masterpass-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS">
                                <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/masterpass-logo.png?a" alt="{{'MasterPass Logo' | translate}}">
                            </span>
                            <span class="bit-image" ng-if="option.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                                <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/bit-logo.svg"
                                     alt="{{'Bit Logo' | translate}}">
                            </span>
                            <span ng-if="option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS && option.name !== $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                                {{option.name | translate}}
                            </span>
                        </sp-radio>
                    </div>
                    <div class="payment-border"></div>
                </div>

                <div class="call-customer-description" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CALL_CUSTOMER">
                    <h5 ng-if="summaryCtrl.paymentMethods.length === 1" class="bold">{{'Pay By Phone' | translate}}</h5>
                    <span>{{'Once we collected your order, we will call to collect your payment' | translate}}</span>
                </div>

                <div class="credit-on-file" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.STORE_CREDIT">
                    <h5 class="bold">{{'Enter your credit on file' | translate}}</h5>
                    <div>
                        <input type="text" name="storecredit" ng-model="checkoutCtrl.summaryData.storeCredit" required
                               sp-inline-error/>
                    </div>
                </div>

                <div class="check-out-button paypal-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && !checkoutCtrl.summaryData.paypalAccount">
                    <button class="no-design disabled-opacity" ng-click="summaryCtrl.openPayPalWindow();" ng-disabled="summaryCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                        <span class="for-vertical-align"></span><!--
                        --><span>{{'Pay with' | translate}} </span>
                        <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/paypal-logo.png" alt="PayPal"/>
                    </button>
                </div>

                <div class="check-out-button masterpass-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.I_CREDIT_MASTER_PASS">
                    <button class="no-design" ng-click="summaryCtrl.openICreditMasterPassWindow();" ng-disabled="summaryCtrl.checkOutDisabled || !$root.cart.sendingSucceeded">
                        <span>{{'Pay with' | translate}}</span>
                        <img ng-src="{{'https://storage.googleapis.com/sp-public/global/frontend-icons/masterpass-button-' + $root.config.language.direction + '.png'}}" alt="MasterPass"/>
                    </button>
                </div>

                <div class="check-out-button bit-button" ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.BIT">
                    <div id="bit-payment-button-container" ng-init="summaryCtrl.initBitButton()"></div>
                </div>

                <div class="ebt-details"
                     ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT && checkoutCtrl.detailsData">
                    <h5 class="bold"
                        ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                        {{'EBT payment' | translate}} ({{'step' | translate}} 1/2)
                    </h5>

                    <div class="add-card-btn-wrapper" ng-if="!summaryCtrl.ebtCards.length">
                        <button type="button" class="no-design main-color pay-button" ng-click="summaryCtrl.showAddEBTCardDialog();">
                            <span class="text">{{'Add EBT card' | translate}}</span>
                        </button>
                    </div>

                    <div class="ebt-card-wrapper" ng-if="summaryCtrl.ebtCards.length">
                        <div class="ebt-card-number-wrapper">
                            <div class="card-icon">
                                <svg focusable="false">
                                    <use xlink:href="#sp-icons-ebt-card"></use>
                                </svg>
                            </div>
                            <div class="card">
                                <div class="number">*** **** **** **** {{summaryCtrl.ebtCards[0].lastFourDigits}}</div>
                                <div class="remove-button">
                                    <button type="button" class="no-design" ng-click="summaryCtrl.removeCard(summaryCtrl.ebtCards[0].id);">
                                        {{'Remove' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div class="balance-button">
                                <button type="button" class="no-design" ng-click="summaryCtrl.checkEBTBalance();">
                                    <span class="text">{{'Check balance' | translate}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="ebt-amount">
                            <div class="title">
                                {{'EBT SNAP' | translate}}
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.ebtBalance">
                                <span class="title">{{'Balance' | translate}}:</span>
                                <span>{{summaryCtrl.ebtBalance.fsBalance || 1 | currency}}</span>
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.cartEBTEligibleData">
                                <span class="title">{{'Eligible' | translate}}:</span>
                                <span>
                                {{summaryCtrl.cartEBTEligibleData.snap.totalWithoutTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                            </div>
                            <div class="data-row input-wrapper">
                                <span class="title">{{'Amount to pay' | translate}}:</span>
                                <span class="value">
                                    <input type="number" name="ebtFSAmount" ng-model="checkoutCtrl.summaryData.ebt.fsAmount"
                                           sp-inline-error sp-inline-error-attach-to-parent="span"
                                           ng-change="summaryCtrl.onEBTAmountChange()"/>
                                    {{$root.config.retailer.currencySymbol}}
                                </span>
                            </div>
                        </div>
                        <div class="ebt-amount">
                            <div class="title">
                                {{'EBT Cash' | translate}}
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.ebtBalance">
                                <span class="title">{{'Balance' | translate}}:</span>
                                <span>{{summaryCtrl.ebtBalance.cbBalance || 1 | currency}}</span>
                            </div>
                            <div class="data-row" ng-if="summaryCtrl.cartEBTEligibleData">
                                <span class="title">{{'Eligible' | translate}}:</span>
                                <span>
                                {{summaryCtrl.cartEBTEligibleData.entireCart.totalWithTax - summaryCtrl.ebtCalculatedAmounts.fs.amountWithTax -
                                  summaryCtrl.ebtCalculatedAmounts.fs.depositWithTax | currency}}
                                <span ng-include="'template/views/checkout/partials/ebt-weight-debit-disclaimer/index.html'"></span>
                            </span>
                            </div>
                            <div class="data-row input-wrapper">
                                <span class="title">{{'Amount to pay' | translate}}:</span>
                                <span class="value">
                                    <input type="number" name="ebtCBAmount" ng-model="checkoutCtrl.summaryData.ebt.cbAmount"
                                           sp-inline-error sp-inline-error-attach-to-parent="span"
                                           ng-change="summaryCtrl.onEBTAmountChange()"/>
                                    {{$root.config.retailer.currencySymbol}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="credit-card-details"
                     ng-if="(checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD ||
                             checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT) && checkoutCtrl.detailsData">
                    <div class="add-credit-card-details" ng-if="checkoutCtrl.isRememberCreditCardsMode">
                        <h5 class="bold"
                            ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.CREDIT_CARD">
                            {{'Your credit cards' | translate}}
                        </h5>
                        <h5 class="bold"
                            ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                            {{'Credit card' | translate}} ({{'step' | translate}} 2/2)
                        </h5>

                        <div class="ebt-credit-card-disclaimer"
                             ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
                            {{'Please provide a credit card as backup. Any additional charges will be made to this payment method' | translate}}.
                        </div>

                        <div class="credit-cards-wrapper">
                            <table>
                                <tbody>
                                <tr ng-repeat="creditCard in summaryCtrl.creditCards">
                                    <td class="radio-column">
                                        <span>
                                        <sp-radio sp-model="checkoutCtrl.summaryData.creditCard"  sp-value="creditCard" sp-disabled="!creditCard.isActive" sp-name="credit-card"
                                                  ng-click="!creditCard.isActive ? summaryCtrl.showAddCardDialog() : summaryCtrl.chooseCreditCard(creditCard)"></sp-radio>
                                    </span>
                                    </td>
                                    <td class="card-number" ng-if="creditCard.isActive" ng-click="summaryCtrl.chooseCreditCard(creditCard)">
                                        <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
                                    </td>
                                    <td class="card-number" ng-if="!creditCard.isActive" ng-click="summaryCtrl.showAddCardDialog();">
                                        <span class="card-hidden-no">**** **** **** </span>{{creditCard.lastFourDigits}}
                                    </td>
                                    <td class="cvv">
                                        <input id="cvv" type="text" name="cvv" autocomplete="off" ng-model="checkoutCtrl.summaryData.cvv"
                                               ng-if="creditCard == checkoutCtrl.summaryData.creditCard"
                                               placeholder="{{'Enter CVV' | translate}}" sp-inline-error sp-inline-error-class="cvv-error"/>
                                        <span ng-click="summaryCtrl.showAddCardDialog();" ng-if="!creditCard.isActive"> {{'Activate card' |translate}}</span>
                                    </td>
                                    <td class="cvv-explain-column">
                                        <div class="cvv-explain" ng-if="creditCard == checkoutCtrl.summaryData.creditCard">
                                            <div class="question-mark">?</div>
                                            <div class="explanation">
                                                <span class="general-text">{{'CVV is an anti-fraud security feature to help verify that you are in possession of your credit card' | translate}}.</span>
                                                <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/credit-card-cvv.png" alt=""/>
                                                <span class="detailed-text">{{'The three-digit CVV number is printed on the signature panel on the back of the card immediately after the card\'s account number' | translate}}</span>
                                                <div class="arrow"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="has-credit-cards-details" ng-if="!summaryCtrl.hasCard">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design" id="add_card"
                                        ng-click="summaryCtrl.showAddCardDialog();">
                                    <svg focusable="false">
                                        <use xlink:href="#sp-icons-add-credit-card"></use>
                                    </svg>
                                    <span class="text">{{'Add card' | translate}}</span>
                                </button>
                            </div>
                        </div>

                        <div class="has-credit-cards-details" ng-if="summaryCtrl.hasCard">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design" id="add_new_card"
                                        ng-click="summaryCtrl.showAddCardDialog();">
                                    <svg focusable="false">
                                        <use xlink:href="#sp-icons-add-credit-card"></use>
                                    </svg><!--
                                    --><span class="text">{{'Add another card' | translate}}</span>
                                </button>
                                <!--<button type="button" class="no-design" id="remove-card" ng-click="summaryCtrl.removeCard(checkoutCtrl.summaryData.creditCard.id);">-->
                                <!--{{'Remove card' |translate}}-->
                                <!--</button>-->
                            </div>

                            <div class="payments-number" ng-if="!!$root.config.creditCardConfig.paymentsNumber
                                                        && ($root.config.creditCardConfig.paymentsNumber | number) > 1
                                                        && checkoutCtrl.summaryData.creditCard.cardType != $root.CREDIT_CARD_TYPES.DIRECT">
                                <span>{{'Payments number' | translate}}&nbsp;</span>
                                <sp-kikar-dropdown sp-model="checkoutCtrl.summaryData.paymentsNumber" class="input narrow">
                                    <sp-kikar-text aria-label="{{'Payments number' | translate}}">
                                        {{checkoutCtrl.summaryData.paymentsNumber}}
                                    </sp-kikar-text>

                                    <sp-kikar-option ng-repeat="num in ($root.config.creditCardConfig.paymentsNumber | arrayInLength)" sp-value="num">
                                        {{num}}
                                    </sp-kikar-option>
                                </sp-kikar-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="gift-payment" ng-class="{'border-top': checkoutCtrl.isRememberCreditCardsMode, 'border-bottom': !checkoutCtrl.isRememberCreditCardsMode}"
                         ng-if="$root.config.retailer.allowGiftCardsInCheckout">
                        <h5>{{'Add your gift card' | translate}}</h5>
                        <input name="giftCards.0" type="text" ng-model="checkoutCtrl.summaryData.giftCardId" sp-inline-error/>
                    </div>

                    <div class="pay-with-credit-card"
                         ng-if="!checkoutCtrl.isRememberCreditCardsMode && summaryCtrl.paymentIFrameUrl &&
                                summaryCtrl.creditCardWindowType !== $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW">
                        <iframe id="payment_iframe" ng-init="summaryCtrl.bindIFrameLoad();"  ng-src="{{summaryCtrl.paymentIFrameUrl}}"></iframe>
                    </div>

                    <div class="check-out-button pay-button"
                         ng-if="!checkoutCtrl.isRememberCreditCardsMode && summaryCtrl.creditCardWindowType === $root.SP_PAYMENTS.CREDIT_CARD_WINDOW_TYPES.WINDOW"">
                        <button type="button" class="no-design"  id="pay_button"
                                ng-click="checkoutCtrl.checkout(paymentForm)"
                                ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                            <span class="text">{{'Pay with Credit Card' | translate}}</span>
                        </button>
                    </div>
                </div>

                <div class="credit-card-details"  ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.PAYPAL && summaryCtrl.paypalAccounts.length">
                    <div class="add-paypal-accounts-details">
                        <h5 class="bold">{{'Your PayPal accounts' | translate}}</h5>

                        <div class="paypal-accounts-wrapper">
                            <table>
                                <tbody>
                                <tr ng-repeat="paypalAccount in summaryCtrl.paypalAccounts" >
                                    <td class="radio-column">
                                        <!--<span ng-if="summaryCtrl.creditCards.length > 1">-->
                                        <span>
                                        <sp-radio sp-model="checkoutCtrl.summaryData.paypalAccount" sp-name="paypal" sp-value="paypalAccount"></sp-radio>
                                    </span>
                                    </td>
                                    <td class="paypal-account" ng-click="checkoutCtrl.summaryData.paypalAccount = paypalAccount">
                                        <img class="bg-main-color" src="https://storage.googleapis.com/sp-public/global/frontend-icons/paypal-account.png" alt="{{'PayPal account' | translate}}"/>
                                        <span class="Email"></span>{{paypalAccount.email}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="has-paypal-account-details" ng-if="!checkoutCtrl.summaryData.paypalAccount">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color"  id="add_paypal_account"
                                        ng-click="summaryCtrl.openPayPalWindow();">
                                    <img class="bg-main-color" src="https://storage.googleapis.com/sp-public/global/frontend-icons/add-account-icon.png" alt=""/>
                                    <span class="text">{{'Add PayPal Account' | translate}}</span>
                                </button>
                            </div>
                        </div>

                        <div class="has-paypal-account-details" ng-if="checkoutCtrl.summaryData.paypalAccount">
                            <div class="add-card-btn-wrapper">
                                <button type="button" class="no-design main-color" id="add_new_paypal_account"
                                        ng-click="summaryCtrl.openPayPalWindow();">
                                    <img class="bg-main-color" src="https://storage.googleapis.com/sp-public/global/frontend-icons/add-account-icon.png" alt=""/>
                                    <span class="text">{{'Add another account' | translate}}</span>
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div ng-if="summaryCtrl.paymentMethods.length === 1" class="payment-border under"></div>

                <div ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.ORGANIZATION" class="credit-card-details">
                    <div class="bold" ng-bind="('On Credit Payment' | translate)"></div>
                    <h5 class="bold" ng-bind="checkoutCtrl.userOrganization.name"></h5>

                    <div ng-if="!checkoutCtrl.userOrganization.isActive" class="error-message bold text-align-center">
                        {{'Sorry, Your organization account is inactive' | translate}}
                    </div>

                    <div ng-if="checkoutCtrl.userOrganization.isActive">
                        <input type="text"
                               name="order_organization_confirm"
                               ng-model="checkoutCtrl.summaryData.organization"
                               placeholder="{{'Please enter order confirmation number' | translate}}"
                               required
                               sp-inline-error/>
                    </div>
                </div>

                <div class="check-out-button" ng-if="summaryCtrl.isShowCheckoutButton()">
                    <button class="no-design disabled-opacity"
                            ng-click="checkoutCtrl.checkout(paymentForm)"
                            ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                        {{'PLACE ORDER' | translate}}
                    </button>
                </div>
            </div>
        </form>

        <form name="paymentForm" class="paymentForm credit-customer-payment-form" novalidate aria-labelledby="payment_title" ng-if="$root.isCreditCustomer">
            <div class="payment-details">

                <div ng-if="checkoutCtrl.userOrganization && checkoutCtrl.userOrganization.id">{{checkoutCtrl.userOrganization.name}}</div>
                <h5 class="bold">{{checkoutCtrl.userOrganization && checkoutCtrl.userOrganization.id ? 'Payment by organization credit' : 'Payment by credit' | translate}}</h5>

                <div class="credit-customer-line">
                    <svg focusable="false" class="wallet-icon">
                        <use xlink:href="#sp-icons-wallet"></use>
                    </svg>
                    <span class="text">{{'Remaining Credit' | translate}}:</span>
                    <span class="price" ng-class="{'not-enough': $root.creditCustomerRemainingSum < ($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax + $root.cart.total.deliveryCost.finalPriceWithTax) }">{{$root.creditCustomerRemainingSum | currency:' '}}</span>
                </div>

                <div class="check-out-button">
                    <button class="no-design disabled-opacity" ng-click="checkoutCtrl.checkoutCreditCustomer(paymentForm)" ng-disabled="checkoutCtrl.checkingOut || !$root.cart.sendingSucceeded">
                        {{'PLACE ORDER' | translate}}
                    </button>
                </div>

            </div>
        </form>

    </div>
</div>
