<div class="sp-cart-line-count" ng-show="line && line.quantity" ng-class="{'weighable': line.product && !line.isCase && $root.util.isWeightQuantity(line.product)}">
    <div ng-if="line">
        <span class="for-vertical-align"></span><!--
        --><span aria-live="assertive" aria-relevant="text">{{textBefore === undefined ? '+' : textBefore}}{{$root.util.isWeightQuantity(line.product) ? (line.product | productWeight:line.isCase:null:line.quantity) : line.quantity}}</span>
    </div>
</div>