$sidenavWidth: 20.813em;
$responsive1575SidenavWidth: 18.75em;

$sidenavHeaderDataHeight: 4.4375em;
$sidenavHeaderBlock: 3.6875em;
$sidenavHeaderHeight: $sidenavHeaderDataHeight + $sidenavHeaderBlock;

$toolbarHeight: 7em;
$responsive1575ToolbarHeight: 6em;
$menuHeight: 3.25em;
$hubHeaderHeight: 4.375em;
$headerHeight: $toolbarHeight + $menuHeight;
$headerHeightWithHub: $headerHeight + $hubHeaderHeight;
$responsive1575HeaderHeight: $responsive1575ToolbarHeight + $menuHeight;
$responsive1575HeaderHeightWithHub: $responsive1575HeaderHeight + $hubHeaderHeight;

$menuCategoriesTitleWidth: 21.244em;
$responsive1575MenuCategoriesTitleWidth: 17em;
$responsive1180MenuCategoriesTitleWidth: 15em;
$toolbarNavigationLinkHorizontalPadding: 0.9375em;
$responsive1750ToolbarNavigationLinkHorizontalPadding: 0.4211em;
$responsive1180ToolbarNavigationLinkHorizontalPadding: 0.9375em;

$toggleIsCaseHeight: 3em;
$toggleIsCaseWidth: 4em;
$toggleIsCaseButtonsBorderRadius: 5px;

$checkoutBottomBannerNextButtonWidth: 21rem;

$specialItemDistance: 0.58125em;
$checkoutWidth: 72.5rem;

$clubIconFill: #0c0900;