@import './_config.scss','./_functions.scss';
/* Reset */
html {
  font-size: 16px;
  overflow-y: scroll;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Almarai:300,400,700&display=swap');
@import url("https://storage.googleapis.com/sp-public/fonts/open-sans-hebrew/opensanshebrew.css?cachebuster=123143345");
//@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");

@font-face {
  font-family: 'Mixtape';
  src: url('https://storage.googleapis.com/sp-public/fonts/mixtape-aaa-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mixtape';
  src: url('https://storage.googleapis.com/sp-public/fonts/mixtape-aaa-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mixtape';
  src: url('https://storage.googleapis.com/sp-public/fonts/mixtape-aaa-800.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
  /*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;
  color: inherit;

  &:active, &:focus {
    outline: 0;
  }
}

body {
  *:focus, *.focus {
    outline: 3px solid rgba(53, 128, 253, 0.62);
  }
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*overflow: hidden;*/
}
ul {
  list-style: none;

  [ng-bind-html] & {
    list-style: disc;
  }

}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Angular JS elements */
ng-include {
  display: block;
}

/* To prevent a bug in ie - when clicking on an img withing a label, the label does not gain focus as expected */
label img {
  pointer-events: none;
}