<h1 class="detail-title" ng-bind="::'Membership club' | translate" id="page_title"></h1>

<div class="loyalty-club">
    <div class="registarArea" ng-if="userEditCtrl.user.loyaltyClubCardId == null && userLoyaltyCtrl.loyaltyAtProcess == undefined">

        <div ng-if="userEditCtrl.user.loyaltyVerificationStatus == null">
            <div class="registrationBanner" ng-if="$root.config.retailer.loyaltyClubDriver.clientConfig.banners.registrationMembership">
                <img ng-src="{{$root.config.retailer.loyaltyClubDriver.clientConfig.banners.registrationMembership}}"
                     ng-click="!!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                               && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length ? null : $root.util.showLoyaltyClubDialog()"
                     alt="{{'membership club' | translate}}">
                <div ng-if="!!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner
                && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner.length"
                     class="banner-map">
                    <div class="area"
                         ng-repeat="area in $root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.registrationMembershipBanner"
                         ng-if="area.url"
                         ng-style="{'top': (area.y + (userLoyaltyCtrl.registrationBannerImgOffsetTop || 0)) + 'px',
                         'left': (area.x + (userLoyaltyCtrl.registrationBannerImgOffsetLeft || 0)) + 'px',
                         'width': area.width + 'px',
                         'height': area.height + 'px'}"
                         ng-click="userLoyaltyCtrl.goTo(area.url)">
                    </div>
                </div>
            </div>
            <div class="call-to-action" ng-if="!$root.config.retailer.loyaltyClubDriver.clientConfig.banners.registrationMembership">
                <button ng-click="$root.util.showLoyaltyClubDialog()" ng-bind="::'Join / Connect to club' | translate"></button>
            </div>
        </div>

        <div ng-if="userEditCtrl.user.loyaltyVerificationStatus == 1">
            <div class="verificationBanner" ng-if="$root.config.retailer.loyaltyClubDriver.clientConfig.banners.connectToCard">
                <img ng-src="{{$root.config.retailer.loyaltyClubDriver.clientConfig.banners.connectToCard}}"
                     ng-click="!!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner
                               && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner.length ? null : $root.util.showLoyaltyClubDialog()"
                     alt="{{'membership club' | translate}}">
                <div ng-if="!!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner
                && !!$root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner.length"
                     class="banner-map">
                    <div class="area"
                         ng-repeat="area in $root.config.retailer.loyaltyClubDriver.clientConfig.bannersMap.connectToCardBanner"
                         ng-if="area.url"
                         ng-style="{'top': (area.y + (userLoyaltyCtrl.connectBannerImgOffsetTop || 0)) + 'px',
                         'left': (area.x + (userLoyaltyCtrl.connectBannerImgOffsetLeft || 0)) + 'px',
                         'width': area.width + 'px',
                         'height': area.height + 'px'}"
                         ng-click="userLoyaltyCtrl.goTo(area.url)">
                    </div>
                </div>
            </div>
            <div class="call-to-action" ng-if="!$root.config.retailer.loyaltyClubDriver.clientConfig.banners.connectToCard">
                <button ng-click="$root.util.showLoyaltyClubDialog()" ng-bind="::'connect_to_loyalty' | translate"></button>
            </div>
        </div>
        <br>
    </div>

    <div ng-if="userEditCtrl.user.loyaltyClubCardId" class="club-details">
        <!--These might be needed in the future...-->
        <!--<div ng-bind="('Membership club number' | translate) + ': ' + userEditCtrl.user.loyaltyClubCardId"></div>-->
        <!--<div>-->
            <!--{{('Expiration date' | translate) + ': ' + (userEditCtrl.user.loyaltyClubExpiration | date:($root.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')}}-->
        <!--</div>-->
        <div class="user-detail">
            <span ng-bind="'Club Member Name' | translate" class="bold detail-name"></span>
            <br>
            <span ng-bind="userEditCtrl.user.firstName + ' ' + userEditCtrl.user.lastName" class="detail"></span>
        </div>
        <div class="user-detail">
            <span ng-bind="'Phone' | translate" class="bold detail-name"></span>
            <br>
            <span ng-bind="userEditCtrl.user.phonesObj['3'].phoneNumber" class="detail"></span>
        </div>
    </div>

    <div class="register-message" ng-if="userEditCtrl.user.loyaltyVerificationStatus == null && userEditCtrl.user.loyaltyClubCardId == null && userLoyaltyCtrl.loyaltyAtProcess != undefined">
        {{'The registration process will end when you will pay a membership fee at checkout' | translate}}
    </div>

    <div class="register-message" ng-if="userEditCtrl.user.loyaltyClubCardId == null && userEditCtrl.user.loyaltyVerificationStatus">
        {{('You have successfully registered to {clubname}. You will need to connect as a club member, once you receive your credit card' | translate)
        .replace('{clubname}', ($root.config.retailer.loyaltyClubDriver.name ? $root.config.retailer.loyaltyClubDriver.name : ('membership_club' | translate)))}}.
    </div>

    <div class="full-details-link" ng-if="userEditCtrl.user.loyaltyClubId && $root.config.retailer.loyaltyFullDetailsUrl">
        {{
        ('For {clubname} full details' | translate)
        .replace('{clubname}', ($root.config.retailer.loyaltyClubDriver.name ? $root.config.retailer.loyaltyClubDriver.name : ('membership_club' | translate)))
        }}
        <a ng-href="{{$root.config.retailer.loyaltyFullDetailsUrl}}">{{'Click here' | translate}}</a>.
    </div>

    <div class="specials-carousel">
        <span class="left"> {{('{clubname} Special Deals' | translate).replace('{clubname}', ($root.config.retailer.loyaltyClubDriver.name ? $root.config.retailer.loyaltyClubDriver.name : ('membership_club' | translate)))}}</span>
        <sp-carousel
            template-url="template/views/home/partials/special-carousel/index.html"
            load-more-items="userLoyaltyCtrl.loadSpecials"
            functions="userLoyaltyCtrl.specialsActions"
            item-width="278"
            rows="{default:1}"
            refresh-event="carousel.specials.add"
            watchers="userLoyaltyCtrl.specialsCarouselWatchers">
        </sp-carousel>
    </div>
</div>