$marginInBetween: 2em;

.loyalty-club {

  .registarArea {
    .registrationBanner, .verificationBanner {
      cursor: pointer;
      position: relative;

      .banner-map .area {
        position: absolute;
      }
    }

    .call-to-action {
      text-align: center;

      button {
        color: #ffffff;
        font-weight: 700;
        background: #414141;
        border-radius: 2.625em;
        padding: 0.5em 2em;
      }
    }
  }

  .club-details {
    margin-top: 1em;
    margin-bottom: 2em;

    .user-detail {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $marginInBetween;
        padding-right: $marginInBetween;
        border-right: 1px solid black;
      }

      .detail {
        font-weight: 300;
        font-size: 1.3em;
        line-height: 1.5em;
      }
    }
  }

  .register-message {
    padding: 0 2em;
  }

  .full-details-link {
    display: block;
    padding: 0.5em 2em 0 2em;

    > a {
      text-decoration: underline;
      color: #0a9dc7;
    }
  }

  .specials-carousel {
    span.left {
      margin: 1em 0 1em 2em;
      font-weight: bold;
      color: #616161;
    }
    span.right {
      margin: 1em 4em 1em 0;
      color: #616161;
    }
  }
}

.rtl {
  .loyalty-club {
    .club-details .user-detail:not(:last-child) {
      margin-left: $marginInBetween;
      padding-left: $marginInBetween;
      border-left: 1px solid black;
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }

    .specials-carousel {
      span.left {
        margin: 1em 2em 1em 0;
      }
      span.right {
        margin: 1em 0 1em 4em;
      }
    }
  }
}


