<div class="product-actions actions {{mode || 'landscape'}}"><!--
    --><span class="for-vertical-align" ng-if="mode !== 'portrait'"></span><!--
    --><sp-quantity ng-if="getLine() && getLine().quantity" est-text="{{estText}}" cart-line="getLine()" is-pack="isPack"
                 hide-cart="{{hideCart}}" hide-weight="{{mode == 'portrait'}}" design="{{mode || 'landscape'}}"></sp-quantity><!--
    --><button type="button" class="no-design add-to-cart" ng-if="(!getLine() || !getLine().quantity) && !hideAddButton" aria-label="{{'Add to cart' | translate}}"
            ng-click="addLine({product: product, isCase: line.isCase || isCase, quantity: isPack ? product.branch.packQuantity : null, productPropertyValue: productPropertyValue}); setFocus();">
        <svg focusable="false">
            <use xlink:href="#sp-icons-add-to-cart"></use>
        </svg><!--
        --><span class="text">{{'Add' | translate}}</span>
    </button><!--
    --><button type="button" class="no-design add-to-cart" ng-if="(!getLine() || !getLine().quantity) && hideAddButton" aria-label="{{'Open' | translate}}"
               ng-click="openProduct(product, $index)">
        <svg focusable="false">
            <use xlink:href="#sp-icons-add-to-cart"></use>
        </svg><!--
        --><span class="text">{{'Open' | translate}}</span>
    </button><!--
    --><button type="button" class="remove-from-cart" ng-if="removeFromCart" ng-click="$root.cart.removeLine(product);">
        {{'Remove from cart' | translate}}
    </button><!--
--></div>