.actions, .product-actions {
  color: #414141;

  .quantity-wrapper {
    display: inline-block;
  }

  &.landscape {
    > * {
      vertical-align: middle;
      display: inline-block;
      max-width: 100%;
    }

    > button.add-to-cart {
      padding: 0.4em 0.8em;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > svg {
        height: 1.8em;
        width: 2.4em;
        fill: #414141;
      }
    }

    > button.add-to-cart, > .sp-quantity .quantity-wrapper {
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 10em;
    }

    &.large-actions {
      > .sp-quantity {
        > .btns-row {
          > button {
            margin: -1em;
          }

          > .quantity-wrapper sp-vertical-value-slider {
            font-size: 1.875em;
          }
        }

        &.weighable > .btns-row > .quantity-wrapper sp-vertical-value-slider {
          font-size: 1.5em;
        }
      }

      > button.add-to-cart {
        padding: 0;

        > * {
          display: block;
        }

        > svg {
          height: 2.19em;
          width: 100%;
        }
      }

      > button.add-to-cart, > .sp-quantity .quantity-wrapper {
        width: 6em;
        height: 6em;
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.52), 0 0 50px 20px rgba(255, 255, 255, 0.7);
      }
    }
  }

  &.portrait {
    white-space: normal;

    > .sp-quantity {
      height: 100%;

      > .btns-row {
        height: 100%;

        > button {
          width: 2em;
          height: 2em;
        }
      }
    }

    .quantity-wrapper {
      height: 2em;
    }
  }
}



.ingredient-items .ingredient-product-item .item-wrapper {
  .quantity {

  }
  &:hover > .quantity {
    opacity: 0;
  }

  .actions.portrait {
    .quantity-wrapper {
      height: 1.5em;
      padding-bottom: 0;
    }

    .weighable > .weight-unit {
      visibility: hidden;
    }


    > .sp-quantity > .btns-row {
      > button {
        width: 1.5em;
        height: 1.5em;
        margin: 0.15em 0.2em 0 0.2em;
      }

      sp-vertical-value-slider{
        font-size: 1em;
        input{
          height: 1.5em;
          font-size: 1em;
          margin-top: 0.1em;
        }
      }

    }

  }
}
