<div>
    <svg focusable="false" class="store-icon">
        <use xlink:href="#sp-icons-retailer-details"></use>
    </svg><!--
    --><span class="content">
        <span class="for-vertical-align"></span><!--
        --><span class="text default-text-align">
            <span class="retailer-name">
                {{$root.config.retailer.title}}{{$root.config.branchAreaId && $root.config.retailer.branches.length > 1 ? ' - ' + $root.config.branch.name : ''}}
            </span><!--
            --><span class="zip" ng-click="$root.ChooseAreaDialog.show(false, true, null, $event)"
                     ng-if="$root.config.branchAreaId && $root.config.chooseAreaEvent !== $root.SP_SERVICES.CHOOSE_AREA_EVENT.NONE">
                {{('delivery_type_' + $root.config.getBranchArea().deliveryTypeId) | translate}}
            </span><!--
            --><span class="contact-us" ng-if="$root.config.retailer.contactPhone">
                {{$root.config.retailer.contactPhone}}
            </span>
        </span>
    </span>
</div>