.auto-complete-wrapper {
  > .auto-complete {
    border-top-color: $secondaryColor;

    /*> .option .sp-search-highlight {
      color: $mainColor;
    }*/
  }

  > .extra > .extra-highlight-color {
    color: $mainColor;
  }
}