<span class="ebt-weight-debit-disclaimer">
    {{'Includes 10% weight debit' | translate}}
    <span class="disclaimer">
        <span class="question-mark">?</span>
        <span class="tool-tip">
            {{'Items purchased by Weight' | translate}}.
            <br/>
            <br/>
            {{'The policy for SNAP when purchasing weighted items is to add 10% above your ordered amount on those to cover any possible overage from ordered versus actual weight based on what was available to be picked' | translate}}.
            <br/>
            <br/>
            {{'Any refund due because of that added amount will be refunded to your EBT card immediately once the order is finalized' | translate}}.
        </span>
    </span>
</span>