<div class="sp-sale-icon sale-icon {{saleIcon.class}}" ng-class="{'club-icon': hasClubSpecial}"
     ng-click="!withoutActions && showSpecialDetails($event);" tabindex="{{withoutActions ? -1 : 0}}">
    <svg focusable="false" ng-if="saleIcon && saleIcon.id" aria-labelledby="sale_icon_title" role="img">
        <title id="sale_icon_title">{{(hasClubSpecial ? 'club ' : '') + 'sale' | translate}}</title>
        <use ng-if="saleIcon.id === saleIconMethods.FIXED_SALE.id" xlink:href=""
             ng-attr-xlink:href="{{'#sp-icons-' + (hasClubSpecial ? 'sale-club' : 'sale') + '%translate%' | translateImage:{'he': '-he'} }}"></use>
        <use ng-if="saleIcon.id === saleIconMethods.DISCOUNT.id" xlink:href="#sp-icons-discount-sale"></use>
        <use ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id" xlink:href="#sp-icons-background-sale"></use><!-- || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id-->
        <use ng-if="saleIcon.id === saleIconMethods.OVER_AMOUNT.id || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id" xlink:href="#sp-icons-gift-sale"></use>
    </svg>

    <!--ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id || saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id"-->
    <div class="sale-icon-text" ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id">
        <span class="for-vertical-align"></span><!--
        --><div ng-if="saleIcon.id === saleIconMethods.BUY_X_FOR_Y.id"
            ng-class="{'number-first': $root.config.language.culture === 'he'}">
            <span ng-if="$root.config.language.culture !== 'he'">{{'Buy' | translate}}</span>
            <span>{{purchaseTotal}}</span>
            <span ng-if="$root.config.language.culture === 'he'">במבצע</span>
    </div><!--&lt;!&ndash;
        &ndash;&gt;<span ng-if="saleIcon.id === saleIconMethods.BUY_X_GET_ONE.id">
            <span>{{purchaseTotal + ' + 1'}}</span>
        </span>-->
    </div>

    <button class="save" ng-if="!withoutActions && $root.cart.specialReminders.onProducts[specialToShow.id]"
         ng-class="{animated: $root.cart.changedProducts[product.id]}"
         ng-bind="(!withoutActions && !specialToShow.hasOneProduct ? 'special_reminder_button_title' : 'special_reminder_bubble_title') | translate"></button>
</div>