<div class="retailer-details-container" refresher="$root.config.language.id">
    <ul class="navigation-buttons" role="navigation" aria-label="{{'navigation' | translate}}">
        <li class="option-btn clickable"
            ng-repeat="tab in retailerDetailsCtrl.tabs"
            ui-sref-active="selected">
            <a ui-sref="app.retailerDetails.{{tab.state}}">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + tab.icon}}"></use>
                </svg><!--
            --><span ng-bind="::tab.title | translate"></span>
            </a>
        </li>
        <li class="option-btn no-design clickable"
            ng-click="retailerDetailsCtrl.openContactUs()"
            ng-class="{'selected': retailerDetailsCtrl.selectedTab == retailerDetailsCtrl.menuTabs.CONTACT_US}">
            <svg focusable="false">
                <use xlink:href="#sp-icons-contact-us"></use>
            </svg><!--
            --><span ng-bind="'Contact Us' | translate"></span>
        </li>
    </ul>
    <ui-view name="detailsTab" role="region" aria-label="{{'main display' | translate}}"></ui-view>
</div>