<h1 class="detail-title" ng-bind="::'Payment Methods' | translate" id="page_title"></h1>
<div class="detail-container" ng-if="userEditCtrl.hasCreditCardMethod">
    <h2 class="detail-subtitle" ng-bind="::'Credit Cards' | translate"></h2><!--
    --><div class="detail-content credit-card-details">
        <div class="cards-list" ng-if="userEditCtrl.user.creditCards.length">
            <div class="sub-sub-title" id="credit_cards_title" ng-bind=":: 'Your credit cards' | translate"></div>
            <sp-radio class="card-option"
                      sp-model="paymentMethodsCtrl.creditCard"
                      options="userEditCtrl.user.creditCards"
                      value-key="option"
                      role="radiogroup"
                      aria-labelledby="credit_cards_title">
                <span class="card-no">
                    <span class="card-hidden-no">**** **** **** </span>{{option.lastFourDigits}}</span><!--
                --><button class="no-design"
                        ng-if="option && !option.isActive"
                        ng-click="paymentMethodsCtrl.addCreditCard();"
                        ng-bind="::'Activate card' | translate"
                        ng-disabled="userEditCtrl.user.organization && userEditCtrl.user.organization.id">
                </button><!--
                --><button class="no-design remove-btn"
                        ng-click="paymentMethodsCtrl.removeSelectedCard();">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-x-circle"></use>
                    </svg>
                    <span ng-bind="::'Remove card' | translate"></span>
                </button><!--
            --></sp-radio>
        </div>

        <div class="add-card-btn-wrapper">
            <button class="no-design add-btn"
                    ng-click="paymentMethodsCtrl.addCreditCard();"
                    ng-disabled="paymentMethodsCtrl.disableAddCardButton">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-add-credit-card"></use>
                </svg>
                <span ng-bind="::'Add another card' | translate"></span>
            </button>

            <div ng-if="paymentMethodsCtrl.disableAddCardButton">
                {{'Credit cards can not be added. You are assigned to an organization' | translate}} ({{userEditCtrl.user.organization.name}})
            </div>
        </div>
    </div>
</div>

<div class="detail-container" ng-if="userEditCtrl.hasPayPalMethod">
    <h2 class="detail-subtitle" id="paypal_title" ng-bind="::'PayPal Accounts' | translate"></h2><!--
    --><div class="detail-content credit-card-details">
        <div class="cards-list">
            <sp-radio class="card-option"
                      sp-model="paymentMethodsCtrl.paypalAccount"
                      options="userEditCtrl.user.paypalAccounts"
                      value-key="option"
                      role="radiogroup"
                      aria-labelledby="paypal_title">
                <span class="card-no">
                    <span class="card-hidden-no"></span>
                    {{option.email}}
                </span>
            </sp-radio>
        </div>

        <div class="add-card-btn-wrapper">
            <button class="no-design remove-card-btn"
                    ng-if="paymentMethodsCtrl.paypalAccount"
                    ng-click="paymentMethodsCtrl.removeSelectedPaypalAccount();"
                    ng-bind="::'Remove account' |translate">
            </button>
        </div>
    </div>
</div>
