<img ng-src="//storage.googleapis.com/sp-public/global/frontend-icons/express-{{picker.primaryItem.customData.deliveryTypeStr}}-grey.png"
     alt="{{'express delivery' | translate}}">

<div class="time" ng-if="::picker.primaryItem.customData.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS">
    {{picker.primaryItem.dropDown.items[0].timeRange | date: 'H:mm':'UTC'}} {{'HRS' | translate}}
</div>
<div class="time" ng-if="::picker.primaryItem.customData.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
    {{picker.primaryItem.dropDown.items[0].daysRange}} {{'Days' | translate}}*
</div>

<div class="delivery-type">
    {{'Delivery' | translate}}
</div>
<div class="price" ng-if="::picker.primaryItem.price">
    {{::picker.primaryItem.price | currency}}
</div>
<div class="price" ng-if="::!picker.primaryItem.price">
    {{'Free' | translate}}
</div>

<div class="tool-tip" ng-if="::picker.primaryItem.isDisabled">
    <div class="content" ng-if="::(picker.primaryItem.customData.exceededCartLimit && !picker.primaryItem.customData.cartDisabled)">
        {{'Express delivery is limited to' | translate}}
        {{picker.primaryItem.customData.productsLimit}}
        {{'items. To enable this service, remove items from your cart' | translate}}.
    </div>
    <div class="content" ng-if="::picker.primaryItem.customData.cartDisabled">
        {{'This service is available for Express items only. Removing Non Express items from your cart will enable using this option' | translate}}.
    </div>
</div>