<svg focusable="false" class="product-dialog-indication" aria-labelledby="open_product_title" role="img">
    <title id="open_product_title">{{'open product page' | translate}}</title>
    <use xlink:href="#sp-icons-arrow-with-line"></use>
</svg>
<sp-sale-icon ng-if="!hideSales && productSpecials.length" product-specials="productSpecials" product="product" class="reminder-to-side"></sp-sale-icon>
<img class="product-main-tag-icon" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
     ng-src="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
     alt="{{(product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>

<product-image product="product" image-key="images" size="{{size || 'medium'}}"></product-image>
<sp-product-pricing-method is-case="product.isCaseMode" is-pack="isPack" product="product"></sp-product-pricing-method>
<product-actions class="large-actions"
                 ng-click="$event.target !== $event.currentTarget && $event.stopPropagation();"
                 product="product"
                 is-case="product.isCaseMode"
                 is-pack="isPack"
                 text="{{text}}"
                 hide-cart="{{hideCart}}"
                 tabindex="-1"
                 hide-add-button="!!product.productProperties && !!product.productProperties.length"
                 open-product="openProduct(product, $index)"></product-actions>
<div class="specials-wrapper" ng-if="!hideSales && productSpecials && productSpecials.length ||
    (product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]))">
    <div class="special" ng-repeat="special in productSpecials | orderBy: '-special.firstLevel.type'">
        <sp-sale-icon product-special="special" without-actions="true"></sp-sale-icon>
        <span class="description" special-description-split="{{special.description}}"></span>
    </div>
    <div class="main-product-tag-text" ng-if="product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])">
        {{((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'description') ||
        ((product | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName')}}
    </div>
</div>
<sp-cart-line-count line="getLine()"></sp-cart-line-count>
<div class="data">
    <span class="brand" ng-if="product.brand.names">{{product.brand.names | name}}</span><!--
    --><span class="weight" ng-if="product.weight">
        {{product.brand.names && product.weight ? '&nbsp;|' : '' }}
        {{product | productWeight:product.isCaseMode }}
    </span>
</div>
<div class="clear"></div>
<div class="name" id="product_name" ellipsis title="{{product | productName:product.isCaseMode}}"></div>
<div itemprop="description" class="description" ellipsis ng-if="showItemDescription" title="{{product.data | name:'description' | removeHtmlTags}}"></div>
<sp-product-price class="right"
    regular-price="product | regularPrice:product.isCaseMode"
    sale-price="!product.isCaseMode && (product | salePrice)"
    show-weight-unit="product.isWeighable && !product.isCaseMode"
    pack-quantity="isPack && product.branch.packQuantity"
    product="product">
</sp-product-price>