<div class="view-filters-group" ng-class="{ border: chunk !== currentChunk }" ng-init="filterGroup = chunk[0]; groupIndex = $index;">
    <div ng-if="!filterGroup.isAll">
        <img ng-src="{{filterGroup.languages | name:'iconResourceUrl'}}"
             alt="{{filterGroup.languages | name:'displayName'}}"/>
        <div class="name">{{filterGroup.languages | name:'displayName'}}</div>
        <div class="description">{{filterGroup.languages | name:'description'}}</div>
    </div>
    <div ng-if="filterGroup.isAll && filterGroup.isFirstAll && groupIndex !== 0">
        <div class="permanent-filters-icon">
            <svg focusable="false">
                <use xlink:href="#sp-icons-permanent-filters"></use>
            </svg>
        </div>
        <div class="name">{{'All filters' | translate}}</div>
    </div>

    <button class="no-design product-tag" ng-repeat="productTag in filterGroup.productTags"
        ng-click="data.selectedProductTags[productTag.productTagId] = !data.selectedProductTags[productTag.productTagId]"
        ng-class="{ selected: data.selectedProductTags[productTag.productTagId] }">
        <span class="text">
            <img ng-if="(productTag.productTagId | productTag).languages | name:'iconResourceUrl'"
                 ng-src="{{(productTag.productTagId | productTag).languages | name:'iconResourceUrl'}}"
                 alt="{{(productTag.productTagId | productTag).languages | name:'displayName'}}"/>
            {{(productTag.productTagId | productTag).languages | name:'displayName'}}
        </span>

        <svg focusable="false">
            <use xlink:href="#sp-icons-sticky-pin"></use>
        </svg>
    </button>
</div>