<div class="organization-inactive-popup" id="organization_inactive_popup">

    <div>
        <h2 class="title">
            {{::'Welcome' | translate }}
            <br>
            {{::username}}
        </h2>

        <div class="organization-name" title="{{organizationName}}" ng-if="organizationName">
            {{::organizationName}}
        </div>

        <div class="welcome-body-line">
            <span class="text" ng-if="messageType === 1">{{::'Sorry, Your organization account is inactive' | translate}}</span>
            <span class="text" ng-if="messageType === 2">
                {{::'Sorry, there are no branches assigned to this organization' | translate}}
                <br>
                <span style="font-weight: normal;">{{::'Please contact your organization admin' | translate}}</span>
            </span>
            <span class="text" ng-if="messageType === 3">
                {{::'Sorry, this website is for organization users only' | translate}}
                <br><br>
                <span style="font-weight: normal;">{{::'You user is not assigned to an organization' | translate}}</span>
                <br>
                <span style="font-weight: normal;">{{::'Please contact your organization admin' | translate}}</span>
            </span>
        </div>
    </div>

    <div class="action-button" layout="row">
        <button id="logout" aria-label="logout" class="logout" ng-click="hide()" ng-bind="::'Logout' | translate"></button>
    </div>

</div>