.organization-inactive-main {

  .dialog-body {
    width: 40%;
    padding: 2em 1em !important;

    .close-dialog-corner-button {
      display: none;
    }

    .organization-inactive-popup {

      h2 {
        padding: 0.2em 0 0.4em 0;
        text-align: center;
        font-size: 2em;
        line-height: 1.2em;
      }

      .organization-name {
        display: block;
        text-align: center;
        font-size: 1.2em;
        line-height: 1em;
        font-weight: normal;
        margin-bottom: 2em;
      }

      .welcome-body-line {
        margin: 0.8em 0 0.4em 0;
        font-size: 1.2em;
        padding-bottom: 1.2em;
        min-height: 7em;

        .text {
          display: block;
          padding: 2em 0 0 0;
          text-align: center;
          color: #d44949;
          font-weight: bold;
        }
      }

      .action-button {
        text-align: center;
        .logout {
          border-radius: 5px;
          width: 20%;
          font-weight: bold;
        }
      }

    }
  }
}

