<h1>
    <span id="login_or_register_title" ng-bind="loginOrRegisterCtrl.firstTitle | translate"></span>
    <br/>
    <span ng-bind="loginOrRegisterCtrl.secondTitle | translate"></span>
</h1>
<sp-tabs>
    <sp-tabs-pane title="{{tab.title | translate}}" ng-repeat="tab in loginOrRegisterCtrl.tabs"
                  on-select="loginOrRegisterCtrl.show(tab)" selected="loginOrRegisterCtrl.shownTab == tab">
        <ng-include src="tab.templateUrl" ng-controller="tab.controller"></ng-include>
    </sp-tabs-pane>
</sp-tabs>
<div class="loyalty-page-link" ng-if="loginOrRegisterCtrl.fromLoyaltyDialog">
    <a ui-sref="app.userEdit.loyalty" ng-click="$dialog.hide()">
        {{('Show full details in {clubName} club page' | translate).replace('{clubName}', $root.config.retailer.loyaltyClubDriver.name || $root.config.retailer.title)}}
    </a>
</div>