.dialog.login-or-register > {
  .dialog-body {
    padding: 0;
    width: 48.875em;
    min-height: 39.563em;

    > h1 {
      font-size: 2.9125em;
      font-weight: 700;
      text-align: center;
      color: #606060;
      padding-top: 0.3172em;
      padding-bottom: 0.8799em;
    }

    sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include {
      display: block;

      > * {
        display: block;
        margin: auto;
        width: 22em;
      }

      button[type="submit"], button.login-with-facebook, .after-register button {
        $height: 2.3334em;
        font-size: 1.125em;
        min-width: 7.945em;
        height: $height;
        padding: 0 0.8em;
        border-radius: $height;
        color: #ffffff;
        background-color: #414141;
      }

      form {
        label.checkbox {
          font-size: 0.88em;
          width: 100%;
          margin: 0.5938em 0;
        }

        a {
          font-weight: bold;
        }

        input, > .checkbox, > button {
          //margin: 0.5em 0;
        }

        .two-inputs, .sp-kikar-input {
          margin: 1.2em 0;

          &.first {
            margin-top: 1em;
          }

          &.last {
            margin-bottom: 1em;
          }
        }

        .sp-kikar-input {
          display: block;
        }

        .two-inputs > .sp-kikar-input {
          display: inline-block;
        }

        .button-wrapper {
          display: block;
          text-align: center;
          padding: 0.5em 0;

          &.register-button {
            padding-top: 1em;
          }
        }

        button.login-with-facebook {
          background-color: #3b579d;
          background-image: url("//storage.googleapis.com/sp-public/global/frontend-icons/facebook.png");
          background-position: 4px 40%;
          background-repeat: no-repeat;
          background-size: auto 70%;
          padding-left: 2.5em;
        }

        .forgot-and-register {
          font-size: 0.9375em;
          margin-bottom: 2.6em;

          > * {
            text-decoration: underline;
          }
          > .register-btn {
            color: red;
            border: none !important;
          }

          > .forgot-password {
            color: #616161;
            border: none !important;
          }

          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }

        .login-err, .server-err-msg {
          color: #ff0000;
          font-size: 1.2em;
          height: 2em;
          font-weight: 100;
          text-align: center;
          display: block;
        }

        .login-err {
          margin: 0.7em 0 1em 0;

          &.success-color {
            color: #3c7920;
            font-weight: bold;
          }
        }

        .server-err-msg {
          margin: 0.5em 0;
        }

        .user-activation-required {
          text-align: center;
          margin: 0.5em 0;
          color: #ffffff;
          padding: 0.5em;
          font-weight: bold;
          border-radius: 5px;

          > div {
            font-weight: normal;
            font-size: 0.9em;
            padding-top: 0.5em;

            > span {
              padding: 0 0.5em;
            }

            .resend-activation-link {
              margin: 0;
              display: inline-block;
              text-decoration: underline;
            }
          }
        }
      }

      .user-email-activation-err {
        .resend-activation-link {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      div.reset-password-sent {
        margin-top: 1em;
        text-align: center;
      }

      .after-register {
        text-align: center;
        font-size: 1.2em;

        div {
          padding: 5em 0;
          color: #353b37;
          font-weight: bold;
        }

        button {
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
    }

    .loyalty-page-link {
      padding: 1em 0;
      text-align: center;
    }
  }
}

html.ltr {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form .forgot-and-register {
    > .forgot-password {
      float: left;
    }

    > .register-btn {
      float: right;
    }
  }
}

html.rtl {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form .forgot-and-register {
    > .forgot-password {
      float: right;
    }

    > .register-btn {
      float: left;
    }
  }
}

@media screen and (max-width: 1575px) {
  .dialog.login-or-register > .dialog-body sp-tabs > .sp-tabs-panes .sp-tabs-pane > ng-include form {
    .forgot-and-register {
      font-size: 1.05em;
    }

    label.checkbox {
      font-size: 1em;
    }
  }
}

@media screen and (max-height: 890px) {
  .dialog.login-or-register > {
    .dialog-body {
      font-size: 0.9em;

      h1 {
        padding-bottom: 0.8em;
      }

      sp-tabs>.sp-tabs-panes .sp-tabs-pane>ng-include form {
        .sp-kikar-input, .two-inputs {
          margin: 1.9em 0;

          input {
            font-size: 1.4em;
          }
        }

        .sp-password {
          font-size: inherit;
        }

        .server-err-msg {
          font-size: 1.2em;
          line-height: 1.3em;
        }
      }
    }
  }
}