<div class="lookup-fields">
    <h6>
        <span ng-if="!loyaltyCtrl.clientConfig.text.preActivationLabel">
            {{('{retailername} membership offers exclusive' | translate).replace('{retailername}', $root.config.retailer.title)}}<br/>
            {{::'promotions in-store and online' | translate}}
        </span>
        <span ng-if="loyaltyCtrl.clientConfig.text.preActivationLabel" ng-bind-html="loyaltyCtrl.clientConfig.text.preActivationLabel">
        </span>
    </h6>

    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

    <div ng-repeat="field in loyaltyCtrl.lookupFields">
        <input ng-if="field.type" type="{{field.type}}" ng-model="loyaltyCtrl.lookupData[field.key]"
           name="{{field.key}}" sp-inline-error
           placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
           ng-required="field.required" ng-maxlength="field.maxLength"
           ng-focus="loyaltyCtrl.setFocus('lookup')"/>
        <select ng-if="field.options" ng-model="loyaltyCtrl.lookupData[field.key]"
            name="{{field.key}}" sp-inline-error
            placeholder="{{(field.name | translate) + (field.required ? ' *' : '')}}"
            ng-required="field.required"
            ng-focus="loyaltyCtrl.setFocus('lookup')"
            ng-options="option as (option | translate) for option in field.options">
        </select>
    </div>
</div>

<div class="buttons">
    <button
        ng-click="loyaltyCtrl.existMember()"
        class="block"
        ng-bind="::'Identify' | translate">
    </button>
</div>