<div class="sp-quantity {{design}}"
     ng-class="{'weighable': !cartLine.isCase && $root.util.isWeightQuantity(cartLine.product),
                'units-weighable': !cartLine.isCase && $root.util.isUnitsWeighable(cartLine.product),
                'is-coupon': cartLine.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON}"><!--
    --><div class="est-weight" ng-if="hideWeight != 'true' && !cartLine.isCase && $root.util.isUnitsWeighable(cartLine.product)">
        <!-- <span class="units">{{(quantity == 1 ? 'Unit' : 'Units') | translate}}</span> -->
        <span class="text">{{ (estText || ('Est. weight' | translate)) + ' ' + (cartLine.product | productWeight:cartLine.isCase:null:cartLine.quantity) }}</span>
    </div><!--
    <div class="weight-unit" ng-if="unit">
        <span class="text">{{unit.names | name}}</span>
    </div>
    --><div class="btns-row">
        <button type="button" class="plus no-design" ng-click="onPlusClick();" aria-label="{{'plus' | translate}}">
            <svg focusable="false">
                <use xlink:href="#sp-icons-plus"></use>
            </svg>
        </button>
        <span class="quantity-wrapper">
            <sp-vertical-value-slider sp-model="quantity" sp-change="quantityChanged();" sp-focus="selectOnFocus($event)"
            sp-blur="onBlur()" sp-tag-name="{{readOnly ? 'span' : ''}}"></sp-vertical-value-slider>
            <span class="weight" ng-if="unit">{{unit.names | name}}</span>
        </span>
        <button type="button" class="minus no-design" ng-click="onMinusClick();" tabindex="0" aria-label="{{'minus' | translate}}">
            <svg focusable="false">
                <use xlink:href="#sp-icons-minus"></use>
            </svg>
        </button>
    </div>
</div>