div.sp-quantity {
  > .est-weight, > .weight-unit {
    position: absolute;
    left: 0;
    right: 0;
    top: -1.5em;

    > .text {
      font-weight: 900;
      background: rgba(255, 255, 255, 0.5);
      font-size: 0.75em;
      border-radius: 0.75em;
      padding: 0.5em;
      display: inline-block;
    }
  }

  > .est-weight > .units {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.75em;
    padding-bottom: 0.25em;
  }

  > .btns-row {
    direction: rtl;

    > .quantity-wrapper {
      overflow: hidden;

      > sp-vertical-value-slider {
        display: inline-block;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        @include box-sizing(border-box);

        > input, > span {
          text-align: center;
          border: none !important;
          font-weight: 700;
          padding: 0;
        }

        > span {
          vertical-align: middle;
        }
      }

      > .weight {
        overflow: hidden;
        font-size: 0.7em;
        width: 33.33%;
        vertical-align: text-top;
        font-weight: 700;
      }
    }

    > button {
      position: relative;
      z-index: 1;
      width: 2.5em;
      height: 2.5em;
      border-radius: 100%;
      background: #ffffff;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.24);

      > svg {
        width: 0.75em;
        height: 100%;
        fill: #414141;
      }
    }

    > * {
      vertical-align: middle;
    }
  }

  &.landscape > .btns-row > .quantity-wrapper {
    width: 2em;
    $height: 2em;
    height: $height;
    display: inline-block;

    > sp-vertical-value-slider {
      > span {
        line-height: $height;
      }
    }
  }

  &.weighable {
    > .btns-row > .quantity-wrapper sp-vertical-value-slider {
      font-size: 0.8em;
    }
  }

  &.portrait.weighable {
    > .weight-unit {
      top: 50%;

      > span {
        font-size: 0.7em;
      }
    }

    > .btns-row > .quantity-wrapper {
      padding-bottom: 1em;
      box-sizing: border-box;
    }
  }

  &.is-coupon {
    > .btns-row {
      > button {
        opacity: 0;
        pointer-events: none;
      }

      > .quantity-wrapper {
        color: #414141;
        background: #eaeaea;
        border-radius: 100%;
      }
    }
  }
}

.sp-quantity-actions-on-hover:not(:hover):not(.active):not(.focus-mode), .sp-quantity-hide-actions {
  div.sp-quantity {
    button {
      visibility: hidden;
    }

    .quantity-wrapper {
      color: #414141;
      background: #eaeaea;
      border-radius: 100%;
    }
  }
}