<button class="full-screen-back no-design" ng-click="productCtrl.setFullScreen(false)">
    <span>{{'Back' | translate}}</span><!--
        --><svg focusable="false">
        <use xlink:href="#sp-icons-arrow-left"></use>
    </svg>
</button>
<div class="shadow"
     ng-class="{'right': productCtrl.itemsData.index + 1 < productCtrl.itemsData.total, 'left': productCtrl.itemsData.index > 0 }">
</div><!--
--><div class="product-details"
        ng-class="{ 'with-images-control': productCtrl.images.length > 1, 'large-items-product-details': productCtrl.product.categoryType === $root.CATEGORIES_TYPES.LARGE_ITEMS }"><!--
   --><sp-product-pricing-method
        ng-if="productCtrl.product.branch.case && productCtrl.product.branch.case.price"
        is-case="productCtrl.product.isCaseMode"
        is-pack="productCtrl.isPack"
        product="productCtrl.product">
</sp-product-pricing-method><!--
    --><div class="product-arrows-buttons" ng-show="productCtrl.itemsData">
        <button type="button"
              class="no-design previous-btn"
              ng-class="{'disabled': productCtrl.itemsData.index == 0}"
              ng-disabled="productCtrl.itemsData.index == 0"
              ng-click="productCtrl.previousProduct();">
            <svg focusable="false" aria-labelledby="previous_button_title" role="img">
                <title id="previous_button_title">{{'Previous product' | translate}}</title>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-attr-xlink:href="{{'#sp-icons-arrow-' + ($root.config.language.direction != 'rtl' ? 'left' : 'right')}}"></use>
            </svg>
        </button>
        <button type="button"
              class="no-design next-btn"
              ng-class="{'disabled': productCtrl.itemsData.index + 1 >= productCtrl.itemsData.total}"
              ng-disabled="productCtrl.itemsData.index + 1 >= productCtrl.itemsData.total"
              ng-click="productCtrl.nextProduct();">
            <svg focusable="false" aria-labelledby="next_button_title" role="img">
                <title id="next_button_title">{{'Next product' | translate}}</title>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" ng-attr-xlink:href="{{'#sp-icons-arrow-' + ($root.config.language.direction != 'rtl' ? 'right' : 'left')}}"></use>
            </svg>
        </button>
    </div>
    <div class="product-details">
        <div class="product-data-wrap" sp-read-more-link listen-to="productCtrl.product.id">
            <div class="brand-and-weight secondary-font"
                 ng-bind="(productCtrl.product.brand.names | name) + (productCtrl.product.brand.names && productCtrl.product.weight ? ' | ' : '') + (productCtrl.product.weight ? (productCtrl.product | productWeight:productCtrl.product.isCaseMode) : '')"></div>

            <div class="clear"></div>

            <h1 id="product_dialog_title" class="name secondary-font" ng-bind="productCtrl.product | productName:false:'long'"></h1>

            <div class="product_top_description"
                 ng-if="productCtrl.product.categoryType === $root.CATEGORIES_TYPES.LARGE_ITEMS"
                 ng-bind-html="(productCtrl.product.data | name).description | trustHtml"></div>

            <div class="arrows-buttons"></div>

            <div class="items-in-case" ng-if="productCtrl.product.isCaseMode">
                <span ng-bind="productCtrl.product.isCaseMode ? (('Case of' | translate) + ' ' + productCtrl.product.branch.case.items + ' ' + (productCtrl.product.isWeighable ? ($root.defaultWeightUnit.names | name) : '')): '' "></span>
            </div>

            <div class="clear"></div>

            <div class="supervisions" ng-if="productCtrl.product.supervisions && productCtrl.product.supervisions.length">
                <span class="title" ng-bind="('supervision' | translate) + ' : '" ng-if="productCtrl.product.supervisions"></span>
                <span ng-repeat="supervision in productCtrl.product.supervisions" class="supervision">
                     <span class="img-container"><img ng-src="{{supervision.imageUrl || supervision.image}}" title="{{supervision.name}}"></span>
                 </span>
             </div>

            <div class="clear"></div>

            <div ng-if="productCtrl.product.branch.ageRestriction" class="age-icon-wrapper">
                <span class="age-icon bold" ng-bind="'+' + productCtrl.product.branch.ageRestriction"></span>
            </div>

            <div class="clear"></div>

            <div class="product-tags-wrapper" ng-if="productCtrl.productTags.length" ng-class="'product-tags-cnt-' + productCtrl.productTags.length">
                <product-tag-line ng-repeat="productTag in productCtrl.productTags" product-tag="productTag" text-prop="displayName"></product-tag-line>
            </div>

            <div class="clear"></div>

            <div class="specials {{::(productCtrl.productSpecials.length > 1 ? 'more-then-one' : '')}}" ng-if="productCtrl.productSpecials && productCtrl.productSpecials.length">
                <div ng-repeat="special in productCtrl.productSpecials | orderBy:['loyaltyClubsIds.length', '-special.firstLevel.type'] track by special.id"
                    id="product_special_{{special.id}}"
                    class="special"
                    ng-class="{'loyalty-special': special.loyaltyClubsIds && special.loyaltyClubsIds.length}"><!--
                    --><sp-sale-icon class="special-icon" product-special="special"></sp-sale-icon><!--
                    --><span class="description">
                        <span class="special" special-description-split="{{special.description}}"></span>
                        <span class="experation"
                            ng-if="$root.config.retailer.showSpecialsValidity"
                            ng-bind="('Ends at' | translate) + ' ' + (special.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')">
                        </span>
                    </span><!--
                    --><span class="disclaimer-wrapper" ng-if="$root.config.retailer.settings.disclaimer" tabindex="0">
                      <svg focusable="false" aria-labelledby="disclaimer_title" role="img">
                          <title id="disclaimer_title">{{'disclaimer' | translate}}</title>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-tooltip"></use>
                      </svg>
                      <span class="disclaimer-tooltip">
                      <span class="disclaimer-arrow"></span><!--
                        --><sp-special-disclaimer
                            class="disclaimer-content"
                            start-date="special.startDate"
                            end-date="special.endDate"
                            purchase-limit="special.limit">
                        </sp-special-disclaimer>
                     </span>
                   </span>
                 </div>
            </div>
    </div>

        <div class="product-properties" ng-if="productCtrl.product.productProperties && productCtrl.product.productProperties.length">
            <div class="product-property">
                <span ng-bind="(productCtrl.productProperty.names | name) + ': '"></span>
                <div class="dropdown-wrapper">
                    <div class="error-text" ng-if="productCtrl.showPropertyError">
                        {{'Please select' | translate}}
                    </div>
                    <sp-kikar-dropdown sp-model="productCtrl.selectedPropertyValue" class="transparent-arrow input"
                                       ng-class="{'is-empty': !productCtrl.selectedPropertyValue}"
                                       sp-change="productCtrl.onPropertyValueChanged()">
                        <sp-kikar-text>
                            <span ng-if="!productCtrl.selectedPropertyValue">{{'Select' | translate}}</span>
                            <span ng-if="productCtrl.selectedPropertyValue" class="selected-value">{{productCtrl.selectedPropertyValue.names | name:'name'}}</span>
                        </sp-kikar-text>
                        <sp-kikar-option ng-repeat="value in productCtrl.productProperty.values" sp-value="value">
                            <div class="value-name">{{value.names | name: 'name'}}</div>
                            <div class="value-desc">{{value.names | name: 'description'}}</div>
                        </sp-kikar-option>
                    </sp-kikar-dropdown>
                </div>
            </div>
        </div>

        <div class="bottom">
        <div class="weight-and-price">
            <sp-product-price
                    ng-class="{'with-estimate': productCtrl.getLine().quantity && !productCtrl.product.isCaseMode && $root.util.isUnitsWeighable(productCtrl.product)}"
                    regular-price="productCtrl.product | regularPrice:productCtrl.product.isCaseMode"
                    sale-price="!productCtrl.product.isCaseMode && !productCtrl.isPack && (productCtrl.product | salePrice)"
                    pack-quantity="productCtrl.isPack && productCtrl.product.branch.packQuantity"
                    product="productCtrl.product"
                    show-weight-unit="!productCtrl.product.isCaseMode && productCtrl.product.isWeighable">
            </sp-product-price>
            <product-actions ng-click="$event.stopPropagation();" tabindex="-1"
                             product="productCtrl.product"
                             is-case="productCtrl.product.isCaseMode"
                             is-pack="productCtrl.isPack"
                             est-text="{{'Est. total weight' | translate}}"
                             product-property-value="productCtrl.selectedPropertyValue"
                             show-error="productCtrl.showPropertyError">
            </product-actions>
        </div>

        <div class="shopping-lists-and-comments">
             <span class="shopping-lists"><!--
                --><sp-kikar-dropdown class="transparent-arrow" id="saveDropDown" ng-show="productCtrl.isLoggedIn"><!--
                     --><sp-kikar-text>
                        <svg focusable="false" ng-if="!productCtrl.savedToShopList"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-add-to-list"></use></svg><!--
                         --><span ng-if="!productCtrl.savedToShopList" ng-bind="'Save to shopping list' | translate" class="text"></span><!--
                          --><svg focusable="false" ng-if="productCtrl.savedToShopList"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sp-icons-special-list"></use></svg><!--
                         --><span ng-if="productCtrl.savedToShopList" ng-bind="('Saved in' | translate) + ' ' + productCtrl.savedToShopList.name" class="text"></span>
                        </sp-kikar-text>
                        <sp-kikar-option class="title">
                            <span class="shop-list-input">
                            <input ng-model="productCtrl.shopListName" ng-click="$event.stopPropagation();" type="text" placeholder="{{'New list name' | translate}}"/></span><!--
                         --><span class="shop-list-btn" ng-click="productCtrl.createNewShopList()" ng-bind="'Create' | translate"></span>
                        </sp-kikar-option>
                        <sp-kikar-option ng-repeat="shopList in productCtrl.shopLists track by $index" sp-click="productCtrl.saveToShopList(shopList)">
                            {{shopList.name}}
                        </sp-kikar-option>
                    </sp-kikar-dropdown>
              </span>
            <span class="comments"><sp-cart-line-comments ng-if="productCtrl.getLine().quantity" sp-line="productCtrl.getLine()"></sp-cart-line-comments></span>
        </div>

    </div>

  </div>

   <div class="product-image" ng-click="productCtrl.setFullScreen(true)"><!--
        --><div class="actual-image" ng-if="productCtrl.shownImage.typeId === $root.IMAGE_TYPES.IMAGE"
             sp-image-zoom="{{productCtrl.shownImage.url | image:'large'}}"
             zoomed-image="{{productCtrl.shownImage.url | image:'x-large'}}"
             controls-zoom="productCtrl.zoomControlsOptions"
             mode="productCtrl.isFullScreen ? $root.spImageZoom.IMAGE_ZOOM_MODES.ZOOM_CONTROLS : $root.spImageZoom.IMAGE_ZOOM_MODES.NONE"></div>
        <div class="actual-image" ng-if="productCtrl.shownImage.typeId === $root.IMAGE_TYPES.IMAGE360"
             sp360 images-directory="{{productCtrl.shownImage.url | image:'large'}}" pattern="%COL.jpg"
             number-of-images="productCtrl.shownImage.imagesLength" initial-image-index="0"
             zoom-out="productCtrl.image360ZoomOut(zoomIndex)" enable-zoom-out="true"
             reset-zoom="productCtrl.resetZoom = callback"
             zoom-buttons="!!productCtrl.isFullScreen" clickable-area="!!productCtrl.isFullScreen"></div>
    </div><!--
    --><div class="images-control">
        <button ng-repeat="image in productCtrl.images" class="no-design"
                ng-click="productCtrl.shownImage = image; image.typeId === $root.IMAGE_TYPES.IMAGE360 && productCtrl.setFullScreen(true);"
                ng-mouseenter="!productCtrl.isFullScreen && (productCtrl.shownImage = image);"
                ng-class="{ 'active': productCtrl.shownImage === image }">
            <img alt="Image thumbnail" ng-src="{{image.url | image:'small'}}" ng-if="image.typeId === $root.IMAGE_TYPES.IMAGE"/>
            <img alt="360 Image thumbnail" class="thumb360" src="//storage.googleapis.com/sp-public/global/frontend-icons/360-icon.png" ng-if="image.typeId === $root.IMAGE_TYPES.IMAGE360"/>
        </button>
    </div><!--
    --><div class="clear"></div><!--
    --><div class="similar-products" ng-if="productCtrl.product.branch" ng-class="{ 'hide-carousel': !productCtrl.showSimilarProducts }">
        <h2 class="title" ng-bind="productCtrl.productPageCarouselContent === $root.PRODUCT_PAGE_CAROUSEL_CONTENT.SPECIAL_PRODUCTS ? ('Additional Special\'s Variety-' | translate) + ' ' + productCtrl.product.branch.specials[0].description : ('Similar Products' | translate)"></h2>
        <sp-carousel
                template-url="template/dialogs/product/partials/product-carousel/index.html"
                load-more-items="productCtrl.loadSimilarProducts"
                item-width="170"
                item-class="product clickable"
                functions="productCtrl.similarProducts"
                sp-click="productCtrl.openProduct"
                refresh-event="productCtrl.products.similar.added"
                watchers="productCtrl.similerProductsCarouselWatchers">
        </sp-carousel>
    </div>
</div>

<ng-include src="'template/dialogs/product/partials/product-data/index.html'"></ng-include>