<div>
    <h1 class="detail-title left" id="page_title">
        {{::'Customer Service' | translate}}
    </h1>
    <button class="no-design right contact-us-button" ng-click="$root.util.openContactUsDialog()">
        {{::'Contact us' |translate}}
    </button>
</div>

<div class="clear">
</div>

<div class="tickets">
    <div class="single-ticket"
         ng-if="customerServiceCtrl.tickets && customerServiceCtrl.tickets.length"
         ng-class="{'open-ticket': ticket.opened || customerServiceCtrl.tickets.length == 1, 'only-one': customerServiceCtrl.tickets.length == 1}"
         ng-repeat="ticket in customerServiceCtrl.tickets">
        <div class="basic" ng-click="customerServiceCtrl.toggleTicket(ticket)">
            <svg focusable="false" aria-labelledby="toggle_ticket" role="img">
                <title id="toggle_ticket">{{(ticket.opened ? 'close' : 'open') + ' ticket' | translate}}</title>
                <use xlink:href="#sp-icons-arrow-down"></use>
            </svg>

            <h2 class="">
                {{::('Inquiry' | translate) + ' ' + ticket.id}}
            </h2>

            <h3 class="ticket-name secondary-font">
                {{ticket.subject}}
            </h3>
            <div class="ticket-details">
                {{ticket.createdDate | date: ($root.config.isUs ? 'MM/dd/yyyy &nbsp h:mma' : 'dd/MM/yyyy &nbsp HH:mm') : 'UTC'}} |
                {{::'Status' | translate }}: {{'ticket_status_' + ticket.statusId | translate}} |
                {{::'Comments' | translate}}: {{ticket.comments.length}}
            </div>
        </div>

        <div class="extra">
            <div class="user-comment">
                <div class="sp-kikar-input">
                    <label for="comment" ng-bind="::'Type in your comment' | translate"></label>
                    <input id="comment" type="text" ng-model="ticket.newComment.comment" maxlength="3050"/>
                </div><!--
            --><div class="attachment">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-add-file"></use>
                </svg>
                <sp-file-input sp-model="ticket.newComment.attachment" placeholder="{{::'Add file' | translate}}"></sp-file-input>
            </div><!--
            --><button class="no-design" ng-click="customerServiceCtrl.createUserTicketComment(ticket)"
                       ng-disabled="!ticket.newComment.comment"
                       ng-bind="'Add comment' | translate">
            </button>
            </div>
            <div>
                <sp-table items="ticket.comments" style-class="high-columns" is-reverse="true">
                    <sp-table-column title="{{::'Time' | translate}}" sort-by="createdDate">
                        {{item.createdDate | date: $root.config.isUs ? 'MM/dd/yyyy &nbsp h:mma' : 'dd/MM/yyyy &nbsp HH:mm'}}
                    </sp-table-column>

                    <sp-table-column title="{{::'Name' | translate}}" sort-by="commentById">
                        {{item.commentById == item.userId ? ('Me' | translate) : ('Customer service' | translate)}}
                    </sp-table-column>

                    <sp-table-column title="{{::'Comment' | translate}}" style-class="text-align">
                        {{ item.comment}}
                    </sp-table-column>

                    <sp-table-column title="{{::'Attachments' | translate}}" style-class="text-align attachments">
                        <a class="link-back" ng-href="{{att}}" target="_blank" ng-repeat="(index, att) in item.attachments">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-attachments"></use>
                            </svg>
                            <span>{{'Attachments' | translate}}</span>
                        </a>
                        <span class="no-attachments" ng-if="!item.attachments || !item.attachments.length">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-minus"></use>
                        </svg>
                        <span>{{'No attachments' | translate}}</span>
                    </span>
                    </sp-table-column>
                </sp-table>
            </div>
        </div>
    </div>
</div>

<div ng-if="customerServiceCtrl.tickets && !customerServiceCtrl.tickets.length"
     ng-bind="'No Previous Inquiries' | translate"></div>