<section>
    <div class="icon-wrapper">
        <svg focusable="false">
            <use xlink:href="#sp-icons-ebt-card-asterisks"></use>
        </svg>
    </div>

    <h2>
        {{::'Authorize your' | translate}}
        <span ng-if="::paymentType === $root.SP_PAYMENTS.PAYMENT_TYPES.EBT_SNAP">{{::'EBT SNAP' | translate}}</span>
        <span ng-if="::paymentType === $root.SP_PAYMENTS.PAYMENT_TYPES.EBT_CASH">{{::'EBT Cash' | translate}}</span>
    </h2>

    <h3>{{::'Enter your PIN on the next screen' | translate}}</h3>
</section>

<div class="buttons">
    <button ng-click="$dialog.hide(true)" aria-label="close">
        {{::'Proceed to PIN code' | translate}}
    </button>
</div>