.dialog-wrapper .dialog.ebt-pin-message-dialog > .dialog-body {
  section {
    padding: 1em;

    .icon-wrapper {
      height: 3.125em;
      padding-bottom: 2em;

      svg {
        height: 100%;
        width: 100%;
        fill: #4b4c4d;
      }
    }

    h2, h3 {
      font-size: 1.2121em;
      text-align: center;
      padding: 0;
      color: #1e1f21;
    }

    h2 {
      font-weight: bold;
    }

    h3 {
      font-weight: normal;
    }
  }

  .buttons {
    text-align: center;
    padding-top: 3em;
  }
}