.sp-inline-error {
  font-size: 0.975em;
  position: absolute;
  color: #ff0000 !important;
  background-color: #ffffff !important;
  box-sizing: border-box;
  padding: 0.3205em 0 0 0;
  z-index: 90;
  text-align: left;
}

.rtl .sp-inline-error {
  text-align: right;
}

.sp-inline-error.ltr:after {
  border: none;
  left: 0;
}

.sp-inline-error.rtl:after {
  border: none;
  right: 0;
}

.sp-inline-error:after {
 border: none;
}
