<div class="product-in-cart">
    <span class="quantity-wrapper"><!--
        --><span class="for-vertical-align"></span><!--
        --><sp-cart-line-count line="line" text-before=""></sp-cart-line-count><!--
    --></span><!--
    --><div class="data"><!--
        --><div class="brand-and-weight">
            <span class="brand" ng-bind="line.product.brand.names | name"></span>
            <span class="weight">
               {{line.product.brand.names && line.product.weight ? ' | ' : ''}}
               {{line.product | productWeight:product.isCaseMode}}
            </span>
        </div>
        <div class="name" ng-bind="(line.product.names | name).short"></div>
        <sp-product-price
           ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
           class="reverse-text-align"
           regular-price="line.removed ? (line.product | regularPrice: line.isCase) : line.totalPriceForView"
           sale-price=" line.removed ? (line.product | salePrice: line.isCase) : line.finalPriceForView">
        </sp-product-price><!--
    --></div><!--
    --><div class="image"><img ng-src="{{line.product | productImage: 'small'}}" alt="{{(line.product.names | name).short}}"/></div>
</div>