$cartLineBubbleVerticalPadding: 0.405em;
$cartLineBubbleHorizontalPadding: 0.53em;
$cartLineBubbleMarginTop: 0.605em;
$cartLineBubbleMarginBottom: 0.405em;
$cartLineBubbleHorizontalMargin: 0.53em;

.sp-bubble.cart-line-bubble {
  top: ($toolbarHeight + $sidenavHeaderHeight) !important;
  z-index: 80;
  background-color: #ffffff;
  padding: $cartLineBubbleVerticalPadding $cartLineBubbleHorizontalPadding;
  width: $sidenavWidth - ($cartLineBubbleHorizontalMargin * 2);
  margin: $cartLineBubbleMarginTop $cartLineBubbleHorizontalMargin $cartLineBubbleMarginBottom $cartLineBubbleHorizontalMargin;
  border: 0.5em solid #f0f0f0;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.36);
  border-radius: 0;
  box-sizing: border-box;

  html.hub-child & {
    top: ($toolbarHeight + $hubHeaderHeight + $sidenavHeaderHeight) !important;
  }

  > .product-in-cart {
    width: 100%;
    border-radius: 0 !important;
    box-shadow: none !important;
    $imageWidth: 30%;
    $quantityWidth: 21%;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > .quantity-wrapper {
      width: $quantityWidth;
      height: 100%;
      font-size: 0.875em;
      position: relative;
      > * {
        width: 100%;
      }

      > .sp-cart-line-count {
        vertical-align: middle;

        > div {
          $size: 2.8572em;
          min-width: $size;
          width: auto;
          height: $size;
          background-color: #eaeaea;
          padding: 0.2em 0.4em;
          box-sizing: border-box;
          border-radius: $size;
        }
      }
    }

    > .data {
      height: 100%;
      width: 100% - $imageWidth - $quantityWidth;

      > .brand-and-weight {
        font-size: 0.875em;
        color: #a8a8a8;
        height: 1em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      > .name {
        padding-top: 0.25em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #787878;
      }

      > .sp-product-price {
        padding-top: 2em;
        font-size: 1.125em;
        height: 1em;

        > .regular-price {
          font-size: 0.77em;
        }
      }
    }

    > .image {
      width: $imageWidth;
      text-align: center;

      > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  $responsive1575CartLineBubbleFontSize: 0.9em;

  .sp-bubble.cart-line-bubble {
    font-size: $responsive1575CartLineBubbleFontSize;
    width: ($responsive1575SidenavWidth / $responsive1575CartLineBubbleFontSize * 1em) - ($cartLineBubbleHorizontalMargin * 2);
    top: ($responsive1575ToolbarHeight / clear-units($responsive1575CartLineBubbleFontSize) + $sidenavHeaderHeight) !important;

    html.hub-child & {
      top: (($responsive1575ToolbarHeight + $hubHeaderHeight) / clear-units($responsive1575CartLineBubbleFontSize) + $sidenavHeaderHeight) !important;
    }
  }
}