<h1 class="detail-title" ng-bind="::'Account Info' | translate" id="page_title"></h1>
<form class="form userEditCtrl.user-edit-form" name="accountInfoCtrl.form" ng-submit="accountInfoCtrl.save($event)" novalidate>
    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

    <div class="detail-container">
        <h2 class="detail-subtitle" ng-bind="::'Personal Information' | translate"></h2><!--
        --><div class="detail-content account-info">
            <div class="input-group">

                <div class="sp-kikar-input">
                    <label for="first_name" ng-bind="('First name' | translate) + ' *'"></label>
                    <input type="text" id="first_name" name="firstName" ng-model="userEditCtrl.user.firstName" required
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>

                <div class="sp-kikar-input">
                    <label for="last_name" ng-bind="('Last name' | translate) + ' *'"></label>
                    <input type="text" id="last_name" name="lastName" ng-model="userEditCtrl.user.lastName" required
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>
                <div class="sp-kikar-input">
                    <label for="birth_date_input" ng-bind="'Birth date' | translate"></label>
                    <input id="birth_date_input" type="date" format="dd/MM/yyyy" ng-model="userEditCtrl.user.dateOfBirth"/>
                </div>
                <div class="sp-kikar-input sp-radio">
                    <span class="input-desc" id="gender">{{::'Gender' | translate}}</span>
                    <span class="gender-buttons" role="radiogroup" aria-labelledby="gender">
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-value="$root.GENDERS.MALE">
                            {{::'Male' | translate}}
                        </sp-radio>
                        <sp-radio sp-model="userEditCtrl.user.gender" sp-name="gender" sp-value="$root.GENDERS.FEMALE">
                            {{::'Female' | translate}}
                        </sp-radio>
                    </span>
                </div>
            </div>

            <div class="input-group">
                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="address1_input" ng-bind="::'Address 1' | translate"></label>
                    <input type="text" id="address1_input" name="address1Input" ng-model="userEditCtrl.user.addresses[0].text1"/>
                </div>

                <div class="sp-kikar-input">
                    <label for="address2_input" ng-bind="$root.config.retailer.enableFloorApartment ? ('More details' | translate) : ('Address 2' | translate)"></label>
                    <input id="address2_input" type="text" ng-model="userEditCtrl.user.addresses[0].text2"/>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS">
                    <label for="city_input" ng-bind="::'City' | translate"></label>
                    <input type="text" id="city_input" name="cityInput" ng-model="userEditCtrl.user.addresses[0].city"/>
                </div>

                <div class="sp-kikar-input"
                     ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <label for="city_input" ng-bind="::'City' | translate"></label>
                    <input type="text" id="autocomplete_city_input" name="cityInput" ng-model="userEditCtrl.user.addresses[0].city"
                           sp-inline-error sp-inline-error-attach-to-parent="div"/>
                    <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].city"
                                     sp-choose="accountInfoCtrl.onCityChosen()"
                                     sp-get-options="userEditCtrl.getCityAutoCompleteOptions(userEditCtrl.user.addresses[0].city)"
                                     sp-require-match="true"></sp-autocomplete>
                </div>

                <div ng-if="$root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY">
                    <div class="sp-kikar-input">
                        <label for="street_input" ng-bind="::'Street' | translate"></label>
                        <input type="text" id="street_input" name="streetInput" ng-model="userEditCtrl.user.addresses[0].street"
                               sp-inline-error sp-inline-error-attach-to-parent="div"
                               ng-disabled="!userEditCtrl.user.addresses[0].city"/>
                        <sp-autocomplete sp-model="userEditCtrl.user.addresses[0].street"
                                         sp-get-options="accountInfoCtrl.getStreetAutoCompleteOptions()"
                                         sp-require-match="accountInfoCtrl.streetIsRequire"></sp-autocomplete>
                    </div>

                    <div ng-class="{'split': !$root.config.retailer.enableFloorApartment, 'splite50': !$root.config.retailer.enableFloorApartment}">
                        <div class="sp-kikar-input">
                            <label for="houseNumber_input" ng-bind="::'House Number' | translate"></label>
                            <input type="number" id="houseNumber_input" name="houseNumberInput" ng-model="userEditCtrl.user.addresses[0].houseNumber"/>
                        </div><!--
                    --><div class="sp-kikar-input" ng-if="!$root.config.retailer.enableFloorApartment">
                            <label for="entry1" ng-bind="::'Entrance' | translate"></label>
                            <input id="entry1" type="text" ng-model="userEditCtrl.user.addresses[0].entry" name="entry"/>
                            <sp-autocomplete
                                    sp-model="userEditCtrl.user.addresses[0].entry"
                                    sp-get-options="accountInfoCtrl.getEntriesAutoComplete()"
                                    sp-require-match="!!userEditCtrl.user.addresses[0].entry"
                                    sp-show-on-focus="true">
                            </sp-autocomplete>
                        </div>
                    </div>
                </div>

                <div class="split" ng-if="$root.config.retailer.enableFloorApartment">
                    <div class="sp-kikar-input">
                        <label for="entry" ng-bind="::'Entrance' | translate"></label>
                        <input id="entry" type="text" ng-model="userEditCtrl.user.addresses[0].entry" name="entry"/>
                        <sp-autocomplete
                                sp-model="userEditCtrl.user.addresses[0].entry"
                                sp-get-options="accountInfoCtrl.getEntriesAutoComplete()"
                                sp-require-match="!!userEditCtrl.user.addresses[0].entry"
                                sp-show-on-focus="true">
                        </sp-autocomplete>
                    </div><!--
                    --><div class="sp-kikar-input">
                        <label for="floor_input" ng-bind="::'Floor' | translate"></label>
                        <input type="number" id="floor_input" name="floor" step="1" ng-model="userEditCtrl.user.addresses[0].floor" sp-inline-error/>
                    </div><!--
                    --><div class="sp-kikar-input">
                    <label for="apartment_input" ng-bind="::'Apartment' | translate"></label>
                    <input type="text" id="apartment_input" name="apartmentInput" ng-model="userEditCtrl.user.addresses[0].apartment"/>
                </div><!--
                    -->
                </div>
            </div>

            <div class="checkbox-input" ng-if="$root.config.retailer.isSeniorCitizenActive">
                <sp-checkbox sp-model="accountInfoCtrl.isSeniorCitizen"
                             sp-change="accountInfoCtrl.isSeniorCitizenChange()">
                    {{::'I am a senior citizen' | translate}}
                </sp-checkbox>
            </div>

            <div class="sp-kikar-input">
                <label for="comments" ng-bind="::'Comments' | translate"></label>
                <input id="comments" type="text" ng-model="userEditCtrl.user.orderComments"/>
            </div>
        </div>
    </div>

    <div class="detail-container">
        <h2 class="detail-subtitle" ng-bind="::'User Details' | translate"></h2><!--
        --><div class="detail-content account-info">
        <div class="input-group">
            <div class="sp-kikar-input">
                <label for="user_name" ng-bind="::'User name' | translate"></label>
                <input id="user_name" type="email" ng-model="userEditCtrl.user.email" disabled/>
            </div>
            <div class="sp-kikar-input">
                <label for="password" ng-bind="::'Password' | translate"></label>
                <input id="password" placeholder="**********" name="password" type="password" ng-pattern="/(?=.*[0-9])(?=.*[^0-9])/" ng-model="userEditCtrl.user.password"
                       autocomplete="new-password" ng-minlength="6" sp-inline-error sp-inline-error-attach-to-parent="div" />
            </div>
            <div class="sp-kikar-input">
                <label for="confirm-password" ng-bind="::'Confirm password' | translate"></label>
                <input id="confirm-password" name="confirmPassword" type="password" ng-model="userEditCtrl.user.confirmPassword"
                       sp-inline-error sp-inline-error-attach-to-parent="div"/>
            </div>
        </div>

        <div class="input-group second">
            <div class="input-wrapper phone-wrapper">
                <div class="sp-kikar-input">
                    <label for="home_phone_number_input" ng-bind="::'Home phone number' | translate"></label>
                    <input name="homePhone" id="home_phone_number_input" type="tel" ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.HOME].phoneNumber"
                           ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){7,15}$/" sp-inline-error  sp-inline-error-attach-to-parent="div"/>
                </div>
            </div>
            <div class="input-wrapper phone-wrapper">
                <div class="sp-kikar-input">
                    <label for="work_phone_number_input" ng-bind="::'Work phone number' | translate"></label>
                    <input name="workPhone" id="work_phone_number_input" type="tel" ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.WORK].phoneNumber"
                           ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){7,15}$/" sp-inline-error sp-inline-error-attach-to-parent="div"/>
                </div>
            </div>
            <div class="input-wrapper phone-wrapper">
                <div class="sp-kikar-input">
                    <label for="mobile_phone_number_input" ng-bind="::'Mobile phone number' | translate"></label>
                    <input name="mobilePhone" id="mobile_phone_number_input" type="tel" ng-model="userEditCtrl.user.phonesObj[$root.PHONE_TYPES.MOBILE].phoneNumber"
                           ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){7,15}$/" sp-inline-error  sp-inline-error-attach-to-parent="div"/>
                </div>
            </div>
        </div>
    </div>
        <div class="detail-footer">
            <div>
                <sp-checkbox sp-model="userEditCtrl.user.allowSendPromotions">{{::'Allow to send promotions' | translate}}</sp-checkbox>
            </div>

            <div class="save-button">
                <button class="no-design" type="submit" id="btn-submit">
                    {{::'Save Changes' |translate}}
                </button>
                <div aria-live="assertive" class="server-err-msg"></div>
            </div>
        </div>
    </div>
</form>