sp-kikar-dropdown .sp-dropdown-options-wrapper {
  border-color: $secondaryColor;

  .sp-kikar-option.selected > .label {
    background-color: $secondaryColor;
  }
}

.dropdown-options-wrapper {
  > .dropdown-options {
    border: 2px solid $mainColor;

    .dropdown-arrow-wrapper .arrow {
      border: 2px solid $mainColor;
    }

    .title {
      color: $mainColor;
    }
  }

  > .dropdown-options .dropdown-items-wrapper > ul > li.dropdown-item.selected {
    background-color: $mainColor;
  }
}