<div class="order-container" refresher="$root.config.language.id">
    <div class="order-details-wrapper">
       <div>
           <div class="clickable back" ng-click="goBack()">&lt;{{'Back to previous orders' | translate}}</div>
           <p class="order-id">
               {{('Order number' | translate)  + ': ' + orderCtrl.order.id}}

               <span class="customer-service-title" ng-if="orderCtrl.order.orderTypeId === $root.ORDER_TYPES.CUSTOMER_SERVICE">
                {{'Customer service order' | translate}}
            </span>
           </p>
           <div class="order-details">
               <div>
                   {{::orderCtrl.order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
                   <span class="bold" ng-if="item.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                    {{(orderCtrl.order.shippingTimeFrom | date: $root.util.getDateTimeFormat() :'UTC') + '-' + (orderCtrl.order.shippingTimeTo | date: $root.util.getTimeFormat() :'UTC')}} ,
                 </span>
                   <span class="bold" ng-if="item.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                     {{orderCtrl.order.shippingTimeFrom | date:  $root.util.getDateFormat() :'UTC'}} + {{::orderCtrl.order.deliveryTimeDaysRange}} {{::'business days' | translate}} ,
                 </span>
               </div>
               <span class="order-status order-status-{{:: orderCtrl.order.statusId}}">
                <span class="bold">{{'Order status' | translate}} : </span>
                <span ng-class="{ warning: orderCtrl.order.statusId === $root.ORDER_STATUSES.CANCELLED }">
                    {{$root.ORDER_STATUSES[orderCtrl.order.statusId] | translate}}
                </span>
                <span class="status-description">
                    <span class="question-mark">?</span>
                    <span class="description">
                        {{(orderCtrl.order.statusId | orderStatus) + ' text' | translate}}
                    </span>
                </span>
            </span>
           </div>

       </div>
       <div class="actions-wrapper">
           <div class="order-actions" ng-if="!$root.util.isOrderEditable(orderCtrl.order)">
            <div class="button-wrapper"><!--
            --><button class="no-design" ng-click="orderCtrl.addToCart();">
               <div class="icon-wrapper">
                   <svg focusable="false">
                       <use xlink:href="#sp-icons-add-to-cart"></use>
                   </svg>
               </div>
               <div class="desc" ng-bind="::'Add to cart' | translate"></div>
           </button><!--
          --></div><!--
            --><div class="button-wrapper"><!--
            --><button class="no-design" ng-click="orderCtrl.addToShopList();">
               <div class="icon-wrapper">
                   <svg focusable="false">
                       <use xlink:href="#sp-icons-add-to-list"></use>
                   </svg>
               </div>
               <div class="desc" ng-bind="::'Save to shopping list' | translate"></div>
           </button>
           </div>
           </div>
           <div class="order-actions" ng-if="$root.util.isOrderEditable(orderCtrl.order)">
               <button class="no-design" ng-click="$root.util.editOrder(orderCtrl.order.id);">
                   <div class="icon-wrapper">
                       <svg focusable="false">
                           <use xlink:href="#sp-icons-edit-order"></use>
                       </svg>
                   </div>
                   <div class="desc" ng-bind="::'Edit order' | translate"></div>
               </button>
               <button class="no-design" ng-click="orderCtrl.cancelOrder();">
                   <div class="icon-wrapper">
                       <svg focusable="false">
                           <use xlink:href="#sp-icons-cancel-order"></use>
                       </svg>
                   </div>
                   <div class="desc" ng-bind="::'Cancel order' | translate"></div>
               </button>

               <button class="no-design" ng-click="orderCtrl.addToCart();">
                   <div class="icon-wrapper">
                       <svg focusable="false">
                           <use xlink:href="#sp-icons-add-to-cart"></use>
                       </svg>
                   </div>
                   <div class="desc" ng-bind="::'Add to cart' | translate"></div>
               </button>

               <button class="no-design" ng-click="orderCtrl.addToShopList();">
               <div class="icon-wrapper">
                   <svg focusable="false">
                       <use xlink:href="#sp-icons-add-to-list"></use>
                   </svg>
               </div>
               <div class="desc" ng-bind="::'Save to shopping list' | translate"></div>
           </button>

           </div>
       </div>
    </div>

    <div class="order-summary">
        <div class="item">
            <div>
                <span class="title">{{'Order time' | translate}}</span>
                <span class="title">{{'Substitutions' | translate}} </span>
                <span class="title" ng-if="orderCtrl.order.fixedAddress">{{'Delivery address' | translate}}</span>
            </div>
            <div class="values">
                <span>{{ orderCtrl.order.timePlaced | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>
                <span>
                {{'substitute_preference_' + orderCtrl.order.substitutePreferences + '_label' | translate}}
            </span>
                <span class="column" ng-if="orderCtrl.order.fixedAddress">
                <span>{{ orderCtrl.order.fixedAddress }}</span>
        </span>
            </div>
        </div>
        <div class="separator"></div>
        <div class="item">
            <div>
                <span class="title">{{'Number of provided products' | translate}}</span>
                <span class="title">{{'Subtotal' | translate}}</span>
                <span class="title">{{'Delivery fee' | translate}}</span>
                <span class="title">{{'Tax' | translate}}</span>
                <span class="title bold">{{'Total (estimated)' | translate}}</span>
            </div>
            <div class="values">
                <span>{{ orderCtrl.itemsCount }}</span>
                <span>{{ (orderCtrl.order.totalAmount - orderCtrl.order.deliveryFee - orderCtrl.order.totalTax)  | currency }}</span>
                <span>{{ orderCtrl.order.deliveryFee | currency }}</span>
                <span>{{ orderCtrl.order.totalTax | currency }}</span>
                <span>{{ $root.util.isOrderInStatuses(orderCtrl.order, $root.ORDER_STATUS_STAGES.FINISH) ?
                        (orderCtrl.order.overallCharged || orderCtrl.order.amountCharged) : orderCtrl.order.totalAmount | currency}}
            </span>
            </div>
        </div>
        <div class="separator"></div>
        <div class="item">
            <div>
                <span ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">{{'Credit card' | translate}}</span>
                <span ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">{{'Credit card charge' | translate}}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtPayment">{{'EBT card' | translate}}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtSNAPPayment">{{'EBT SNAP' | translate}}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtCashPayment">{{'EBT Cash' | translate}}</span>
            </div>
            <div class="values">
                <span ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD"> **** {{ orderCtrl.order.paymentData.mainPayment.lastFourDigits }}</span>
                <span ng-if="orderCtrl.order.paymentData.mainPayment && orderCtrl.order.paymentData.mainPayment.paymentMethodId == $root.SP_PAYMENTS.PAYMENT_METHODS.IDS.CREDIT_CARD">{{ orderCtrl.order.paymentData.mainPayment.amountCharged || orderCtrl.order.paymentData.mainPayment.initialAmount | currency }}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtPayment"> **** {{ orderCtrl.order.paymentData.ebtPayment.lastFourDigits }}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtSNAPPayment">{{ orderCtrl.order.paymentData.ebtSNAPPayment.amountCharged ||  orderCtrl.order.paymentData.ebtSNAPPayment.preAuthAmount | currency }}</span>
                <span ng-if="orderCtrl.order.paymentData.ebtCashPayment">{{ orderCtrl.order.paymentData.ebtCashPayment.amountCharged ||  orderCtrl.order.paymentData.ebtCashPayment.preAuthAmount | currency }}</span>
            </div>
        </div>
    </div>

    <sp-table items="orderCtrl.order.lines" default-sort-by="index" is-reverse="true">
        <sp-table-column style-class="image">
            <p class="product-status"
               ng-class="{'replaced' : item.substituteId , 'added': $root.util.isCartLineAdded(item) && $parent.$parent.orderCtrl.isCartHasOriginalPrices(), missing :item.status === $root.LINE_STATUS.MISSING || item.substitute}">
                <span ng-if="item.substituteId" ng-bind="'Replaced with' | translate"></span>
                <span ng-if="item.status === $root.LINE_STATUS.MISSING || item.substitute" ng-bind="'Out of stock' | translate"></span>
                <span ng-if="$root.util.isCartLineAdded(item) && $parent.$parent.orderCtrl.isCartHasOriginalPrices()" ng-bind="'New product' | translate"></span>
            </p>
            <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" sort-by="name" style-class="product-details">
            <div class="brand">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
            <div class="product-name">{{(item.product ? (item.product | productName:item.isCase) : item.name)}}</div>
            <div class="specials" ng-if="item.product.branch && item.product.branch.specials">
                <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Ordered' | translate}}" sort-by="regularPrice" style-class="quantity-price">
            <p ng-if="!$root.util.isCartLineAdded(item) && !item.substituteId">{{ item | cartLineQuantity }}</p>
            <p ng-if="$root.util.isCartLineAdded(item) || item.substituteId">--</p>
            <sp-product-price
                    ng-if="item.originalTotalPrice && $root.util.isCartLineWithSale(item)"
                    regular-price="item.originalTotalPrice"
                    hide-normalize-price="true">
            </sp-product-price>
            <sp-product-price
                    ng-if="item.originalPrice && !$root.util.isCartLineWithSale(item)"
                    regular-price="item.regularPrice * item.quantity"
                    sale-price="item.originalTotalPrice"
                    hide-normalize-price="true">
            </sp-product-price>
        </sp-table-column>
        <sp-table-column style-class="received quantity-price" title="{{'Received' | translate}}" sort-by="totalPrice">
           <span ng-if="item.status !== $root.LINE_STATUS.MISSING && item.orderStatusId !== $root.ORDER_STATUSES.NEW && !item.substitute && item.orderStatusId !== $root.ORDER_STATUSES.CANCELLED">
                {{item | cartLineQuantity : item.actualQuantity}}
                <sp-product-price
                        ng-if="$root.util.isCartLineWithSale(item)"
                        regular-price="item.totalPrice"
                        hide-normalize-price="true">
                </sp-product-price>
                <sp-product-price
                        ng-if="!$root.util.isCartLineWithSale(item)"
                        regular-price="item.regularPrice * item.actualQuantity"
                        sale-price="item.totalPrice"
                        hide-normalize-price="true">
                </sp-product-price>
            </span>
            <span ng-if="item.status === $root.LINE_STATUS.MISSING || item.substitute">--</span>
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            {{item.comments}}
        </sp-table-column>
    </sp-table>
</div>
