$grayColor: #616161;
$backgroundColor: #f3f3f3;
$warningColor: #dd2104;
$missingItemColor : #FFAAAA;
$replacedItemColor : #FFF495;
$addedItemColor : #C8ECB7;
$toolsActionSvgMarginRight: 0.8em;
$categoriesTitleFontSize: 1.88em;

html.order {
  &, body {
    height: 100%;
  }
  .order-details-wrapper {
    border-bottom: unset !important;
  }
  td.received {
    background-color: rgba(222, 84, 77, 0.2);
  }

  section.view {
    height: auto;
    min-height: 100%;
    background: $backgroundColor;

    .order-id{
      font-size: 1.7em;
      padding-top: 0.5em;
    }

    .quantity-price{
      line-height: 1.4em;
    }

    .order-summary {
      padding-top: 2em;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 1em;
      line-height: 1.4em;
      display: flex;
      flex-direction: row;
      font-size: 0.875em;

      .separator{

        width: 1px;
        background: #D2D2D3;
        padding: 0;
        margin-left: 2em;
        margin-right: 2em;
      }

      .item {

        flex: 1;
        display: flex;
        flex-direction: row;

        > div {
          display: flex;
          flex-direction: column;
        }

        .values {
          padding-right: 1em;
          padding-left: 1em;
        }
      }

    }

    .product-status {
      margin-top: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: black;


      &.added {
        background-color: $addedItemColor;
      }

      &.replaced {
        background-color: $replacedItemColor;
      }

      &.missing {
        background-color: $missingItemColor;
      }
    }

    > div {
      //width: $checkoutWidth;
      margin: 0 $sidenavWidth;
      padding: 0 2em;
      color: $grayColor;

      .order-container {
        .order-details-wrapper {
          border-bottom: 1px solid #cccccc;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          align-content: center;

          .back {
            padding-top: 2em;
            text-decoration: underline;
            font-weight: 700;
          }

          > h1 {
            $paddingBottom: 0.8em;
            padding: 0.1em 0.15em $paddingBottom 0;
            color: inherit;
            display: inline-block;
            position: relative;

            > .customer-service-title {
              $fontSize: 0.4em;
              position: absolute;
              font-size: $fontSize;
              top: 100%;
              margin-top: ($paddingBottom / $fontSize) * -1em;
              left: 0;
              width: 100%;
            }
          }

          .bold {
            font-weight: 700;
          }

           .order-details {
            display: flex;
            flex-wrap: wrap;
            line-height: 1.6;

             .order-status {
              padding: 0 0.5em 0 0;
              display: flex;
              align-items: center;
              > span {
                display: inline-block;
                //padding: 0 0 0 0.5em;

                &.warning {
                  padding: 0.3em 0.2em;
                  background-color: #ff0000;
                  color: #fff;
                  display: inline-block;
                  height: 1em;
                  line-height: 1em;
                }
              }

              .status-description {
                display: inline-block;
                position: relative;
                font-size: 0.8em;
                padding: 0 0.5em 0 0.5em;

                .question-mark {
                  font-weight: bold;
                  display: inline-block;
                  $size: 1.3em;
                  height: $size;
                  width: $size;
                  text-align: center;
                  vertical-align: middle;
                  line-height: $size;
                  padding: 0;
                  @include border-radius(100%);
                  border: 1px solid #828282;
                  color: #828282;
                }

                .description {
                  display: none;
                  position: absolute;
                  top: 100%;
                  left: 100%;
                  padding: 1em;
                  background-color: #ffffff;
                  border: 1px solid #cccccc;
                  @include box-shadow(0 0 10px -4px #000000);
                  @include border-radius(0 2em 2em 2em);
                  width: 10em;
                  z-index: 1;
                }

                &:hover .description {
                  display: block;
                }
              }
            }
          }

          .actions-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .order-actions {
              display: flex;

              button {
                width: 5em;
                .icon-wrapper {
                  box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                  background-color: #ffffff;
                  border-radius: 100%;
                  width: 3em;
                  height: 3em;
                  margin: auto;
                  margin-bottom: 0.5em;

                  svg {
                    height: 1.8em;
                    width: 1.8em;
                    margin: 0.6em;
                    fill: #9c9c9c;
                  }
                }

                .desc {
                  font-size: 0.7em;
                  line-height: 0.9em;
                  color: #787878;
                }
              }
            }

          }

          > .check-all {
            font-size: 0.750em;
            color: #616161;

            label.checkbox > .box {
              border-radius: 100%;
              padding: 0.1em;
              height: 1.1em;
              width: 1.1em;
              margin-top: 0;
            }
          }
        }

        sp-table {
          display: block;

          table {
            border-collapse: separate;
            thead {
              border-bottom-width: 0;
              font-weight: 700;
              tr th {
                font-weight: 700;
                padding: 1em 0.5em;
              }
            }

            tbody {
              tr {
                background-color: #ffffff;
                height: 6em;

                td {
                  padding: 0 1em;
                  max-width: 10em;
                  border-bottom: 11px solid $backgroundColor;
                  color: #787878;

                  &.select {
                    label.checkbox > .box {
                      height: 2.5em;
                      width: 2.5em;
                      padding: 0.6em;
                      border-radius: 100%;
                    }
                  }

                  &.quantity {
                    width: 5em;
                    text-align: center;
                    color: #414141;
                    font-size: 0.875em;
                    font-weight: 700;


                    > div {
                      background-color: #eaeaea;
                      min-width: 2.5em;
                      display: inline-block;
                      border-radius: 2.8572em;
                      height: 2.5em;
                      padding: 0.75em;
                      box-sizing: border-box;
                    }
                  }

                  &.image {
                    text-align: center;
                    //position: relative;
                    width: 8em;
                    svg {
                      position: absolute;
                      width: 2.25em;
                      height: 2.25em;
                      right: 2em;
                    }

                    img {
                      padding: 0.5em;
                      box-sizing: border-box;
                      max-height: 4.375em;
                    }
                  }

                  &.price {
                    font-weight: 700;
                    color: #000000;
                  }

                  &.product-details {

                   * {
                     text-overflow: ellipsis;
                     overflow: hidden;
                     height: 1em;
                     white-space: nowrap;
                   }

                    > .brand {
                      font-size: 0.875em;
                      color: #a8a8a8;
                      padding-bottom: 0.3em;
                    }

                    > .specials {
                      border-top: 1px solid #cccccc;
                      margin-top: 0.4em;
                      padding-top: 0.4em;
                      font-weight: 700;
                      font-size: 1em;

                      .special-desc {
                        line-height: 0.8em;
                        overflow: hidden;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

html {
  &.ltr.order section.view {
    margin-right: 0;
  }

  &.rtl.order section.view {
    margin-left: 0;

    > div .order-container {
      .order-details-wrapper {
        line-height: 1.8em;
        > h1 {
          padding: 0.1em 0 0.8em 0.15em;
        }

        .order-details .order-status .status-description .description {
          left: auto;
          right: 100%;
          @include border-radius(2em 0 2em 2em);
          white-space: normal;
        }

        > .order-actions {
          float: left;
        }
      }

      sp-table table tbody tr td.image svg {
        left: 2em;
        right: auto;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.order section.view > div {
      margin-left: $responsive1575MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 15px;

      .order-container {
        .order-details-wrapper {
          > h1 {
            padding-bottom: 0.2em;
          }

          > span {
            white-space: nowrap;
          }

          > .check-all {
            margin-top: 2em;
          }
        }

        //sp-table table tbody tr td.product-details {
        //  width: 11.063em;
        //}
      }
    }

    &.rtl.order section.view > div {
      margin-right: $responsive1575MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}

@media screen and (max-width: 1180px) {
  $responsive1180CategoriesTitleFontSize: 1.4em;
  html {
    &.order section.view > div {
      margin-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      font-size: 14px;
    }

    &.rtl.order section.view > div {
      margin-right: $responsive1180MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}