<div class="search-products-wrapper" ng-controller="KikarTemplateSearchProductsCtrl">
    <sp-items
        total="searchCtrl.total"
        no-results-message="{{'sorry_2' | translate}}<br/>{{'We couldn\'t find any products' | translate}}"
        items="searchCtrl.products"
        img="//storage.googleapis.com/sp-public/global/frontend-icons/new-template/search-large-icon.png"
        banner-title="{{('noun search' | translate) + ': ' + searchCtrl.title}}"
        template-url="template/partials/product-item/index.html"
        filters="[searchCtrl.productTagsFilter, searchCtrl.categoriesFilter, searchCtrl.brandFilter]"
        item-class="product"
        on-click="searchCtrl.openProduct($item, $index)">
    </sp-items>
</div>