<div class="newsletter-arrow-wrapper">
    <span class="arrow"></span>
</div>
<div class="newsletter-bubble" tabindex="0" aria-label="{{'newsletter bubble' | translate}}"
     sp-focus-management previous-element-selector="header > .toolbar > .data > .settings > .newsletter"
     next-element-selector="header > .toolbar > .data .retailer-data sp-kikar-dropdown > .sp-dropdown-text">
    <div class="left-box">
        <h5 id="newsletter_title" ng-bind="$root.config.retailer.settings.newsletterTitle"></h5>
        <p ng-bind="$root.config.retailer.settings.newsletterSubTitle"></p>
        <form name="newsletterForm" ng-submit="registerNewsletterUser(newsletterForm, $event)">
            <input aria-label="{{'Email' | translate}}" type="email" name="email" ng-model="$root.newsletterEmailUser" aria-describedby="newsletter_title" placeholder="{{ 'Email' | translate }}" sp-inline-error=required/>
            <button class="newsletter-submit" type="submit" ng-bind="$root.config.retailer.settings.newsletterSubmitButton">
            </button>
        </form>
    </div>
    <div>
        <img class="newsletter-image" ng-src="{{$root.config.retailer.settings.newsletterImage}}" alt=""/>
        <span class="close-popup" ng-click="closePopup()">
               <img src="https://storage.googleapis.com/sp-public/global/frontend-icons/close-popup.png" alt="{{'close' | translate}}">
        </span>
    </div>
</div>