<div class="orders-history" refresher="$root.config.language.id">
    <h1 id="page_title" ng-bind="::'Previous Orders' | translate"></h1>

    <sp-table ng-if="ordersHistoryCtrl.orders && ordersHistoryCtrl.orders.length" class="order-history"
              items="ordersHistoryCtrl.orders"
              actions="ordersHistoryCtrl.orderActions"
              style-class="high-columns"
              row-ng-click="openOrder(item)"
              row-in-view-watcher
              is-reverse="true">
        <sp-table-column title="#" style-class="order-id">
            {{item.id}}
            <div ng-if="item.orderTypeId === $root.ORDER_TYPES.CUSTOMER_SERVICE">
                {{'Customer service order' | translate}}
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Date and time' | translate}}" sort-by="timePlaced" style-class="time-column">
            {{item.timePlaced | date: ($root.config.isUs ? 'MM/dd/yyyy | h:mma' : 'dd/MM/yyyy | HH:mm'):'UTC'}}
        </sp-table-column>
        <sp-table-column title="{{'Delivery Time' | translate}}" sort-by="shippingTimeFrom" style-class="time-column">
            <span ng-if="item.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                {{(item.shippingTimeFrom | date: ($root.config.isUs ? 'MM/dd/yyyy | h:mma' : 'dd/MM/yyyy | HH:mm') :'UTC') + '-' + (item.shippingTimeTo | date: $root.util.getTimeFormat() :'UTC')}}
            </span>
            <span ng-if="item.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                {{item.shippingTimeFrom | date:  $root.util.getDateFormat() :'UTC'}} + {{::item.deliveryTimeDaysRange}} {{::'business days' | translate}}
            </span>
        </sp-table-column>
        <sp-table-column title="{{'Items' | translate}}" sort-by="itemsCount" style-class="items">
            {{item.itemsCount}}
        </sp-table-column>
        <sp-table-column title="{{'Total sum' | translate}}" sort-by="shownAmount" style-class="total-sum">
            {{item.shownAmount | currency}}
        </sp-table-column>
        <sp-table-column title="{{'Order status' | translate}}" sort-by="statusId" style-class="status-column text-align order-status-{{:: item.statusId}}">
            <div class="status">{{$root.ORDER_STATUSES[item.statusId] | translate}}</div>
            <div class="status-description">
                <span class="question-mark">?</span>
                <div class="description">
                    {{(item.statusId | orderStatus) + ' text' | translate}}
                </div>
            </div>
            <span class="arrow"></span>
        </sp-table-column>
        <!--<sp-table-column title="{{'savings' | translate}}" style-class="savings">-->
        <!--</sp-table-column>-->
        <sp-table-column title="" style-class="actions">
            <div class="buttons-wrapper">
              <div class="button-wrapper" ng-if="!$root.util.isOrderEditable(item)"><!--
                --><button class="no-design" ng-click="addToCart(item, $event);">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-add-to-cart"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'Add to cart' | translate"></div>
                </button><!--
                  --></div><!--
                --><div class="button-wrapper" ng-if="$root.util.isOrderEditable(item)"><!--
                --><button class="no-design" ng-click="$root.util.editOrder(item.id);$event.stopPropagation();">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-edit-order"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'Edit order' | translate"></div>
                </button><!--
                --></div><!--
                --><div class="button-wrapper"><!--
                --><button class="no-design" ng-click="openOrder(item)">
                    <div class="icon-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-add-to-list"></use>
                        </svg>
                    </div>
                    <div class="desc" ng-bind="::'View details' | translate"></div>
                </button>
            </div>
            </div>
        </sp-table-column>
    </sp-table>

    <div ng-if="!ordersHistoryCtrl.orders || !ordersHistoryCtrl.orders.length">
        {{'No purchases have been made yet Previous orders will be saved on this screen' | translate}}.
    </div>
</div>
