$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$categoriesTitleFontSize: 1.88em;
$arrowWrapperWidth: 0.7em;

html.history {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;
    background: $backgroundColor;

    > div {
      //width: $checkoutWidth;
      margin: 0 $sidenavWidth;
      padding: 0 2em;
      color: $grayColor;

      > .orders-history {
        > h1 {
          padding: 0.8em 0;
          color: inherit;
        }

        sp-table.order-history {
          display: block;

          table {
            border-collapse: separate;
            thead {
              border-bottom-width: 0;
              font-weight: 700;
              tr th {
                font-weight: 700;
                padding: 1em 0.5em;
              }
            }

            tbody {
              tr {
                background-color: #ffffff;
                height: 6em;

                td {
                  padding: 0 1em;
                  max-width: 5em;
                  //box-sizing: border-box;
                  border-bottom: 11px solid $backgroundColor;

                  &.order-id {
                    max-width: 5em;
                  }

                  &.time-column {
                    max-width: 11em;
                  }

                  &.items {
                    max-width: 4em;
                  }

                  &.total-sum {
                    font-weight: 700;
                    color: #000000;
                    max-width: 6em;
                  }

                  &.actions {
                    width: 19em;
                    box-sizing: border-box;

                    .buttons-wrapper {
                      display: none;

                      .button-wrapper {
                        display: inline-block;
                        width: 33%;
                        text-align: center;
                      }

                      > button {
                        width: 33%;
                      }

                      button {
                        .icon-wrapper {
                          box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                          background-color: #ffffff;
                          border-radius: 100%;
                          width: 3em;
                          height: 3em;
                          margin: auto;
                          margin-bottom: 0.5em;

                          svg {
                            height: 2em;
                            width: 2em;
                            margin: 0.5em;
                            fill: #9c9c9c;
                          }
                        }

                        .desc {
                          font-size: 0.813em;
                          line-height: 0.9em;
                          color: #787878;
                        }
                      }
                    }
                  }

                  &.status-column {
                    max-width: 9em;
                    position: relative;
                    .arrow {
                      $arrowSize: 1.25em;
                      //display: inline-block;
                      //vertical-align: bottom;
                      width: $arrowWrapperWidth;
                      height: $arrowSize;
                      position: absolute;
                      top: 39%;
                      left: 99%;
                      overflow: hidden;
                      margin-bottom: 0.5em;

                      &:after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: $arrowSize;
                        transform: rotate(45deg);
                        margin-left: $arrowWrapperWidth * -1.95;
                        height: 100%;
                        background-color: #ffffff;
                        box-sizing: border-box;
                        //box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                        left: 100%;
                      }
                    }

                    .status {
                      display: inline-block;
                      width: 60%;
                    }
                  }
                }

                &:hover {
                  td {
                    box-sizing: border-box;
                    //box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);

                    &.actions {
                      background-color: $backgroundColor;
                      max-width: unset;

                      .buttons-wrapper {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .total-sum {
          direction: ltr;
        }

        td.status-column .status-description {
          display: inline-block;
          position: relative;
          padding-right: 0.5em;

          .question-mark {
            font-weight: bold;
            display: inline-block;
            padding: 0.3em 0.5em;
            @include border-radius(100%);
            border: 1px solid #828282;
            color: #828282;
          }

          .description {
            display: none;
            position: absolute;
            top: 100%;
            left: 100%;
            padding: 1em;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            @include box-shadow(0 0 10px -4px #000000);
            @include border-radius(0 2em 2em 2em);
            width: 10em;
            z-index: 1;
          }

          &:hover {
            .description {
              display: block;
            }
          }
        }
      }
      }
  }
}

html {
  &.ltr.history section.view {
    margin-right: 0;
  }

  &.rtl.history section.view {
    margin-left: 0;

    > div .orders-history sp-table.order-history table tbody tr td.status-column .arrow {
      right: 99%;
      left: auto;

      &:after {
        margin-left: $arrowWrapperWidth * -0.7;;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.history section.view > div {
      margin-left: $responsive1575MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 15px;
      .orders-history sp-table.order-history table tbody tr td {
        &.status-column {
          max-width: 8em;

          .arrow {
            left: 98%;
          }
        }

        &.items {
          max-width: 3em;
        }
      }
    }

    &.rtl.history section.view > div {
      margin-right: $responsive1575MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;

      .orders-history sp-table.order-history table tbody tr td.status-column .arrow {
        right: 98.5%;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  $responsive1180CategoriesTitleFontSize: 1.4em;
  html {
    &.history section.view > div {
      margin-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 14px;

      .orders-history sp-table.order-history table tbody tr td.status-column {
        max-width: 7em;
      }
    }

    &.rtl.history section.view > div {
      margin-right: $responsive1180MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}

