<div class="delivery-times-wrapper" refresher="$root.config.language.id">
    <h1 id="page_title" class="detail-title">{{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup Times & Areas' : 'Delivery Times & Areas') | translate}}</h1>

    <div class="times-content">
        <div class="select-branches" ng-if="retailerDetailsCtrl.branchesInfo.length > 1 || timesCtrl.selectedBranch.areas.delivery.length > 1">
            <sp-kikar-dropdown ng-if="retailerDetailsCtrl.branchesInfo.length > 1"
                               sp-model="timesCtrl.selectedBranch"
                               sp-change="timesCtrl.setSelectedBranch()">
                <sp-kikar-text>
                    {{('Branch' | translate) + ': ' + timesCtrl.selectedBranch.name}}
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="branch in retailerDetailsCtrl.branchesInfo"
                                 ng-if="branch.areas.delivery.length  || branch.areas.pickup.length"
                                 sp-value="branch">
                    {{branch.name}}
                </sp-kikar-option>
            </sp-kikar-dropdown>

            <sp-kikar-dropdown ng-if="timesCtrl.selectedBranch.areas.delivery.length > 1"
                               sp-change="timesCtrl.getAreaTimes()"
                               sp-model="timesCtrl.selectedArea">
                <sp-kikar-text>
                    {{('Area' | translate) + (timesCtrl.selectedArea ? (': ' + timesCtrl.selectedArea.name) : '')}}
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="area in timesCtrl.selectedBranch.areas.delivery" sp-value="area">
                    {{area.name}}
                </sp-kikar-option>
            </sp-kikar-dropdown>
        </div>

        <div class="details-tabs">
            <div class="tab delivery-times" ng-if="$root.config.retailer.delivery && timesCtrl.selectedArea.times.length">
                    <div class="title-wrapper">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-next-delivery"></use>
                        </svg>
                        <h2 class="tab-title secondary-font" ng-bind="::'Delivery hours' | translate"></h2>
                    </div>
                    <ul class="days-wrapper">
                        <li ng-repeat="day in timesCtrl.selectedArea.times" class="day-wrapper" ng-class="{'empty-day': !day || !day.length}">
                            <div ng-class="{'today': $index == retailerDetailsCtrl.today}" class="week-day">
                                {{'week_day_' + $index | translate}}
                            </div>
                            <ul class="times-wrapper">
                                <li ng-repeat="time in day" class="time-row" ng-if="day && day.length">
                                    <span ng-if="!$root.config.retailer.twoHourLaw">{{(time.fromDisplay || time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }} - {{time.to | date: ($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                    <span ng-if="$root.config.retailer.twoHourLaw">{{(time.fromDisplay || time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                    <img ng-if="time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS"
                                         src="//storage.googleapis.com/sp-public/global/frontend-icons/express.png" alt="{{'Express delivery' | translate}}"/>
                                </li>
                                <div class="time-row none" ng-if="!day || !day.length" ng-bind="::'None' | translate"></div>
                            </ul>
                        </li>
                    </ul>
            </div><!--
            --><div class="tab pickup-times" ng-if="$root.config.retailer.pickup && timesCtrl.selectedBranch.areas.pickup[0].times.length">
                <div class="title-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-retailer-details"></use>
                    </svg>
                    <h2 class="tab-title secondary-font" ng-bind="::'Pickup Times' | translate"></h2>
                </div>

                <ul class="days-wrapper">
                    <li ng-repeat="day in timesCtrl.selectedBranch.areas.pickup[0].times" class="day-wrapper" ng-class="{'empty-day': !day || !day.length}">
                        <div ng-class="{'today': $index == retailerDetailsCtrl.today}" class="week-day">
                            {{'week_day_' + $index | translate}}
                        </div>
                        <ul class="times-wrapper">
                            <li ng-repeat="time in day" class="time-row" ng-if="day && day.length">
                                <span>{{time.from | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }} - {{time.to | date: ($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC' }}</span>
                                <img ng-if="time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS"
                                     src="//storage.googleapis.com/sp-public/global/frontend-icons/pickup.png" alt="{{'Express pickup' | translate}}"/>
                            </li>
                            <div class="time-row none" ng-if="!day || !day.length">
                                {{::'None' | translate}}
                            </div>
                        </ul>
                    </li>
                </ul>
            </div><!--
            --><div class="tab area-map" ng-if="timesCtrl.selectedArea && (
                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                $root.config.retailer.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
            )">
                <div class="title-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-location"></use>
                    </svg>
                    <h2 class="tab-title secondary-font">
                        {{($root.config.retailer.pickup && !$root.config.retailer.delivery ? 'Pickup address' : 'Delivery Area') | translate}}
                    </h2>
                </div>

                <sp-google-maps model="timesCtrl.selectedArea" options="timesCtrl.selectedArea.mapOptions"></sp-google-maps>
            </div>
        </div>
    </div>
</div>