html.retailer-details .delivery-times-wrapper {
  .times-content {
    background-color: #ffffff;
    padding: 2.250em;
    margin-top: 1em;
  }

  .select-branches {
    padding-bottom: 0.6rem;

    sp-kikar-dropdown {
      width: 40%;
      border-bottom: 1px solid #616161;
      padding-bottom: 0.5em;
      margin-right: 1em;
      vertical-align: bottom;

      > .sp-dropdown-text {
        max-width: 90%;
        white-space: normal;
        overflow: hidden;
      }

      > .arrow {
        float: right;
        margin-top: 0.4em;
      }

      .sp-dropdown-options-wrapper {
        z-index: 2;
      }
    }
  }

  .details-tabs {
    > * {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      box-sizing: border-box;
      padding: 0 0.35em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .title-wrapper {
        padding-top: 1.8em;
        padding-bottom: 0.8em;

        svg {
          width: 2em;
          height: 2em;
          vertical-align: middle;
          fill: #616161;
        }

        span, .tab-title {
          vertical-align: middle;
          font-weight: 700;
          padding:  0 0.5em;
          font-size: 1em;
          color: #616161;
          display: inline-block;
        }
      }

      .days-wrapper {
        background-color: #f3f3f3;
        padding: 1.5em 1.5em 1.5em 3em;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        height: 22.813em;
        overflow: auto;

        .day-wrapper {
          white-space: nowrap;
          font-size: 0.875em;

          > * {
            display: inline-block;
            vertical-align: top;
          }

          .week-day {
            width: 5em;
            color: #878787;
          }

          .times-wrapper .time-row {
            padding-bottom: 1em;
            color: #606060;

            span{
              direction: ltr;
              display: inline-block;
            }
          }

          img{
            height: 1em;
          }

          &.empty-day {
            .week-day, .times-wrapper .time-row {
              color: #acacac;
            }
          }
        }
      }
    }

    .area-map {
      .sp-google-maps-wrapper .sp-google-maps {
        height: 25.813em;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
      }
    }
  }
}

html.rtl.retailer-details .delivery-times-wrapper {
  .details-tabs > * {
    &:first-child {
      padding-left: 0.35em;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0.35em;
      padding-left: 0;
    }

    .days-wrapper {
      padding: 1.5em 3em 1.5em 1.5em;
    }
  }

  .select-branches sp-kikar-dropdown > .arrow {
    float: left;
  }
}

