<div class="date-name">{{'day' + item.value.day | translate}}</div>
<div class="date" ng-class="{'today': item.value.isToday}">{{item.value.isToday ? ('Today' | translate) : (item.value.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC')}}</div>
<div class="selected-time">
    <div ng-if="$root.config.isUs">
        <p ng-if="$root.config.retailer.twoHourLaw" class="time">{{(spModel[item.dropDown.key].fromDisplay || spModel[item.dropDown.key].from) | date:'hh:mm a':'UTC'}}</p>
        <p ng-if="!$root.config.retailer.twoHourLaw" class="time">{{spModel[item.dropDown.key].from | date:'hh:mm a':'UTC'}}</p>
        <p ng-if="!$root.config.retailer.twoHourLaw">{{spModel[item.dropDown.key].to | date:'hh:mm a':'UTC'}}</p>
    </div>
    <div ng-if="!$root.config.isUs">
        <span class="time">{{
            $root.config.retailer.twoHourLaw ?
            ((spModel[item.dropDown.key].fromDisplay || spModel[item.dropDown.key].from) | date:'HH:mm':'UTC') :
            (spModel[item.dropDown.key].from | date:'HH:mm':'UTC') + "-" + (spModel[item.dropDown.key].to | date:'HH:mm':'UTC')
            }}</span>
    </div>
</div>