<div class="carousel-product-item" ng-init="hasClubSpecial = $root.util.productHasClubSpecial(chunk[0].branch); productSpecials = $root.util.filterProductSpecials(chunk[0].branch)">
    <sp-sale-icon product="product" product-specials="productSpecials" ng-if="productSpecials.length"></sp-sale-icon>
    <product-image product="chunk[0]" size="medium"></product-image><!--
    --><div class="data">
        <div class="brand-and-weight" ng-bind=":: (chunk[0].brand.names | name) + (chunk[0].brand.names && chunk[0].weight ? ' | ' : '' ) + (chunk[0] | productWeight)"></div>
        <div class="name" ng-bind=":: (chunk[0].names | name).short"></div>
        <sp-product-price regular-price="chunk[0] | regularPrice" sale-price="chunk[0] | salePrice" product="chunk[0]" hide-normalize-price="true"></sp-product-price>
    </div>
    <product-actions product="chunk[0]"></product-actions>
</div>