<form name="cantFindItem" ng-submit="addToCart(cantFindItem, $event)" novalidate>
    <h1 id="cant_find_item_dialog_title" ng-bind="::'Can\'t find item?' | translate"></h1>
    <h2 ng-bind="::('Add it here' | translate) + '!'"></h2>
    <p ng-bind="::'If we are unfamiliar with the product or don\'t have it in stock, we will give you a call' | translate"></p>

    <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

    <div class="sp-kikar-input">
        <label for="pseudoProductName" ng-bind="::('Name' | translate) + ' *'"></label>
        <input id="pseudoProductName" type="text" name="pseudoProductName" ng-model="line.product.name" ng-maxlength="200" required sp-inline-error/>
    </div>

    <sp-kikar-dropdown sp-model="line.product.category">
        <sp-kikar-text>
            {{line.product.category ? (line.product.category.names | name) : ('Choose category' | translate)}}
        </sp-kikar-text>
        <sp-kikar-option ng-repeat="category in categories" sp-value="category">
            {{category.names | name}}
        </sp-kikar-option>
    </sp-kikar-dropdown>

    <div class="quantity">
        <span ng-bind="::('Quantity' | translate) + ':'"></span>
        <sp-quantity cart-line="line" on-plus="changeQuantity(1)" on-minus="changeQuantity(-1)" on-change="true" design="landscape"></sp-quantity>
    </div>

    <div class="sp-kikar-input">
        <label for="comments" ng-bind="::'Comments' | translate"></label>
        <input id="comments" type="text" ng-model="line.comments"/>
    </div>

    <button type="submit" class="no-design" ng-bind="::'Add to cart' | translate"></button>
</form>