$color: #616161;

.dialog-wrapper .dialog.cant-find-item .dialog-body {
  width: 34.0625em;
  color: $color;
  overflow: visible;

  > form {
    padding: 0 7.8125em;

    > h1, > h2, > p {
      font-weight: 700;
      text-align: center;
    }

    > h1, > h2, label, span {
      color: $color;
      padding: 0;
      font-weight: 700;
    }

    > div.quantity, > sp-kikar-dropdown {
      font-size: 1.125em;
    }

    > p, > .sp-kikar-input, > sp-kikar-dropdown {
      margin: 0.75em 0;
    }

    > h1 {
      font-size: 4.25em;
    }

    > h2 {
      font-size: 2.875em;
    }

    > p {
      margin-top: 1.5em;
      font-size: 1.25em;
    }

    > .sp-kikar-input {
      padding: 0;
    }

    > sp-kikar-dropdown {
      display: block;
      padding: 0.4em 0;
      border-bottom: 1px solid $color;
      z-index: 2;

      > .sp-dropdown-text {
        padding: 0;
      }
    }

    > div.quantity {
      margin-top: 1.5em;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .sp-quantity {
        font-size: 0.8em;
      }

      & + {
        margin-top: 0;
      }
    }

    > button {
      background: #414141;
      color: #ffffff;
      border-radius: 1.25em;
      padding: 0.5em 1.5em;
      display: block;
      margin: 0.75em auto;
    }
  }
}

.ltr .dialog-wrapper .dialog.cant-find-item .dialog-body {
  > form {
    > sp-kikar-dropdown > .arrow {
      float: right;
    }

    > div.quantity > span {
      margin-right: 1em;
    }
  }
}

.rtl .dialog-wrapper .dialog.cant-find-item .dialog-body {
  > form {
    > sp-kikar-dropdown > .arrow {
      float: left;
    }

    > div.quantity > span {
      margin-left: 1em;
    }
  }
}