.dialog-wrapper .dialog.user-verification-dialog .dialog-body {
  section {
    button {
      border-radius: 2em;
    }

    form sp-separate-input-value input {
      border: 1px solid #505050;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 0.3em 0;
    }
  }
}