.product-main-tag-icon-wrapper {
  white-space: nowrap;

  > * {
    white-space: normal;
    position: static;
    display: inline-block;
    vertical-align: bottom;
  }

  > .tool-tip {
    width: 15em;
    box-sizing: border-box;
    padding: 0.2em 0.5em;
  }

  td.line-special-details & {
    color: #000000;
  }
}

.product-main-tag-icon {
  $margin: 0.625em;
  $iconWidth: 3em;
  $iconHeightPercent: 0.6666;

  display: block;
  position: absolute;
  z-index: 1;
  top: $margin;
  width: $iconWidth;
  height: $iconHeightPercent * $iconWidth;
  object-fit: contain;

  .ltr & {
    left: $margin;
  }

  .rtl & {
    right: $margin;
  }

  > svg {
    width: 100%;
    height: 100%;
  }

  div.sidenav .product-in-cart & {
    top: 1.5em;
    $inCartIconWidth: 2.5em;
    width: $inCartIconWidth;
    height: $iconHeightPercent * $inCartIconWidth;

    .ltr & {
      right: $margin;
      left: auto;
    }

    .rtl & {
      left: $margin;
      right: auto;
    }
  }

  td.line-special-details & {
    position: static;
    display: inline-block;
  }
}