<form ng-controller="LoyaltyKikarCtrl"  id="membershipForm" name="membershipForm" ng-if="!loyaltyCtrl.connected" novalidate>
    <h1 id="loyalty_dialog_title" ng-if="loyaltyCtrl.isRegisterNotInProgress()">
        {{('Join {clubName} membership account' | translate).replace('{clubName}', $root.config.retailer.loyaltyClubDriver.name || $root.config.retailer.title)}}
    </h1>
    <h1 ng-if="!loyaltyCtrl.isRegisterNotInProgress()">
        {{('Connect your {clubName} membership account' | translate).replace('{clubName}', $root.config.retailer.loyaltyClubDriver.name || $root.config.retailer.title)}}
    </h1>

    <div class="content">
        <div class="fields-wrapper" ng-class="{'without-register': !loyaltyCtrl.isRegisterNotInProgress()}">
            <sp-tabs>
                <sp-tabs-pane ng-if="loyaltyCtrl.isRegisterEnabled()" title="{{::'New Member' | translate}}"
                              tab-hidden="!loyaltyCtrl.isRegisterNotInProgress()" on-select="loyaltyCtrl.existMemberSelected=false">
                    <ng-include src="'template/dialogs/loyalty/register/index.html'"></ng-include>
                </sp-tabs-pane>
                <sp-tabs-pane title="{{::'Existing Member' | translate}}"
                              selected="!loyaltyCtrl.isRegisterNotInProgress()"
                              on-select="loyaltyCtrl.existMemberSelected=true">
                    <ng-include src="'template/dialogs/loyalty/exist-member/index.html'"></ng-include>
                </sp-tabs-pane>
                <sp-tabs-pane ng-if="!loyaltyCtrl.isRegisterEnabled()" title="{{::'New Member' | translate}}"
                              tab-hidden="!loyaltyCtrl.isRegisterNotInProgress()" on-select="loyaltyCtrl.existMemberSelected=false">
                    <ng-include src="'template/dialogs/loyalty/register/index.html'"></ng-include>
                </sp-tabs-pane>
            </sp-tabs>
        </div>

        <div class="loyalty-page-link">
            <a ui-sref="app.userEdit.loyalty" ng-click="$dialog.hide()">
                {{('Show full details in {clubName} club page' | translate).replace('{clubName}', $root.config.retailer.loyaltyClubDriver.name || $root.config.retailer.title)}}
            </a>
        </div>

        <div class="error-message" aria-hidden="false" ng-if="loyaltyCtrl.showError">
            <img src="//storage.googleapis.com/sp-public/global/frontend-icons/login-err-icon.png" alt=""/>
            <span class="text">
                {{::'Sorry' | translate}},<br/>
                <span>
                    {{loyaltyCtrl.existMemberSelected ? 'We did not find your membership club account' : 'We are not able to register your membership club account' | translate}}.<br/>
                    {{::'Please make sure your details are correct or try again later' | translate}}.
                </span>
            </span>
        </div>
    </div>
</form>

<div class="connected" ng-if="loyaltyCtrl.connected">
    <span class="for-vertical-align"></span><!--
    --><div>
        <h1>{{::'You are now connected to your membership club account' | translate}}</h1>

        <div class="buttons">
            <button type="button" class="block" ng-click="loyaltyCtrl.hide(true);">
                {{::'Continue shopping' | translate}}
            </button>
        </div>
    </div>
</div>