.dialog.loyalty > .dialog-body {
  width: 48.875em;
  height: 43.563em;

  > form, > div > div {
    width: 30em;
    margin: auto;
    > h1 {
      font-size: 2.7em;
      font-weight: normal;
      line-height: 1.4em;
      text-align: center;
      color: #606060;
      padding-bottom: 0.5em;
    }

    > h2 {
      padding-top: 0;
      font-size: 1.6em;
      font-weight: normal;
      text-align: center;
      color: #606060;
    }

    > h4 {
      padding-top: 0;
    }

    > div.content {
        .buttons {
          margin-top: 3em;
          box-sizing: border-box;

        > button {
          width: 13em;
          margin: 0 auto;
          border-radius: 21px;
          background-color: #414141;
        }
      }

      > .fields-wrapper {
        white-space: nowrap;
        position: relative;
        text-align: center;

        &.without-register sp-tabs > .sp-tabs-selector {
          display: none;
        }

        > div {
          display: inline-block;
          vertical-align: top;
          box-sizing: border-box;
          padding: 0 4em;

          > div {
            margin-bottom: 0.5em;

            input, select {
              &[disabled] {
                opacity: 0.5;
              }
            }
          }
        }

        ::-webkit-input-placeholder {
          text-transform: capitalize;
        }

        ng-include {
          width: 70%;
          margin: auto;
          white-space: normal;

          div{
            padding: 0.7em;

            h6 {
              text-align: start;
              font-size: 1.2em;
              color: #414141;
              line-height: 1.1em;
            }

            .form-required-fields {
              text-align: left;
            }
          }
        }
      }

      > .loyalty-page-link {
        padding-top: 3em;
        text-align: center;
      }

      > .error-message {
        padding: 2em 4em 0 4em;
      }
    }
  }

  .connected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > div {
    > div {
      margin-top: -3em;
      display: inline-block;
      vertical-align: middle;

      > h1 {
        padding-top: 0;
      }

      > .buttons {
        padding: 0 10em;
      }
    }
  }
}

html.rtl {
  .dialog.loyalty > .dialog-body > form > div.content > .fields-wrapper ng-include div,
  .dialog.loyalty > .dialog-body > div > div > div.content > .fields-wrapper ng-include div {
    .form-required-fields {
      text-align: right;
    }
  }
}