<div class="sp-carousel" ng-swipe-left="swipe('left')" ng-swipe-right="swipe('right')"><!--
    --><div class="action previous">
        <span class="for-vertical-align"></span><!--
        --><button type="button" class="no-design" ng-click="previous()" ng-hide="isStart">
            <svg focusable="false" aria-labelledby="previous_button_title" role="img">
                <title id="previous_button_title">{{'the previous items' | translate}}</title>
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-arrow-' + ($root.config.language.direction != 'rtl' ? 'left' : 'right')}}"></use>
            </svg>
        </button>
    </div><!--
    --><div class="items">
        <div class="scroller">
            <div class="transform-wrapper">
                <ng-include src="templateUrl" ng-repeat="chunk in chunks" class="item {{itemClass}}"
                        ng-style="{width:itemActualWidth}" ng-click="spClick(chunk);" tabindex="-1"></ng-include>
            </div>
        </div>
    </div><!--
    --><div class="action next">
        <div class="loading-wrapper">
            <span class="for-vertical-align"></span>
            <img src="//storage.googleapis.com/sp-public/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
        </div>
        <span class="for-vertical-align"></span><!--
        --><button type="button" class="no-design" ng-click="next()" ng-hide="isEnd">
            <svg focusable="false" aria-labelledby="next_button_title" role="img">
                <title id="next_button_title">{{'the next items' | translate}}</title>
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-arrow-' + ($root.config.language.direction != 'rtl' ? 'right' : 'left')}}"></use>
            </svg>
        </button>
    </div><!--
--></div>