<ng-switch on="loginCtrl.currentView">
    <form sp-form-accessibility ng-switch-default class="form" name="loginForm"  ng-submit="loginCtrl.login(loginForm, $event);" novalidate>
        <div class="sp-kikar-input">
            <label
                for="login_email"
                ng-bind="::('Email' | translate) + ' *'">
            </label>
            <input id="login_email"
               type="email"
               name="email"
               ng-model="loginOrRegisterCtrl.user.email"
               required
               sp-inline-error/>
        </div>
        <div class="sp-kikar-input">
            <label for="login_password"
                ng-bind="::('Password' | translate) + ' *'">
            </label>
            <sp-password
                sp-model="loginOrRegisterCtrl.user.password"
                i-id="login_password"
                i-name="password"
                required
                i-sp-inline-error>
            </sp-password>
        </div>

        <div class="forgot-and-register">
            <button type="button"
                class="no-design forgot-password"
                ng-click="loginCtrl.showForgotPassword();"
                ng-bind="::'Forgot password?' | translate">
            </button>
            <button type="button"
                class="no-design register-btn"
                ng-show="loginCtrl.showLoginErr"
                ng-click="loginOrRegisterCtrl.show(loginOrRegisterCtrl.tabs[1])"
                ng-bind="::'Register' | translate">
            </button>
        </div>
        <div ng-if="loginCtrl.showCaptcha">
            <sp-captcha is-invalid="true"></sp-captcha>
        </div>
        <div class="button-wrapper">
            <button type="submit" ng-bind="::'Sign In' | translate"></button>
        </div>
        <div class="button-wrapper">
            <button type="button"
                class="no-design login-with-facebook"
                ng-if="!loginCtrl.hideFacebookLogin && loginCtrl.config.retailer.facebookAppId"
                ng-click="loginCtrl.loginWithFacebook();"
                ng-bind="::'Sign In Using Facebook' | translate">
            </button>
        </div>
        <div aria-live="assertive" class="login-err" ng-if="loginCtrl.showLoginErr || loginCtrl.showServerError">
            <span ng-if="loginCtrl.showLoginErr">
                {{::'Your email or password seems to be wrong' | translate}}.
                {{::'Please try again' | translate}}
            </span>
            <span ng-if="loginCtrl.showServerError" class="user-email-activation-err">
                {{loginCtrl.loginErrFromServerMessage | translate}}.
                <br>
                <span ng-if="loginCtrl.showResendLink"
                      ng-click="loginCtrl.resendActivationLink()"
                      class="link resend-activation-link"
                      ng-if="loginCtrl.loginErrFromServerCode === 'loginAccountNotActivated'">{{'Didn\'t receive an email' | translate}}? - {{'Send again' | translate}}</span>
            </span>
        </div>
        <div aria-live="assertive" class="login-err success-color" ng-show="loginCtrl.successMessage">
            <span>
                {{(loginCtrl.successMessage | translate).replace('{link_ttl}', $root.config.retailer.settings.userEmailVerificationExpirationMinutes)}}
            </span>
        </div>
    </form>

    <form sp-form-accessibility ng-switch-when="forgottenPassword" class="form" name="forgotPasswordForm" ng-submit="loginCtrl.getForgotPasswordCode(forgotPasswordForm, $event);">
        <div class="sp-kikar-input">
            <label for="forgot_email"
                ng-bind="::('Email' | translate) + ' *'">
            </label>
            <input id="forgot_email"
               type="email"
               name="email"
               ng-model="loginOrRegisterCtrl.user.email"
               required
               sp-inline-error/>
        </div>

        <sp-captcha ng-if="loginCtrl.showResetCaptcha" is-invalid="loginCtrl.captchaIsInvalid"></sp-captcha>

        <div class="button-wrapper">
            <button type="submit"
                ng-bind="::'Reset Password' | translate">
            </button>
        </div>
        <div aria-live="assertive" class="server-err-msg"></div>
    </form>

    <div ng-switch-when="forgottenPasswordSent"
         class="reset-password-sent"
         ng-bind="::'Please check your email for the password reset information' | translate">
    </div>

    <form sp-form-accessibility ng-switch-when="resetPassword" class="form" name="resetPasswordForm" ng-submit="loginCtrl.savePassword(resetPasswordForm, $event);">
        <div class="sp-kikar-input">
            <label for="new_password"
                ng-bind="::('New password' | translate) + ' *'">
            </label>
            <sp-password
                i-id="new_password"
                sp-model="loginCtrl.resetData.newPassword"
                i-name="password"
                sp-minlength="6"
                required
                i-sp-inline-error i-autocomplete="off">
            </sp-password>
        </div>
        <div class="sp-kikar-input">
            <label for="reset_confirm_password"
               ng-bind="::('Confirm password' | translate) + ' *'">
            </label>
            <sp-password
                i-id="reset_confirm_password"
                sp-model="loginCtrl.resetData.confirmPassword"
                i-name="resetConfirmPassword"
                required
                i-sp-inline-error i-autocomplete="off"
            </sp-password>
        </div>

        <div class="button-wrapper">
            <button type="submit"
                ng-disabled="resetPasswordForm.$invalid"
                ng-bind="::'Save and Sign in' | translate">
            </button>
        </div>
        <div aria-live="assertive" class="server-err-msg"></div>
    </form>
</ng-switch>