<div class="left">
    <div class="sale-description">
        {{'Please Notice' | translate}},
        <br>
        <span ng-if="irrelevantSalesCount == 1">
            {{'The special displayed below, will expire on the date you are supposed to receive your order' | translate}}
        </span>
        <span ng-if="irrelevantSalesCount != 1">
            {{'The Expiration of these' | translate}}
            {{irrelevantSalesCount}}
            {{'sales will not be valid for this chosen time' | translate}}.
        </span>
        <br>
        <span ng-if="irrelevantSalesCount == 1">
            {{'This product will be charged the regular price, promotion will not be applied' | translate}}
        </span>
        <span ng-if="irrelevantSalesCount != 1">
            {{'These items will be charged at their regular price' | translate}}.
        </span>
        <br>
    </div>
</div>

<div class="list-wrapper">
    <sp-list-items show-irrelevant-sales="true" show-delivery-products="true"></sp-list-items>
</div>
<div class="bottom-sales-items-description">
     <span class="new-cart-estimate">
        <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.PRODUCT]">
            {{('Price of Updated Cart (Est.)' | translate) + ' ' + ($root.cart.total.finalPriceForViewPotential | currency)}}
        </span>
        <span ng-if="lineTypes[$root.SP_SERVICES.CART_LINE_TYPES.DELIVERY]">
            {{('Price of Updated Service Fee (Est.)' | translate) + ' ' + ($root.cart.total.deliveryCost.finalPriceForViewPotential | currency)}}
        </span>
    </span>
    <button class="apply-button right" ng-click="$dialog.hide(true);">
        {{'OK' | translate}}
    </button>
</div>
