html.checkout .dialog-wrapper .dialog.cart-summary-dialog {
  .dialog-body {
    overflow: hidden;
    max-width: 90%;
    min-width: 80%;
    height: 80%;
  }

  .list-wrapper {
    width: 100%;
    box-sizing: border-box;
    height: 67%;
    overflow: hidden;
    padding: 0.2em;
    border: 1px solid #eaeaea;
    border-radius: 3px;

    .sp-list-items-wrapper {
      height: 100%;

      .elastic-row {
        background-color: #ffffff;
      }

      .content-table {
        overflow: auto;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  .sale-description {
    height: 5em;
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1.4em;
    font-weight: normal;
    padding: 0 0.1em;
  }

  .bottom-sales-items-description {
    margin-top: 0.2em;
    padding: 1em 0;

    .apply-button {
      padding: 0 1.5em;
      font-size: 1.2em;
      width: 10em;
      line-height: 3em;
      color: #ffffff;
      font-weight: bold;
      border-radius: 2em;
      border: 1px solid;
    }

    .new-cart-estimate {
      padding: 0 1em;
      font-size: 1.4em;
      line-height: 3em;

      > span:after {
        display: inline;
        content: ',';
      }

      > span:last-child:after {
        content: '';
      }
    }
  }
}


@media screen and (max-width: 1300px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog {
    font-size: 0.86em;
    .list-wrapper {
      height: 70%;
    }
  }
}

@media screen and (max-width: 1160px) {
  html.checkout .dialog-wrapper .dialog.cart-summary-dialog .list-wrapper {
    height: 65%;
  }
}