<div class="home-page-wrapper" ng-controller="KikarHomeCtrl as kikarHomeCtrl">
    <div ng-init="$root.windowSize.homeBackgroundImageHeight = ($root.config.retailer.settings.homePageImageHeight === '2') ? 0.6 : 0.78;"
         class="background-wrapper" role="region" aria-label="{{'home page banner' | translate}}"
         ng-style="{ height: ($root.windowSize.height * $root.windowSize.homeBackgroundImageHeight) + 'px' }"
         ng-class="{ 'with-side-images': $root.config.retailer.hasHomeSideImages }">

        <div class="side-images" ng-if="$root.config.retailer.hasHomeSideImages">
            <a class="top-image" ng-href="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.TOP].href}}">
                <!-- use sp-image-size-setter because of fire fox rendering issue, without it the parent size wasn't set -->
                <img ng-src="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.TOP].url}}" sp-image-size-setter="width"/>
            </a><!--
        --><a class="bottom-image" ng-href="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.BOTTOM].href}}">
            <!-- use sp-image-size-setter because of fire fox rendering issue, without it the parent size wasn't set -->
            <img ng-src="{{$root.config.retailer.homeSideImages[$root.HOME_PAGE_SIDE_DISPLAY_TYPES.BOTTOM].url}}" sp-image-size-setter="width"/>
        </a>
        </div><!--

    --><div class="background">
        <background-img></background-img>
    </div>
    </div>

    <div class="content"
         ng-style="{'margin-top': ($root.windowSize.height * $root.windowSize.homeBackgroundImageHeight) + 'px'}"
         ng-class="{'old-design': kikarHomeCtrl.isOldDesign}"
         role="region" aria-label="{{'Promoted specials' | translate}}">
        <div ng-repeat="component in homeCtrl.components track by component.data.id"
             class="component {{component.isLoadingComponent ? 'loading' : ''}}" ng-if="!component.hasNoItems"
             ng-class="::{ 'item-as-title': homeCtrl.SpHomePageComponents.isTitleAsItem(component.data) }"
             ng-style="::{ 'background-color': component.data.backgroundColor }">
            <div class="header default-text-align" ng-if="::!homeCtrl.SpHomePageComponents.isTitleAsItem(component.data)">
                <div class="title">
                    <h4 ng-if="component.data.names | name:'title'" ng-style="::{ color: component.data.mainColor }">
                        {{component.data.names | name:'title'}}
                    </h4>
                    <h5 ng-if="component.data.names | name:'text'" ng-style="::{ color: component.data.subColor }">
                        {{component.data.names | name:'text'}}
                    </h5>
                </div>
                <div class="link" ng-if="::homeCtrl.SpHomePageComponents.isSingleItemComponent(component.data) && component.data.items.length && component.data.items[0].href">
                    <a class="title-link" 
                        ng-style="::{ color: component.data.items[0].mainColor, 'border-color': component.data.items[0].mainColor }"
                        ng-href="{{::component.data.items[0].href}}">
                        {{component.data.items[0].names | name:'name'}}
                    </a>
                </div>
            </div>
            <div class="content-wrapper carousel-content" ng-if="::homeCtrl.SpHomePageComponents.isCarouselComponent(component.data)">
                <div class="title-as-item"
                     ng-if="::homeCtrl.SpHomePageComponents.isTitleAsItem(component.data)">
                    <h4 ng-if="component.data.names | name:'title'" ng-style="::{ color: component.data.mainColor }">
                        {{component.data.names | name:'title'}}
                    </h4>
                    <h5 ng-if="component.data.names | name:'text'" ng-style="::{ color: component.data.subColor }">
                        {{component.data.names | name:'text'}}
                    </h5>
                    <a ng-href="{{::component.data.items[0].href}}" class="title-link"
                       ng-style="::{ color: component.data.items[0].mainColor, 'border-color': component.data.items[0].mainColor }"
                       ng-if="::homeCtrl.SpHomePageComponents.isSingleItemComponent(component.data) && component.data.items.length && component.data.items[0].href">
                        {{component.data.items[0].names | name:'name'}}
                    </a>
                </div>

                <sp-carousel
                        ng-class="::{
                            'large-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LARGE_PRODUCTS_CAROUSEL,
                            'normal-products-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.PRODUCTS_CAROUSEL,
                            'specials-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.SPECIALS_CAROUSEL,
                            'links-carousel': component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LINKS_CAROUSEL
                        }"
                        template-url="{{::component.carousel.templateUrl}}"
                        load-more-items="::component.carousel.loadItems"
                        functions="::component.carousel.actions"
                        item-width="::kikarHomeCtrl.getCarouselItemWidth(component)"
                        rows="::kikarHomeCtrl.getCarouselRowsNumber(component)"
                        watchers="::component.carousel.watchers"
                        data="::component.carousel.data">
                </sp-carousel>
            </div>
            <div class="content-wrapper posters-content" ng-if="::component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.POSTERS">
                <div class="poster" ng-repeat="poster in component.data.items">
                    <a class="link" ng-if="!!(poster.names | name:'imageResourceUrl')" ng-href="{{::poster.href}}">
                        <div class="image" ng-style="{ 'background-image': 'url(' + (poster.names | name:'imageResourceUrl') + ')' }"></div>
                    </a>
                    <div class="content" ng-if="!(poster.names | name:'imageResourceUrl')"
                         ng-style="::{ 'background-color': poster.backgroundColor }">
                        <h4 ng-style="::{ color: poster.mainColor }">{{poster.names | name:'name'}}</h4>
                        <h5 ng-if="poster.names | name:'text'" ng-style="::{ color: poster.subColor }">
                            {{poster.names | name:'text'}}
                        </h5>
                        <a ng-href="{{::poster.href}}" class="title-link" ng-if="::!!poster.href"
                           ng-style="::{ color: poster.subColor, 'border-color': poster.subColor }">
                            {{(poster.names | name:'title') || poster.href}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="content-wrapper links-content" ng-if="::component.data.typeId === $root.SP_HOME_PAGE_COMPONENT_TYPES.LINKS">
                <sp-items-grid items="::component.data.items" item-width="::kikarHomeCtrl.getCarouselItemWidth(component)">
                    <a ng-href="{{::item.href}}"
                       ng-style="{
                                'background-color': item.backgroundColor,
                                'background-image': 'url(' + (item.names | name:'imageResourceUrl') + ')'
                            }">
                        <span class="transparent-background"
                              ng-if="!!((item.names | name:'imageResourceUrl') && ((item.names | name:'title') || (item.names | name:'name')))"></span>
                        <span class="content">
                            <span class="title" ng-style="{ color: item.subColor }">{{item.names | name:'title'}}</span>
                            <span class="name" ng-style="{ color: item.mainColor }">{{item.names | name:'name'}}</span>
                        </span>
                    </a>
                </sp-items-grid>
            </div>
        </div>

        <div class="loading-wrapper" ng-class="{ shown: homeCtrl.loadingComponentsPromise }">
            <img src="//storage.googleapis.com/sp-public/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
        </div>

        <a class="enter-specials-button" ui-sref="app.specials" ng-class="{ shown: !homeCtrl.components[0].isLoadingComponent }">
            <span class="for-vertical-align"></span><!--
        --><span>{{'Enter specials department' | translate}}</span>
        </a>
    </div>
</div>
