$backgroundHeight: 46.1875em;
$sideImagesMargin: 0.625em;

$carouselHeight: 22.3125em;
$productsCarouselHeight: 19.9375em;
$LinksCarouselHeight: 28.125em;

$componentHorizontalPadding: 1.5313em;
$carouselArrowPadding: 2em;
$titleAsItemPadding: 1em;
$componentArrowPadding: $carouselArrowPadding;

html.home, html.home > body {
  height: 100%;
}

html.home {
  header {
    //height: $toolbarHeight;

    > .menu {
      $background: rgba(255, 255, 255, 0.88);

      background: $background;

      .next-delivery-more-details {
        background: $background;
      }
    }
  }

  &.hub-child header {
    //height: $toolbarHeight + $hubHeaderHeight;
  }

  section.main {
    padding-top: $headerHeight - $menuHeight;
    height: auto;

    section.view {
      width: 100%;
      height: auto;

      //use margin and padding to prevent margin on child element from moving this element
      padding-top: 1px;
      margin-top: -1px;

      .home-page-wrapper {
        .background-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: $backgroundHeight;
          overflow: hidden;
          box-sizing: border-box;

          .background {
            height: 100%;
            position: relative;
            width: 100%;

            > .img-wrapper {
              position: absolute;
              width: 100%;
              height: 100%;

              > .img {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0;
                transition: 1s;

                &.active {
                  opacity: 1;
                  z-index: 1;
                }
              }

              > .choose-image {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 1em;
                text-align: center;
                z-index: 2;

                > button {
                  $size: 0.7em;
                  width: $size;
                  height: $size;
                  border-radius: 100%;
                  border: 2px solid #ffffff;
                  margin: 0 0.2em;
                  transition: 1s;

                  &.active {
                    background: #ffffff;
                  }
                }
              }

              > .pause-auto-change {
                position: absolute;
                left: 0.5em;
                bottom: 0.5em;
                z-index: 2;

                > img.pause-icon {

                }
              }
            }
          }

          &.with-side-images {
            display: flex;

            .side-images {
              height: 100%;
              flex: 0 0 auto;
              position: relative;
              padding-left: $sideImagesMargin;
              padding-right: $sideImagesMargin;

              > * {
                display: block;
                height: 50%;
                box-sizing: border-box;

                img {
                  display: block;
                  height: 100%;
                }
              }

              > .top-image {
                padding-bottom: $sideImagesMargin / 2;
              }

              > .bottom-image {
                padding-top: $sideImagesMargin / 2;
              }
            }

            .background {
              flex: 1 1 auto;
            }
          }
        }

        > .content {
          display: block;
          margin-top: $backgroundHeight;
          text-align: center;
          $dotSize: 2px;
          $dotSpace: 16px;
          background-image: url('//storage.googleapis.com/sp-public/global/frontend-icons/new-template/home-specials-background.png'), radial-gradient(#e8e8e8 $dotSize, transparent $dotSize), radial-gradient(#e8e8e8 $dotSize, transparent $dotSize);
          background-size: auto, $dotSpace $dotSpace, $dotSpace $dotSpace;
          background-color: #f3f3f3;
          background-position: bottom left, 0 0, ($dotSpace / 2) ($dotSpace / 2);
          background-repeat: no-repeat, repeat, repeat;

          //to prevent margin of children from moving this element
          padding-top: 1px;
          position: relative;
          z-index: 1;

          > .component {
            padding: 1.875em $componentHorizontalPadding;

            &.item-as-title {
              background-color: #F7F4ED;
            }

            &.loading {
              // render the element, but hide it while loading
              visibility: hidden;
              height: 0;
              padding-top: 0;
              padding-bottom: 0;
              overflow: hidden;
            }

            h3, h4, h5 {
              padding: 0;
            }

            h3, h4 {
              font-size: 3em;
            }

            h5 {
              font-size: 2em;
              color: #4B4B4B;
              line-height: 1;
            }

            a.title-link {
              display: block;
              font-size: 1.1em;
              color: #747474;
              border: 1px solid #9D9D9D;
              border-radius: 1em;
              padding: 0.4286em 0.6429em;
              background-color: #ffffff;
              min-width: 7em;
              text-align: center;
            }

            > .header {
              display: flex;
              padding: 0 $componentArrowPadding 1em $componentArrowPadding;
              align-items: center;

              > .title {
                flex: 1 1 auto;
                padding: 0;

                h5 {
                  margin-top: 0.4286em;
                }
              }

              > .link {
                flex: 0 0 auto;
              }
            }

            > .content-wrapper {
              padding: 0 $componentArrowPadding;

              &.carousel-content {
                display: flex;
                flex-direction: row;
                padding-left: 0;
                padding-right: 0;
              }

              > .title-as-item {
                $carouselTitleItemWidth: 18em;
                width: $carouselTitleItemWidth;
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                > h3, h4 {
                  font-size: 2.2em;
                }

                > h5 {
                  font-size: 1.6em;
                  margin-top: 1em;
                }

                > a.title-link {
                  margin-top: 1.7143em;
                }

                + .sp-carousel {
                  width: calc(100% - #{$carouselTitleItemWidth});
                }
              }

              > .sp-carousel {
                $carouselProductBorder: 1px solid #e5edec;
                width: 100%;
                height: $carouselHeight;

                /*&.large-products-carousel {
                  height: $largeProductsCarouselHeight;
                }*/

                &.normal-products-carousel {
                  height: $productsCarouselHeight;
                }

                &.large-products-carousel {
                  height: 26em;

                  sp-product {
                    .large-product>.description {
                      margin-bottom: 1em;
                    }
                  }
                }

                &.specials-carousel > .items ng-include .special-item {
                  padding-top: 0;
                  padding-bottom: 0;

                  > .sale-icon {
                    top: $specialItemDistance;
                  }
                }

                &.links-carousel {
                  height: $LinksCarouselHeight;

                  > .items > .scroller {
                    box-shadow: none;
                  }
                }

                > .items {
                  > .scroller {
                    box-shadow: 0 0 43px 0 rgba(0,0,0,0.15);
                  }

                  ng-include {
                    padding: 0;
                    overflow: visible;
                  }
                }
              }

              &.posters-content > .poster {
                width: 50%;
                height: 28em;
                position: relative;
                display: inline-block;
                vertical-align: top;

                > .link {
                  display: block;
                  height: 100%;
                  width: 100%;

                  > .image {
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                  }
                }

                > .content {
                  height: 100%;
                  width: 100%;
                  background-color: #333333;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  box-sizing: border-box;
                  padding: 2em;
                  text-align: center;

                  > h5 {
                    color: #fff;
                    margin-top: 2em;
                  }

                  > a.title-link {
                    background-color: transparent;
                    color: #fff;
                    border-color: #fff;
                    margin-top: 4em;
                  }
                }
              }

              &.links-content sp-items-grid > .sp-grid-item {
                height: 13.65em;
                padding: 0.3125em;

                > a {
                  display: block;
                  height: 100%;
                  width: 100%;
                  position: relative;

                  background-color: #C3AA5A;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: cover;

                  > .transparent-background {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                  }

                  > .content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    text-align: center;

                    > * {
                      display: block;
                    }

                    > .title {
                      font-size: 1.125em;
                    }

                    > .name {
                      font-size: 1.5em;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }

          &.old-design {
            > .component {
              margin-top: -9.5625em;
              padding-top: 0;

              > .header {
                > .title {
                  padding-right: 0.6em;
                  padding-left: 0.6em;
                  padding-bottom: 1em;

                  h3, h4 {
                    font-size: 3.125em;
                  }
                }

                > .link {
                  display: none;
                }
              }
            }

            > .enter-specials-button.shown {
              display: inline-block;
            }
          }

          > .loading-wrapper {
            padding: 1em;
          }

          > .enter-specials-button {
            font-size: 1.5em;
            height: 2.45834em;
            border-radius: 29.5px;
            background-color: #414141;
            margin: 3.3334em 0 4.8333em 0;
            color: #ffffff;
            padding: 0 1em;
            clear: both;

            > * {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  &.hub-child section.main {
    padding-top: $headerHeightWithHub - $menuHeight;
  }

  &.ltr {
    section.main section.view .home-page-wrapper > .content {
      > .component, > .loading-wrapper {
        padding-right: $sidenavWidth;
      }

      > .component > .content-wrapper {
        &.posters-content {
          text-align: left;
        }

        > .title-as-item {
          padding-left: $carouselArrowPadding;
          padding-right: $titleAsItemPadding;
        }
      }

      &.old-design {
        > .component, > .loading-wrapper {
          padding-right: $sidenavWidth + $componentHorizontalPadding;
          padding-left: $menuCategoriesTitleWidth + $componentHorizontalPadding;
        }
      }
    }
  }

  &.rtl {
    section.main section.view .home-page-wrapper {
      > .content {
        > .component, > .loading-wrapper {
          padding-left: $sidenavWidth;
        }

        > .component > .content-wrapper {
          &.posters-content {
            text-align: right;
          }

          > .title-as-item {
            padding-right: $carouselArrowPadding;
            padding-left: $titleAsItemPadding;
          }
        }

        &.old-design {
          > .component, > .loading-wrapper {
            padding-left: $sidenavWidth + $componentHorizontalPadding;
            padding-right: $menuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }

      .background-wrapper .background > .img-wrapper > .pause-auto-change {
        left: auto;
        right: 0.5em;
      }
    }
  }
}

.enter-specials-button {
  display: none;
}

@media screen and (max-width: 1575px) {
  html.home {
    header {
      //height: $responsive1575ToolbarHeight;
    }

    &.hub-child header {
      //height: $responsive1575ToolbarHeight + $hubHeaderHeight;
    }

    section.main {
      padding-top: $responsive1575HeaderHeight - $menuHeight;

      .content.old-design>.component {

      }
    }

    &.hub-child section.main {
      padding-top: $responsive1575HeaderHeightWithHub - $menuHeight;
    }

    &.ltr {
      section.main section.view .home-page-wrapper > .content {
        > .component, > .loading-wrapper {
          padding-right: $responsive1575SidenavWidth;
        }

        &.old-design {
          > .component, > .loading-wrapper {
            padding-right: $responsive1575SidenavWidth + $componentHorizontalPadding;
            padding-left: $responsive1575MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }

    &.rtl {
      section.main section.view .home-page-wrapper > .content {
        > .component, > .loading-wrapper {
          padding-left: $responsive1575SidenavWidth;
        }

        &.old-design {
          > .component, > .loading-wrapper {
            padding-left: $responsive1575SidenavWidth + $componentHorizontalPadding;
            padding-right: $responsive1575MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  html.home section.main section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
    height: 25em;
  }
}

@media screen and (max-width: 1200px) {
  html.home {
    section.main section.view .home-page-wrapper > .content > .component > .content-wrapper.posters-content > .poster {
      height: 21em;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1180px) {
  html.home {
    &.ltr {
      section.main section.view .home-page-wrapper > .content {
        &.old-design {
          > .component, > .loading-wrapper {
            padding-left: $responsive1180MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }

    &.rtl {
      section.main section.view .home-page-wrapper > .content {
        &.old-design {
          > .component, > .loading-wrapper {
            padding-right: $responsive1180MenuCategoriesTitleWidth + $componentHorizontalPadding;
          }
        }
      }
    }
  }
}
