html.checkout section.view .checkout-content .tab>.details section.delivery-details .dropdown-options-wrapper > .dropdown-options ng-include .dropdown-items-wrapper .dropdown-items > .dropdown-item {
  &.selected, &.selected:hover {
    background-color: $secondaryColor;
  }
}


