<sp-sale-icon product="item.item" special="item" class="reminder-to-side"></sp-sale-icon>
<a class="special default-text-align clickable" ng-if="!item.item" ng-class="{'with-expiration': $root.config.retailer.showSpecialsValidity}"
   tabindex="0" sp-focus-in>
    <product-image product="item" image-key="frontendImageUrl" size="medium"></product-image>
    <div class="action-title" ng-bind="'Select from variety' | translate"></div>
    <div class="special-details">
        <div class="description-wrapper">
            <!--<svg focusable="false">-->
                <!--<use xlink:href="#sp-icons-sale-small"></use>-->
            <!--</svg>-->
            <div class="description" special-description-split="{{item.description}}" use-ellipsis="true"></div>
        </div>
        <div class="expiration" ng-bind="('Ends at' | translate) + ' ' + (item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')"></div>
    </div>
    <div class="actions landscape show-on-hover large-actions">
        <span class="for-vertical-align"></span><!--
        --><button class="no-design add-to-cart select">
            <svg focusable="false">
                <use xlink:href="#sp-icons-add-to-cart"></use>
            </svg>
            <span class="text">{{::'Select' | translate}}</span>
        </button>
    </div>
</a>

<div class="special-product default-text-align clickable" ng-if="item.item" ng-class="{'with-expiration': $root.config.retailer.showSpecialsValidity}"
     tabindex="0" sp-focus-in>
    <img class="product-main-tag-icon" ng-if="item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])"
         ng-src="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'iconResourceUrl'}}"
         alt="{{(item.item | productMainTag:(boostProductTags || $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS])).languages | name:'displayName'}}"/>
    <product-image product="item" image-key="frontendImageUrl" size="medium"></product-image>
    <sp-product-pricing-method is-case="item.item.isCaseMode" is-pack="isPack" product="item.item"></sp-product-pricing-method>
    <div class="data">
        <div class="brand-and-weight">
            <span class="brand">
                {{item.item.brand.names | name}}
            </span>
            {{item.item.brand.names && item.item.weight ? ' | ' : ''}}
            <span class="weight reverse-text-align" ng-if="item.item.weight">
                {{ item.item | productWeight }}
            </span>
        </div>

        <div class="name" ellipsis title="{{item.item | productName}}"></div>
        <sp-product-price
                regular-price="item.item | regularPrice"
                sale-price="item.item | salePrice"
                product="item.item"
                show-weight-unit="item.item.isWeighable && !item.item.isCaseMode"
                pack-quantity="isPack && item.item.branch.packQuantity"
        ></sp-product-price>
        <div class="special-details">
            <div class="description-wrapper">
                <!--<svg focusable="false">-->
                    <!--<use xlink:href="#sp-icons-sale-small"></use>-->
                <!--</svg>-->
                <div class="description" special-description-split="{{item.description}}" use-ellipsis="true"></div>
            </div>
            <div class="expiration" ng-bind="('Ends at' | translate) + ' ' + (item.endDate | date: ($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC')"></div>
        </div>
    </div>

    <product-actions class="show-on-hover large-actions" text="{{::'Add' | translate}}" cart="$root.cart" product="item.item" is-case="false" is-pack="isPack"
                     ng-click="$event.stopPropagation();" tabindex="-1"></product-actions>
    <sp-cart-line-count line="item.item.singleLine"></sp-cart-line-count>
</div>