.special-item {
  > .sale-icon > svg {
    fill: $mainColor;
  }

  > .special-product {
    > .product-pricing-method {
      background-color:$secondaryColor;
      > button {
        background-color: $secondaryColor;
      }
    }
  }
}