.sp-kikar-input {
  position: relative;
  color: #939393;
  display: inline-block;

  > * {
    font-size: 1.6em;
  }

  > label {
    position: absolute;
    height: 1em;
    top: 1.6em;
    font-size: 1.10625em;
    transition: 0.4s;
    font-weight: 700;
    pointer-events: none;
  }

  input {
    background: none;
    color: #616161;
  }

  &.floating-label > label {
    top: 0;
    font-size: 0.975em;
  }

  &.sp-inline-error-invalid > label {
    color: #ff0000;
  }
}