<div class="retailer-data-wrapper">
    <img class="logo" ng-src="{{$root.config.retailer.logoUrl | image}}" alt="{{::$root.config.retailer.title}}"/>
    <a class="retailer-data" ui-sref="app.retailerDetails.storeInformation" ng-include="'template/partials/retailer-data/index.html'"></a>
</div>
<div class="retailer-links" refresher="$root.config.language.id">
    <table>
        <tr ng-repeat="link in footerCtrl.links" ng-if="::!($index % 2)">
            <td>
                <span ng-if="::(link.action && !link.href)" class="clickable" ng-click="::link.action()" ng-bind="::(link.text ? (link.text | translate) : link.name)"></span>
                <a ng-if="::link.href" ng-href="{{::link.href}}" target="{{::(link.target || '')}}">
                    <span ng-if="::!link.image" ng-bind="::(link.text ? (link.text | translate) : link.name)"></span>
                    <img ng-if="::link.image" title="{{::(link.text ? (link.text | translate) : link.name)}}"
                         ng-src="{{::link.image}}" alt="{{::(link.text ? (link.text | translate) : link.name)}}">
                </a>
            </td>
            <td ng-init="nextLink = footerCtrl.links[$index + 1]">
                <span ng-if="::(nextLink.action && !nextLink.href)" class="clickable" ng-click="::nextLink.action()" ng-bind="::(nextLink.text ? (nextLink.text | translate) : nextLink.name)"></span>
                <a ng-if="::nextLink.href" ng-href="{{::nextLink.href}}" target="{{::(nextLink.target || '')}}">
                    <span ng-if="::!nextLink.image" ng-bind="::(nextLink.text ? (nextLink.text | translate) : nextLink.name)"></span>
                    <img ng-if="::nextLink.image" title="{{::(nextLink.text ? (nextLink.text | translate) : nextLink.name)}}"
                         ng-src="{{::nextLink.image}}" alt="{{::(nextLink.text ? (nextLink.text | translate) : nextLink.name)}}">
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="powered-by-wrapper">
    <a ng-href="http://www.{{$root.config.retailer.companyDetails.domain}}" target="_blank">
        <div>{{::'Powered by' | translate}}
            <img ng-src="{{$root.config.retailer.companyDetails.logoOnDark}}"
                 alt="{{( $root.config.retailer.companyDetails.names | name)}}"/>
        </div>
    </a>
</div>