$retailerDetailsWrapperDistance: 4.25em;
$retailerDataContentPaddingLeft: 0.6106em;
$leftRetailerLinkPaddingRight: 3em;

body > footer {
  display: none;

  $footerHeight: 3em;
  padding: 4em 2.1em;
  //height: $footerHeight;
  background-color: #3b393d;
  color: #ffffff;
  text-align: center;

  > * {
    display: inline-block;
    vertical-align: middle;
    text-align: initial;
  }

  > .retailer-data-wrapper {
    position: relative;
    padding-right: $retailerDetailsWrapperDistance / 2;
    margin-right: $retailerDetailsWrapperDistance / 2;

    > img.logo {
      height: 4.7328em;
      padding-bottom: 1.5em;
    }

    > .retailer-data {
      font-size: 0.81875em;
      display: block;

      .store-icon {
        fill: #ffffff;
      }

      .content {
        padding-left: $retailerDataContentPaddingLeft;

        > .text {
          > .retailer-name {
            display: block;
            padding-bottom: 0.229em;
          }

          > .zip {
            border: none;
          }
        }
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 5%;
      bottom: 5%;
      width: 1px;
      background-color: #ffffff;
    }
  }

  > .retailer-links {
    > table {
      font-size: 0.8125em;

      tr > td {
        padding: 0.7692em 0;
        img{
          max-height: 1.5em;
          max-width: 4em;
        }

        &:first-child {
          padding-right: $leftRetailerLinkPaddingRight;
        }
      }
    }
  }

  > .powered-by-wrapper {
    display: block;
    text-align: center;
    padding-top: 3.125em;

    > a {
      font-size: 0.81875em;

      img {
        max-width: 4em;
        vertical-align: middle;
      }
    }
  }
}

html {
  &.home > body > footer {
    display: block;
  }

  &.rtl {
    body > footer {
      > .retailer-data-wrapper {
        padding-right: 0;
        padding-left: $retailerDetailsWrapperDistance / 2;
        margin-right: 0;
        margin-left: $retailerDetailsWrapperDistance / 2;

        > .retailer-data .content {
          padding-left: 0;
          padding-right: $retailerDataContentPaddingLeft;
        }

        &:after {
          right: auto;
          left: 0;
        }
      }

      > .retailer-links > table tr > td:first-child {
        padding-right: 0;
        padding-left: $leftRetailerLinkPaddingRight;
      }
    }
  }
}