<div class="sp-slider-picker-wrapper {{direction}}" >
    <div class="sp-slider-picker dropdown-options-wrapper" ng-controller="SliderPickerKikarCtrl"
         ng-class="{'has-scroll': isScrollers, 'has-primary-item': picker.primaryItem}">
        <div class="slider-primary-item" ng-if="picker.primaryItem">
            <span class="primary-text">{{::'OR' | translate}}</span>
            <button type="button"
                    class="no-design default-text-align slider-primary-item-btn"
                    ng-click="!picker.primaryItem.isDisabled && sliderPickerCtrl.selectPrimaryItem(picker.primaryItem, $event);"
                    ng-class="{
                        'selected': spModel[picker.key] == (picker.primaryItem.value || picker.primaryItem),
                        'dropdown-shown': dropDownItem == picker.primaryItem,
                        'disabled': picker.primaryItem.isDisabled
                    }"
                    ng-style="primaryItemStyle">
                <ng-include ng-if="picker && (picker.primaryItem.templateUrl || picker.templateUrl)"
                            src="picker.primaryItem.templateUrl || picker.templateUrl"></ng-include>
                <span class="label" ng-if="picker.primaryItem.label">
                    <span>{{picker.primaryItem.label}}</span>
                    <span class="for-vertical-align"></span>
                </span>
            </button>
        </div>
        <div class="slide-btn-wrapper slide-up">
            <button type="button" class="no-design" ng-click="sliderPickerCtrl.scroll(-1, $event);" tabindex="-1">
                <span>
                    <img class="up-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/slider-arrow-up.png" alt="{{'up' | translate}}"/>
                    <img class="left-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow_left.png" alt="{{'left' | translate}}"/>
                    <img class="right-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow_right.png" alt="{{'right' | translate}}"/>
                </span>
            </button>
        </div>
        <div class="slider-items-padding-wrapper">
            <div class="slider-items-wrapper">
                <div class="slider-items">
                    <label ng-repeat="item in (picker ? picker.items : [])" ng-style="itemStyle" class="default-text-align slider-item"
                           ng-class="{
                            'has-next': hasNext,
                            'selected': spModel[picker.key] == (item.value || item),
                            'disabled': item.dropDown && (!item.dropDown.items || !item.dropDown.items.length),
                            'dropdown-shown': dropDownItem == item,
                            'focus': item._inFocus
                           }">
                        <span class="input-wrapper">
                            <input type="radio" role="radio"
                                   ng-model="spModel[picker.key]"
                                   ng-value="item.value || item"
                                   ng-change="sliderPickerCtrl.selectItem(item, $index);"
                                   ng-focus="item._inFocus = true"
                                   ng-blur="item._inFocus = false"
                                   ng-disabled="item.dropDown && (!item.dropDown.items || !item.dropDown.items.length)"
                                   aria-checked="{{sliderPickerCtrl.dropDownItem === item}}"
                                   name="slider-item-radio-button">
                        </span>
                        <span class="slider-item-content">
                            <ng-include ng-if="picker && picker.templateUrl"
                                        src="picker ? picker.templateUrl : ''"></ng-include>
                            <span class="label" ng-if="item.label">
                                <span>{{item.label}}</span>
                                <span class="for-vertical-align"></span>
                            </span>
                            <span class="arrow-icon">
                                <img class="arrow-right" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow-button-white.png" alt="{{'right' | translate}}"/>
                                <img class="arrow-left" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow-left-button-white.png" alt="{{'left' | translate}}"/>
                                <img class="arrow-down" src="//storage.googleapis.com/sp-public/global/frontend-icons/full-arrow-down.png" alt="{{'down' | translate}}"/>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="slide-btn-wrapper slide-down">
            <button type="button" class="no-design" ng-click="sliderPickerCtrl.scroll(1, $event);" tabindex="-1">
                <span>
                    <img class="down-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/slider-arrow-down.png" alt="{{'down' | translate}}"/>
                    <img class="left-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow_left.png" alt="{{'left' | translate}}"/>
                    <img class="right-arrow" src="//storage.googleapis.com/sp-public/global/frontend-icons/arrow_right.png" alt="{{'right' | translate}}"/>
                </span>
            </button>
        </div>
        <div  class="dropdown-options shown" ng-show="sliderPickerCtrl.dropDownItem && sliderPickerCtrl.dropDownItem !== picker.primaryItem">
            <div class="dropdown-arrow-wrapper"><span class="arrow"></span></div>
            <ng-include src="sliderPickerCtrl.dropDownItem.templateUrl"></ng-include>
        </div>
    </div>
</div>