$pickersArrowSize: 1em;
$edgesBorderRadius: 5px;
$sliderItemsBorder: 1px solid #adadad;

// horizontal
$pickersHorizontalWidth: 24em;
$primaryItemWidth: 4.5em;
$primaryItemMarginRight: 2em;

.sp-slider-picker-wrapper {
  display: inline-block;

  .next-picker-wrapper {
    display: inline-block;
  }

  .sp-slider-picker {
    position: relative;

    > .slide-btn-wrapper {
      position: absolute;
      z-index: 1;
      background-color: #fff;
      display: none;

      &.slide-up > button, &.slide-down > button {
        text-align: center;

        img {
          display: none;
        }

        > span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    &.has-scroll > .slide-btn-wrapper {
      display: block;
    }

    > .slider-items-padding-wrapper {
      overflow: hidden;

      > .slider-items-wrapper {
        &:before {
          content: "";
        }

        > .slider-items {
          > .slider-item {
            display: inline-block;
            height: 100%;
            position: relative;
            @include box-sizing(border-box);

            > .input-wrapper {
              display: inline-block !important;
              width: 0 !important;
              height: 0 !important;
              padding: 0 !important;
              margin: 0 !important;
              overflow: hidden !important;
              position: absolute;
            }

            > .slider-item-content {
              display: block;
              border: $sliderItemsBorder;
              @include border-radius(5px);
              height: 100%;
              width: 100%;
              @include box-sizing(border-box);
              margin: auto;

              > .label {
                display: inline-block;
              }
            }

            &.selected {
              color: #ffffff;
              font-weight: 700;

              &.has-next .arrow-icon {
                display: block;
                position: absolute;

                img {
                  display: none;
                  width: 100%;
                  height: 100%;
                }
              }
            }

            &.full {
              cursor: default;
              opacity: 0.8;

              > .slider-item-content {
                //background: repeating-linear-gradient(
                //                -45deg,
                //                #EDEDED,
                //                #A29E9E 1px,
                //                #ffffff 1px,
                //                #ffffff 4px
                //);
              }

              &.dropdown-shown > .slider-item-content {
                border: $sliderItemsBorder;
              }
            }

            &.disabled {
              cursor: default;
              opacity: 0.6;

              > .slider-item-content {
                background: repeating-linear-gradient(
                                -45deg,
                                #EDEDED,
                                #EDEDED 1px,
                                #ffffff 1px,
                                #ffffff 4px
                );
              }

              &.dropdown-shown > .slider-item-content {
                border: $sliderItemsBorder;
              }
            }

            .arrow-icon {
              display: none;
            }
          }
        }
      }
    }
  }

  &.vertical {
    $pickersVerticalWidth: 18em;

    &.full-size {
      height: 100%;

      .sp-slider-picker {
        height: 100%;
      }
    }

    .sp-slider-picker {
      display: inline-block;
      height: $pickersVerticalWidth + ($pickersArrowSize * 2);
      padding-right: 0.3em;

      > .slide-btn-wrapper {
        &.slide-up {
          top: 0;
        }

        &.slide-down {
          bottom: 0;
        }

        &.slide-up, &.slide-down {
          left: 0;

          > button {
            width: 100%;
            height: $pickersArrowSize;
            display: block;

            img {
              &.down-arrow, &.up-arrow {
                display: block;
              }
            }
          }
        }
      }

      > .slider-items-padding-wrapper, > .slide-btn-wrapper {
        width: 12em;

        //&.slide-up > button, &.slide-down > button, > .slider-items-wrapper {
        //  border-right: $sliderItemsBorder;
        //  border-left: $sliderItemsBorder;
        //}

        //&.slide-up > button {
        //  @include border-radius($edgesBorderRadius $edgesBorderRadius 0 0);
        //  border-top: $sliderItemsBorder;
        //}

        //&.slide-down > button {
        //  @include border-radius(0 0 $edgesBorderRadius $edgesBorderRadius);
        //  border-bottom: $sliderItemsBorder;
        //}
      }

      > .slider-items-padding-wrapper {
        height: $pickersVerticalWidth;
        padding: $pickersArrowSize 0;

        > .slider-items-wrapper {
          height: 100%;

          &:before {
            display: block;
            height: 1px;
            margin-top: -1px;
          }

          > .slider-items {
            height: 100%;
            @include transition(margin-top 100ms);
              > .slider-item {
                display: block;
                padding: 0.75em 1em;
                width: 100%;
                height: 3em;
              //border-bottom: $sliderItemsBorder;

              > .slider-item-content > .label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 110%;
              }

              &.selected.has-next .arrow-icon {
                top: 0;
                left: 100%;
                width: 0.6em;
                height: 100%;

                img.arrow-right {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  &.horizontal {
    &.full-size {
      width: 100%;

      .sp-slider-picker {
        width: 100%;

        > .slider-items-padding-wrapper {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    .sp-slider-picker {
      width: $pickersHorizontalWidth + ($pickersArrowSize * 2);
      padding-bottom: 0.3em;

      &:last-child {
        padding-bottom: 0;
      }

      > .slide-btn-wrapper {
        &.slide-up {
          left: 0;

          > button img.left-arrow {
            display: block;
          }
        }

        &.slide-down {
          right: 0;

          > button {
            //border-left: $sliderItemsBorder;

            img.right-arrow {
              display: block;
            }
          }
        }

        &.slide-up, &.slide-down {
          top: 0;

          > button {
            height: 100%;
            width: $pickersArrowSize;
            display: inline-block;
          }
        }
      }

      > .slider-items-padding-wrapper, &.has-scroll > .slide-btn-wrapper {
        height: 100%;
        display: inline-block;
        vertical-align: top;

        //&.slide-up > button, &.slide-down > button, > .slider-items-wrapper {
        // border-top: $sliderItemsBorder;
        //border-bottom: $sliderItemsBorder;
        //}

        //&.slide-up > button {
        //@include border-radius($edgesBorderRadius 0 0 $edgesBorderRadius);
        // border-left: $sliderItemsBorder;
        //}

        //&.slide-down > button {
        // @include border-radius(0 $edgesBorderRadius $edgesBorderRadius 0);
        //  border-right: $sliderItemsBorder;
        //}
      }

      > .slider-items-padding-wrapper {
        width: $pickersHorizontalWidth;
        //border-radius: $edgesBorderRadius;
        //border-left: $sliderItemsBorder;
        //border-right: $sliderItemsBorder;

        > .slider-items-wrapper {
          width: 100%;
          height: 100%;
          @include box-sizing(border-box);
          overflow: hidden;

          &:before {
            display: none;
          }

          > .slider-items {
            height: 100%;
            width: 100%;
            @include transition(margin-left 100ms);
            text-align: left;
            white-space: nowrap;

            > .slider-item {
              display: inline-block;
              padding: 0 0.2em;
              height: 100%;
              width: $pickersHorizontalWidth / 6;
              vertical-align: middle;

              > .slider-item-content > .label {
                width: 100%;
                height: 100%;
                overflow: hidden;
              }

              &.selected.has-next .arrow-icon {
                top: 100%;
                left: 0;
                height: 0.6em;
                width: 100%;

                img.arrow-down {
                  display: block;
                }
              }

              //&:first-child {
              //  border-left-width: 0;
              //}
              //
              //&:last-child {
              //  border-right-width: 0;
              //}
            }
          }
        }
      }

      &.has-scroll > .slider-items-padding-wrapper {
        padding: 0 $pickersArrowSize;
        //border-left-width: 0;
        //border-right-width: 0;

        //> .slider-items-wrapper > .slider-items > .slider-item {
        //  &:first-child {
        //    border-left-width: 1px;
        //  }
        //}
      }

      > .slider-primary-item {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        > .primary-text, > .slider-primary-item-btn {
          vertical-align: middle;
          display: inline-block;
          color: #606060;
        }

        > .primary-text {
          font-size: 0.875em;
          font-weight: 700;
          padding: 0 0.4em;
        }

        > .slider-primary-item-btn {
          width: $primaryItemWidth;
          height: 100%;
          border: 1px solid #adadad;
          text-align: center;
          @include border-radius(5px);

          &.selected {
            color: #ffffff;
          }

          &.disabled {
            cursor: default;
            background: repeating-linear-gradient(
                            -45deg,
                            #EDEDED,
                            #A29E9E 1px,
                            #ffffff 1px,
                            #ffffff 4px //#EDEDED
            );
          }

          &.full {
            cursor: default;
            opacity: 0.6;
          }
        }
      }

      &.has-primary-item {
        > .slider-items-padding-wrapper {
          padding-right: $primaryItemWidth + $primaryItemMarginRight + $pickersArrowSize;
          width: 100%;
        }

        > .slide-btn-wrapper.slide-down {
          right: $primaryItemWidth + $primaryItemMarginRight;
        }
      }

      > .dropdown-options {
        position: relative;
        height: 10em;
        width: 100%;
        padding: 0.2em 0;
        max-height: 13.2em;
        margin-top: 14px;
        background-color: #ffffff;
        z-index: 1;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.22);
        @include border-radius(0 0 0 0);

        > .dropdown-arrow-wrapper {
          $size: 1em;
          display: block;
          position: absolute;
          width: 100%;
          height: $size;
          overflow: hidden;
          z-index: 10;
          left: 0;
          top: $size * -1;

          > .arrow {
            display: inline-block;
            vertical-align: bottom;
            width: $size;
            height: $size;
            background-color: #fff;
            transform: rotate(45deg);
            margin-top: 0.6em;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.22);
          }
        }

        > ng-include {
          display: block;
          height: 100%;
        }
      }
    }
  }
}

.rtl {
  .sp-slider-picker-wrapper {
    &.vertical .sp-slider-picker {
      padding-right: 0;
      padding-left: 0.3em;

      > .slide-btn-wrapper {
        &.slide-up, &.slide-down {
          left: auto;
          right: 0;
        }
      }

      > .slider-items-padding-wrapper > .slider-items-wrapper > .slider-items > .slider-item.selected.has-next .arrow-icon {
        left: 0;
        right: 100%;
      }
    }

    &.horizontal .sp-slider-picker {
      > .slide-btn-wrapper {
        &.slide-up {
          left: auto;
          right: 0;

          > button img {
            &.left-arrow {
              display: none;
            }

            &.right-arrow {
              display: block;
            }
          }
        }

        &.slide-down {
          right: auto;
          left: 0;

          > button {
            //border-left-width: 0;
            //border-right: $sliderItemsBorder;

            img {
              &.right-arrow {
                display: none;
              }

              &.left-arrow {
                display: block;
              }
            }
          }
        }
      }

      > .slider-items-padding-wrapper, &.has-scroll > .slide-btn-wrapper {
        //&.slide-up > button {
        //  @include border-radius(0 $edgesBorderRadius $edgesBorderRadius 0);
        //  border-right: $sliderItemsBorder;
        //}

        //&.slide-down > button {
        //  @include border-radius($edgesBorderRadius 0 0 $edgesBorderRadius);
        //  border-left: $sliderItemsBorder;
        //}
      }

      > .slider-items-padding-wrapper {
        > .slider-items-wrapper {
          > .slider-items {
            @include transition(margin-right 100ms);
            text-align: right;

            > .slider-item {
              //border-left-width: 0;
              //border-right: $sliderItemsBorder;

              &.selected.has-next .arrow-icon {
                left: auto;
                right: 0;
              }

              //&:first-child {
              //  border-right-width: 0;
              //}
              //
              //&:last-child {
              //  border-left-width: 0;
              //}
            }
          }
        }
      }

      //&.has-scroll > .slider-items-padding-wrapper {
      //  > .slider-items-wrapper > .slider-items > .slider-item:first-child {
      //    border-left-width: 0;
      //    border-right-width: 1px;
      //  }
      //}

      > .slider-primary-item {
        right: auto;
        left: 0;
      }

      &.has-primary-item {
        > .slider-items-padding-wrapper {
          padding-right: 0.9em;
          padding-left: $primaryItemWidth + $primaryItemMarginRight + $pickersArrowSize;
        }

        > .slide-btn-wrapper.slide-down {
          right: auto;
          left: $primaryItemWidth + $primaryItemMarginRight;
        }
      }
    }
  }
}