<span class="for-vertical-align"></span><!--
--><div class="finish-content">
    <svg focusable="false" class="delivery">
        <use xlink:href="#sp-icons-next-delivery"></use>
    </svg>
    <h1 class="thank-you" id="page_title">
        {{finishCtrl.userData.firstName}},<br/>
        {{('thank you for shopping at' | translate) + ' ' + finishCtrl.retailerData.title}}
    </h1>
    <svg focusable="false" class="approval">
        <use xlink:href="#sp-icons-approval"></use>
    </svg>
    <div class="order-confirmation">
        {{'We just sent you an order confirmation by email' | translate}}<br/>
        {{('Order ID' | translate) + ' ' + checkoutCtrl.oid}}
    </div>
    <div class="order-type" ng-if="checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{checkoutCtrl.detailsData.isShippingService ?
        ('You selected' | translate) :
        ('Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') | translate)}}:
    </div>
    <div class="order-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type != $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
        ('Today' | translate) + ' ' :
        (checkoutCtrl.detailsData.delivery.times.isToday ? 'Today' : 'day' + checkoutCtrl.detailsData.delivery.times.day | translate) + ' ' +
        (checkoutCtrl.detailsData.delivery.times.date | date:($root.config.isUs ? 'MM/dd' : 'dd/MM'):'UTC')}}
        <div>
            {{checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_HOURS ?
            ('in' | translate) + ' ' + (checkoutCtrl.detailsData.delivery.time.timeRange | date:($root.config.isUs ? 'hh:mm': 'HH:mm'):'UTC') + ' ' + ('hours' | translate) :
            ($root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ?
            ('at_hour' | translate) + ' ' + ((checkoutCtrl.detailsData.delivery.time.fromDisplay || checkoutCtrl.detailsData.delivery.time.from) | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC') :
            ('at' | translate) + ' ' + (checkoutCtrl.detailsData.delivery.time.from| date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC')
            + ' - ' + (checkoutCtrl.detailsData.delivery.time.to | date:($root.config.isUs ? 'hh:mm a': 'HH:mm'):'UTC'))}}
        </div>
        <div class="footnote" ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
            {{'the waiting period will not exceed two hours' | translate}}
        </div>
    </div>
    <div class="order-type" ng-if="checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{'Your order will be ' + (checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'delivered' : 'ready for pickup') + ' in' | translate}}:
    </div>
    <div class="order-time" ng-if="!checkoutCtrl.detailsData.isShippingService && checkoutCtrl.detailsData.delivery.time.type == $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
        {{checkoutCtrl.detailsData.delivery.time.daysRange}} {{'Business Days' | translate}}
    </div>
    <div class="order-time" ng-if="checkoutCtrl.detailsData.isShippingService">
        {{checkoutCtrl.detailsData.delivery.time.serviceName}}
    </div>
    <button class="no-design continue-shopping" ng-click="finishCtrl.continue();">{{'HomePageNavigation' | translate}}</button>

    <div class="edit-order-wrapper">
        {{'Forgot something' | translate}}? {{'You can still edit your order' | translate}}&nbsp
        <button class="no-design" ng-click="finishCtrl.editOrder()">{{'Edit order' | translate}}</button>
    </div>
</div>