/*LTR Open suggestions animations*/
@keyframes ltrOpenSuggestions {
  0%, 30% {
    margin-left: -($productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth);
  }

  30% {
    margin-left: -($productsSuggestionsOpenNameWidth - 1em);
  }

  0%, 90% {
    box-shadow: none;
  }
}

@keyframes ltrOpenSuggestionsName {
  0%, 30% {
    width: $productsSuggestionsNameWidth;
    left: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
  }
}

@keyframes ltrOpenSuggestionsNameSpan {
  0%, 30% {
    font-size: $closedProductsSuggestionsNameFontSize;
  }

  0%, 29.9% {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }

  30% {
    transform: rotate(0);
    writing-mode: unset;
  }
}

@keyframes ltrOpenSuggestionsCarousel {
  0%, 30% {
    margin-left: $closedProductsSuggestionsCarouselMarginLeft;
  }
}

/*LTR Close suggestions animations*/
@keyframes ltrCloseSuggestions {
  0%, 70% {
    margin-left: 0;
    box-shadow: none;
  }

  70% {
    margin-left: -($productsSuggestionsOpenNameWidth - 1em);
  }
}

@keyframes ltrCloseSuggestionsName {
  0% {
    width: $productsSuggestionsOpenNameWidth;
    left: 0;
  }

  70% {
    width: $productsSuggestionsNameWidth;
    left: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
  }
}

@keyframes ltrCloseSuggestionsNameSpan {
  0%, 69% {
    transform: rotate(0);
    writing-mode: unset;
  }

  0% {
    font-size: $openedProductsSuggestionsNameFontSize;
  }

  70% {
    font-size: $closedProductsSuggestionsNameFontSize;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}

@keyframes ltrCloseSuggestionsCarousel {
  0% {
    margin-left: $openedProductsSuggestionsNameFontSize;
  }

  70% {
    margin-left: $closedProductsSuggestionsCarouselMarginLeft;
  }
}


/*RTL Open suggestions animations*/
@keyframes rtlOpenSuggestions {
  0%, 30% {
    margin-right: -($productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth);
  }

  30% {
    margin-right: -($productsSuggestionsOpenNameWidth - 1em);
  }

  0%, 90% {
    box-shadow: none;
  }
}

@keyframes rtlOpenSuggestionsName {
  0%, 30% {
    width: $productsSuggestionsNameWidth;
    right: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
  }
}

@keyframes rtlOpenSuggestionsNameSpan {
  0%, 30% {
    font-size: $closedProductsSuggestionsNameFontSize;
  }

  0%, 29.9% {
    writing-mode: vertical-rl;
  }

  30% {
    writing-mode: unset;
  }
}

@keyframes rtlOpenSuggestionsCarousel {
  0%, 30% {
    margin-right: $closedProductsSuggestionsCarouselMarginLeft;
  }
}

/*LTR Close suggestions animations*/
@keyframes rtlCloseSuggestions {
  0%, 70% {
    margin-right: 0;
    box-shadow: none;
  }

  70% {
    margin-right: -($productsSuggestionsOpenNameWidth - 1em);
  }
}

@keyframes rtlCloseSuggestionsName {
  0% {
    width: $productsSuggestionsOpenNameWidth;
    right: 0;
  }

  70% {
    width: $productsSuggestionsNameWidth;
    right: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
  }
}

@keyframes rtlCloseSuggestionsNameSpan {
  0% {
    font-size: $openedProductsSuggestionsNameFontSize;
  }

  0%, 69% {
    writing-mode: unset;
  }

  70% {
    font-size: $closedProductsSuggestionsNameFontSize;
    writing-mode: vertical-rl;
  }
}

@keyframes rtlCloseSuggestionsCarousel {
  0% {
    margin-right: $openedProductsSuggestionsNameFontSize;
  }

  70% {
    margin-right: $closedProductsSuggestionsCarouselMarginLeft;
  }
}