<div class="cart-summary-wrapper" refresher="$root.config.language.id">
    <h1 ng-bind="::'Your shopping cart' | translate" id="page_title"></h1>
    <div class="products-suggestions-wrapper" ng-if="cartSummaryCtrl.isProductSuggestionsActive"
         ng-class="{
            'open': cartSummaryCtrl.productsSuggestionsShown,
            'open-animations': cartSummaryCtrl.productsSuggestionsAnimations && cartSummaryCtrl.productsSuggestionsShown,
            'close-animations': cartSummaryCtrl.productsSuggestionsAnimations && !cartSummaryCtrl.productsSuggestionsShown
         }">
        <div class="products-suggestions-focus-trap" tabindex="0" ng-focus="cartSummaryCtrl.trapProductsSuggestionsFocus(0)" ng-if="cartSummaryCtrl.productsSuggestionsShown"></div>
        <button class="close no-design" ng-click="$event.stopPropagation(); cartSummaryCtrl.toggleProductsSuggestions(false);" ng-if="cartSummaryCtrl.productsSuggestionsShown">
            <svg focusable="false" aria-labelledby="close_suggestions_title" role="img">
                <title id="close_suggestions_title">{{'close our Top Picks' | translate}}</title>
                <use xlink:href="#sp-icons-close"></use>
            </svg>
        </button>
        <div class="products-suggestions" ng-click="$event.stopPropagation();" tabindex="-1" role="dialog" aria-label="{{'Review our last minute recommendations, just before you checkout' | translate}}">
            <button class="name no-design" ng-click="cartSummaryCtrl.toggleProductsSuggestions()" aria-haspopup="true" aria-expanded="{{cartSummaryCtrl.productsSuggestionsShown}}">
                <span class="for-vertical-align"></span><!--
                --><span ng-bind="$root.config.retailer.productSuggestionsDisplayName || ('Our Top Picks' | translate)"></span>
            </button>
            <sp-carousel template-url="template/partials/carousel-product-item/index.html"
                         load-more-items="cartSummaryCtrl.loadProductSuggestions"
                         functions="cartSummaryCtrl.suggestionsCarouselFunctions"
                         watchers="cartSummaryCtrl.productSuggestionsCarousel"
                         item-width="350"
                         ng-style="$root.config.retailer.productSuggestionsBackgroundUrl ? {'background-image': 'url(' + $root.config.retailer.productSuggestionsBackgroundUrl + ')'} : null">
            </sp-carousel>
        </div>
        <div class="products-suggestions-focus-trap" tabindex="0" ng-focus="cartSummaryCtrl.trapProductsSuggestionsFocus(1)" ng-if="cartSummaryCtrl.productsSuggestionsShown"></div>
    </div>
    <div class="tools">
        <div class="sort-by">
            <svg focusable="false">
                <use xlink:href="#sp-icons-sort"></use>
            </svg><!--
            --><span>{{'Sort by' | translate}}:</span><!--
            --><sp-radio options="cartSummaryCtrl.radioOptions" sp-model="cartSummaryCtrl.radioValue" class="switcher" role="radiogroup" aria-label="{{'Sort by' | translate}}"></sp-radio>
        </div><!--
        --><div class="add-coupon" ng-if="$root.config.retailer.allowCoupons"><!--
        --><form name="coupon" ng-submit="cartSummaryCtrl.addCouponToCart(cartSummaryCtrl.coupon.couponCode)" aria-label="{{'Add coupon' | translate}}">
            <input type="text" placeholder="{{'Coupon Number' | translate}}" ng-model="cartSummaryCtrl.coupon.couponCode"/>
            <button
                    type="submit"
                    ng-bind="'Add' | translate">
            </button>
        </form><!--
        --></div><!--
        --><button class="no-design clear-cart" ng-click="cartSummaryCtrl.clearCart();">
            <svg focusable="false">
                <use xlink:href="#sp-icons-remove"></use>
            </svg><!--
            --><span ng-bind="'Clear Cart' | translate"></span>
        </button><!--
        --><sp-kikar-dropdown>
            <sp-kikar-text>
                <svg focusable="false">
                    <use xlink:href="#sp-icons-create-list"></use>
                </svg><!--
                --><span ng-bind="'Save as a shopping list' | translate"></span>
            </sp-kikar-text>
            <sp-kikar-option sp-click="cartSummaryCtrl.createNewShopList()">
                {{::'Create new list' | translate}}...
            </sp-kikar-option>
            <sp-kikar-option ng-repeat="shopList in cartSummaryCtrl.shopLists" sp-click="cartSummaryCtrl.saveToShopList(shopList);">
                {{::shopList.name}}
            </sp-kikar-option>
        </sp-kikar-dropdown>
    </div>
    <sp-list-items radio-value="cartSummaryCtrl.radioValue"></sp-list-items>
    <checkout-bottom-banner
            next-action="cartSummaryCtrl.proceedToCheckout();"
            btn-text="{{'Proceed to Checkout' | translate}}"
            extra-banner="$root.config.retailer.loyaltyClubDriver.isActive && cartSummaryCtrl.userConnected &&
            (cartSummaryCtrl.userLoyaltyClubCardId ? '' :
            (cartSummaryCtrl.userLoyaltyVerificationStatus == 1 ?
            ($root.config.retailer.loyaltyClubDriver.clientConfig.banners.connectToCard || '') :
            ($root.config.retailer.loyaltyClubDriver.clientConfig.banners.registrationCheckout || '')))"
            role="region" aria-label="{{'checkout footer' | translate}}">
    </checkout-bottom-banner>
</div>