$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$productsSuggestionsHeight: 13em;
$productsSuggestionsNameWidth: 4.5em;
$productsSuggestionsOpenNameWidth: 10em;
$closedProductsSuggestionsNameFontSize: 1.5em;
$openedProductsSuggestionsNameFontSize: 2.1em;
$closedProductsSuggestionsCarouselMarginLeft: -100%;
$openedProductsSuggestionsCarouselMarginLeft: 0;
$openedProductsSuggestionsShadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);

$suggestionsAnimationDuration: 1s;

@import './animations';

html.cart-summary {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;

    background: $backgroundColor;

    > div {
      width: $checkoutWidth;
      margin: auto;
      color: $grayColor;

      > .cart-summary-wrapper {
        > h1 {
          padding: 0.8em 0;
          color: inherit;
        }

        > .tools {
          border-bottom: 1px solid #cccccc;
          padding-bottom: 1.25em;
          white-space: nowrap;
          position: relative;
          z-index: 3;

          > * {
            display: inline-block;
            vertical-align: middle;
            padding: 0 1.375em;
            position: relative;

            &:after {
              $height: 1.6875em;
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: $height;
              margin-top: $height / -2;
              background-color: #cccccc;
            }

            &:last-child:after {
              display: none;
            }
          }

          svg:not(.arrow) {
            width: 1.6em;
            height: 2em;
            fill: #989898;
          }

          > div.sort-by {
            color: #616161;

            > * {
              vertical-align: middle;
            }

            > span {
              font-weight: 700;
              margin: 0 0.8em 0 0.8em;
            }

            > .sp-radio-buttons > .sp-radio-option {
              padding-top: 0.68em;
              padding-bottom: 0.68em;
              min-width: 8.9em;
            }

            > svg {
              width: 1.625em;
              height: 1.5em;
              fill: #a4a4a4;
            }
          }

          > div.add-coupon {
            input {
              width: 10em;
              margin-right: 0.8em;
            }

            button {
              color: #ffffff;
              background: #414141;
              border-radius: 3em;
              padding: 0.5em 1.5625em;
              line-height: 1em;
            }
          }

          > button, sp-kikar-dropdown {
            font-weight: 700;
            color: $grayColor;

            > .sp-dropdown-text {
              padding: 0;

              > span > svg {
                margin-right: $toolsActionSvgMarginRight;
              }
            }

            > * {
              vertical-align: middle;
            }
          }

          > .clear-cart > svg {
            margin-right: $toolsActionSvgMarginRight;
          }
        }

        > .products-suggestions-wrapper {
          position: fixed;
          bottom: 0;
          z-index: 99;
          transition: background 0.5s;
          background: transparent;

          &.open {
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            transition-delay: $suggestionsAnimationDuration / 2;

            > .products-suggestions {
              box-sizing: border-box;
              pointer-events: all;
              box-shadow: $openedProductsSuggestionsShadow;

              > .name {
                width: $productsSuggestionsOpenNameWidth;

                > span {
                  font-size: $openedProductsSuggestionsNameFontSize;
                  height: auto;
                  display: inline-block;
                  vertical-align: middle;
                  writing-mode: unset;
                }
              }

              > .sp-carousel {
                opacity: 1;

                * {
                  visibility: visible;
                }
              }
            }
          }

          &.open-animations, &.close-animations {
            > .products-suggestions {
              animation-duration: $suggestionsAnimationDuration;

              > .name {
                animation-duration: $suggestionsAnimationDuration;

                > span {
                  animation-duration: $suggestionsAnimationDuration;
                }
              }

              > .sp-carousel {
                animation-duration: $suggestionsAnimationDuration;
              }
            }
          }

          > .close {
            position: fixed;
            bottom: $productsSuggestionsHeight + $checkoutBottomBannerHeight + 0.5em;

            > svg {
              width: 1.25em;
              height: 1.25em;
              fill: #ffffff;
            }
          }

          > .products-suggestions {
            position: fixed;
            z-index: 1;
            bottom: $checkoutBottomBannerHeight;
            width: 100%;
            height: $productsSuggestionsHeight;
            pointer-events: none;
            box-sizing: border-box;

            > .name {
              position: absolute;
              z-index: 2;
              bottom: 0;
              height: 100%;
              padding: 1em;
              box-sizing: border-box;
              width: $productsSuggestionsNameWidth;
              text-align: center;
              color: #ffffff;
              pointer-events: all;
              white-space: nowrap;

              > span {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
                font-size: $closedProductsSuggestionsNameFontSize;
                width: 100%;
                font-weight: 100;
                writing-mode: vertical-rl;
                overflow: hidden;
              }
            }

            > .sp-carousel {
              $actionWidth: 3em;

              background: #f3f3f3 url('https://storage.googleapis.com/sp-public/global/frontend-icons/products-suggestions-background.jpg') center center no-repeat;
              opacity: 0.5;
              background-size: cover;
              //transition: margin 0.5s ease-in, opacity 0.5s;

              * {
                visibility: hidden;
              }

              > .action {
                width: $actionWidth;
                text-align: center;

                > button {
                  $buttonSize: 2.5em;

                  display: inline-block;
                  vertical-align: middle;
                  height: $buttonSize;
                  width: $buttonSize;
                  border-radius: $buttonSize;
                  font-size: 1em;
                  background: #414141;
                  padding: 0.7em;

                  > svg {
                    fill: #ffffff;
                  }
                }
              }

              > .items {
                margin: 0 $actionWidth;
                box-sizing: border-box;

                .item {
                  padding: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}

html.ltr.cart-summary section.view {
  .products-suggestions-wrapper {
    left: 0;

    &.open {
      right: 0;

      > .products-suggestions {
        margin-left: 0;

        > .name {
          left: 0;

          > span {
            transform: rotate(0deg);
          }
        }

        > .sp-carousel {
          margin-left: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: ltrOpenSuggestions;

        > .name {
          animation-name: ltrOpenSuggestionsName;

          > span {
            animation-name: ltrOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: ltrCloseSuggestions;

        > .name {
          animation-name: ltrCloseSuggestionsName;

          > span {
            animation-name: ltrCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: ltrCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      right: 0.5em;
    }

    > .products-suggestions {
      left: 0;
      padding-left: $productsSuggestionsOpenNameWidth;
      margin-left: -($productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth);

      > .name {
        left: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;

        > span {
          transform: rotate(180deg);
        }
      }

      > .sp-carousel {
        margin-left: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }
}

html.rtl.cart-summary section.view {
  > div > .cart-summary-wrapper {
    > .tools {
      > *:after {
        right: auto;
        left: 0;
      }

      > div.add-coupon input {
        margin-right: auto;
        margin-left: 0.8em;
      }

      > .clear-cart > svg, > sp-kikar-dropdown > .sp-dropdown-text > span > svg {
        margin-right: auto;
        margin-left: $toolsActionSvgMarginRight;
      }
    }

  }

  .products-suggestions-wrapper {
    right: 0;

    &.open {
      left: 0;

      > .products-suggestions {
        margin-right: 0;

        > .name {
          right: 0;
        }

        > .sp-carousel {
          margin-right: $openedProductsSuggestionsCarouselMarginLeft;
        }
      }
    }

    &.open-animations {
      > .products-suggestions {
        animation-name: rtlOpenSuggestions;

        > .name {
          animation-name: rtlOpenSuggestionsName;

          > span {
            animation-name: rtlOpenSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlOpenSuggestionsCarousel;
        }
      }
    }

    &.close-animations {
      > .products-suggestions {
        animation-name: rtlCloseSuggestions;

        > .name {
          animation-name: rtlCloseSuggestionsName;

          > span {
            animation-name: rtlCloseSuggestionsNameSpan;
          }
        }

        > .sp-carousel {
          animation-name: rtlCloseSuggestionsCarousel;
        }
      }
    }

    > .close {
      left: 0.5em;
    }

    > .products-suggestions {
      right: 0;
      padding-right: $productsSuggestionsOpenNameWidth;
      margin-right: -($productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth);

      > .name {
        right: $productsSuggestionsOpenNameWidth - $productsSuggestionsNameWidth;
      }

      > .sp-carousel {
        margin-right: $closedProductsSuggestionsCarouselMarginLeft;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html.cart-summary section.view > div > .cart-summary-wrapper > .products-suggestions-wrapper > .products-suggestions > .sp-carousel > .items .item {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1220px) {
  html.cart-summary section.view {
    > div {
      width: auto;

      > .cart-summary-wrapper {
        font-size: 0.85em;

        > h1 {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}