html.cart-summary section.view {
  .products-suggestions-wrapper > .products-suggestions {
    > .name {
      background: $mainColor;
    }

    > .sp-carousel > .items .item > .suggestion > .sale-icon > svg {
      fill: $mainColor;
    }
  }
}