<div class="shop-list-container" refresher="$root.config.language.id">
    <div class="title-wrapper">
        <div class="clickable back" ng-click="goBack()">< {{'Back to my shopping lists' | translate}}</div>
        <h1 id="page_title">{{'Shopping list' | translate}}: {{shopListCtrl.shopList.name}}</h1>
        <div class="list-actions">
            <button class="no-design" ng-click="shopListCtrl.createNewCart();">
                <div class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-plus"></use>
                    </svg>
                </div>
                <div class="desc" ng-bind="::'Create new cart' | translate"></div>
            </button><!--
            --><button class="no-design" ng-click="shopListCtrl.addToCart(); ">
            <div class="icon-wrapper">
                <svg focusable="false">
                    <use xlink:href="#sp-icons-add-to-cart"></use>
                </svg>
            </div>
            <div class="desc" ng-bind="::'Add to cart' | translate"></div>
        </button>
        </div>
        <span>
            <span> {{'Total' | translate}}: <span class="bold">{{shopListCtrl.shopList.totalAmount | currency}}</span></span>
        </span>

        <div class="check-all">
            <sp-checkbox sp-model="shopListCtrl.checkAllIsActive" sp-change="shopListCtrl.checkAll()">{{::'Check all' | translate}}</sp-checkbox>
        </div>
    </div>

    <sp-table items="shopListCtrl.shopList.items" actions="shopListCtrl.actions" default-sort-by="(product.names | name).long">
        <sp-table-column title="{{'Select' | translate}}" style-class="select">
            <sp-checkbox sp-model="item.actionsChecked"></sp-checkbox>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="quantity">
            <div class="quantity-text">
                {{$root.util.isWeightQuantity(item.product) ? (item.product | productWeight:item.isCase:null:item.quantity) : item.quantity}}
            </div>
            <div class="quantity-actions">
                <button class="no-design" ng-click="setQuantity(item, 1);">
                    <svg focusable="false" aria-labelledby="quantity_plus_title" role="img">
                        <title id="quantity_plus_title">{{'plus' | translate}}</title>
                        <use xlink:href="#sp-icons-plus"></use>
                    </svg>
                </button>
                <div class="input-wrapper">
                    <input type="number" ng-model="item.quantity"/><!--
                --><span ng-if="$root.util.isWeightQuantity(item.product)" class="unit-name">{{(item.product | unitNames | name)}}</span>
                </div>
                <button class="no-design" ng-click="setQuantity(item, -1);">
                    <svg focusable="false" aria-labelledby="quantity_minus_title" role="img">
                        <title id="quantity_minus_title">{{'minus' | translate}}</title>
                        <use xlink:href="#sp-icons-minus"></use>
                    </svg>
                </button>
            </div>
        </sp-table-column>
        <sp-table-column title="" style-class="image">
            <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" style-class="product-details">
            <span ng-if="!!item.product" class="name">
                <div class="brand">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
                <div class="product-name">{{(item.product ? (item.product | productName:item.isCase) : item.name)}}</div>
                <div class="specials" ng-if="item.product.branch && item.product.branch.specials">
                    <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>
                </div>
            </span>
            <span ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
        </sp-table-column>
        <sp-table-column title="{{'Unit price' | translate}}" sort-by="product | regularPrice">
            {{item.product | regularPrice:item.isCase | currency}}
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="price">
            {{(item.product | regularPrice:item.isCase) * item.quantity | currency}}
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            {{item.comments}}
        </sp-table-column>
        <!--<sp-table-column template="actionsCheckboxes"></sp-table-column>-->
    </sp-table>
    <div class="save-button-container">
        <div class="save-button">
            <button class="no-design" ng-click="shopListCtrl.save()" ng-bind="'Save' | translate"></button>
        </div>
    </div>
</div>