$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$categoriesTitleFontSize: 1.88em;

html.shop-list {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;
    background: $backgroundColor;

    > div {
      //width: $checkoutWidth;
      margin: 0 $sidenavWidth;
      padding: 0 2em;
      color: $grayColor;

      .shop-list-container {
        .title-wrapper {
          border-bottom: 1px solid #cccccc;

          .back {
            padding-top: 2em;
            font-weight: 700;
          }

          > h1 {
            padding: 0.1em 0.15em 0.8em 0;
            color: inherit;
            display: inline-block;

          }

          .bold {
            font-weight: 700;
          }

          > .list-actions {
            display: inline-block;
            float: right;

            button {
              width: 5em;

              .icon-wrapper {
                box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                background-color: #ffffff;
                border-radius: 100%;
                width: 3em;
                height: 3em;
                margin: auto;
                margin-bottom: 0.5em;

                svg {
                  height: 1.8em;
                  width: 1.8em;
                  margin: 0.6em;
                  fill: #9c9c9c;
                }
              }

              .desc {
                font-size: 0.8em;
                line-height: 0.9em;
                color: #787878;
              }
            }
          }

          > .check-all {
            font-size: 0.750em;
            color: #616161;

            label.checkbox > .box {
              border-radius: 100%;
              padding: 0.1em;
              height: 1.1em;
              width: 1.1em;
              margin-top: 0;
            }
          }
        }

        sp-table {
          display: block;

          table {
            border-collapse: separate;
            thead {
              border-bottom-width: 0;
              font-weight: 700;
              tr th {
                font-weight: 700;
                padding: 1em 0.5em;
              }
            }

            tbody {
              tr {
                background-color: #ffffff;
                height: 6em;

                td {
                  padding: 0 1em;
                  max-width: 5em;
                  border-bottom: 11px solid $backgroundColor;
                  color: #787878;

                  &.select {
                    label.checkbox > .box {
                      height: 2.5em;
                      width: 2.5em;
                      padding: 0.6em;
                      border-radius: 100%;
                    }
                  }

                  &.quantity {
                    width: 9em;
                    color: #414141;
                    font-size: 0.875em;
                    font-weight: 700;


                    > .quantity-text {
                      background-color: #eaeaea;
                      border-radius: 100%;
                      width: 2.5em;
                      height: 2.5em;
                      padding: 0.75em 0;
                      box-sizing: border-box;
                      text-align: center;
                    }

                    > .quantity-actions {
                      display: none;

                      > * {
                        vertical-align: middle;
                        display: inline-block;
                      }

                      > .input-wrapper {
                        display: flex;
                      }

                      button {
                        width: 2.2857em;
                        height: 2.2857em;
                        box-shadow: 0 0 7px 0 rgba(0,0,0,0.24);
                        border-radius: 100%;
                        display: inline-block;
                        vertical-align: middle;

                        svg {
                          width: 0.75em;
                          height: 100%;
                          fill: #414141;
                        }
                      }

                      .input-wrapper {
                        text-align: center;

                        input {
                          display: inline-block;
                          width: 2em;
                          border-bottom-width: 0;
                          vertical-align: middle;
                          padding: 0;
                          text-align: center;
                        }

                        .unit-name {
                          display: block;
                          font-weight: 400;
                        }
                      }
                    }
                  }

                  &.image {
                    position: relative;
                    width: 5em;
                    svg {
                      position: absolute;
                      width: 2.25em;
                      height: 2.25em;
                      right: 2em;
                    }

                    img {
                      padding: 0.5em;
                      box-sizing: border-box;
                      max-height: 4.375em;
                    }
                  }

                  &.price {
                    font-weight: 700;
                    color: #000000;
                  }

                  &.product-details {
                    min-width: 17.063em;

                    span {
                      * {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 1em;
                      }

                      > .brand {
                        font-size: 0.875em;
                        color: #a8a8a8;
                        padding-bottom: 0.3em;
                      }

                      > .specials {
                        border-top: 1px solid #cccccc;
                        margin-top: 0.4em;
                        padding-top: 0.4em;
                        font-weight: 700;
                        font-size: 0.813em;

                        .special-desc {
                          line-height: 0.8em;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  td.quantity {
                    .quantity-text {
                      display: none;
                    }

                    .quantity-actions {
                      display: block;
                    }
                  }
                }

                &:last-child {
                  td {
                    border-bottom-width: 0;
                  }
                }
              }
            }
          }
        }

        .save-button-container {
          width: 100%;
          box-sizing: border-box;
          height: 3em;
          text-align: center;
          position: relative;

          .save-button {
            position: absolute;
            bottom: -1em;
            width: 100%;
            button {
              background-color: #414141;
              border-radius: 30em;
              font-weight: 700;
              padding: 0.5em 1em;
              color: #ffffff;
            }
          }

        }
      }
    }
  }
}

html {
  &.ltr.shop-list section.view {
    margin-right: 0;
  }
  &.rtl.shop-list section.view {
    margin-left: 0;

    > div .shop-list-container {
      .title-wrapper {
        > .list-actions {
          float: left;
        }

        > h1 {
          padding: 0.1em 0 0.8em 0.15em;
        }
      }

      sp-table table tbody tr td.image svg {
        left: 2em;
        right: auto;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.shop-list section.view > div {
      margin-left: $responsive1575MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 15px;

      .shop-list-container {
        .title-wrapper {
          > h1 {
            padding-bottom: 0.2em;
          }

          > span {
            white-space: nowrap;
          }

          > .check-all {
            margin-top: 2em;
            font-size: 0.88em;
          }
        }

        sp-table table tbody tr td {
          font-size: 0.9em;

          &.product-details {
            width: auto;

            span > .brand {
              font-size: 0.9em;
            }
          }
        }
      }
    }

    &.rtl.shop-list section.view > div {
      margin-right: $responsive1575MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}

@media screen and (max-width: 1180px) {
  $responsive1180CategoriesTitleFontSize: 1.4em;
  html {
    &.shop-list section.view > div {
      margin-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      font-size: 14px;
    }

    &.rtl.shop-list section.view > div {
      margin-right: $responsive1180MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}