$general-padding: 1.282em;
$toolbarFontSize: 0.82em;
$toolbarNewsLetterIconWidth: 1.841em;
$searchInputFontSize: 1.385em;
$searchInputPaddingLeft: 1em;
$searchInputPaddingRight: 4.5em;
$searchIconWidth: 2em;
$permanentFiltersButtonWidth: 16.006em;
$categoriesTitleFontSize: 1.88em;
$nextDeliveryPaddingRight: 1.75em;
$navigationLinkTooltipBackgroundColor: #ffffff;
$navigationLinkTooltipShadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
$categoriesTitleHorizontalPadding: 1em;
$toolbarNavigationLinkFontSize: 1.25em;
$categoryArrowRight: 2.105em;
$clearSearchBorderRight: 1px solid #c6c6c6;
$retailerDataDropDownOptionIconMarginRight: 0.8em;
$nextDeliveryTransition: 1s ease-in-out;
$nextDeliveryIconPaddingRight: 0.5em;
$nextDeliveryBorderMarginRight: 0.8em;
$categoryNameRowPaddingRight: 3.1em;
$categoryNameRowPaddingLeft: 0.55em;
$categoryNameInnerHorizontalPadding: 0.8em;
$subCategoriesPadding: 2.38em;
$subCategoryWrapperWidth: 14em;
$subCategoryWrapperColumnWidth: 15em;
$subCategoryWrapperColumnGap: ($subCategoryWrapperColumnWidth - $subCategoryWrapperWidth) * 3.5;
$subCategoriesBackground: #f1f1f1;
$categoryNameImageSize: 2.8125em;
$categoryNamePaddingLeft: $categoryNameImageSize + 0.2em;
$nextDeliveryBorder: 1px solid #acacac;
$nextDeliveryMoreSlotPaddingLeftLtr: 2.6em;
$nextDeliveryMoreSlotPaddingRightRtl: 3.7em;

body > header {
  height: $headerHeight;
  width: 100%;

  html.hub-child & {
    height: $headerHeightWithHub;
  }

  > .hub-header {
    @include fixed();
    left: 0;
    right: 0;
    top: 0;
    z-index: 93;
    display: none;
    height: $hubHeaderHeight;

    html.hub-child & {
      display: block;
    }
  }

  > .toolbar {
    @include fixed();
    left: 0;
    right: 0;
    top: 0;
    z-index: 93;
    color: #616161;
    background-color: #ffffff;
    height: ($toolbarHeight / $toolbarFontSize) * 1em;
    box-sizing: border-box;
    font-size: $toolbarFontSize;
    @include display-flex();
    align-items: center;

    html.hub-child & {
      top: ($hubHeaderHeight / $toolbarFontSize) * 1em;
    }

    > *, > .data > *, > .data > .settings > * {
      display: inline-block;
      @include box-sizing(border-box);
      vertical-align: middle;
    }

    > .logo {
      flex: 0 0 auto;
      padding: 1.1em 1.2em;
      height: 100%;
      width: $menuCategoriesTitleWidth / $toolbarFontSize * 1em;
      text-align: center;

      > a {
        height: 100%;
        display: inline-block;

        > img {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    > .data {
      vertical-align: middle;
      @include display-flex();
      @include main-flex();
      height: 40.2%;

      > * {
        height: 100%;
      }

      > span > span {
        vertical-align: middle;
      }

      > .search-wrapper {
        @include main-flex();
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .ltr & {
          padding-right: ($toolbarNavigationLinkHorizontalPadding / $toolbarFontSize * 2em);
        }
        .rtl & {
          padding-right: ($toolbarNavigationLinkHorizontalPadding / $toolbarFontSize * 2em);
        }

        > .input {
          $borderRadius: 28.5px;
          $boxShadow: 0 0 7px 0 rgba(0, 0, 0, 0.16);

          display: inline-block;
          width: 80%;
          height: 90%;
          position: relative;
          border-radius: $borderRadius;
          background-color: #f3f3f3;
          box-shadow: $boxShadow;

          > input[type="search"] {
            -webkit-appearance: textfield;
            width: 100%;
            height: 100%;
            padding-left: $searchInputPaddingLeft;
            padding-right: ($searchInputPaddingRight / $searchInputFontSize) + em;
            border-width: 0;
            box-sizing: border-box;
            font-size: $searchInputFontSize;

            &::-webkit-search-cancel-button {
              -webkit-appearance: none;
              position: relative;
              $iconWidth: 0.8306em;
              width: ((($searchInputPaddingRight - $searchIconWidth) / 2) / clear-units($searchInputFontSize)) + $iconWidth;
              height: 1.775em;
              margin: 0;
              background: url('//storage.googleapis.com/sp-public/global/frontend-icons/new-template/clear-search-icon.png') no-repeat left center;
              background-size: $iconWidth auto;
              cursor: pointer;
              border-right: $clearSearchBorderRight;
            }

            &.placeholder {
              color: #adadad;
              text-align: center;
              font-style: italic;
              text-transform: uppercase;
            }
          }

          > button {
            width: $searchIconWidth;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border-width: 0;
            @include box-shadow(none);
            padding: 0 (($searchInputPaddingRight - $searchIconWidth) / 2);
            box-sizing: content-box;

            > svg {
              width: 100%;
              height: 100%;
              fill: #414141;
            }
          }

          &.auto-complete-options-shown {
            border-radius: $borderRadius $borderRadius 0 0;
          }

          > .auto-complete {
            border-top-width: 0;
            top: 100%;
            box-shadow: $boxShadow;
            background-color: #f3f3f3;
            border-radius: 0 0 $borderRadius $borderRadius;
            font-size: $searchInputFontSize;

            .option {
              color: #616161;
              padding-top: 0.6295em;
              padding-bottom: 0.6295em;
              font-weight: bold;
              font-size: 1em;

              &.filter-option {
                background-color: #e8e8e8;
              }

              &.filter-option .filter-option-content .option-value, .sp-search-highlight {
                font-weight: normal;
              }

              &:first-child {
                padding-top: 1.2em;
              }

              &:last-child {
                padding-bottom: 1.2em;
              }

              &.current {
                background-color: #e1e1e1;
              }
            }
          }
        }

        &.has-permanent-filters > .input {
          width: calc((100% - #{$permanentFiltersButtonWidth}) * 0.95);
        }

        > .permanent-filters {
          height: 100%;
          box-sizing: border-box;
          padding: 0;

          > button {
            width: $permanentFiltersButtonWidth;
            height: 100%;
            border-radius: $permanentFiltersButtonWidth;
            border: 1px solid;
            color: #4b4c4d;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0 1em;

            .block {
              display: block;
            }

            .main-title {
              font-size: 1.1719em;
              font-weight: bold;
            }

            .main-title, .sub-title {
              line-height: 1.1em;
            }

            .main-flex {
              flex: 1 1 auto;
            }

            > * {
              flex: 0 0 auto;
            }

            > svg {
              width: 1em;
              height: 100%;
              fill: #4B4C4D;
            }
          }
        }
      }

      > .settings {
        // to prevent breaking row in ios
        white-space: nowrap;

        > * {
          height: 100%;
          white-space: normal;
        }

        > span > span {
          vertical-align: middle;
        }

        > .newsletter {
          cursor: pointer;

          > svg {
            height: 100%;
            width: $toolbarNewsLetterIconWidth;
            padding: 0 1em;
            fill: #999999;
          }
        }

        > .user-details, > .language, > .retailer-data {
          > button.login {
            height: 100%;
            padding: 0 1em;
          }

          sp-kikar-dropdown {
            padding: 0 0.8em;
            width: 100%;
            height: 100%;
            @include box-sizing(border-box);
            white-space: nowrap;

            > .sp-dropdown-text {
              padding: 0;

              .user-name-wrapper {
                padding: 0.5em;

                .verify {
                  display: block;

                  a {
                    text-decoration: underline;
                    color: #da3b39;
                  }
                }

                .organization-name {
                  display: block;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 11em;
                  padding-top: 0.2em;
                  font-weight: normal;
                }
              }

              .lang-name {
                padding: 0.5em;
              }
            }

            > .sp-dropdown-options-wrapper {
              @include box-sizing(border-box);

              > .sp-kikar-option {
                text-align: inherit;

                > a > .option-content > .text {
                  position: relative;

                  .coupons-number {
                    position: absolute;
                    right: -1.9em;
                    top: -0.8em;
                    background: #cd1c01;
                    color: #ffffff;
                    border-radius: 100%;
                    min-width: 1.8em;
                    text-align: center;
                    font-size: 0.8em;
                    padding: 0.4em;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                  }
                }
              }
            }

            svg {
              max-width: 2.3em;
              max-height: 2.3em;
            }
          }
        }

        > .language sp-kikar-dropdown {
          > .sp-dropdown-text svg:not(.arrow) {
            width: 1.918em;
            fill: #999999;
          }

          > .sp-dropdown-options-wrapper > .sp-kikar-option {
            text-align: center;
          }
        }

        > .retailer-data sp-kikar-dropdown {
          > .sp-dropdown-text {
            min-width: 13em;
          }
          > .sp-dropdown-options-wrapper {
            //padding: 0 0.8em;
            > .sp-kikar-option .option-content {
              .img-container {
                width: 2em;
                margin-right: $retailerDataDropDownOptionIconMarginRight;
                text-align: center;

                svg {
                  height: 2em;
                  width: 2em;
                  fill: #616161;
                }
              }
            }

            &:first-child {
              .option-content {
                border-top: 0;
              }
            }
          }
        }

        > .user-details sp-kikar-dropdown {
          > .sp-dropdown-text {
            svg {
              fill: #999999;
              width: 1.918em;
            }
          }
          > .sp-dropdown-options-wrapper > .sp-kikar-option > .label {
            .option-content {
              text-align: left;
            }
          }
        }

        > .border {
          padding: $general-padding 0;

          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            background-color: #cccccc;
          }
        }
      }
    }
  }

  > .menu {
    &:hover {
      z-index: 93;
    }

    &, &.toolbar-drop-down-open:hover {
      z-index: 91;
    }

    @include fixed();
    left: 0;
    right: $sidenavWidth;
    top: $toolbarHeight;
    $menuBackgroundColor: #ffffff;
    background-color: $menuBackgroundColor;
    height: $menuHeight;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;

    html.hub-child & {
      top: $toolbarHeight + $hubHeaderHeight;
    }

    > .categories-title {
      $color: #414141;
      position: relative;
      height: 100%;
      font-size: $categoriesTitleFontSize;
      width: $menuCategoriesTitleWidth / $categoriesTitleFontSize * 1em;
      padding: 0 $categoriesTitleHorizontalPadding;
      box-sizing: border-box;
      cursor: pointer;
      margin-right: $toolbarNavigationLinkHorizontalPadding / $categoriesTitleFontSize * 1em;
      color: $color;
      display: inline-block;
      vertical-align: middle;

      > .categories-title-text {
        vertical-align: middle;
      }

      > .categories-icon {
        height: 100%;
        width: 0.665em;
        position: absolute;
        right: $categoriesTitleHorizontalPadding;
        fill: $color;
        transition: transform 0.4s;
      }

      &.open {
        > .categories-icon {
          transform: rotate(90deg);
        }
      }
    }

    > .menu-navigation-bar {
      height: 100%;
      display: inline-block;
      vertical-align: middle;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .navigation-link {
        font-size: $toolbarNavigationLinkFontSize;
        padding: 0 $toolbarNavigationLinkHorizontalPadding / $toolbarNavigationLinkFontSize * 1em;
        color: #616161;
        height: 100%;
        box-sizing: border-box;

        &.active {
          font-weight: 900;
        }

        > a {
          display: inline-block;
          vertical-align: middle;

          > .text > .text-content > .arrow-wrapper {
            display: none;
          }

          > .icon {
            display: none;
          }
        }

        &.coupons-link {
          .text {
            position: relative;
          }

          .coupons-number {
            position: absolute;
            right: -1.8em;
            top: -0.3em;
            background: #cd1c01;
            color: #ffffff;
            border-radius: 100%;
            min-width: 1.8em;
            text-align: center;
            font-size: 0.6em;
            padding: 0.4em;
            box-sizing: border-box;
          }
        }
      }
    }

    > .next-delivery-wrapper {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 21.3em;
      font-size: 1em;
      @include box-sizing(border-box);
      white-space: nowrap;

      &.shown {
        display: block;
      }

      .times {
        direction: ltr;
        display: inline-block;
      }

      &:hover {
        > .special-tooltip > .text-content {
          display: inline-block;
        }
      }

      > .special-tooltip {
        position: absolute;
        bottom: 100%;
        //margin-bottom: 0.4em;
        right: 1.1em;

        > .text-content {
          display: none;
          white-space: nowrap;
          box-shadow: $navigationLinkTooltipShadow;
          background-color: $navigationLinkTooltipBackgroundColor;
          position: relative;
          padding: 0.3289em 1.1513em;

          > .arrow-wrapper {
            $arrowSize: 0.6578em;
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: -1px;
            height: $arrowSize;
            width: 100%;
            text-align: center;
            overflow: hidden;

            &:after {
              content: '';
              display: inline-block;
              vertical-align: top;
              height: $arrowSize;
              width: $arrowSize;
              transform: rotate(45deg);
              margin-top: $arrowSize / -2;
              box-shadow: $navigationLinkTooltipShadow;
              background-color: $navigationLinkTooltipBackgroundColor;
            }
          }
        }
      }

      > .next-delivery-content-wrapper {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;

        > .next-delivery-content {
          margin-left: -100%;
          display: inline-block;
          height: 100%;
          width: 100%;
          padding: 0 $nextDeliveryPaddingRight 0 0;
          @include box-sizing(border-box);
          @include transition(margin-left $nextDeliveryTransition);
          overflow: hidden;
          cursor: pointer;

          &.active {
            margin-left: 0;
          }

          > * {
            display: inline-block;
            vertical-align: middle;
          }

          .border {
            padding: $general-padding 0;
            margin: 0 $nextDeliveryBorderMarginRight 0 0;

            &:after {
              content: '';
              display: block;
              width: 1px;
              height: 100%;

            }
          }

          > .next-delivery-icon {
            padding-right: $nextDeliveryIconPaddingRight;
            height: 100%;

            svg {
              height: 100%;
              width: 3.8125em;
            }
          }

          > .next-delivery-sale-icon {
            height: 100%;
            float: right;
            margin: 0 1em;
            //position: absolute;
            //right: 2.5em;

            svg {
              height: 100%;
              box-sizing: border-box;
              width: 3.8125em;
              padding: 0.5em 0;
              margin: 0 0.5em;
            }
          }

          > .next-delivery-text {
            > * {
              display: block;
              line-height: 1.4em;
              font-size: 0.969em;
            }

            > .title {
              font-size: 0.725em;
            }
          }

          > .arrow {
            position: absolute;
            right: $nextDeliveryPaddingRight;
            top: 0;
            height: 100%;
            width: 0.75em;
            color: #ffffff;
            text-align: center;
            transition: #{transform} 0.5s, opacity 0.5s;
            @include opacity(1);
            @include rotate(0);
          }
        }
      }

      .next-delivery-more-details {
        position: absolute;
        top: 100%;
        overflow: hidden;
        $moreDetailsHeight: 30em;
        width: 100%;
        background-color: $menuBackgroundColor;
        color: #616161;

        > .more-details-content {
          width: 100%;
          overflow: auto;
          max-height: $moreDetailsHeight;
          $moreDetailsVerticalPadding: 0.2em;
          padding: $moreDetailsVerticalPadding 0;
          margin-top: -1 * ($moreDetailsHeight + 3 + ($moreDetailsVerticalPadding * 2));
          transition: margin-top 0.3s linear;
          white-space: normal;

          > .delivery-type-buttons > button {
            width: 50%;
            padding: 0.5em 0;
            color: #616161;
            border-right: $nextDeliveryBorder;
            border-top: 0.3125em solid transparent;

            &:last-child {
              border-right-width: 0;
            }

            &:not(.active) {
              border-bottom: $nextDeliveryBorder;
            }

            &.active {
              font-weight: 700;
            }
          }

          > .slots {
            max-height: 17em;
            overflow: auto;

            > .area-name {
              padding: 0.5em ($nextDeliveryMoreSlotPaddingLeftLtr * 0.8);
            }

            > ul .slot {
              display: block;
              box-sizing: border-box;
              padding: 1.0417em 0 1.0417em $nextDeliveryMoreSlotPaddingLeftLtr;
              font-size: 0.8em;
              white-space: nowrap;

              > * {
                display: inline-block;
                vertical-align: top;
              }

              > .slot-title {
                font-size: 0.96667em;
                width: 5.259em;

                .ltr & {
                  padding-right: 1.5em;
                }

                .rtl & {
                  padding-left: 1.5em;
                }

              }

              > .slot-times > .time {
                display: block;
                padding: 0.542em 0;
                position: relative;

                &:first-child {
                  padding-top: 0;
                }

                &:last-child {
                  padding-bottom: 0;
                }

                > svg {
                  width: 1.3em;
                  height: 1.3em;
                  position: absolute;
                  left: -1.5em;
                }
              }

              &:hover {
                color: #222222;
              }
            }
          }
        }

        > .close-more-details {
          color: #ffffff;
          font-size: 0.75em;
          padding: 1.0833em 0;
          text-align: center;
          display: block;
          width: 100%;
        }
      }

      &.show-more-details {
        height: 101%;

        > .next-delivery-content-wrapper > .next-delivery-content > .arrow {
            @include opacity(1);
            @include rotate(180);
          }

        .next-delivery-more-details > .more-details-content {
          margin-top: 0;
        }
      }
    }

    > .no-available-slots-wrapper {
      display: block;
      position: absolute;
      z-index: 2;
      padding: 0 0.8em;
      right: 0;
      top: 0;
      height: $menuHeight;
      width: 17em;
      font-size: 1em;
      background-color: #FFFDC1;

      .no-deliveries-icon{
        height: 100%;
        width: 18%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        vertical-align: middle;

        svg {
          height: 2.1em;
          width: 2.2em;
          display: inline-block;
          vertical-align: middle;
          fill: none;
          stroke: #BE1625;
        }
      }

      .no-deliveries-text {
        height: 100%;
        width: 74%;
        display: block;
        box-sizing: border-box;
        color: #BE1625;
        font-weight: bold;
        vertical-align: middle;
        line-height: 1.2em;

        span {
          height: $menuHeight;
          vertical-align: middle;
          display: table-cell;
        }
      }

      .sp-icons-arrow-down {
        display: none;
      }

      &.has-popup {
        cursor: pointer;

        .no-deliveries-text {
          margin: 0 0 0 6%;
          width: 70%;
        }

        .sp-icons-arrow-down {
          display: block;
          position: absolute;
          top: $menuHeight / 2;
          left: 0.6em;
          right: auto;
          height: 0.9em;
          margin-top: -0.4em;
          width: 0.9em;
          fill: #BE1625;
          stroke: none;
        }
      }
    }
  }

  > .categories-wrapper {
    @include fixed();
    z-index: 91;
    margin-top: -1px;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    width: $menuCategoriesTitleWidth;
    display: none;

    html.hub-child & {
      top: $headerHeightWithHub;
    }

    &.shown {
      display: block;
    }

    &.has-open {
      right: $sidenavWidth;
      width: 100%;
      background-color: rgba(0,0,0,.5);
    }

    > .categories {
      display: block;
      width: $menuCategoriesTitleWidth;
      height: 100%;
      overflow: auto;
      background-color: rgba(255, 255, 255, 0.95);
      padding-bottom: 2em;
      box-sizing: border-box;

      > .category {
        width: 100%;

        > .category-name {
          width: 100%;
          position: relative;
          font-size: 1.13em;
          padding: 0.22em $categoryNameRowPaddingRight 0.22em $categoryNameRowPaddingLeft;
          box-sizing: border-box;
          cursor: pointer;
          color: #616161;

          > .name-wrapper {
            $verticalPadding: 0.4em;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            border-radius: 10em;
            box-sizing: border-box;
            position: relative;
            padding: $verticalPadding $categoryNameInnerHorizontalPadding;

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            > .image {
              text-align: center;
              height: 100%;
              width: $categoryNameImageSize;
              position: absolute;
              left: $categoryNameInnerHorizontalPadding;
              top: 0;
              padding: 0.3em 0;
              box-sizing: border-box;

              > img {
                display: inline-block;
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
              }
            }

            > .for-vertical-align {
              height: ($categoryNameImageSize - ($verticalPadding * 2)) !important;
            }

            > .name {
              padding-left: $categoryNamePaddingLeft;
            }
          }

          > .arrow {
            position: absolute;
            height: 100%;
            top: 0;
            width: 0.3319em;
            right: $categoryArrowRight;
            fill: #5e635f;
          }
        }

        > .sub-categories {
          position: absolute;
          top: 0;
          left: $menuCategoriesTitleWidth;
          right: $sidenavWidth;
          bottom: 0;
          display: none;
          overflow-y: auto;
          padding: $subCategoriesPadding 0 0 $subCategoriesPadding;
          color: #616161;
          background-color: $subCategoriesBackground;
          box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.14);
          $categoryTitleWrapperFontSize: 3.13em;
          $categoryTitleWrapperHeight: $categoryTitleWrapperFontSize + 0.2em;

          > .background-image {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;

            > img {
              max-height: 100%;
              max-width: 100%;
            }
          }

          > .category-title-wrapper {
            display: block;
            font-size: $categoryTitleWrapperFontSize;
            height: $categoryTitleWrapperHeight / $categoryTitleWrapperFontSize * 1em;
          }

          > .sub-categories-wrapper {
            padding-top: 1.13em;
            column-width: $subCategoryWrapperWidth;
            column-gap: $subCategoryWrapperColumnGap;
            padding-right: $subCategoryWrapperColumnGap / 2;
            position: absolute;
            z-index: 1;
            top: $subCategoriesPadding + $categoryTitleWrapperHeight;
            left: $subCategoriesPadding;
            right: 0;
            padding-bottom: $subCategoriesPadding;

            &:after {
              content: '';
              display: block;
              clear: both;
            }

            > .sub-category-block {
              display: block;
              width: $subCategoryWrapperWidth;
              box-sizing: border-box;
              break-inside: avoid;
              padding: 1em 1.25em;
              overflow: hidden;
              margin: 0 -1.25em;

              > .sub-category-shadow {
                $backgroundColor: rgba(241,241,241,0.6);
                background-color: $backgroundColor;
                box-shadow: 0 0 12px 9px $backgroundColor;

                > .sub-category {
                  display: block;
                  width: 100%;

                  > .sub-category-link {
                    font-size: 1.38em;
                    font-weight: bold;
                    padding: 0.5em 0;
                    word-wrap: break-word;
                    line-height: 1.25em;

                    &:hover > a {
                      border-bottom-width: 2px;
                      border-bottom-style: solid;
                    }
                  }

                  > .sub-sub-category {
                    font-size: 1.13em;
                    padding: 0.42em 0;
                    word-wrap: break-word;
                    line-height: 1.25em;

                    &:hover > a {
                      border-bottom-width: 2px;
                      border-bottom-style: solid;
                    }
                  }
                }

                > .dots {
                  font-size: 1em;
                  padding-top: 1em;

                  > .dot {
                    display: inline-block;
                    vertical-align: middle;
                    $size: 0.25em;
                    width: $size;
                    height: $size;
                    background-color: #d0d0d0;
                    border-radius: 1em;
                    margin: 0 0.1306em;
                  }
                }
              }
            }
          }
        }

        &.open {
          > .category-name {
            font-weight: bold;
          }

          > .sub-categories {
            display: block;
          }

          &:hover > .category-name {
            background-color: $subCategoriesBackground;
          }
        }

        &:hover > .category-name {
          background-color: #ededed;
        }
      }
    }
  }
}

.rtl {
  body > header {
    > .toolbar > .data {
      > .search-wrapper > .input {
        > input[type="search"] {
          padding-right: $searchInputPaddingLeft;
          padding-left: ($searchInputPaddingRight / $searchInputFontSize) + em;

          &::-webkit-search-cancel-button {
            background-position: right center;
            border-right-width: 0;
            border-left: $clearSearchBorderRight;
          }
        }

        > button {
          right: auto;
          left: 0;
        }
      }

      > .settings {
        > .retailer-data sp-kikar-dropdown > .sp-dropdown-options-wrapper > .sp-kikar-option .option-content .img-container {
          margin-right: 0;
          margin-left: $retailerDataDropDownOptionIconMarginRight;
        }

        > .user-details sp-kikar-dropdown > .sp-dropdown-options-wrapper > .sp-kikar-option > .label .option-content {
          text-align: right;

          .text .coupons-number {
            right: auto;
            left: -1.9em;
          }
        }
      }
    }

    > .menu {
      right: 0;
      left: $sidenavWidth;

      > .categories-title {
        margin-right: 0;
        margin-left: $toolbarNavigationLinkHorizontalPadding / $categoriesTitleFontSize * 1em;

        > .categories-icon {
          right: auto;
          left: $categoriesTitleHorizontalPadding;
        }
      }

      > .menu-navigation-bar {
        .navigation-link.coupons-link .coupons-number {
          left: -1.9em;
          right: auto;
        }
      }

      > .no-available-slots-wrapper {
        right: auto;
        left: 0;

        &.has-popup {
          .no-deliveries-text {
            margin: 0 6% 0 0;
          }

          .sp-icons-arrow-down {
            right: 0.6em;
            left: auto;
          }
        }
      }

      > .next-delivery-wrapper {
        right: auto;
        left: 0;

        > .special-tooltip {
          left: 1.1em;
          right: inherit;
        }

        > .next-delivery-content-wrapper > .next-delivery-content {
          margin-left: auto;
          margin-right: -100%;
          padding-right: 0;
          padding-left: $nextDeliveryPaddingRight;
          @include transition(margin-right $nextDeliveryTransition);

          &.active {
            margin-left: auto;
            margin-right: 0;
          }

          > .border {
            margin-right: 0;
            margin-left: $nextDeliveryBorderMarginRight;
          }

          > .next-delivery-icon {
            padding-right: 0;
            padding-left: $nextDeliveryIconPaddingRight;
          }

          > .arrow {
            right: auto;
            left: $nextDeliveryPaddingRight;
          }

          > .next-delivery-sale-icon {
            float: left;
          }
        }

        .next-delivery-more-details > .more-details-content {
          > .delivery-type-buttons > button {
            border-right-width: 0;
            border-left: $nextDeliveryBorder;

            &:last-child {
              border-left-width: 0;
            }
          }

          > .slots > ul .slot {
            padding-right: $nextDeliveryMoreSlotPaddingRightRtl;
            padding-left: 0;

            > .slot-times > .time > svg {
              right: -1.5em;
              left: auto;
            }
          }
        }
      }
    }

    > .categories-wrapper {
      left: auto;
      right: 0;

      &.has-open {
        right: 0;
        left: $sidenavWidth;
      }

      > .categories > .category {
        > .category-name {
          padding-right: $categoryNameRowPaddingLeft;
          padding-left: $categoryNameRowPaddingRight;

          > .name-wrapper {
            > .image {
              left: auto;
              right: $categoryNameInnerHorizontalPadding;
            }

            > .name {
              padding-left: 0;
              padding-right: $categoryNamePaddingLeft;
            }
          }

          > .arrow {
            right: auto;
            left: $categoryArrowRight;
            transform: rotate(180deg);
          }
        }

        > .sub-categories {
          right: $menuCategoriesTitleWidth;
          left: $sidenavWidth;
          padding-left: 0;
          padding-right: $subCategoriesPadding;

          > .background-image {
            right: auto;
            left: 0;
            transform: scaleX(-1);
          }

          > .sub-categories-wrapper {
            padding-right: 0;
            padding-left: $subCategoryWrapperColumnGap / 2;
            left: 0;
            right: $subCategoriesPadding;
          }
        }
      }
    }
  }
}

html {
  &.hide-sidenav {
    body > header > .menu {
      right: 0;
    }

    &.rtl body > header > .menu {
      left: 0;
    }
  }

  &.hide-menu {
    body > header {
      height: $toolbarHeight;
    }

    body > header > .menu {
      display: none;
    }

    .main {
      margin-top: $toolbarHeight * -1;
      padding-top: $toolbarHeight;
    }

    .fixed-banner {
      top: $toolbarHeight;
    }

    &.hub-child {
      body > header {
        height: $toolbarHeight + $hubHeaderHeight;
      }

      .main {
        margin-top: ($toolbarHeight + $hubHeaderHeight) * -1;
        padding-top: $toolbarHeight + $hubHeaderHeight;
      }

      .fixed-banner {
        top: $toolbarHeight + $hubHeaderHeight;
      }
    }
  }
}

@media screen and (max-width: 1900px) {
  $responsive1900ToolbarNavigationLinkFontSize: 1.1em;
  $responsive1900NextDeliveryPaddingRight: 1em;
  $responsive1900NextDeliveryBorderMarginRight: 0.5;

  body > header {
    > .menu {
      > .menu-navigation-bar {
        > .navigation-link {
          font-size: $responsive1900ToolbarNavigationLinkFontSize;
          padding: 0 $toolbarNavigationLinkHorizontalPadding / $responsive1900ToolbarNavigationLinkFontSize * 1em;
        }
      }

      > .next-delivery-wrapper {
        width: 18em;

        > .next-delivery-content-wrapper > .next-delivery-content {
          padding-right: $responsive1900NextDeliveryPaddingRight;

          .border {
            margin-right: $responsive1900NextDeliveryBorderMarginRight;
          }

          > .next-delivery-icon svg {
            width: 3em;
          }

          > .next-delivery-text > * {
            font-size: 0.85em;
          }

          > .arrow {
            right: $responsive1900NextDeliveryPaddingRight;
          }
        }
      }
    }
  }

  .rtl body > header {
    > .menu {
      > .next-delivery-wrapper > .next-delivery-content-wrapper > .next-delivery-content {
        padding-right: 0;
        padding-left: $responsive1900NextDeliveryPaddingRight;

        .border {
          margin-right: 0;
          margin-left: $responsive1900NextDeliveryBorderMarginRight;
        }

        > .arrow {
          right: auto;
          left: $responsive1900NextDeliveryPaddingRight;
        }
      }
    }
  }
}

$responsive1750ToolbarNavigationLinkFontSize: 0.95em;
@media screen and (max-width: 1750px) {
  body > header {
    > .toolbar > .data > .search-wrapper {
      padding: 0 ($responsive1750ToolbarNavigationLinkHorizontalPadding / $toolbarFontSize * 2em);

      > .input {
        width: 100%;
      }
    }

    > .menu {
      > .categories-title {
        margin-right: $responsive1750ToolbarNavigationLinkHorizontalPadding / $categoriesTitleFontSize * 1em;
      }

      > .menu-navigation-bar {

        > .navigation-link {
          font-size: $responsive1750ToolbarNavigationLinkFontSize;
          padding: 0 $responsive1750ToolbarNavigationLinkHorizontalPadding / $responsive1750ToolbarNavigationLinkFontSize * 1em;

          .icon {
            position: relative;

            .coupons-number {
              left: auto;
              right: -0.5em;
              top: 0;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  .rtl body > header {
    > .menu > .categories-title {
      margin-right: 0;
      margin-left: $responsive1750ToolbarNavigationLinkHorizontalPadding / $categoriesTitleFontSize * 1em;
    }
  }
}

@media screen and (max-width: 1600px) {
  body > header {
    > .toolbar > .data > .settings > .retailer-data .sp-dropdown-text .retailer-data .content .text {
      > .retailer-name {
        display: block;
      }

      > .zip {
        border-width: 0;
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  $responsive1575CategoryFontSize: 0.9em;

  body > header {
    height: $responsive1575HeaderHeight;

    html.hub-child & {
      height: $responsive1575HeaderHeightWithHub;
    }

    > .toolbar {
      height: ($responsive1575ToolbarHeight / $toolbarFontSize) * 1em;

      > .logo {
        width: ($responsive1575MenuCategoriesTitleWidth / $toolbarFontSize) * 1em;
      }

      > .data {
        height: 49%;

        > .settings {
          font-size: 1.1em;
        }
      }
    }

    > .menu {
      right: $responsive1575SidenavWidth;
      top: $responsive1575ToolbarHeight;

      html.hub-child & {
        top: $responsive1575ToolbarHeight + $hubHeaderHeight;
      }

      .categories-title {
        width: $responsive1575MenuCategoriesTitleWidth / $categoriesTitleFontSize * 1em;

        > span {
          font-size: 0.8em;
        }
      }

      > .next-delivery-wrapper {
        width: 15em;

        > .next-delivery-content-wrapper > .next-delivery-content {
          > .next-delivery-icon {
            display: none;
          }

          > .next-delivery-text > * {
            font-size: 0.95em;
          }

          > .next-delivery-text > .title {
            font-weight: 700;
            font-size: 1em;
          }
        }

        > .next-delivery-more-details > .more-details-content {
          > .delivery-type-buttons {
            font-size: 0.9em;
          }

          > .slots > .slot {
            padding-left: $nextDeliveryMoreSlotPaddingLeftLtr - 2;
            font-size: 0.9em;
          }
        }
      }
    }

    > .categories-wrapper {
      top: $responsive1575HeaderHeight;
      width: $responsive1575MenuCategoriesTitleWidth;

      html.hub-child & {
        top: $responsive1575HeaderHeightWithHub;
      }

      &.has-open {
        right: $responsive1575SidenavWidth;
      }

      > .categories {
        width: $responsive1575MenuCategoriesTitleWidth;

        > .category {
          font-size: $responsive1575CategoryFontSize;

          > .sub-categories {
            right: $responsive1575SidenavWidth / $responsive1575CategoryFontSize * 1em;
            left: $responsive1575MenuCategoriesTitleWidth / $responsive1575CategoryFontSize * 1em;

            > .background-image {
              width: 45%;
            }

            > .sub-categories-wrapper {
              padding-top: 0;

              > .sub-category-block > .sub-category-shadow > .sub-category > .sub-sub-category {
                padding-top: 0.2em;
                padding-bottom: 0.2em;
              }
            }
          }
        }
      }
    }
  }

  .rtl body > header {
    > .menu {
      right: 0;
      left: $responsive1575SidenavWidth;

      > .next-delivery-wrapper > .next-delivery-more-details > .more-details-content > .slots > ul .slot {
        padding-left: 0;
        padding-right: $nextDeliveryMoreSlotPaddingRightRtl - 2;
      }
    }

    > .categories-wrapper {
      &.has-open {
        right: 0;
        left: $responsive1575SidenavWidth;
      }

      > .categories > .category > .sub-categories {
        left: $responsive1575SidenavWidth / $responsive1575CategoryFontSize * 1em;
        right: $responsive1575MenuCategoriesTitleWidth / $responsive1575CategoryFontSize * 1em;
      }
    }
  }

  html.hide-menu {
    body > header {
      height: $responsive1575ToolbarHeight;
    }

    .main {
      margin-top: $responsive1575ToolbarHeight * -1;
      padding-top: $responsive1575ToolbarHeight;
    }

    .fixed-banner {
      top: $responsive1575ToolbarHeight;
    }

    &.hub-child {
      body > header {
        height: $responsive1575ToolbarHeight + $hubHeaderHeight;
      }

      .main {
        margin-top: ($responsive1575ToolbarHeight + $hubHeaderHeight) * -1;
        padding-top: $responsive1575ToolbarHeight + $hubHeaderHeight;
      }

      .fixed-banner {
        top: $responsive1575ToolbarHeight + $hubHeaderHeight;
      }
    }
  }
}

@media screen and (max-width: 1429px) {
  body > header {
    > .menu > .next-delivery-wrapper {
      width: 7em;

      > .next-delivery-content-wrapper > .next-delivery-content {
        > .next-delivery-icon {
          display: inline-block;
        }

        > .next-delivery-text {
          display: none;
        }
      }

      > .next-delivery-more-details {
        width: 15em;
        right: 0;

        > .more-details-content {
          > .delivery-type-buttons {
            font-size: 0.9em;
          }

          > .slots > ul .slot {
            padding-left: $nextDeliveryMoreSlotPaddingLeftLtr - 2;
          }
        }
      }
    }
  }

  .rtl body > header {
    > .menu > .next-delivery-wrapper > .next-delivery-more-details {
      right: auto;
      left: 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  html {
    body > header > .menu {
      > .menu-navigation-bar > .navigation-link {
        position: relative;
        padding-left: $responsive1180ToolbarNavigationLinkHorizontalPadding / $responsive1750ToolbarNavigationLinkFontSize * 1em;
        padding-right: $responsive1180ToolbarNavigationLinkHorizontalPadding / $responsive1750ToolbarNavigationLinkFontSize * 1em;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          $height: 1.9737em;
          height: $height;
          margin-top: $height / -2;
          width: 1px;
          background-color: #e8e8e8;
        }

        &:last-child:after {
          display: none;
        }

        &.specials-link > a > .icon > svg {
          width: 2.4342em;
          height: 2.4342em;
        }

        &.previous-orders-link > a > .icon > svg {
          width: 2.3618em;
          height: 2.1053em;
        }

        &.shop-lists-link > a > .icon > svg {
          width: 2.5em;
          height: 2.4342em;
        }

        &.coupons-link > a > .icon > svg {
          width: 3.2895em;
          height: 2.3618em;
        }

        &.loyalty-link > a > .icon > svg {
          width: 3.0921em;
          height: 2.4342em;
        }

        &.retailer-link > a > .icon > img {
          height: 2.4342em;
        }

        > a {
          &:hover > .text > .text-content {
            display: inline-block;
          }

          > .text {
            position: absolute;
            bottom: 100%;
            margin-bottom: 0.4em;

            > .text-content {
              display: none;
              white-space: nowrap;
              box-shadow: $navigationLinkTooltipShadow;
              background-color: $navigationLinkTooltipBackgroundColor;
              position: relative;
              padding: 0.3289em 1.1513em;

              > .arrow-wrapper {
                $arrowSize: 0.6578em;
                display: inline-block;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: -1px;
                height: $arrowSize;
                width: 100%;
                text-align: center;
                overflow: hidden;

                &:after {
                  content: '';
                  display: inline-block;
                  vertical-align: top;
                  height: $arrowSize;
                  width: $arrowSize;
                  transform: rotate(45deg);
                  margin-top: $arrowSize / -2;
                  box-shadow: $navigationLinkTooltipShadow;
                  background-color: $navigationLinkTooltipBackgroundColor;
                }
              }
            }

            > .coupons-number {
              display: none;
            }
          }

          > .icon {
            display: inline-block;

            > svg {
              height: 1.9em;
              width: 1.9em;
              fill: #a6a6a6;
            }
          }
        }
      }
    }

    &.home {
      body > header > .menu > .menu-navigation-bar > .navigation-link:after {
        background-color: #c8c8c8;
      }
    }

    &.ltr {
      body > header > .menu > .menu-navigation-bar > .navigation-link {
        &:after {
          right: 0;
        }

        > a > .text {
          left: 50%;

          > .text-content {
            margin-left: -50%;
          }
        }
      }
    }

    &.rtl {
      body > header > .menu > .menu-navigation-bar > .navigation-link {
        &:after {
          left: 0;
        }

        > a > .text {
          right: 50%;

          > .text-content {
            margin-right: -50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  $responsive1180CategoryFontSize: 0.8em;
  $responsive1180CategoriesTitleFontSize: 1.4em;
  $responsive1180TollbarIconsFontSize: 0.85em;

  body > header {
    > .toolbar {
      > .logo {
        width: $responsive1180MenuCategoriesTitleWidth / $toolbarFontSize * 1em;
      }

      > .data {
        > .search-wrapper > .input {
          > input[type="search"], > .auto-complete {
            font-size: 1em;
          }

          > button {
            font-size: 0.7221em;
          }
        }

        > .settings {
          > .newsletter > svg {
            font-size: $responsive1180TollbarIconsFontSize;
          }

          > .user-details, > .language, > .retailer-data {
            sp-kikar-dropdown {
              padding-left: 0.5em;
              padding-right: 0.5em;

              svg {
                font-size: $responsive1180TollbarIconsFontSize;
              }

              > .sp-dropdown-text {
                .user-name-wrapper, .lang-name {
                  padding-left: 0.2em;
                  padding-right: 0.2em;
                }
              }
            }
          }
        }
      }
    }

    > .menu {
      > .categories-title {
        font-size: $responsive1180CategoriesTitleFontSize;
        width: $responsive1180MenuCategoriesTitleWidth / $responsive1180CategoriesTitleFontSize * 1em;
      }

      > .menu-navigation-bar {
        > .navigation-link {
          font-size: 0.85em;
        }
      }
    }

    > .categories-wrapper {
      width: $responsive1180MenuCategoriesTitleWidth;

      > .categories {
        width: $responsive1180MenuCategoriesTitleWidth;

        > .category {
          font-size: $responsive1180CategoryFontSize;

          > .sub-categories {
            right: $responsive1575SidenavWidth / $responsive1180CategoryFontSize * 1em;
            left: $responsive1180MenuCategoriesTitleWidth / $responsive1180CategoryFontSize * 1em;

            > .sub-categories-wrapper > .sub-category-block {
              padding-top: 0.2em;
              padding-bottom: 0.2em;
            }
          }
        }
      }
    }
  }

  .rtl body > header {
    > .categories-wrapper > .categories > .category > .sub-categories {
      left: $responsive1575SidenavWidth / $responsive1180CategoryFontSize * 1em;
      right: $responsive1180MenuCategoriesTitleWidth / $responsive1180CategoryFontSize * 1em;
    }
  }
}


ul.menu-navigation-bar {
  li.menu-hamburger-out {
    width: 4em;
    height: 100%;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: none;
    position: relative;

    svg.categories-icon {
      height: 2em;
      width: 2em;
      display: inline-block;
      vertical-align: middle;
      fill: #616161 !important;
      transition: transform 0.4s;
    }

    span.hidden-links-count {
      position: absolute;
      right: 0.2em;
      left: auto;
      top: 0.4em;
      background: #cd1c01;
      color: #ffffff;
      border-radius: 100%;
      width: 1.66em;
      height: 1.5em;
      text-align: center;
      font-size: 0.7em;
      padding: 0.3em;
      box-sizing: border-box;
      line-height: 0.8em;
      z-index: 1;
      display: none;

      .rtl & {
        left: 0.2em;
        right: auto;
      }
    }

    &.show-links-count {
      span.hidden-links-count {
        display: block;
      }
    }

    &:hover {

      svg {
        transform: rotate(90deg);
      }

      ul {
        display: block;
        max-height: 600px;
      }
    }

    ul {
      position: absolute;
      z-index: 1;
      right: auto;
      left: 0;
      top: 100%;
      background: rgba(255, 255, 255, 0.88);
      font-size: 1.25em;
      color: #616161;
      text-align: initial;
      overflow: hidden;
      margin-top: 1px;
      max-height: 0;
      transition: max-height 0.8s linear;

      .rtl & {
        right: 0;
        left: auto;
      }

      li {
        display: block;
        white-space: nowrap;
        min-width: 120px;
        padding: 0.5em 1em;

        .icon {
          display: none;
        }
      }
    }
  }
}

.closed-shopo-site {
  .dialog-wrapper {
    .overlay {
      top: $hubHeaderHeight;
    }
  }
}
