input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], textarea {
  padding: 0.6875em 0 0.1em 0;
  border-bottom: 1px solid #616161;
  box-sizing: border-box;
  width: 100%;

  &.sp-inline-error-invalid {
    border-width: 0 0 1px 0 !important;
    border-color: #ff0000;
  }

  $placeholderColor: #727272;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholderColor;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholderColor;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $placeholderColor;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholderColor;
  }
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

.form {
  .two-inputs {
    > * {
      display: inline-block;
      margin: 0 !important;
      width: 49%;

      &:first-child {
        margin-right: 2% !important;
      }
    }
  }

  .input-group {
    width: 20em;
    padding: 0.5em 1em 0.5em 0;
    display: inline-block;
    vertical-align: top;

    h4 {
      margin: 0;
      padding: 1em 0;
    }

    .link a {
      text-decoration: underline;
    }

    .input-wrapper {
      width: 100%;
      padding: 0.5em 0;

      &.phone-wrapper {
        direction: ltr;

        > span {
          display: inline-block;
          height: 100%;
          @include box-sizing(border-box);
        }

        > .phone-type {
          text-align: left;
          width: 20%;
          float: left;
        }

        > .phone-number {
          width: 80%;
        }
      }

      textarea {
        height: 7em;
        max-height: 20em;
        max-width: 100%;
      }
    }
  }
}

form {
  .server-err-msg {
    color: #d44949;
    font-weight: bold;
    display: none;

    &.shown {
      display: block;
    }
  }

  sp-captcha {
    display: block;
    margin: 1em 1px 0.5em 1px;

    .captcha-warning-msg {
      color: #d44949;
      font-size: 0.9em;
      font-weight: bold;
      display: none;
      padding: 2px 0px 0px 0px;
    }

    &.captcha-error {
      >.captcha-warning-msg {
        display: block;
      }
    }
  }

  .form-required-fields {
    font-size: 0.8em;
    padding: 0.5em 0;
  }
}

.rtl {
  .form {
    .input-group {
      padding-right: 0;
      padding-left: 1em;

      .input-wrapper.phone-wrapper {
        text-align: right;

        > .phone-type {
          text-align: right;
          float: right;
        }
      }
    }

    .two-inputs > * {
      &:first-child {
        margin-right: 0 !important;
        margin-left: 2% !important;
      }
    }
  }
}