.auto-complete-wrapper.auto-complete-options-shown {
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], textarea {
    border-bottom-color: $secondaryColor;
  }
}