<div class="checkout-content">
    <div class="tab" ui-view="updateOrderTab"></div>
</div>
<div>

</div>
<div class="checkout-bottom-banner-wrapper">
    <div class="checkout-banner">
        <span class="for-vertical-align"></span><!--
        --><div class="content">
            <div class="help-buttons">
                <button class="no-design continue-shopping" ng-click="updateOrderCtrl.continueShopping();" ng-if="!withoutContent">
                    {{'Continue Shopping' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
