$selectorBase: ' section.view .checkout-content .tab';
$checkoutSelector: 'html.checkout' + $selectorBase;
$checkoutLtrSelector: 'html.checkout.ltr' + $selectorBase;
$checkoutRtlSelector: 'html.checkout.rtl' + $selectorBase;

$radioColumnWidth: 1em;

html.checkout section.view {
  background: #f3f3f3;

  .checkout-content {
    .tab {
      width: $checkoutWidth;
      margin: auto;
      padding-bottom: 1em;

      .delivery-details {
        padding: 1.5em 0;

        .input-wrapper {
          .label {
            .asap-selected {
              display: block;
              font-size: 0.75em;
              padding-top: 1em;
            }
          }
        }
      }

      > .tab-container {
        margin: auto;
      }

      h1, h2 {
        color: #616161;
      }
    }
  }
}

.dialog.did-you-mean {
  h4 {
    padding: 0;
  }

  .address {
    padding: 1em 0;
    cursor: pointer;

    .sp-radio-buttons > label.sp-radio-option {
      display: block;

      .label {
        padding: 1em;
      }
    }
  }

  .buttons {
    padding-top: 1em;
    display: block;
    text-align: center;

    button {
      min-height: 2.5em;
      min-width: 8em;
      margin: 0 .7em;

      .cancel {
        border: 2px solid;
        padding: 7px;
        border-radius: 5px;
        background-color: #FFFFFF;
      }
    }
  }
}

$checkoutBottomBannerHeight: 5.7em;

.checkout-bottom-banner-wrapper {
  @include fixed();
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  text-align: center;

  > .checkout-banner {
    width: 100%;
    height: $checkoutBottomBannerHeight;
    padding: 1em;
    box-sizing: border-box;

    > .content {
      $contentHeight: 2.625em;

      margin: ($checkoutBottomBannerHeight / 2 - $contentHeight) auto 0 auto;
      width: $checkoutWidth;
      height: $contentHeight;
      display: inline-flex;
      vertical-align: middle;
      text-align: left;

      button.continue-shopping, button.back-button {
        vertical-align: middle;
        color: #414141;
        border: 2px solid #414141;
        font-weight: 700;
        padding: 0 2em;
        border-radius: 3em;
        height: 100%;
      }

      > * {
        vertical-align: middle;
      }

      > .help-buttons {
        flex: 1 1 auto;
        padding: 0 1em;
      }
    }
  }
}

html.rtl .checkout-bottom-banner-wrapper > .checkout-banner > .content {
  text-align: right;
}

@media screen and (max-width: 1220px) {
    .checkout-bottom-banner-wrapper {
      > .checkout-banner {
        > .content {
          width: 100%;
        }
      }
    }
}

@media screen and (max-width: 1220px) {
  html.checkout section.view {
    > div {
      font-size: 0.85em;
    }

    .checkout-content {
      .tab {
        width: 100%;
      }
    }
  }
}