$checkoutBottomBannerHeight: 5.7em;
$checkoutBottomBannerLoyaltyVerticalPadding: 0.5em;
$checkoutBottomBannerLoyaltyHeight: 9em + ($checkoutBottomBannerLoyaltyVerticalPadding * 2);
$checkoutBottomBannerFullHeight: $checkoutBottomBannerLoyaltyHeight + $checkoutBottomBannerHeight;
$totalSummaryItemVerticalPadding: 1em;
$totalSummaryItemValuePaddingLeft: 0.5625em;
$totalsBorder: 1px solid #414141;

checkout-bottom-banner {
  @include fixed();
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  text-align: center;

  .checkout-bottom-banner-wrapper {
    height: $checkoutBottomBannerHeight;

    > .loyalty-banner {
      height: $checkoutBottomBannerLoyaltyHeight;
      background-color: #f3f3f3;
      box-sizing: border-box;
      display: none;
      padding: $checkoutBottomBannerLoyaltyVerticalPadding 0;

      img {
        cursor: pointer;
        max-height: 100%;
        max-width: 100%;
      }
    }

    > .checkout-banner {
      width: 100%;
      height: $checkoutBottomBannerHeight;
      padding: 1em;
      box-sizing: border-box;

      > .content {
        $contentHeight: 2.625em;

        margin: ($checkoutBottomBannerHeight / 2 - $contentHeight) auto 0 auto;
        width: $checkoutWidth;
        height: $contentHeight;
        display: inline-flex;
        vertical-align: middle;
        text-align: left;

        button.continue-shopping, button.back-button {
          vertical-align: middle;
          color: #414141;
          border: 2px solid #414141;
          font-weight: 700;
          padding: 0 2em;
          border-radius: 3em;
          height: 100%;
        }

        > * {
          vertical-align: middle;
        }

        > .help-buttons {
          flex: 1 1 auto;
          padding: 0 1em;
        }

        > .total-summary {
          flex: 0 0 auto;
          color: #414141;

          > * {
            display: inline-block;
            vertical-align: middle;
            height: $contentHeight;
          }

          > .total-price {
            padding: 0 $totalSummaryItemVerticalPadding;

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            > .number-of-items {
              position: relative;

              > span.number {
                position: absolute;
                left: -0.5em;
                top: -0.3em;
                border-radius: 100%;
                border: 2px solid #414141;
                font-size: 0.65em;
                font-weight: 700;
                width: 1.5em;
                height: 1.5em;
                line-height: 1.5em;
                text-align: center;
              }

              > svg {
                height: $contentHeight;
                width: $contentHeight;
                fill: #414141;
              }
            }

            > .price {
              padding-left: $totalSummaryItemValuePaddingLeft;
              font-weight: 700;

              > .value {
                font-size: 1.625em;
                direction: ltr;
              }
            }
          }

          > .you-save, > .membership-savings, > .multipass-discount {
            border-right: $totalsBorder;
            padding: 0 $totalSummaryItemVerticalPadding;

            > svg {
              display: inline-block;
              vertical-align: middle;
              height: 100%;
              width: 2.3125em;
            }

            > .price, > .text {
              display: inline-block;
              vertical-align: middle;
              padding-left: $totalSummaryItemValuePaddingLeft;

              > span {
                display: block;
                font-weight: 700;
                margin-bottom: 0.25em;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          > .membership-savings {
            color: #000000;
            font-weight: bold;

            > .text {
              max-width: 6em;
            }
          }

          > .multipass-discount {
            color: #000000;
            font-weight: bold;
            max-width: 9em;
            line-height: 1.2em;
          }

          > button {
            padding: 0 4em;
            margin: 0 0.5em;

            &.next-button {
              color: #ffffff;
              font-weight: 700;
              background: #414141;
              border-radius: $contentHeight;
            }
          }
        }
      }
    }
  }

  &.join-buttons {
    .checkout-bottom-banner-wrapper > .checkout-banner > .content > .help-buttons {
      flex: 0 0 auto;
    }
  }

  .credit-customer {

    .wallet-icon {
      height: 2em !important;
      width: 1.5em;
      display: inline-block;
      vertical-align: middle;
      fill: none;
      stroke: #505050;
    }

    .title {
      color: #414141;
    }

    .price {
      direction: ltr;
      display: inline-block;
      color: #414141;
      &.not-enough{
        color: #D6353A;
        font-weight: bold;
      }
    }
  }

}

html.cart-summary, html.checkout {
  section.view {
    padding-bottom: $checkoutBottomBannerHeight;
  }

  &.extra-banner-shown section.view {
    padding-bottom: $checkoutBottomBannerFullHeight;

    .checkout-bottom-banner-wrapper {
      height: $checkoutBottomBannerFullHeight;

      .loyalty-banner {
        display: block;
      }
    }
  }
}

html.rtl checkout-bottom-banner {
  .checkout-bottom-banner-wrapper > .checkout-banner > .content {
    text-align: right;

    > .total-summary {
      > .total-price, > .you-save, > .membership-savings, > .multipass-discount {
        > .price, > .text {
          padding-left: 0;
          padding-right: $totalSummaryItemValuePaddingLeft;
        }
      }

      > .you-save, > .membership-savings, > .multipass-discount {
        border-right: 0;
        border-left: $totalsBorder;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  checkout-bottom-banner {
    .checkout-bottom-banner-wrapper {
      > .checkout-banner {
        > .content {
          width: 100%;
        }
      }
    }
  }
}