checkout-bottom-banner {
  > .checkout-bottom-banner-wrapper > .checkout-banner {
    background-color: $secondaryColor;

    > .content > .total-summary {
      > .total-price > .number-of-items > span.number {
        background-color: $secondaryColor;
      }

      > .you-save {
        > svg {
          fill: $mainColor;
        }

        > .price {
          color: $mainColor;
        }
      }
    }
  }
}