<span class="for-vertical-align"></span><!--
--><div class="finish-content">
    <svg focusable="false" class="delivery">
        <use xlink:href="#sp-icons-next-delivery"></use>
    </svg>
    <h1 class="thank-you" id="page_title">
        {{finishCtrl.userData.firstName}},<br/>
        {{('thank you for shopping at' | translate) + ' ' + finishCtrl.retailerData.title}}
    </h1>
    <svg focusable="false" class="approval">
        <use xlink:href="#sp-icons-approval"></use>
    </svg>
    <div class="order-confirmation">
        <strong>{{'Your order has been updated' | translate}}</strong><br/>
        {{('Order ID' | translate) + ' ' + updateOrderCtrl.oid}}
    </div>
    <button class="no-design continue-shopping" ng-click="finishCtrl.continue();">{{'HomePageNavigation' | translate}}</button>

    <div class="edit-order-wrapper">
        {{'Forgot something' | translate}}? {{'You can still edit your order' | translate}}&nbsp
        <button class="no-design" ng-click="finishCtrl.editOrder()">{{'Edit order' | translate}}</button>
    </div>
</div>
