<div class="tab-container details" ng-controller="KikarCheckoutDetailsTabCtrl">
    <div class="switcher-wrapper" role="region" aria-label="{{'delivery method' | translate}}">
        <h1 ng-bind="detailsCtrl.primaryTitle() | translate" id="page_title"></h1>
        <sp-radio
            options="detailsCtrl.deliveryMethodOptions"
            sp-model="checkoutCtrl.detailsData.deliveryMethod"
            sp-change="detailsCtrl.setDeliveryTimes();"
            class="switcher"
            ng-if="detailsCtrl.deliveryMethodOptions.length > 1"
            role="radiogroup"
            aria-label="{{'Delivery method options' | translate}}">
            <span>{{option.label | translate}}</span>
            <span class="for-vertical-align"></span>
        </sp-radio>
    </div>

    <form name="checkoutCtrl.detailsForm" novalidate aria-label="{{'main display' | translate}}" ng-submit="checkoutCtrl.nextTab()">
        <div class="form-required-fields">{{'Required fields are marked with *' | translate}}</div>

        <section class="delivery-address" aria-labelledby="delivery_address_title" tabindex="0">
            <h2 id="delivery_address_title">{{(checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery Address' : 'Your Details') | translate}}</h2>
            <div class="data">
                <div class="error-wrapper">
                    <label aria-live="assertive" class="server-err-msg"></label>
                    <span ng-if="checkoutCtrl.otherBranchResponse && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        {{'Sorry, branch change required' | translate}}.
                        <button type="button" class="switch-stores-button no-design"
                                ng-click="detailsCtrl.changeStore($event)">
                            {{'Change Store' | translate}}
                        </button>
                        <br/>
                        {{'This address could only be delivered from branch' | translate}}
                        {{checkoutCtrl.otherBranchResponse.branchName}}
                    </span>
                </div>
                <div class="sp-kikar-input"
                     ng-class="{'for-zipcode-smaller': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                     (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label for="friendlyName" ng-bind="('Full Name' | translate) + ' *'"></label>
                    <input
                       id="friendlyName"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.friendlyName"
                       name="fullName"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       required/>
                </div><!--
                --><div class="sp-kikar-input"
                        ng-class="{'for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label for="phone" ng-bind="('Phone Number' | translate) + ' *'"></label>
                    <input
                       id="phone"
                       type="tel"
                       ng-model="checkoutCtrl.detailsData.mobilePhone.phoneNumber"
                       name="phone"
                       ng-pattern="/^\(?\+?(\d[\s,\-,(,),,,]*){7,15}$/"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       required/>
                </div><!--
                --><div class="sp-kikar-input"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )">
                    <label for="city" ng-bind="('City' | translate) + ' *'"></label>
                    <input
                       id="city"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.city"
                       name="city"
                       ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                       ng-blur="detailsCtrl.setDeliveryTimes();"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       required/>
                </div><!--
                --><div class="sp-kikar-input"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )">
                    <label for="zipCode" ng-bind="'Zip Code' | translate"></label>
                    <input
                       id="zipCode"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.zipCode"
                       name="zipCode"
                       ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                       ng-blur="detailsCtrl.setDeliveryTimes();"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"/>
                </div><!--
                --><div class="whole-line sp-kikar-input"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.POLYGON ||
                            detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.GOOGLE_MAPS
                        )">
                    <label for="text1" ng-bind="('Street Number and Street Name' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
                    <input
                            id="text1"
                            type="text"
                            ng-model="checkoutCtrl.detailsData.address.text1"
                            name="text1"
                            ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                            ng-blur="detailsCtrl.setDeliveryTimes();"
                            sp-inline-error
                            sp-inline-error-attach-to-parent="div"
                            ng-required="detailsCtrl.streetIsRequire"/>
                </div><!--
                --><div class="sp-kikar-input auto-complete-container"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)"
                        ng-class="{'for-zipcode-smaller': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}">
                    <label for="cityAutocomplete" ng-bind="('City' | translate) + ' *'"></label>
                    <input
                       id="city_autocomplete"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.city"
                       name="city"
                       ng-change="detailsCtrl.onCityChange()"
                       ng-blur="detailsCtrl.onCityChosen()"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       required
                       autocomplete="off"/>
                    <sp-autocomplete
                        sp-model="checkoutCtrl.detailsData.address.city"
                        sp-choose="detailsCtrl.onCityChosen()"
                        sp-get-options="detailsCtrl.getCityAutoCompleteOptions()"
                        sp-value="option.name"
                        sp-require-match="true">
                    </sp-autocomplete>
                </div><!--
                --><div class="split"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY)"
                        ng-class="{'for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}"><!--
                --><div class="sp-kikar-input auto-complete-container street">
                    <label for="street" ng-bind="('Street' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
                    <input id="street"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.street"
                       name="street"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       ng-required="detailsCtrl.streetIsRequire"
                       autocomplete="off"
                       ng-change="detailsCtrl.onStreetBlur();"/>
                    <sp-autocomplete
                        sp-choose="detailsCtrl.onStreetBlur();"
                        sp-model="checkoutCtrl.detailsData.address.street"
                        sp-get-options="detailsCtrl.getStreetAutoCompleteOptions()"
                        sp-require-match="detailsCtrl.streetRequireMatch"
                        sp-reload-options-on="checkout.city.change">
                    </sp-autocomplete>
                </div><!--
                    --><div class="sp-kikar-input" ng-class="{'is-enable-entrance': $root.config.retailer.enableFloorApartment}">
                        <label for="houseNumber" ng-bind="('House No.' | translate) + (detailsCtrl.streetIsRequire ? ' *' : '')"></label>
                        <input id="houseNumber"
                           type="number"
                           ng-model="checkoutCtrl.detailsData.address.houseNumber"
                           name="houseNum"
                           ng-required="detailsCtrl.streetIsRequire"
                           sp-inline-error
                           sp-inline-error-attach-to-parent="div"
                           ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                           ng-blur="detailsCtrl.setDeliveryTimes()"/>
                    </div><!--
                --><div class="sp-kikar-input" ng-if="!$root.config.retailer.enableFloorApartment">
                    <label for="entry" ng-bind="'Entrance' | translate"></label>
                    <input id="entry"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.entry"
                       name="entry"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       placeholder="{{'Select' | translate}}"
                       ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                       ng-blur="detailsCtrl.setDeliveryTimes()"/>
                    <sp-autocomplete
                        sp-model="checkoutCtrl.detailsData.address.entry"
                        sp-get-options="detailsCtrl.getEntriesAutoComplete()"
                        sp-reload-options-on="checkout.city.change"
                        sp-require-match="!!checkoutCtrl.detailsData.address.entry"
                        sp-show-on-focus="true">
                    </sp-autocomplete>
                    </div><!--
                --></div><!--
                --><div class="sp-kikar-input whole-line"
                        ng-class="{'more-details-for-zipcode': (checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP &&
                        (detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE || detailsCtrl.deliveryAreaMethod === $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY))}"
                        ng-if="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && !$root.config.retailer.enableFloorApartment">
                    <label for="text2" ng-bind="'More Details' | translate"></label>
                    <input
                       id="text2"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.text2"
                       name="text2"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                       ng-blur="detailsCtrl.setDeliveryTimes();"
                       maxlength="255"
                       placeholder="{{(detailsCtrl.deliveryAreaMethod !== $root.SP_SERVICES.DELIVERY_AREA_METHODS.ZIP_CODE && detailsCtrl.deliveryAreaMethod !== $root.SP_SERVICES.DELIVERY_AREA_METHODS.CITY ?
                       (('Entrance' | translate) + ', ') : '') + ('Apartment, Suite, Building, Floor, etc.' | translate)}}"/>
                </div><!--
             --><div ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP" class="sp-kikar-input floor-apartment more-details"><!--
                    --><label for="moreDetails" ng-bind="'More Details' | translate"></label><!--
                    --><input id="moreDetails"
                           type="text"
                           ng-model="checkoutCtrl.detailsData.address.text2"
                           sp-inline-error
                           sp-inline-error-attach-to-parent="div"
                           maxlength="255"/><!--
            --></div><!--
              --><div class="split floor-apartment" ng-if="$root.config.retailer.enableFloorApartment && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP"><!--
                 --><div class="sp-kikar-input">
                <label for="entry1" ng-bind="'Entrance' | translate"></label>
                <input id="entry1"
                       type="text"
                       ng-model="checkoutCtrl.detailsData.address.entry"
                       name="entry"
                       sp-inline-error
                       sp-inline-error-attach-to-parent="div"
                       placeholder="{{'Select' | translate}}"
                       ng-keyup="detailsCtrl.setDeliveryTimesAfterInactivity()"
                       ng-blur="detailsCtrl.setDeliveryTimes()"/>
                <sp-autocomplete
                        sp-model="checkoutCtrl.detailsData.address.entry"
                        sp-get-options="detailsCtrl.getEntriesAutoComplete()"
                        sp-reload-options-on="checkout.city.change"
                        sp-require-match="!!checkoutCtrl.detailsData.address.entry"
                        sp-show-on-focus="true">
                </sp-autocomplete>
            </div><!--
                --><div class="sp-kikar-input"><!--
                    --><label for="floor" ng-bind="'Floor' | translate"></label><!--
                    --><input id="floor"
                              type="number"
                              name="floor"
                              step="1"
                              ng-model="checkoutCtrl.detailsData.address.floor"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div"/><!--
                --></div><!--
                 --><div class="sp-kikar-input"><!--
                    --><label for="apartment" ng-bind="'Apartment' | translate"></label><!--
                    --><input id="apartment"
                              type="text"
                              ng-model="checkoutCtrl.detailsData.address.apartment"
                              sp-inline-error
                              sp-inline-error-attach-to-parent="div"/><!--
                --></div><!--
                --></div><!--
            --></div>
        </section>

        <section class="delivery-details" aria-labelledby="delivery_details_title" tabindex="0">
            <div class="delivery-details-lbl" style="width: 23%; display: inline-block;padding: 0 1em;">
                <h2 id="delivery_details_title" ng-bind="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Delivery Details' : 'Pickup Details' | translate"></h2>
                <div style="" ng-if="$root.config.retailer.twoHourLaw && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                    {{'The waiting period will not exceed two hours' | translate}}
                </div>
                <div ng-if="$root.config.retailer.deliveryCustomerDisplayDays && !checkoutCtrl.isDeliveryWithinDaysOnly">
                    &#x200E;({{($root.config.retailer.deliveryCustomerDisplayDays) + ' ' + ('available days' | translate)}})
                </div>
            </div>
            <div class="data">
                <div class="details-region" role="region" aria-labelledby="pickup_branch_title">
                    <h3 id="pickup_branch_title" class="branch-description"
                        ng-if="!checkoutCtrl.areasOptions.length && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP && checkoutCtrl.area.branchName">
                        {{'The pickup will be picked from' | translate}}
                        {{checkoutCtrl.area.branchName}},
                        {{$root.config.branch.location || ''}} {{$root.config.branch.city}}
                    </h3>
                    <button ng-if="checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP" ng-click="detailsCtrl.changeStore()" type="button" class="switch-stores-button no-design">{{'Change Store' | translate}}</button>
                    <div ng-if="checkoutCtrl.areasOptions.length" class="sp-kikar-input full">
                        <label for="area" ng-bind=":: (checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Pickup Address' : 'Delivery Area' | translate) + ' *'"></label>
                        <input id="area"
                               type="text"
                               ng-model="checkoutCtrl.areaQuery"
                               autocomplete="off"
                               name="areaQuery"
                               sp-inline-error
                               sp-inline-error-attach-to-parent="div"
                               ng-change="detailsCtrl.setDeliveryTimesFromAutocomplete()"
                               required/>
                        <sp-autocomplete
                                sp-model="checkoutCtrl.areaQuery"
                                sp-option-model="checkoutCtrl.areaChosenOption"
                                sp-get-options="checkoutCtrl.areasOptions"
                                sp-choose="detailsCtrl.setDeliveryTimesFromAutocomplete($event)"
                                sp-value="option.name"
                                sp-identifier="option.id"
                                sp-require-match="true"
                                sp-show-on-focus="true"
                                threshold="0">
                        </sp-autocomplete>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="pickup_branch_title"
                     ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL && checkoutCtrl.area.providerExtraData.showShippingInputAtCheckout">
                    <div class="sp-kikar-input shipping-carrier full">
                        <label class="label" for="shipping_carrier_input">{{:: checkoutCtrl.area.providerExtraData.shippingInputTitle}}</label><!--
                        --><input id="shipping_carrier_input"
                              type="text"
                              ng-model="checkoutCtrl.detailsData.shippingCarrierCode"
                              name="shippingCarrier"
                              sp-inline-error
                              ng-required=":: checkoutCtrl.area.providerExtraData.isShippingInputRequired"/>
                        <div class="input-description" ng-if="checkoutCtrl.area.providerExtraData.shippingInputDescription">{{checkoutCtrl.area.providerExtraData.shippingInputDescription}}</div>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="select_date_title"
                     ng-if="!checkoutCtrl.isDeliveryWithinDaysOnly">
                    <h3 id="select_date_title" ng-bind="checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP ? 'Select delivery date & time' : 'Select pickup date & time' | translate"></h3>

                    <div class="senior-citizen-section"
                         ng-if="$root.config.retailer.isSeniorCitizenActive && checkoutCtrl.detailsData.deliveryMethod.id !== $root.SP_SERVICES.DELIVERY_TYPES.PICKUP">
                        <button type="button" class="main-indication"
                                ng-click="detailsCtrl.showSeniorCitizen()"
                                ng-if="!detailsCtrl.isSeniorCitizen">
                            {{'I am a senior citizen' | translate}}
                        </button>
                        <span ng-if="detailsCtrl.isSeniorCitizen" class="main-indication">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-v"></use>
                            </svg>
                            {{'I am a senior citizen' | translate}}
                        </span>
                        <span class="disclaimer">
                            * {{'May grant you priority delivery slots' | translate}}
                        </span>
                    </div>

                    <sp-slider-pickers
                            class="full-size"
                            direction="'horizontal'"
                            sp-model="checkoutCtrl.detailsData.delivery"
                            sp-change="detailsCtrl.deliveryTimeError = null;"
                            picker="checkoutCtrl.timesOption.picker"
                            items="6"
                            sp-inline-error="{{detailsCtrl.deliveryTimeError}}"
                            sp-inline-error-class="bold"
                            id="content"
                            ng-class="{'with-asap': $root.config.retailer.isAsapActive}"
                            sp-disable-items="detailsCtrl.checkingAddressInProgress"
                            sp-disabled-selected="detailsCtrl.disabledTimeChosen();"
                            sp-on-last-option="detailsCtrl.setDeliveryTimes({scroll: scroll})">
                    </sp-slider-pickers>
                    <div class="business-days-disclaimer"
                          ng-if="checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
                        * {{'Business days' | translate}}
                    </div>
                </div>
                <div class="details-region delivery-within-days-line" ng-if="checkoutCtrl.isDeliveryWithinDaysOnly">
                    <div class="img">
                        <img ng-src="//storage.googleapis.com/sp-public/global/frontend-icons/express-{{::checkoutCtrl.timesOption.picker.primaryItem.customData.deliveryTypeStr}}-grey.png"
                             alt="{{'express delivery' | translate}}">
                    </div>
                    <div class="delivery-text">
                        <div class="title">
                            {{'Delivery within' | translate}}
                            {{checkoutCtrl.timesOption.picker.primaryItem.dropDown.items[0].daysRange}} {{'Days' | translate}}*
                        </div>
                        <div class="price">
                            <div class="main-row">
                                {{'Delivery price' | translate}}:
                                <span ng-if="::checkoutCtrl.timesOption.picker.primaryItem.price">
                                    {{::checkoutCtrl.timesOption.picker.primaryItem.price | currency}}
                                </span>
                                <span ng-if="::!checkoutCtrl.timesOption.picker.primaryItem.price">
                                    {{'Free' | translate}}
                                </span>
                            </div>

                            <div class="specials-wrapper"
                                 ng-if="checkoutCtrl.timesOption.picker.primaryItem.specials.length">
                                <div class="special-content" ng-repeat="primarySpecial in checkoutCtrl.timesOption.picker.primaryItem.specials">
                                    <sp-sale-icon product-special="primarySpecial" without-actions="true"></sp-sale-icon>
                                    <span class="description">{{primarySpecial.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-disclaimer">
                        {{'We will contact you in order to' | translate}}<br/>
                        {{'schedule the delivery hours' | translate}}<br/>
                        <span class="business-days-disclaimer">* {{'Business days' | translate}}</span>
                    </div>
                </div>

                <div class="details-region" role="region" aria-labelledby="substitutions_title">
                    <div class="substitute-preferences" ng-if="detailsCtrl.shownSubstitutePreferences.length > 1">
                        <div id="substitutions_title" class="title">{{'Allow Substitutions' | translate}}?</div>
                        <sp-radio options="detailsCtrl.shownSubstitutePreferences"
                                  value-key="option"
                                  sp-model="checkoutCtrl.detailsData.substitutePreferences"
                                  role="radiogroup"
                                  aria-label="{{'Substitute preference options' | translate}}">
                            {{('substitute_preference_' + option + '_label' | translate) + (checkoutCtrl.detailsData.substitutePreferences === option ? ' - ' + ('substitute_preference_' + option + '_description' | translate) : '')}}
                        </sp-radio>
                    </div>

                    <sp-checkbox sp-model="checkoutCtrl.detailsData.leaveByTheDoor" class="leave-by-the-door" ng-if="$root.config.retailer.isLeaveByTheDoorEnabled && checkoutCtrl.detailsData.deliveryMethod.id === $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
                        {{'Please leave the order outside the door if nobody\'s home' | translate}}
                    </sp-checkbox>

                    <div class="comments">
                        <input type="text" ng-model="checkoutCtrl.detailsData.comments" placeholder="{{'Comments' | translate}}">
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
