html.checkout section.view .checkout-content .tab > .details section.delivery-details > .data .details-region {
  > h3 {
    font-family: $secondaryFontFamily;
  }

  .sp-slider-picker .slider-items > .slider-item {
    &.dropdown-shown > .slider-item-content {
      border-color: $secondaryColor;
    }

    &.selected > .slider-item-content {
      background-color: $secondaryColor;
      border-color: $secondaryColor;
    }

    .slider-item-content:hover {
      border-color: $secondaryColor;
    }
  }

  .sp-slider-picker-wrapper .sp-slider-picker > .slider-primary-item > .slider-primary-item-btn {
    &.selected {
      background-color: $secondaryColor;
    }

    > ng-include > .tool-tip {
      border-color: $secondaryColor;

      &:before {
        border-color: $secondaryColor;
      }
    }
  }
}