div.sp-product-price {
  direction: ltr;

  > * {
    font-weight: 700;
    display: inline-block;
    direction: ltr;
  }

  > .price, > .normalize-price {
    color: #000000;
  }

  > .regular-price {
    font-size: 0.68681em;
    color: #adadad;
    text-decoration: line-through;
  }

  > .normalize-price {
    display: block;
    font-size: 0.8em;
    font-weight: 400;
  }
}

.rtl div.sp-product-price {
  direction: ltr;

  //don't do this to sale price because it switches out the "-" for coupons
  > .price {
    direction: ltr;
  }

  > .normalize-price {
    direction: rtl;
  }
}