<div class="user-edit" refresher="$root.config.language.id">
    <ul class="account-options" role="navigation" aria-label="{{'navigation' | translate}}">
        <li class="option-btn clickable" ui-sref-active="selected" ng-repeat="tab in userEditCtrl.tabs">
            <a ui-sref="app.userEdit.{{tab.state}}">
                <svg focusable="false">
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-' + tab.icon}}"></use>
                </svg>
                <span ng-bind="::tab.title | translate"></span>
            </a>
        </li>
    </ul>

    <ui-view name="tab" role="region" aria-label="{{'main display' | translate}}"></ui-view>
</div>