$formInputTitleWidth: 22%;
$formInputWidth: 67%;
$saveButtonMarginRight: 7.5%;
$grayColor: #616161;
$backgroundColor: #f3f3f3;
$optionsFontSize: 0.875em;

html.user-edit {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;

    background: $backgroundColor;
  }

  .account-options {
    position: fixed;
    padding-top: 1em;
    width: $menuCategoriesTitleWidth / $optionsFontSize * 1em;
    font-size: $optionsFontSize;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    color: #616161;

    ul {
      width: 90%;
    }

    .option-btn {
      width: 100%;
      height: 3.875em;
      line-height: 3.875em;
      padding: 0 1em 0 1.8em;
      box-sizing: border-box;
      white-space: nowrap;
      overflow: hidden;

       svg {
        display: inline-block;
        width: 10%;
        max-height: 100%;
        vertical-align: middle;
        fill: #a4a4a4;
      }

       span {
        display: inline-block;
        width: 88%;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0 0.5em;
      }

      &.selected {
        border-radius: 0 30px 30px 0;
        background-color: #e8e8e8;
        color: #414141;
        font-weight: 700;
        padding-left: 1em;

         svg {
          fill: #414141;
        }
      }
    }
  }

  ui-view {
    display: inline-block;
    width: 100%;
    color: #606060;
    box-sizing: border-box;
    padding: 0 ($menuCategoriesTitleWidth + 1em) 3em ($menuCategoriesTitleWidth + 1em);
  }

  .detail-title {
    padding: 0.5em 0;
    color: $grayColor;
  }

  .detail-container {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 1em;

    .detail-subtitle, .detail-content {
      display: inline-block;
      box-sizing: border-box;
    }

    .detail-subtitle {
      width: 17%;
      padding: 0.5em 0.7em;
      font-size: 2.5em;
      color: $grayColor;
      vertical-align: top;
    }

    .detail-content {
      width: 83%;
      padding: 2em 2em 0 2em;

      .sub-sub-title {
        font-weight: bold;
        padding-bottom: 0.4em;
      }

      > .sp-kikar-input {
        width: 80.5%;
      }

      .checkbox-input {
        margin-bottom: 1em;

        label.checkbox > span.label {
          color: #939393;
          font-weight: bold;
        }
      }

      &.account-info {
        .input-group {
          width: 43.5%;
          box-sizing: border-box;
          padding: 0.5em 7% 0.5em 0;

           .sp-kikar-input {
             margin-bottom: 2em;
             width: 100%;

             &.sp-radio {
               padding-top: 1.5em;
               margin-bottom: 0;

               * {
                 font-size: 1em;
                 vertical-align: baseline;
               }

               .input-desc {
                 font-weight: 700;
               }
             }
           }

          .split {
            margin-bottom: 2em;

            &.splite50 > .sp-kikar-input{
              width: 50%;
            }

            .sp-kikar-input {
              width: 33%;
              box-sizing: border-box;
              margin-bottom: 0;
            }

            :first-child {
              padding-right: 0.5em;
            }

            :last-child {
              padding-left: 0.5em;
            }
          }

          .input-wrapper.phone-wrapper {
            padding: 0;

            .sp-kikar-input {
              width: 100%;
            }
          }
        }
      }

      &.credit-card-details {
        .card-option {
          .sp-radio-option {
            * {
              vertical-align: middle;
            }

            .card-no {
              padding-right: 0.5em;
            }

            .remove-btn {
              display: none;

              svg {
                width: 1em;
                height: 1em;
                fill: #7a7a7a;
              }

              span, svg {
                vertical-align: middle;
              }
            }

            &.checked {
              .remove-btn {
                display: inline-block;
              }
            }
          }

          button {
            border-left: 1px solid;
            padding: 0 0.5em;
            font-weight: 700;
            font-size: 0.85em;
          }
        }

        > * {
          padding-bottom: 1em;
          margin-bottom: 1em;
          border-bottom: 1px solid #d4d4d4;

          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom-width: 0;
          }
        }
      }

      .add-card-btn-wrapper {
        .add-btn {
          > * {
            vertical-align: middle;
          }

          svg {
            width: 2em;
            height: 2em;
            fill: #616161;
          }

          span {
            padding: 0 0.5em;
          }
        }
      }
    }

    .detail-footer {
      padding-top: 1.875em;
      text-align: center;
      font-weight: 700;
      position: relative;

      label.checkbox>span {
        &.label {
          color: #414141;
        }

        &.box {
          border:1px solid #414141;

          svg {
            fill: #414141;
          }
        }
      }

      .save-button {
        position: absolute;
        bottom: -1em;
        width: 100%;

        button {
          background-color: #414141;
          border-radius: 30em;
          font-weight: 700;
          padding: 0.5em 1em;
          color: #ffffff;
        }
      }
    }

    > :last-child {
      padding-bottom: 2em;
    }
  }

  .detail-subtitle {
    font-size: 0.875em;
    font-weight: 400;
    padding-bottom: 1em;
  }

  .sp-radio-buttons > label.sp-radio-option {
    display: block;

    &:before {
      margin: 0 0.5em;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .link-back {
    color: blue;
  }

  button:disabled {
    opacity: 0.2;
  }
}

.rtl {
  .user-edit .single-ticket.open-ticket > .extra .user-comment > .attachment .title {
    margin-right: -1.2em;
  }

  .user-edit {
    .account-options {
      .option-btn {
        padding: 0 1.5em 0 1em;

        &.selected {
          border-radius: 30px 0 0 30px;
          padding-right: 1em;
          border-left-width: 0;
        }
      }
    }

    .detail-container .detail-content {
      &.account-info {
        .input-group {
          padding: 0.5em 0 0.5em 6%;

          .split {
            :first-child {
              padding-right: 0;
              padding-left: 0.5em;
            }
            :last-child {
              padding-left: 0;
              padding-right: 0.5em;
            }
          }
        }
      }
      &.credit-card-details .card-option .sp-radio-option {
        &.checked .remove-btn {
          border-left-width: 0;
          border-right: 1px solid;
        }

        .card-no {
          padding-right: 0;
          padding-left: 0.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.user-edit {
      .account-options {
        width: $responsive1575MenuCategoriesTitleWidth / $optionsFontSize * 1em;
      }

      ui-view {
        padding-right: 10em;
        padding-left: $responsive1575MenuCategoriesTitleWidth + 1em;
      }
    }

    &.rtl {
      &.user-edit {
        ui-view {
          padding-left: 10em;
          padding-right: $responsive1575MenuCategoriesTitleWidth + 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  html {
    &.user-edit {
      .account-options {
        width: $responsive1180MenuCategoriesTitleWidth / $optionsFontSize * 1em;
      }

      ui-view {
        padding-right: 8em;
        padding-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      }
    }

    &.rtl {
      &.user-edit {
        ui-view {
          padding-left: 8em;
          padding-right: $responsive1180MenuCategoriesTitleWidth + 1em;
        }
      }
    }
  }
}