html.user-edit {
  .selected {
    border-left: 0.8em solid $secondaryColor;
  }

  .detail-footer {
    background-color: $secondaryColor;
  }
}

.rtl {
  .user-edit {
    .account-options .option-btn {
        &.selected {
          border-right: 0.5em solid $secondaryColor;
        }
    }
  }
}