<div class="single-order-container" refresher="$root.config.language.id">
    <div class="title-wrapper">
        <div class="title">
<!--            <h1 id="page_title">{{'Order number' | translate}}: {{order.id}}</h1>-->
        </div>
        <div class="actions">
            <button class="no-design" ng-click="singleOrderItemCtrl.addToCart(); ">
                <span class="icon-wrapper">
                    <svg focusable="false">
                        <use xlink:href="#sp-icons-add-to-cart"></use>
                    </svg>
                </span>
                <span class="desc" ng-bind="::'Add to cart' | translate"></span>
            </button>
        </div>
    </div>

    <sp-table items="order.lines" actions="singleOrderItemCtrl.actions"
              class="single-order-table" on-select="singleOrderItemCtrl.checkedItemsLength = selectedCount;"
              selected-change-event="singleOrder.lines.checkedChanged">
        <sp-table-column title="{{'Select' | translate}}" style-class="select">
            <sp-checkbox sp-model="item.actionsChecked" sp-disabled="item.actionsDisabled" ng-class="{'disabled': item.actionsDisabled}"></sp-checkbox>
        </sp-table-column>
        <sp-table-column title="{{'Quantity' | translate}}" sort-by="quantity" style-class="quantity">
            <div ng-if="!item.inCart">
                <div class="quantity-text">
                    {{$root.util.isWeightQuantity(item.product) ? (item.product | productWeight:item.isCase:null:item.quantity) : item.quantity}}
                </div>
                <div class="quantity-actions">
                    <sp-quantity cart-line="item" on-plus="setQuantity(item, 1)" on-minus="setQuantity(item, -1)"
                                 on-change="true" design="landscape"></sp-quantity>
                </div>
            </div>
            <span ng-if="item.inCart" class="single-order-in-cart">
                <span ng-if="!item.product.isWeighable || item.product.weight">{{item.inCartQuantity}}</span>
                <span ng-if="item.product.isWeighable && !item.product.weight">{{item.product | productWeight:item.isCase:null:item.inCartQuantity}}</span>
                <span>{{'In cart' | translate}}</span>
            </span>
        </sp-table-column>
        <sp-table-column title="" style-class="image">
            <div class="image-wrapper">
                <img ng-src="{{item.product | productImage:'small'}}" alt="{{item.product ? (item.product | productName:item.isCase) : item.name}}"/>
            </div>
        </sp-table-column>
        <sp-table-column title="{{'Name' | translate}}" style-class="product-details">
            <span ng-if="!!item.product" class="name">
                <div class="brand">{{(item.product.brand.names | name) + (item.product.brand.names && item.product.weight ? ' | ' : '') + (item.product.weight ? (item.product | productWeight:item.product.isCaseMode) : '')}}</div>
                <div class="product-name">{{(item.product ? (item.product | productName:item.isCase) : item.name)}}</div>
                <div class="specials" ng-if="item.product.branch && item.product.branch.specials">
                    <div class="special-desc" ng-repeat="special in item.product.branch.specials">{{('Special' | translate) + ': ' + special.description}}</div>
                </div>
            </span>
            <span ng-if="!item.product" class="name">{{'Not active' | translate}}</span>
        </sp-table-column>
        <sp-table-column title="{{'Unit price' | translate}}" sort-by="product | regularPrice">
            {{item.product | regularPrice:item.isCase | currency}}
        </sp-table-column>
        <sp-table-column title="{{'Price' | translate}}" sort-by="(product | regularPrice) * quantity" style-class="price">
            {{(item.product | regularPrice:item.isCase) * item.quantity | currency}}
        </sp-table-column>
        <sp-table-column title="{{'Comments' | translate}}">
            {{item.comments}}
        </sp-table-column>
    </sp-table>
</div>