$fixedTitleHeight: 6em;
$fixedTitleExtendedHeight: $fixedTitleHeight + 1em;
$horizontalPadding: 2em;
$responsive1575HorizontalPadding: 1em;
$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$categoriesTitleFontSize: 1.88em;

html.single-order {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;
    background-color: $backgroundColor;

    > div[ui-view] .single-order-container {
      margin: 0 $sidenavWidth 0 $menuCategoriesTitleWidth;
      padding: $fixedTitleHeight $horizontalPadding 0 $horizontalPadding;
      color: $grayColor;

      .title-wrapper {
        border-bottom: 1px solid #cccccc;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        top: $headerHeight;
        left: $menuCategoriesTitleWidth + $horizontalPadding;
        right: $sidenavWidth + $horizontalPadding;
        height: $fixedTitleHeight;
        background-color: $backgroundColor;

        .title {
          h1 {
            padding: 0;
          }

          h3 {
            padding: 0;
          }

          .site-popular-products-disclaimer {
            display: none;
          }
        }

        > .actions {
          padding: 0;

          button {
            width: 5em;

            .icon-wrapper {
              display: block;
              box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
              background-color: #ffffff;
              border-radius: 100%;
              width: 3em;
              height: 3em;
              margin: auto;
              margin-bottom: 0.5em;

              svg {
                height: 1.8em;
                width: 1.8em;
                margin: 0.6em;
                fill: #9c9c9c;
              }
            }

            .desc {
              display: block;
              font-size: 0.8em;
              line-height: 0.9em;
              color: #787878;
            }
          }
        }

        > .check-all {
          font-size: 0.750em;
          color: #616161;

          label.checkbox > .box {
            border-radius: 100%;
            padding: 0.1em;
            height: 1.1em;
            width: 1.1em;
            margin-top: 0;
          }
        }
      }

      &.site-popular-products {
        padding-top: $fixedTitleExtendedHeight;

        .title-wrapper {
          height: $fixedTitleExtendedHeight;

          .title .site-popular-products-disclaimer {
            display: block;
          }
        }
      }

      sp-table {
        display: block;

        table {
          border-collapse: separate;
          thead {
            border-bottom-width: 0;
            font-weight: 700;
            tr th {
              font-weight: 700;
              padding: 1em 0.5em;

              &.quantity {
                text-align: center;
              }
            }
          }

          tbody {
            tr {
              background-color: #ffffff;
              height: 6em;

              td {
                padding: 0 1em;
                max-width: 5em;
                border-bottom: 11px solid $backgroundColor;
                color: #787878;

                &.select {
                  label.checkbox {
                    &.disabled {
                      cursor: default;
                      span.box.true {
                        border: 2px solid #797979;

                        svg {
                          fill: #797979;
                        }
                      }
                    }

                    > .box {
                      height: 2.5em;
                      width: 2.5em;
                      padding: 0.6em;
                      border-radius: 100%;
                    }
                  }

                }

                &.quantity {
                  color: #414141;
                  font-size: 0.875em;
                  font-weight: 700;
                  text-align: center;

                  .single-order-in-cart {
                    font-weight: bold;
                    color: white;
                    padding: 0.3em 0.8em;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 3px;
                  }

                  .quantity-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #eaeaea;
                    border-radius: 100%;
                    width: 3.2em;
                    height: 3.2em;
                    padding: 0.2em;
                    font-size: 0.9em;
                    margin: 0 auto;
                    box-sizing: border-box;
                    text-align: center;
                  }

                  .quantity-actions {
                    display: none;
                    position: relative;

                    .sp-quantity {
                      .est-weight {
                        left: 0;
                        right: 0;
                        top: auto;
                        bottom: -1.3em;

                        > .text {
                          padding-right: 0;
                          padding-left: 0;
                        }
                      }

                      .btns-row > .quantity-wrapper {
                        height: auto;
                        text-align: center;
                      }
                    }
                  }
                }

                &.image {
                  position: relative;
                  width: 5em;

                  .image-wrapper {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 6em;

                    img {
                      padding: 0.5em;
                      box-sizing: border-box;
                      max-height: 4.375em;
                    }
                  }
                }

                &.price {
                  font-weight: 700;
                  color: #000000;
                }

                &.product-details {
                  width: 17.063em;

                  span {
                    * {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      height: 1em;
                    }

                    > .brand {
                      font-size: 0.875em;
                      color: #a8a8a8;
                      padding-bottom: 0.3em;
                    }

                    > .specials {
                      border-top: 1px solid #cccccc;
                      margin-top: 0.4em;
                      padding-top: 0.4em;
                      font-weight: 700;
                      font-size: 0.813em;

                      .special-desc {
                        line-height: 0.8em;
                      }
                    }
                  }
                }
              }

              &:hover {
                td.quantity {
                  .quantity-text {
                    display: none;
                  }

                  .quantity-actions {
                    display: block;
                  }
                }
              }

              &:last-child {
                td {
                  border-bottom-width: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &.ltr {
    section.view {
      margin-right: 0;
    }
  }
  &.rtl {
    section.view {
      margin-left: 0;

      > div[ui-view] .single-order-container {
        margin-right: $menuCategoriesTitleWidth;
        margin-left: $sidenavWidth;

        .title-wrapper {
          right: $menuCategoriesTitleWidth + $horizontalPadding;
          left: $sidenavWidth + $horizontalPadding;
        }
      }
    }
  }

  &.hub-child {
    section.view > div[ui-view] .single-order-container .title-wrapper {
      top: $headerHeightWithHub;
    }
  }
}

@media screen and (max-width: 1575px) {
  html.single-order {
    section.view > div[ui-view] .single-order-container {
      margin-left: $responsive1575MenuCategoriesTitleWidth;
      margin-right: $responsive1575SidenavWidth;
      padding-right: $responsive1575HorizontalPadding;
      padding-left: $responsive1575HorizontalPadding;

      .title-wrapper {
        top: $responsive1575HeaderHeight;
        left: $responsive1575MenuCategoriesTitleWidth + $responsive1575HorizontalPadding;
        right: $responsive1575SidenavWidth + $responsive1575HorizontalPadding;
      }

      sp-table table tbody tr td {
        font-size: 0.9em;

        &.product-details {
          width: 11.063em;

          span > .brand {
            font-size: 0.9em;
          }
        }
      }
    }

    &.rtl section.view > div[ui-view] .single-order-container {
      margin-right: $responsive1575MenuCategoriesTitleWidth;
      margin-left: $responsive1575SidenavWidth;

      .title-wrapper {
        right: $responsive1575MenuCategoriesTitleWidth + $responsive1575HorizontalPadding;
        left: $responsive1575SidenavWidth + $responsive1575HorizontalPadding;
      }
    }

    &.hub-child {
      section.view > div[ui-view] .single-order-container .title-wrapper {
        top: $responsive1575HeaderHeightWithHub;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  html.single-order {
    section.view > div[ui-view] .single-order-container {
      margin-left: $responsive1180MenuCategoriesTitleWidth;

      .title-wrapper {
        left: $responsive1180MenuCategoriesTitleWidth + $responsive1575HorizontalPadding;
      }
    }

    &.rtl section.view > div[ui-view] .single-order-container {
      margin-right: $responsive1180MenuCategoriesTitleWidth;

      .title-wrapper {
        right: $responsive1180MenuCategoriesTitleWidth + $responsive1575HorizontalPadding;
      }
    }
  }
}