<div class="container">
	<h2 class="title" id="cancel_order_dialog_title">
		<span ng-if="!orderCancelled" class="warning" ng-bind="::('Cancel Order' | translate) + '?'"></span>
		<span ng-if="orderCancelled" ng-bind="::'Your order was cancelled' | translate"></span>
	</h2>

	<h4 ng-bind="::('Are you sure you want to cancel this order' | translate) + ':'" ng-if="!orderCancelled"></h4>

	<div class="order-details">
		<div>{{::'Order #' | translate}} <span class="bold" ng-bind="::order.id"></span></div>
		<div>
			{{::order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup' | translate}}:
			<span ng-if="order.deliveryTimeTypeId !== $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
				<span class="bold" ng-if="::!$root.config.retailer.twoHourLaw || order.branchDeliveryTypeId != $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
					{{::order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}},
					{{::(order.shippingTimeFromDisplay || order.shippingTimeFrom) | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
					-
					{{::order.shippingTimeTo | date:($root.config.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
				</span>
				<span class="bold" ng-if="::$root.config.retailer.twoHourLaw && order.branchDeliveryTypeId == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY">
					{{::order.shippingTimeFrom | date:($root.config.isUs ? 'MM/dd/yyyy' : 'dd/MM/yyyy'):'UTC'}},
					{{::(order.shippingTimeFromDisplay || order.shippingTimeFrom) | date:($root.isUs ? 'hh:mma' : 'HH:mm'):'UTC'}}
				</span>
			</span>
			<span class="bold" ng-if="order.deliveryTimeTypeId === $root.DELIVERY_TIMES_TYPES.DELIVERY_WITHIN_DAYS">
				{{'Within' | translate}} {{::order.deliveryTimeDaysRange}} {{'days' | translate}}
			</span>
		</div>
		<div>{{::'Total' | translate}}: <span class="bold" ng-bind="::order.totalAmount | currency"></span></div>
	</div>

	<h4 ng-bind="::'This order will not be charged' | translate" ng-if="orderCancelled"></h4>

	<h5 ng-bind="::'A confirmation email was sent to you' | translate" ng-if="orderCancelled"></h5>

	<div class="buttons" ng-if="!orderCancelled">
		<button class="no-design" ng-click="$dialog.hide()" aria-label="Keep the order" ng-bind="::'Keep the order' | translate"></button>
		<button class="no-design primary" ng-click="cancelOrder()" aria-label="Cancel Order" ng-bind="::'Cancel Order' | translate"></button>
	</div>
	<div class="buttons" ng-if="orderCancelled">
		<button class="no-design" ng-click="$dialog.hide()" aria-label="Close" ng-bind="::'Close' | translate"></button>
	</div>
</div>