.dialog.cancel-order-dialog .dialog-body > .container {
  text-align: center;
  width: 25em;

  h2 {
    color: #000000;
    font-size: 1.375em;
    padding: 0;

    .warning {
      color: #da3b39;
    }
  }

  h4 {
    color: #000000;
    font-size: 1em;
    padding: 1em 0 0 0;
  }

  h5 {
    color: #000000;
    font-size: 0.9em;
    padding: 0.7em 0 0 0;
  }

  .order-details {
    line-height: 1.6;
    padding: 1em 0 0.3em 0;
  }

  .buttons {
    padding-top: 1em;

    button {
      font-size: 1em;
      text-align: center;
      border-radius: 3em;
      border: 1px solid #78797a;
      color: #1E1F21;
      height: 2.5em;
      width: 10em;
      padding: 0 1em;
      margin: 0 1em;

      &.primary {
        background: #da3b39;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}