<div>
    <div class="summary-line with-padding">
        <span class="left price">{{'Subtotal' | translate}}</span>
        <span class="right price ltr">{{$root.cart.total.finalPriceWithoutTax | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line with-padding" ng-if="$root.cart.total.tax || summaryCtrl.ebtCalculatedAmounts.total.taxSaved">
        <span class="left price">{{'Tax' | translate}}</span>
        <span class="right price ltr">{{(($root.cart.total.tax || 0) | roundCurrency) - (summaryCtrl.ebtCalculatedAmounts.total.taxSaved || 0) | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line with-padding fee-price-line" ng-if="!!$root.cart.total.serviceFee.priceWithTax">
        <span class="left price">{{'Service Fee' | translate}}</span>
        <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax}">
            <span class="final-price">
                {{$root.cart.total.serviceFee.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.cart.total.serviceFee.finalPriceWithTax | currency) : ('Free' | translate)}}
            </span>
            <span class="original-price">
                {{$root.cart.total.serviceFee.priceWithTax | currency}}
            </span>
        </span>
        <div class="clear"></div>
    </div>
    <div class="summary-line with-padding" ng-if="checkoutCtrl.area.deliveryProviderId === $root.SP_SERVICES.DELIVERY_PROVIDERS.MANUAL && checkoutCtrl.area.providerExtraData.shippingInputDescription">
        {{checkoutCtrl.area.providerExtraData.shippingInputDescription}}
    </div>
    <div class="summary-line with-padding fee-price-line" ng-if="!!$root.cart.total.deliveryCost.priceWithTax">
        <span class="left price">{{(checkoutCtrl.detailsData.deliveryMethod.id == $root.SP_SERVICES.DELIVERY_TYPES.DELIVERY ? 'Delivery' : 'Pickup') + ' Fee' | translate}}</span>
        <span class="right price ltr" ng-class="{'has-sale': $root.cart.total.deliveryCost.giftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax}">
            <span class="final-price">
                {{$root.cart.total.deliveryCost.finalPriceWithTax ? ('Only' | translate) + ' ' + ($root.cart.total.deliveryCost.finalPriceWithTax | currency) : ('Free' | translate)}}
            </span>
            <span class="original-price">
                {{$root.cart.total.deliveryCost.priceWithTax | currency}}
            </span>
        </span>
        <div class="clear"></div>
    </div>
    <div class="summary-line with-padding" ng-if="!!$root.cart.total.markup">
        <span class="left price">{{'Markup' | translate}}</span>
        <span class="right price ltr">{{$root.cart.total.markup | currency}}</span>
        <div class="clear"></div>
    </div>

    <div class="summary-line" ng-show="summaryCtrl.ebtCalculatedAmounts.fs.deposit">
        <span class="left price">{{'EBT SNAP Weight debit' | translate}}</span>
        <span class="right price ltr">{{summaryCtrl.ebtCalculatedAmounts.fs.deposit | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line" ng-show="summaryCtrl.ebtCalculatedAmounts.cb.deposit">
        <span class="left price">{{'EBT Cash Weight debit' | translate}}</span>
        <span class="right price ltr">{{summaryCtrl.ebtCalculatedAmounts.cb.deposit | currency}}</span>
        <div class="clear"></div>
    </div>
</div>
<div class="border"></div>
<div class="summary-line total-line">
    <div>
        <span class="left">
            {{'TOTAL' | translate}} ({{'estimated' | translate}})
            <span class="sum-explan"><!--
                 --><svg focusable="false" class="question-mark" aria-labelledby="question_mark_title" role="img">
                    <title id="question_mark_title">{{'clarification' | translate}}</title>
                    <use xlink:href="#sp-icons-question-mark"></use>
                </svg>
                 <div class="explanation">
                      {{'Once we complete picking your order, we adjust your final charge based on weight adjustments, substitutions & out of stock items' | translate}}.
                 <div class="arrow"></div>
                 </div>
            </span>
        </span>
        <span class="right price ltr sum">
            {{($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                $root.cart.total.deliveryCost.finalPriceWithTax + summaryCtrl.ebtCalculatedAmounts.total.deposit -
                summaryCtrl.ebtCalculatedAmounts.total.taxSaved) | currency}}
        </span>
        <div class="clear"></div>
    </div>

    <div ng-if="($root.cart.total.giftsWithTax || $root.cart.total.serviceFee.giftsWithTax || $root.cart.total.deliveryCost.giftsWithTax) && !$root.isCreditCustomer">
        <span class="left you-save you-save-sale">
            <svg focusable="false">
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
            </svg><!--
            -->{{('You saved' | translate)}} :
            <span class="gift-price">
                {{($root.cart.total.giftsWithTax + $root.cart.total.serviceFee.giftsWithTax + $root.cart.total.deliveryCost.giftsWithTax | currency)}}</span>

        </span>
        <div class="clear"></div>
    </div>

    <div ng-if="($root.cart.total.clubsGiftsWithTax || $root.cart.total.serviceFee.clubsGiftsWithTax || $root.cart.total.deliveryCost.clubsGiftsWithTax)">
        <span class="left you-save club-savings sale-icon club-icon">
            <svg focusable="false">
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
            </svg><!--
            -->{{('Membership savings' | translate)}} :
            <span class="gift-price">
                {{($root.cart.total.clubsGiftsWithTax + $root.cart.total.serviceFee.clubsGiftsWithTax + $root.cart.total.deliveryCost.clubsGiftsWithTax | currency)}}</span>
        </span>
        <div class="clear"></div>
    </div>

    <div class="multipass-discount" ng-if="$root.cart.total.multiPassGift && !$root.isCreditCustomer">
        <span class="left price">{{('Estimated employee savings' | translate)}}</span>
        <span class="right price ltr">{{($root.cart.total.multiPassGift | currency)}}</span>
        <div class="clear"></div>
    </div>

    <div ng-if="$root.config.retailer.loyaltyClubDriver.isActive && !$root.cart.total.clubsGiftsForView && $root.cart.total.simulateClubsGiftsForView && !$root.isCreditCustomer">
        <span class="left you-save club-savings sale-icon club-icon">
            <svg focusable="false">
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
            </svg><!--
            -->{{('Could save' | translate)}} :
            <span class="gift-price">
                {{($root.cart.total.simulateClubsGiftsForView | currency)}}</span>
            </span>
        <div class="clear"></div>
    </div>

    <div ng-if="$root.config.retailer.loyaltyClubDriver.isActive && $root.config.retailer.loyaltyClubDriver.clientConfig.showCashbackLabel && $root.cart.total.lines && !$root.isCreditCustomer">
         <span class="left you-save club-savings">
             <svg focusable="false">
                <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
            </svg><!--
                --><span class="text" ng-bind-html="$root.util.getCashbackLabel((checkoutCtrl.userLoyaltyClubCardId ?
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerSavingLabel :
                                            $root.config.retailer.loyaltyClubDriver.clientConfig.text.customerCouldSaveLabel), $root.cart.total.finalPriceForView)"></span>
        </span>
        <span class="join-or-connect right" ng-if="!checkoutCtrl.userLoyaltyClubCardId" ui-sref="app.userEdit.loyalty"
              ng-bind="(checkoutCtrl.userLoyaltyVerificationStatus ? 'Connect' : 'Join') | translate"></span>
    </div>
</div>
<div class="ebt-group"
     ng-if="checkoutCtrl.summaryData.paymentMethod.name === $root.SP_PAYMENTS.PAYMENT_METHODS.NAMES.EBT">
    <div class="summary-line">
        <span class="left price">{{'EBT SNAP' | translate}}</span>
        <span class="right price ltr">{{checkoutCtrl.summaryData.ebt.fsAmount || 0 | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line">
        <span class="left price">{{'EBT Cash' | translate}}</span>
        <span class="right price ltr">{{checkoutCtrl.summaryData.ebt.cbAmount || 0 | currency}}</span>
        <div class="clear"></div>
    </div>
    <div class="summary-line">
        <span class="left price">{{'Credit card' | translate}}</span>
        <span class="right price ltr">
            {{((($root.cart.total.finalPriceWithTax + $root.cart.total.serviceFee.finalPriceWithTax +
                $root.cart.total.deliveryCost.finalPriceWithTax) | roundCurrency) - summaryCtrl.ebtCalculatedAmounts.total.amountWithTax) | currency}}
        </span>
        <div class="clear"></div>
    </div>
</div>


<div class="summary-line" ng-if="$root.config.retailer.settings.checkoutSummaryText && !$root.isCreditCustomer">
    <div class="retailer-text" ng-bind-html="$root.config.retailer.settings.checkoutSummaryText"></div>
</div>
