<section ng-if="!permanentViewFiltersCtrl.saved">
    <div class="content" ng-if="!permanentViewFiltersCtrl.saving">
        <header>
            <h4>{{($root.config.retailer.permanentViewFiltersTexts | name).popupMainText || ('What\'s your lifestyle?' | translate)}}</h4>
            <span class="sub-title">{{($root.config.retailer.permanentViewFiltersTexts | name).popupSubText || ('Filter the entire store according to your preferred lifestyle or Diet!' | translate)}}</span>
        </header>

        <sp-carousel
                template-url="template/dialogs/permanent-view-filters/partials/carousel-item/index.html"
                load-more-items="::permanentViewFiltersCtrl.loadGroups"
                functions="::permanentViewFiltersCtrl.carouselActions"
                shown-size="::3" rows="::1" data="::permanentViewFiltersCtrl.carouselData">
        </sp-carousel>
    </div>

    <div class="content saving" ng-if="permanentViewFiltersCtrl.saving">
        <svg focusable="false" class="store-icon">
            <use xlink:href="#sp-icons-permanent-filters-store"></use>
        </svg>
        <div>
            {{'Filtering store' | translate}}...
        </div>
    </div>

    <footer>
        <button class="no-design" ng-click="permanentViewFiltersCtrl.clearAll()"
                ng-disabled="permanentViewFiltersCtrl.saving">
            {{'Clear all filters' | translate}}
        </button>
        <button class="main no-design" ng-click="permanentViewFiltersCtrl.save()"
                ng-disabled="permanentViewFiltersCtrl.saving">
            <svg focusable="false">
                <use xlink:href="#sp-icons-sticky-pin"></use>
            </svg>&nbsp;
            {{'Filter entire store' | translate}}
        </button>
    </footer>
</section>

<section ng-if="permanentViewFiltersCtrl.saved">
    <div class="content">
        <div class="inner-content">
            <svg focusable="false" class="store-icon">
                <use xlink:href="#sp-icons-permanent-filters-store"></use>
            </svg>
            <h4> {{'The entire store is now filtered by' | translate}}:</h4>
            <div class="product-tags-preview">
                <span class="product-tag-preview" ng-repeat="productTagId in $root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS] | orderBy:'(this | productTag).priority'">
                    <img ng-if="(productTagId | productTag).languages | name:'iconResourceUrl'"
                         ng-src="{{(productTagId | productTag).languages | name:'iconResourceUrl'}}"
                         alt="{{(productTagId | productTag).languages | name:'displayName'}}"/>
                    &nbsp;{{(productTagId | productTag).languages | name:'displayName'}}
                </span>
            </div>
        </div>
        <div class="legal-text">
            {{'permanent_filters_legal_text' | translate}}
        </div>
    </div>

    <footer>
        <button class="no-design" ng-click="permanentViewFiltersCtrl.saved = false">
            {{'Back to filters' | translate}}
        </button>
        <button class="main no-design" ng-click="$dialog.hide()">
            {{'Continue shopping' | translate}}
        </button>
    </footer>
</section>