<div class="fixed-wrapper" ng-controller="SpItemsFixedBannerKikarTemplateCtrl"
     ng-class="{'show-image': !!img, 'with-bread-crumbs': $root.currentCategory.length > 1, 'high-banner': !!categoryDescription}">
    <div class="image" ng-if="!!img">
        <img ng-src="{{img}}" alt=""/>
    </div>
    <div class="bread-crumbs" ng-if="$root.currentCategory.length > 1">
        <span ng-repeat="category in $root.currentCategory | orderBy:'level'" ng-if="!$last">
            <a ng-if="category.level !== 1" ui-sref="app.categoryProducts({cid: category.id, filters: undefined, sort: undefined})">{{category.names | name}}</a>
            <a ng-if="category.level === 1" href="#" ng-click="$root.$emit('select.main.bread.crumbs', category);">
                {{category.names | name}}
            </a>
        </span>
    </div>
    <p class="description secondary-font" ellipsis title="{{categoryDescription}}" ng-if="categoryDescription"></p>
    <div class="title-and-side-bar">
        <div class="title" ng-class="{'show-back-btn': backBtn}">
            <button class="no-design back-btn" ng-click="back();">
                <svg focusable="false" aria-labelledby="back_title" role="img">
                    <title id="back_title">{{'back' | translate}}</title>
                    <use xlink:href="" ng-attr-xlink:href="{{'#sp-icons-arrow-' + ($root.config.language.direction === 'ltr' ? 'left' : 'right')}}"></use>
                </svg>
            </button>
            <h1 class="category-title secondary-font" id="page_title" title="{{bannerTitle}}" ng-if="bannerTitle">{{bannerTitle}}</h1>
        </div>
        <div class="side-bar" ng-init="isOpenedData = {}" role="region" aria-label="{{'filters_region' | translate}}">
            <div ng-repeat="filter in filters track by $index" class="filter-item"
                 ng-if="filter.options.items.length > (filter.notInclusive ? 0 : 1)">
                <!--ng-class="::{ permanent: filter.permanentFiltersType }"-->
                <div class="filter-title" ng-init="filter.isOpen=true" ng-class="{'close': !filter.isOpen} "
                     ng-click="filter.limit = 10; filter.isOpen = !filter.isOpen;"
                     aria-expanded="{{filter.isOpen}}">
                    <span ng-if="filter.notFinished">
                        <img src="//storage.googleapis.com/sp-public/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
                    </span>
                    <span ng-if="!filter.notFinished">
                        <span class="title">
                            {{filter.titleNgFilter() || (filter.title | translate)}}
                        </span>
                        <!--<span ng-if="::filter.permanentFiltersType" class="entire-store">
                            {{'Filter entire store' | translate}}
                        </span>-->
                    </span>

                    <span class="right-actions">
                        <button class="no-design clear-all" ng-click="clearAllFilter(filter); $event.stopPropagation()" ng-if="filter.value.length">
                            <svg focusable="false">
                                <use xlink:href="#sp-icons-x-circle"></use>
                            </svg><!--
                            --><span class="text">{{'Clear all' | translate}}</span>
                        </button>

                        <svg focusable="false" class="toggle-filter" aria-labelledby="toggle_filter_title" role="img">
                            <title id="toggle_filter_title">{{(filter.isOpen ? 'close' : 'open') + ' filter options' | translate}}</title>
                            <use xlink:href="#sp-icons-arrow-up"></use>
                        </svg>
                    </span>
                </div>

                <div class="filter" ng-class="{close: !filter.isOpen, 'show-all': !!filter.showAll}"
                     ng-hide="filter.notFinished">
                    <ul class="filter-content">
                        <li ng-repeat="item in filter.options.items | orderBy:(filter.options.orderBy || 'value') | limitTo: (filter.limit === undefined ? 10 : filter.limit)"
                            class="filter-button-wrapper no-design" ng-class="{'selected': !!item.checked}"
                            ng-click="item.checked = !item.checked; onChangeFilter(filter, item)">
                            <span class="text">
                                <img class="filter-icon" ng-if="filter.options.icon(item)" ng-src="{{filter.options.icon(item)}}"
                                     alt="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name) || ('Other' | translate))}}"/>
                                <span class="main" title="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name) || ('Other' | translate))}}">
                                    {{filter.options.namesNgFilter ? filter.options.namesNgFilter(item.name) : ((item.name | name) || ('Other' | translate))}}&nbsp;
                                </span>
                                <span ng-if="::item.count || item.count === 0">({{::item.count}})</span>
                            </span>
                            <span class="icons">
                                <svg focusable="false" class="pin" aria-labelledby="pin_title" role="img"
                                     ng-if="filter.permanentFiltersType && $root.PermanentFilters.hasProductTagFilter(item.value)">
                                    <title id="pin_title">{{'permanent' | translate}}</title>
                                    <use xlink:href="#sp-icons-sticky-pin"></use>
                                </svg>
                                <svg focusable="false" class="clear-btn" aria-labelledby="clear_title" role="img">
                                    <title id="clear_title">{{'clear' | translate}}</title>
                                    <use xlink:href="#sp-icons-delete-filter"></use>
                                </svg>
                            </span>
                        </li>
                    </ul>
                    <button class="more-btn no-design" ng-if="filter.options.items.length > 10"
                            ng-click="filter.limit = filter.limit != filter.options.items.length ? filter.options.items.length : 10";>
                        {{filter.limit != filter.options.items.length ? 'Show more' : 'Show less' | translate}}...
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="filtering-filters-wrapper">
        <div class="filtering-filters" sp-scroll-actions-container="horizontal">
            <div class="filters-group" ng-repeat="filter in filters track by $index" ng-hide="filter.notFinished">
                <span class="filters-item" ng-repeat="valueItem in filter.value">
                    <img class="filter-icon" ng-if="filter.options.icon(valueItem)" ng-src="{{filter.options.icon(valueItem)}}"
                         alt="{{filter.options.namesNgFilter ? filter.options.namesNgFilter(valueItem.name) : ((valueItem.name | name) || ('Other' | translate))}}"/>
                    <span class="name">{{filter.options.namesNgFilter ? filter.options.namesNgFilter(valueItem.name) : ((valueItem.name | name) || ('Other' | translate))}}</span>

                    <svg class="pin" ng-if="filter.permanentFiltersType && $root.PermanentFilters.hasProductTagFilter(valueItem.value)">
                        <use xlink:href="#sp-icons-sticky-pin"></use>
                    </svg>
                    <button class="no-design x"
                            ng-click="valueItem.checked = !valueItem.checked; onChangeFilter(filter, valueItem);">
                        <svg focusable="false">
                            <use xlink:href="#sp-icons-delete-filter"></use>
                        </svg>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="sorters-wrapper">
        <div class="sorters" ng-if="sorters.length">
            <div ng-repeat="sorter in sorters track by $index" class="sorter">
                <svg focusable="false" class="sort-icon">
                    <use xlink:href="#sp-icons-sort"></use>
                </svg><!--
                --><sp-kikar-dropdown sp-model="sorter.value" sp-change="sorter.onChange()" role="listbox">
                <sp-kikar-text>
                        <span ng-if="sorter.notFinished">
                            <img src="//storage.googleapis.com/sp-public/global/frontend-icons/loading.gif" alt="{{'Loading' | translate}}"/>
                        </span>
                    <span ng-if="!sorter.notFinished">
                            <span class="sorter-title">{{'Order By' | translate}}:</span>
                            <span class="sorter-choice">
                                {{!sorter.multi && sorter.value ? (sorter.namesNgFilter(sorter.value.name)) : (sorter.defaultText ? (sorter.defaultText | translate) : (sorter.title ? (sorter.title | translate) : 'sorter'))}}
                            </span>
                        </span>
                </sp-kikar-text>
                <sp-kikar-option ng-repeat="item in sorter.options.items | orderBy:(sorter.options.orderBy || 'value')" sp-value="item">
                    {{item.name | translate}}
                </sp-kikar-option>
            </sp-kikar-dropdown>
            </div>
        </div>
    </div>
</div><!--
--><div class="items-wrapper" role="region" aria-label="{{'product list' | translate}}"
        ng-class="{'high-banner': !!categoryDescription, 'no-results': !items.length, menu: design == $root.SP_ITEMS_DESIGNS.MENU}">
    <div class="items" ng-if="!groupBy.by">
        <div sp-in-view-watcher
             ng-repeat="item in items track by $index" class="item {{item.isBumper ? (item.first ? 'first-bumper' : 'second-bumper') : ''}}" ng-class="itemClass" ng-include="templateUrl"
             ng-click="clickOnItem(item, $index);"
             ng-style="{width: design == $root.SP_ITEMS_DESIGNS.MENU ? '' : (itemWidth.itemCurrent + (item.hasBumper ? itemWidth.itemCurrent * 2 : 0)) + 'px'}"
             tabindex="-1">
        </div>
    </div>
    <div class="items" ng-if="!!groupBy.by">
        <div ng-repeat="group in groups track by $index" ng-class="{'one-column': group.isOneColumn}" class="group">
            <div class="group-title" ng-class="groupBy.titleStyleClass" ng-include="groupBy.templateUrl"></div>
            <div class="one-column-items">
                <div sp-in-view-watcher
                     ng-repeat="item in group.items track by $index" class="item" ng-class="itemClass"
                     ng-include="templateUrl" ng-click="clickOnItem(item, $index);"
                     ng-style="{width: design == $root.SP_ITEMS_DESIGNS.MENU ? '' : (itemWidth.itemCurrent + (item.hasBumper ? itemWidth.itemCurrent * 2 : 0)) + 'px'}"></div>
            </div>
            <div class="two-columns-items">
                <div ng-repeat="column in group.columns track by $index" class="group-column"
                     ng-style="{width: (100 / group.columns.length) + '%'}">
                    <div ng-repeat="item in column.items track by $index" class="item" ng-class="itemClass"
                         ng-include="templateUrl" ng-click="clickOnItem(item, $index);"
                         ng-style="{width: design == $root.SP_ITEMS_DESIGNS.MENU ? '' : (itemWidth.itemCurrent + (item.hasBumper ? itemWidth.itemCurrent * 2 : 0)) + 'px'}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-wrapper">
        <img src="//storage.googleapis.com/sp-public/global/frontend-icons/loading-line.gif" alt="{{'Loading' | translate}}"/>
    </div>
    <div ng-if="!total && !!noResultsMessage && initialized" class="no-results-message">
        <svg focusable="false">
            <use xlink:href="#sp-icons-no-items-found"></use>
        </svg>
        <h5 class="bold" ng-bind-html="noResultsMessage"></h5>
        <div class="filters-message" ng-if="hasSelectedFilters">
            <div>{{'Try editing your filters' | translate}}</div>
            <div class="margin">
                {{'Or' | translate}}<br/>
                <button class="no-design link" ng-click="clearAllFilters()">{{'clear_all_filters_2' | translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="cant-find-item" ng-click="cantFindItem.openDialog();"
     ng-class="{'no-results': !total && !!noResultsMessage && !hasTools}"
     ng-mouseover="cantFindItem.text.show();" ng-mouseleave="cantFindItem.text.hide();" ng-hide="isInProcess() || !items">
    <img src="//storage.googleapis.com/sp-public/global/frontend-icons/cant-find-item.png" alt=""/><!--
    --><span class="text-wrapper"><!--
        --><span class="text">{{"Can't find item?" | translate}}</span><!--
        --><span class="for-vertical-align"></span><!--
    --></span>
</div>