$itemsWrapperHorizontalPadding: 1.68em;
$bannerPaddingTop: 1em;
$bannerPaddingBottom: 0.75em;
$breadCrumbsFontSize: 1.125em;
$breadCrumbsSmallFontSize: 0.9em;
$bannerTitleSmallFontSize: 0.8em;
$breadCrumbsHeight: 1em;
$categoryDescriptionHeight: 2.7em;
$categoryDescriptionFontSize: 1.2em;
$bannerHeight: 8em + $bannerPaddingTop + $bannerPaddingBottom;
$highBannerHeight: 8em + $bannerPaddingTop + $bannerPaddingBottom + $categoryDescriptionHeight;
$filterWidth: 13.5em;
$filterClearAllMarginRight: 0.5em;
$cantFindItemMargin: 1em;
$cantFindItemLeft: 4em;
$cantFindItemBottom: 0.3em;
$menuItemMinHeight: 2em;
$itemHeight: 19.9375em;
$toolBorder: 1px solid #cccccc;
$filterTransitionTime: 0.4s;
$fixedBannerContentHorizontalPadding: $toolbarNavigationLinkHorizontalPadding * 2;

section.view {
  .item.fake {
    height: $itemHeight;
    width: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;

    &.menu-item {
      height: auto;
      min-height: $menuItemMinHeight;
    }
  }

  sp-items {
    $backgroundColor: #f3f3f3;

    .item {
      display: inline-block;
      vertical-align: top;
      width: 0;

      > * {
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.04);
      }

      > .sp-sale-icon {
        box-shadow: none;
      }
    }

    > .fixed-wrapper-test {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: stretch;
      @include fixed();
      top: $headerHeight;
      bottom: 0;
      pointer-events: none;
      right: 0;
      left: 0;
      z-index: 99999;

      .absolute-ex-1 {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 150px;
        background-color: blue;
        pointer-events: all;
      }

      .absolute-ex-2 {
        position: absolute;
        right: 200px;
        top: 0;
        width: 200px;
        height: 20px;
        background-color: gray;
        pointer-events: all;
      }

      .long {
        height: 100%;
        flex: 0 0 auto;
        background-color: red;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .long-title {
          margin-right: 200px;
          margin-top: 20px;
          flex: 0 0 auto;
          background-color: orange;
        }

        .long-bottom {
          background-color: purple;
          flex: 1 1 auto;
          width: 200px;
        }
      }

      .extra {
        background-color: yellow;
        flex: 1 1 auto;
      }
    }

    > .fixed-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: stretch;
      @include fixed();
      top: $headerHeight;
      bottom: 0;
      pointer-events: none;
      right: 0;
      left: 0;
      z-index: 9;
      box-sizing: border-box;
      color: #616161;
      transition: right $filterTransitionTime, left $filterTransitionTime;

      html.hub-child & {
        top: $headerHeightWithHub;
      }

      .ltr & {
        right: $sidenavWidth;
      }
      .rtl & {
        left: $sidenavWidth;
      }

      > .image {
        position: absolute;
        top: $bannerPaddingTop;
        bottom: $bannerPaddingBottom;
        overflow: hidden;
        opacity: 1;
        width: $menuCategoriesTitleWidth;
        height: $bannerHeight - $bannerPaddingTop - $bannerPaddingBottom;
        padding: 0 ($itemsWrapperHorizontalPadding + 0.5em);
        text-align: center;
        box-sizing: border-box;

        .ltr & {
          left: 0;
          transition: opacity $filterTransitionTime, left $filterTransitionTime;
        }
        .rtl & {
          transition: opacity $filterTransitionTime, right $filterTransitionTime;
          right: 0;
        }

        > img {
          max-height: 100%;
          max-width: 100%;
          vertical-align: bottom;
        }
      }

      > .bread-crumbs {
        position: absolute;
        top: $bannerPaddingTop / clear-units($breadCrumbsFontSize);
        font-size: $breadCrumbsFontSize;
        display: block;
        height: $breadCrumbsHeight;
        transition: left ($filterTransitionTime * 2), right ($filterTransitionTime * 2);
        pointer-events: all;

        $_distance: ($menuCategoriesTitleWidth + $fixedBannerContentHorizontalPadding) / clear-units($breadCrumbsFontSize);
        .ltr & {
          left: $_distance;
        }
        .rtl & {
          right: $_distance;
        }

        > span {
          &:after {
            content: ' > ';
            display: inline;
          }

          &:last-child:after {
            content: none;
            display: none;
          }

          > a {
            font-weight: 700;

            &:hover {
              border-bottom-width: 2px;
              border-bottom-style: solid;
            }
          }
        }
      }

      > .description {
        position: absolute;
        top: $bannerHeight / clear-units($categoryDescriptionFontSize);
        height: $categoryDescriptionHeight;
        font-size: $categoryDescriptionFontSize;
        line-height: 1.3em;
        padding: 0 ($fixedBannerContentHorizontalPadding / clear-units($categoryDescriptionFontSize));
        box-sizing: border-box;
        pointer-events: all;

        .ltr & {
          left: $menuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
          right: 0;
        }
        .rtl & {
          right: $menuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
          left: 0;
        }
      }

      > .title-and-side-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        max-width: 75%;
        transition: max-width ($filterTransitionTime * 2);

        > .title {
          display: flex;
          flex: 0 0 auto;
          flex-direction: row;
          align-items: center;
          width: 100%;
          min-height: $bannerHeight;
          max-height: $bannerHeight;
          background-color: $backgroundColor;
          transition: padding $filterTransitionTime, min-height $filterTransitionTime, max-height $filterTransitionTime;
          box-sizing: border-box;
          padding-top: $bannerPaddingTop;
          padding-bottom: 0;
          pointer-events: all;

          .ltr & {
            padding-right: 1em;
            padding-left: $fixedBannerContentHorizontalPadding;
          }
          .rtl & {
            padding-left: 1em;
            padding-right: $fixedBannerContentHorizontalPadding;
          }

          &:before {
            content: '';
            display: block;
            flex: 0 0 auto;
            transition: width ($filterTransitionTime * 2);
            width: $menuCategoriesTitleWidth;
          }

          > * {
            flex: 0 1 auto;
          }

          > button.back-btn {
            display: none;
            vertical-align: middle;
            padding: 0.5em;

            .ltr & {
              margin-right: 1.5em;
            }
            .rtl & {
              margin-left: 1.5em;
            }

            > svg {
              width: 1.7em;
              height: 2.6em;
              fill: #616161;
              vertical-align: middle;
            }
          }

          $categoryTitleFontSize: 4.375em;
          .category-title {
            font-size: $categoryTitleFontSize;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            max-height: 100%;
            padding: 0 0 ($bannerPaddingBottom / clear-units($categoryTitleFontSize)) 0;
            color: #616161;
            line-height: 1;
            transition: font-size $filterTransitionTime;
          }

          &.show-back-btn {
            > button.back-btn {
              font-size: $bannerTitleSmallFontSize;
              display: inline-block;
            }

            .category-title {
              font-size: $categoryTitleFontSize * clear-units($bannerTitleSmallFontSize);
            }
          }
        }

        > .side-bar {
          display: none;
          flex: 1 1 auto;
          overflow: auto;
          padding-left: $itemsWrapperHorizontalPadding / 2;
          padding-right: $itemsWrapperHorizontalPadding / 2;
          padding-bottom: 5em;
          width: $menuCategoriesTitleWidth;
          box-sizing: border-box;
          pointer-events: all;

          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            @include border-radius(5px);
            background-color: rgba(96, 96, 96, 0.2);

            &:hover {
              background-color: rgba(96, 96, 96, 0.7);
            }

            &:active {
              background-color: rgba(96, 96, 96, 1);
            }
          }

          > .filter-item {
            $filterItemHorizontalPadding: ($itemsWrapperHorizontalPadding / 2);
            $filterItemPaddingBottom: 0.4em;
            margin-top: 1.25em - $filterItemPaddingBottom;
            padding: 0 $filterItemHorizontalPadding 0.4em $filterItemHorizontalPadding;

            /*&.permanent {
              background-color: #fff;
            }*/

            &:first-child {
              margin-top: 0.1em;
            }

            > .filter-title {
              cursor: pointer;
              font-weight: bold;
              padding: 0.75em 0 0.5em 0;
              border-bottom: 1px solid #cccccc;
              margin-bottom: 0.5em;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              .entire-store {
                font-size: 0.75em;
                color: #4b4c4d;
                padding-top: 0.3em;
                display: block;
                font-weight: normal;
              }

              > .right-actions {
                padding: 0 0.5em;

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .clear-all {
                  font-size: 0.75em;
                  color: #616161;

                  .ltr & {
                    margin-right: $filterClearAllMarginRight;
                  }
                  .rtl & {
                    margin-left: $filterClearAllMarginRight;
                  }

                  svg {
                    display: inline-block;
                    width: 1.3em;
                    height: 1.3em;
                    vertical-align: text-bottom;
                    fill: #7a7a7a;
                  }

                  > .text {
                    padding: 0 0.3em;
                  }
                }

                > .toggle-filter {
                  width: 0.75em;
                  height: 0.5em;
                  fill: #616161;
                  transition: transform $filterTransitionTime;
                }
              }

              &.close {
                > .right-actions > .toggle-filter {
                  transform: rotate(180deg);
                }
              }
            }

            > .filter {
              transition: padding-bottom $filterTransitionTime, max-height $filterTransitionTime;
              overflow: hidden;

              .filter-content {
                transition: padding-bottom $filterTransitionTime, max-height $filterTransitionTime;
                overflow: hidden;

                > .filter-button-wrapper {
                  position: relative;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  margin: 0.25em 0;
                  width: 100%;
                  height: 1.7em;
                  padding: 0 0.7em;
                  border-radius: 1em;
                  cursor: pointer;

                  .ltr & {
                    text-align: left;
                  }
                  .rtl & {
                    text-align: right;
                  }

                  > .text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    overflow: hidden;

                    > * {
                      display: inline-block;
                      vertical-align: middle;
                      flex: 0 0 auto;
                    }

                    .main {
                      flex: 1 1 auto;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      padding: 0.3em 0;
                    }

                    img {
                      height: 1.25em;
                      width: 1.5em;
                      object-fit: contain;

                      .ltr & {
                        margin-right: 0.3em;
                      }
                      .rtl & {
                        margin-left: 0.3em;
                      }
                    }
                  }

                  > .icons {
                    height: 100%;

                    .ltr & {
                      margin-left: 0.3em;
                    }
                    .rtl & {
                      margin-right: 0.3em;
                    }

                    > .pin {
                      height: 100%;
                      width: 0.85em;
                      fill: #d2d2d3;
                    }

                    > .clear-btn {
                      visibility: hidden;
                      height: 100%;
                      width: 0.6em;
                      fill: #616161;
                    }
                  }

                  &:hover {
                    background-color: #ededed;
                  }

                  &.selected  > .icons {
                    > .pin {
                      fill: #616161;
                    }

                    > .clear-btn {
                      visibility: visible;
                    }
                  }
                }
              }

              .more-btn {
                font-weight: bold;
                padding: 0.3em 1em;

              }

              &.close {
                max-height: 0;
                display: none;
              }

              &.show-all {
                max-height: none;
                .filter-content {
                  max-height: 100%;
                }
              }
            }
          }
        }
      }

      > .filtering-filters-wrapper {
        flex: 1 1 auto;
        overflow: hidden;
        height: $bannerHeight;
        box-sizing: border-box;
        padding-bottom: $bannerPaddingBottom;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: stretch;
        background-color: $backgroundColor;
        transition: height ($filterTransitionTime * 1.5), padding $filterTransitionTime;
        pointer-events: all;

        > .filtering-filters {
          white-space: nowrap;

          .filters-group {
            display: inline-block;
            vertical-align: middle;

            > .filters-item {
              $itemVerticalPadding: 0.8em;
              display: inline-flex;
              flex-direction: row;
              align-items: center;
              vertical-align: middle;
              font-size: 0.75em;
              margin: 0 0.3334em;
              border-radius: 3em;
              padding: 0 $itemVerticalPadding;
              height: 2.8334em;
              color: #1e1f21;

              $innerHeight: .5em;
              $innerItemPadding: 0.5em;
              .ltr & {
                padding-right: $itemVerticalPadding - $innerItemPadding;
              }
              .rtl & {
                padding-left: $itemVerticalPadding - $innerItemPadding;
              }

              > .filter-icon, > .name {
                font-size: 1.1667em;

                .ltr & {
                  padding-right: $innerItemPadding;
                }
                .rtl & {
                  padding-left: $innerItemPadding;
                }
              }

              > .filter-icon {
                max-height: 2em;
                max-width: 2em;
              }

              > .x {
                height: 1em;
                width: 1em;
                box-sizing: content-box;
                padding: $innerItemPadding;

                > svg {
                  width: 100%;
                  height: 100%;
                  fill: #616161;
                }
              }

              > .pin {
                height: 1.3em;
                width: 1.3em;
                fill: #616161;

                .ltr & {
                  padding-left: $innerItemPadding;
                }
                .rtl & {
                  padding-right: $innerItemPadding;
                }
              }
            }
          }
        }
      }

      > .sorters-wrapper {
        flex: 0 0 auto;
        height: $bannerHeight;
        box-sizing: border-box;
        padding-bottom: $bannerPaddingBottom;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: stretch;
        background-color: $backgroundColor;
        transition: height ($filterTransitionTime * 1.5);
        pointer-events: all;

        .ltr & {
          padding-right: $fixedBannerContentHorizontalPadding;
        }
        .rtl & {
          padding-left: $fixedBannerContentHorizontalPadding;
        }

        > .sorters {
          flex: 0 0 auto;
          display: flex;
          flex-direction: row;
          align-items: baseline;
          padding-bottom: 0.3em;

          .ltr & {
            margin-left: 1em;
          }
          .rtl & {
            margin-right: 1em;
          }

          .sorter {
            > .sort-icon {
              display: inline-block;
              vertical-align: middle;
              height: 1.500em;
              width: 1.625em;
              fill: #a4a4a4;
            }

            .sorter-choice {
              font-weight: bold;
            }

            sp-kikar-dropdown > .sp-dropdown-options-wrapper {
              top: 115%;

              .sp-kikar-option .label {
                padding-left: 0;
                padding-right: 0;
                white-space: nowrap;
              }
            }
          }
        }
      }

      &:not(.banner-one-line) {
        html.close-sidenav.ltr & {
          right: 0;
        }
        html.close-sidenav.rtl & {
          left: 0;
        }
      }

      &.banner-one-line {
        .image {
          opacity: 0;

          .ltr & {
            left: $menuCategoriesTitleWidth * -1;
          }
          .rtl & {
            right: $menuCategoriesTitleWidth * -1;
          }
        }

        > .bread-crumbs {
          font-size: $breadCrumbsSmallFontSize;
          padding: 0.75em 0;

          .ltr & {
            left: $itemsWrapperHorizontalPadding / clear-units($breadCrumbsSmallFontSize);
          }
          .rtl & {
            right: $itemsWrapperHorizontalPadding / clear-units($breadCrumbsSmallFontSize);
          }
        }

        > .description {
          display: none;
        }

        > .title-and-side-bar {
          max-width: none;
          width: 100%;
          height: auto;

          > .title {
            padding-left: $itemsWrapperHorizontalPadding;
            padding-right: $itemsWrapperHorizontalPadding;
            min-height: 0;
            max-height: 16.1em;

            .category-title {
              $_fontSize: 4em * clear-units($bannerTitleSmallFontSize);
              font-size: $_fontSize;
              padding-bottom: 1em / clear-units($_fontSize);
              white-space: normal;
              word-wrap: break-word;
            }
          }
        }

        > .filtering-filters-wrapper, > .sorters-wrapper {
          display: none;
        }

        &.show-image > .title-and-side-bar > .title:before {
          width: 0;
        }
      }

      &.with-bread-crumbs {
        > .title-and-side-bar > .title {
          padding-top: ($breadCrumbsHeight * clear-units($breadCrumbsFontSize)) + 1.5em;
        }
      }
    }

    > .items-wrapper {
      padding: $bannerHeight $itemsWrapperHorizontalPadding 5.5em $itemsWrapperHorizontalPadding;
      width: 100%;
      background-color: $backgroundColor;
      box-sizing: border-box;
      display: inline-block;

      &.high-banner {
        padding-top: $highBannerHeight + 0.5em;
      }

      > .items {
        position: relative;
        width: 100%;
      }

      .group {
        padding-top: 0.2em;

        .two-columns-items .group-column {
          display: inline-block;
          vertical-align: top;
          @include box-sizing(border-box);
          padding-right: 1em;

          &:last-child {
            padding-right: 0;
          }
        }

        .one-column-items {
          display: none;
        }

        &.one-column {
          .one-column-items {
            display: block;
          }

          .two-columns-items {
            display: none;
          }
        }
      }

      > .loading-wrapper {
        display: block;
        margin: 0;
        padding: 0.2em 0;
        text-align: center;
        visibility: hidden;

        &.active {
          visibility: visible;
        }

        img {
          height: 0.5em;
          width: auto;
        }
      }

      &.menu > .items {
        border-top-width: 0;
        border-left-width: 0;
      }

      > .no-results-message {
        margin-top: 5em;
        text-align: center;

        > svg {
          width: 5.5em;
          height: 4.0625em;
          fill: #505050;
        }

        h5 {
          font-size: 1.7em;
        }

        .filters-message {
          color: #4b4c4d;

          .margin {
            margin-top: 0.5em;
          }
        }

        button.link {
          text-decoration: underline;
        }
      }
    }

    > .cant-find-item {
      @include fixed();
      left: $cantFindItemLeft;
      bottom: $cantFindItemBottom;
      color: #ffffff;
      cursor: pointer;
      z-index: 10;

      > img, > .text-wrapper > .text {
        vertical-align: middle;
      }

      > img {
        padding: 1em;
        @include border-radius(100%);
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.7));
      }

      > .text-wrapper {
        position: absolute;
        z-index: 1;
        left: 90%;
        top: 0;
        height: 100%;
        display: block;
        width: 0;
        @include transition(width 0.2s);

        > .text {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          padding: 0.6em 0;
          @include border-radius(0 3px 3px 0);
          @include box-shadow(1.5px 0 1.5px rgba(0, 0, 0, 0.7));
        }
      }

      &.no-results {
        display: inline-block;
        position: relative;
        left: auto;
        bottom: auto;
        margin: $cantFindItemMargin;
      }

      &.open, &.no-results {
        > span {
          width: 8em;
        }
      }
    }

    &.has-filters {
      > .fixed-wrapper {
        > .title-and-side-bar > .title {
          align-items: flex-end;

          .ltr & {
            border-bottom-right-radius: 4em;
          }
          .rtl & {
            border-bottom-left-radius: 4em;
          }
        }

        &.banner-one-line {
          > .title-and-side-bar {
            width: auto;
            height: 100%;
            max-width: $menuCategoriesTitleWidth;
            min-width: $menuCategoriesTitleWidth;
          }

          > .filtering-filters-wrapper, > .sorters-wrapper {
            display: flex;
            height: 4.8125em;
          }

          > .filtering-filters-wrapper {
            .ltr & {
              padding-left: $itemsWrapperHorizontalPadding;
            }
            .rtl & {
              padding-right: $itemsWrapperHorizontalPadding;
            }
          }
        }
      }

      &.tools-shown {
        > .fixed-wrapper > .title-and-side-bar > .side-bar {
          display: block;
        }

        > .items-wrapper {
          .ltr & {
            padding-left: $menuCategoriesTitleWidth + $itemsWrapperHorizontalPadding;
          }
          .rtl & {
            padding-right: $menuCategoriesTitleWidth + $itemsWrapperHorizontalPadding;
          }
        }
      }
    }
  }
}

html {
  &.search-products, &.category-products, &.specials, &.special, &.my-coupons, &.product-tag-products {
    background-color: #f3f3f3;
  }

  .items-wrapper {
    &.max-two-rows {
      min-height: $itemHeight;
      max-height: $itemHeight * 1.5;
      overflow: auto;
    }

    .item {
      height: $itemHeight;
    }
  }

  &.specials .items-wrapper .item {
    height: $itemHeight + 1.5em;
  }

  &.rtl {
    section.view sp-items {
      > .cant-find-item {
        left: auto;
        right: $cantFindItemLeft;
        > .text-wrapper {
          left: auto;
          right: 90%;

          > .text {
            @include border-radius(3px 0 0 3px);
            @include box-shadow(-1.5px 0 1.5px rgba(0, 0, 0, 0.7));
          }
        }
      }

      .item {
        border-width: 0 0 1px 1px;
      }

      > .items-wrapper {
        > .items {
          border-left-width: 0;
        }

        .group .two-columns-items .group-column {
          padding-right: 0;
          padding-left: 1em;

          &:last-child {
            padding-left: 0;
          }
        }

        &.menu > .items {
          border-right-width: 0;
        }
      }

      .product > div > .actions > div.sp-quantity > .btns-row > button > img {
        margin-left: 0.2em;
      }
    }
  }
}

$responsive1750FixedBannerContentHorizontalPadding: $responsive1750ToolbarNavigationLinkHorizontalPadding * 2;
@media screen and (max-width: 1750px) {
  section.view sp-items > .fixed-wrapper {
    > .bread-crumbs {
      $_distance: ($menuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding) / clear-units($breadCrumbsFontSize);
      .ltr & {
        left: $_distance;
      }
      .rtl & {
        right: $_distance;
      }
    }

    > .description {
      padding: 0 ($responsive1750FixedBannerContentHorizontalPadding / clear-units($categoryDescriptionFontSize));
    }

    > .title-and-side-bar > .title {
      .ltr & {
        padding-left: $responsive1750FixedBannerContentHorizontalPadding;
      }
      .rtl & {
        padding-right: $responsive1750FixedBannerContentHorizontalPadding;
      }
    }

    > .sorters-wrapper {
      .ltr & {
        padding-right: $responsive1750FixedBannerContentHorizontalPadding;
      }
      .rtl & {
        padding-left: $responsive1750FixedBannerContentHorizontalPadding;
      }
    }

    &.banner-one-line {
      > .bread-crumbs {
        $_distance: $responsive1750FixedBannerContentHorizontalPadding / clear-units($breadCrumbsSmallFontSize);
        .ltr & {
          left: $_distance;
        }
        .rtl & {
          right: $_distance;
        }
      }

      > .filtering-filters-wrapper {
        .ltr & {
          padding-left: $responsive1750FixedBannerContentHorizontalPadding;
        }
        .rtl & {
          padding-right: $responsive1750FixedBannerContentHorizontalPadding;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  section.view sp-items.has-filters.tools-shown > .items-wrapper {
    .ltr & {
      padding-left: $menuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding;
      padding-right: $responsive1750FixedBannerContentHorizontalPadding;
    }
    .rtl & {
      padding-left: $responsive1750FixedBannerContentHorizontalPadding;
      padding-right: $menuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding;
    }
  }
}

@media screen and (max-width: 1575px) {
  $responsive1575BannerHeight: 6.25em + $bannerPaddingTop + $bannerPaddingBottom;
  $responsive1575BannerTitleFontSize: 3.2em;

  section.view sp-items {
    > .fixed-wrapper {
      top: $responsive1575HeaderHeight;

      .ltr & {
        right: $responsive1575SidenavWidth;
      }
      .rtl & {
        left: $responsive1575SidenavWidth;
      }

      html.hub-child & {
        top: $responsive1575HeaderHeightWithHub;
      }

      > .image {
        width: $responsive1575MenuCategoriesTitleWidth;
        height: $responsive1575BannerHeight - $bannerPaddingTop - $bannerPaddingBottom;
      }

      > .bread-crumbs {
        $_distance: ($responsive1575MenuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding) / clear-units($breadCrumbsFontSize);
        .ltr & {
          left: $_distance;
        }
        .rtl & {
          right: $_distance;
        }
      }

      > .description {
        top: $responsive1575BannerHeight / clear-units($categoryDescriptionFontSize);

        .ltr & {
          left: $responsive1575MenuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
        }
        .rtl & {
          right: $responsive1575MenuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
        }
      }

      > .title-and-side-bar {
        > .title {
          min-height: $responsive1575BannerHeight;
          max-height: $responsive1575BannerHeight;

          .category-title {
            font-size: $responsive1575BannerTitleFontSize;
          }

          &.show-back-btn .category-title {
            font-size: $responsive1575BannerTitleFontSize * clear-units($bannerTitleSmallFontSize);
          }
        }

        > .side-bar {
          width: $responsive1575MenuCategoriesTitleWidth;
        }
      }

      > .filtering-filters-wrapper, > .sorters-wrapper {
        height: $responsive1575BannerHeight;
      }

      &.show-image > .title-and-side-bar > .title:before {
        width: $responsive1575MenuCategoriesTitleWidth;
      }

      &.banner-one-line {
        .image {
          .ltr & {
            left: $responsive1575MenuCategoriesTitleWidth * -1;
          }
          .rtl & {
            right: $responsive1575MenuCategoriesTitleWidth * -1;
          }
        }

        > .title-and-side-bar > .title .category-title {
          font-size: $responsive1575BannerTitleFontSize * clear-units($bannerTitleSmallFontSize);
        }
      }
    }

    > .items-wrapper {
      padding: $responsive1575BannerHeight;
    }

    &.has-filters {
      > .fixed-wrapper.banner-one-line > .title-and-side-bar {
        max-width: $responsive1575MenuCategoriesTitleWidth;
        min-width: $responsive1575MenuCategoriesTitleWidth;
      }

      &.tools-shown > .items-wrapper {
        .ltr & {
          padding-left: $responsive1575MenuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding;
        }
        .rtl & {
          padding-right: $responsive1575MenuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  section.view sp-items {
    > .fixed-wrapper {
      > .image {
        width: $responsive1180MenuCategoriesTitleWidth;
      }

      > .bread-crumbs {
        $_distance: ($responsive1180MenuCategoriesTitleWidth + $responsive1750FixedBannerContentHorizontalPadding) / clear-units($breadCrumbsFontSize);
        .ltr & {
          left: $_distance;
        }
        .rtl & {
          right: $_distance;
        }
      }

      > .description {
        .ltr & {
          left: $responsive1180MenuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
        }
        .rtl & {
          right: $responsive1180MenuCategoriesTitleWidth / clear-units($categoryDescriptionFontSize);
        }
      }

      > .title-and-side-bar > .side-bar {
        width: $responsive1180MenuCategoriesTitleWidth;
      }

      > .sorters-wrapper > .sorters > .sorter > .sort-icon {
        display: none;
      }

      &.show-image > .title-and-side-bar > .title:before {
        width: $responsive1180MenuCategoriesTitleWidth;
      }

      &.banner-one-line .image {
        .ltr & {
          left: $responsive1180MenuCategoriesTitleWidth * -1;
        }
        .rtl & {
          right: $responsive1180MenuCategoriesTitleWidth * -1;
        }
      }
    }

    &.has-filters {
      > .fixed-wrapper.banner-one-line > .title-and-side-bar {
        max-width: $responsive1180MenuCategoriesTitleWidth;
        min-width: $responsive1180MenuCategoriesTitleWidth;
      }

      &.tools-shown > .items-wrapper {
        .ltr & {
          padding-left: $responsive1180MenuCategoriesTitleWidth;
        }
        .rtl & {
          padding-left: $responsive1180MenuCategoriesTitleWidth;
        }
      }
    }
  }
}



//==Kulinarik Large Items
section.view {

  sp-items.large-items {

    > .items-wrapper {

      .items {
        border: 0;
        width: calc(100% + 1em);
        display: block;
        margin: 0px -0.5em;

        .item {
          height: 24em;
          border: 0;
          margin-bottom: 1em;
          padding: 0;

          > .product-item {
            padding: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
}


html.rtl {
  section.view {
    sp-items.large-items {
      > .items-wrapper {
        .items {
          border: 0;
        }
      }
    }
  }
}
