section.view {
  sp-items {
    > .cant-find-item {
      > img, > .text-wrapper > .text {
        background-color: $mainColor;
      }
    }

    > .fixed-wrapper {
      > .bread-crumbs {
        font-family: $secondaryFontFamily;

        > span > a:hover {
          border-color: $secondaryColor;
        }
      }

      > .title-and-side-bar {
        > .title {
          font-family: $creativeFontFamily;
        }

        > .side-bar > .filter-item > .filter > .filter-content > .filter-button-wrapper {
          &.selected, &.selected:hover {
            background-color: $secondaryColor;
          }
        }
      }

      > .filtering-filters-wrapper > .filtering-filters .filters-group > .filters-item {
        background-color: $secondaryColor;
      }
    }
  }
}