<div class="title">
    {{::'sorry_2' | translate}}...
</div>
<div class="icon">
    <svg focusable="false">
        <use xlink:href="#sp-icons-cart-warning"></use>
    </svg>
</div>
<div class="text">
    {{('To the selected delivery area we only send products marked with "{tagName}" tag' | translate)
        .replace('{tagName}', (warningCtrl.deliveryWithinDaysTag.languages | name:'displayName'))}}
</div>
<div class="sub-text">
    {{::'You can either remove the product from the cart or change the delivery area' | translate}}.
</div>
<div class="main-buttons">
    <button ng-click="warningCtrl.removeLines()" class="no-design">
        {{::'Remove item from cart' | translate}}
    </button>
</div>
<div class="change-delivery-button-wrapper">
    <button ng-click="warningCtrl.chooseArea()" class="no-design">
        {{::'Or change the delivery area' | translate}}
    </button>
</div>