.dialog-wrapper .dialog.delivery-within-days-product-warning > .dialog-body {
  text-align: center;
  padding: 2.5em;
  width: 31em;
  box-sizing: border-box;

  .title {
    font-size: 2.5em;
    font-weight: normal;
  }

  .icon {
    padding: 1.5em 0 1.3125em 0;
    text-align: center;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: #616161;
      height: 4.0625em;
    }
  }

  .text {
    font-weight: bold;
    line-height: 1.2;
  }

  .sub-text {
    padding-top: 0.2em;
    color: #787878;
    line-height: 1.2;
  }

  .main-buttons {
    padding-top: 1.98em;

    > button {
      background-color: #414141;
      padding: 0.3em 1em;
      border-radius: 2.5em;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .change-delivery-button-wrapper {
    padding-top: 1em;

    > button {
      &, &:hover, &:focus {
        padding: 0;
        background-color: transparent;
        color: #000;
        font-size: 0.875em;
        text-decoration: underline;
      }
    }
  }
}