<div class="details">
    <div class="name">{{(item.names | name).short}}</div>
    <div class="absolute">
        <div class="price">
            <span class="for-vertical-align"></span><!--
            --><sp-product-price
                    regular-price="item | regularPrice:item.isCaseMode"
                    sale-price="!item.isCaseMode && (item | salePrice)"
                    show-weight-unit="item.isWeighable && !item.isCaseMode"
                    product="item"
                    hide-normalize-price="true">
            </sp-product-price>
        </div><!--
        --><div class="comments">
            <sp-cart-line-comments ng-if="$root.util.getProductCartLine(item).quantity"
                                   sp-line="$root.util.getProductCartLine(item)"
                                   sp-mode="inline"
            ></sp-cart-line-comments>
        </div><!--
        --><div class="quantity-count reverse-text-align">
            <sp-cart-line-count line="$root.util.getProductCartLine(item)"></sp-cart-line-count>
        </div>
        <div class="cart-line-actions">
            <product-actions ng-click="$event.stopPropagation();" product="item"></product-actions>
        </div>
    </div>
</div>
<div class="long-name" ng-if="(item.names | name).long != (item.names | name).short">
    {{(item.names | name).long}}
</div>