$rowAbsoluteDetailsWidth: 15em;
$rowAbsoluteDetailsPadding: 0.2em;
$priceWidth: 4em;
$quantityCountWidth: 4em;
$quantityCountHorizontalPadding: 0.3em;
$rowDetailsFontSize: 1.1em;
$rowNameMinHeight: 1.1em;
$rowVerticalPadding: 0.6em;
$menuItemBorder: 1px solid #e7e7e7;

.items-wrapper.menu .items {
  .family-group-title {
    position: relative;

    .title-wrapper {
      @include box-sizing(border-box);
      width: 100%;
      padding-right: 10em;

      > .title {
        display: inline-block;
        vertical-align: bottom;

        > * {
          display: block;
        }

        .name {
          padding: 0.2em 0;
          font-size: 1.9em;
        }

        .description {
          padding: 0.5em 0;
          font-size: 1.1em;
        }
      }

      &.has-image {
        height: 7em;
      }
    }

    .image {
      position: absolute;
      top: 0;
      right: 0;
      width: 10em;
      height: 100%;
      @include box-sizing(border-box);

      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        height: 100%;
      }
    }
  }

  .item.product {
    cursor: pointer;
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0.5em 0;
    min-height: $menuItemMinHeight;
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.04);

    > .details {
      position: relative;
      white-space: nowrap;
      @include box-sizing(border-box);
      padding: $rowVerticalPadding 0.5em;
      font-size: $rowDetailsFontSize;
      box-shadow: none;

      > .name {
        padding-right: $rowAbsoluteDetailsWidth;
        width: 100%;
        @include box-sizing(border-box);
        min-height: $rowNameMinHeight;
        white-space: normal;
      }

      > .absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $rowAbsoluteDetailsWidth + ($rowAbsoluteDetailsPadding * 2);
        @include box-sizing(border-box);
        padding: $rowAbsoluteDetailsPadding;
        white-space: nowrap;

        > .price, > .comments, > .quantity-count {
          display: inline-block;
          vertical-align: middle;
        }

        > .price {
          width: $priceWidth;

          > .sp-product-price {
            display: inline-block;
            vertical-align: middle;
          }
        }

        > .comments {
          width: $rowAbsoluteDetailsWidth - $priceWidth - $quantityCountWidth;
          height: 100%;
          padding: 0 0.2em;
          @include box-sizing(border-box);
          position: relative;

          .cart-line-comments-wrapper {
            position: absolute;
            width: 15em;
            opacity: 0;
            font-size: 0.9em;
            border: $menuItemBorder;
            background-color: #fff;
            border-radius: 5px;
            padding: 0.2em 0;
            box-sizing: border-box;
            height: 100%;

            .ltr & {
              right: 100%;
            }
            .rtl & {
              left: 100%;
            }

            .cart-line-comments-input {
              height: 100%;
            }
          }
        }

        > .quantity-count {
          width: $quantityCountWidth;
          height: 100%;
          @include transition(opacity 0.2s);
          opacity: 1;
          box-sizing: border-box;
          padding: 0 $quantityCountHorizontalPadding;

          > .sp-cart-line-count {
            display: inline-block;
            height: 100%;
            width: 100%;

            > div {
              height: 100%;
              width: 100%;
              border-radius: 1em;
            }
          }
        }

        > .cart-line-actions {
          position: absolute;
          top: 0;
          right: 0;
          width: $rowAbsoluteDetailsWidth - $priceWidth - 1em;
          height: 100%;
          padding: 0.2em (0.2em + $quantityCountHorizontalPadding);
          @include box-sizing(border-box);

          > .product-actions {
            $productActionsFontSize: 0.9em;
            height: 100%;
            width: 100%;
            font-size: $productActionsFontSize;
            @include opacity(0);
            @include transition(opacity 0.2s);
            @include vendor-prefix(transition-delay, 100ms);

            .ltr & {
              text-align: right;
            }
            .rtl & {
              text-align: left;
            }

            > * {
              height: 100%;
            }

            .btns-row button {
              height: 2.1em;
              width: 2.1em;
            }

            > .add-to-cart {
              width: 100%;
              padding: 0.2em 1em;
              line-height: 1;

              > svg {
                height: 1.2em;
                width: 1.55em;
                margin-top: -3px;
              }

              > .text {
                .ltr & {
                  padding-left: 0.15em;
                }
                .rtl & {
                  padding-right: 0.15em;
                }
              }
            }
          }
        }
      }
    }

    > .long-name {
      color: #868484;
      padding: 0 (0.5em + $rowAbsoluteDetailsWidth * clear-units($rowDetailsFontSize)) 0.5em 0.5em;
      line-height: 125%;
      box-shadow: none;
    }

    &:hover, &:focus, &:focus-within {
      > .details > .absolute {
        > .cart-line-actions > .product-actions, > .comments .cart-line-comments-wrapper {
          opacity: 1;
        }

        > .quantity-count {
          opacity: 0;
        }
      }
    }
  }
}

.rtl {
  .items-wrapper.menu .items {
    .family-group-title {
      .title-wrapper {
        padding-left: 10em;
      }

      .image {
        right: auto;
        left: 0;
      }
    }

    .item.product {
      > .details {
        > .name {
          padding-right: 0;
          padding-left: $rowAbsoluteDetailsWidth;
        }

        > .absolute {
          right: auto;
          left: 0;

          > .cart-line-actions {
            right: auto;
            left: 0;
          }
        }
      }

      > .long-name {
        padding: 0 0.5em 0.5em (0.5em + $rowAbsoluteDetailsWidth * clear-units($rowDetailsFontSize));
      }
    }
  }
}