<div class="sp-list-items-wrapper">
    <div class="elastic-row">
        <span class="quantity" ng-bind="::'Quantity' | translate"></span><!--
        --><span class="image"></span><!--
        --><span class="name" ng-bind="::'Product name' | translate"></span><!--
        --><span><span class="sr-only-element">{{'Specials' | translate}}</span></span><!--
        --><span ng-bind="::'Unit price' | translate"></span><!--
        --><span ng-bind="::'Price' | translate"></span><!--
        --><span ng-bind="::'Comments' | translate"></span>
    </div>
    <div class="content-table" ng-controller="ElasticHeaderCtrl">
        <table>
            <thead>
                <tr class="static-row">
                    <th class="quantity" ng-bind="::'Quantity' | translate"></th>
                    <th class="image"></th>
                    <th class="name" ng-bind="::'Product name' | translate"></th>
                    <th><span class="sr-only-element">{{'Specials' | translate}}</span></th>
                    <th ng-bind="::'Unit price' | translate"></th>
                    <th ng-bind="::'Price' | translate"></th>
                    <th ng-bind="::'Comments' | translate"></th>
                </tr>
            </thead>
            <tbody ng-if="coupons.length">
                <tr class="category">
                    <th colspan="7" class="creative-font-family">
                        {{'Coupons' | translate}}
                    </th>
                </tr>
                <tr ng-repeat="item in coupons | orderBy:'item.names | name'"
                    class="line coupon static-row-content">
                    <td class="icon">
                        <svg focusable="false" class="icon main-color">
                            <use xlink:href="#sp-icons-coupon-indication"></use>
                        </svg>
                    </td>
                    <td class="image"></td>
                    <td class="name">
                        <div class="title main-color" ng-bind="('Coupon' | translate) + ':'"></div>
                        <div class="name" ng-bind="item.product | productName:item.isCase:'long'"></div>
                    </td>
                    <td colspan="3" class="coupon-actions">
                        <div ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id] && !$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].awarded">
                            <div class="error" ng-bind="'** ' + ('coupon_requirements_error' | translate) + ' **'"></div>
                            <button ng-if="$root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].showProductsFrom"
                                    ng-click="$root.util.showSpecialDetailsDialog(item.product.branch.specials[0].id, $root.cart.specialReminders.onCoupons[item.product.branch.specials[0].id].showProductsFrom);"
                                    ng-bind=":: 'Add Products' | translate" class="highlight">
                            </button>
                        </div>
                    </td>
                    <!--<td class="line-special-details"></td>-->
                    <!--<td class="unit-price"></td>-->
                    <!--<td class="total-price"></td>-->
                    <td class="comments">
                        <button class="remove no-design" ng-click="removeItem(line)" ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY">
                            <svg focusable="false" role="img">
                                <title>{{'remove coupon' | translate}}</title>
                                <use xlink:href="#sp-icons-remove"></use>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="category in (radioValue == 'category' ? itemsByCategories : itemsByOrder) | orderBy:'(names ? (names | name) : (name | translate))' track by category.id">
                <tr class="category" ng-if="category.items.length">
                    <th colspan="7" class="creative-font-family">
                        {{category.names ? (category.names | name) : (category.name | translate)}}
                    </th>
                </tr>
                <tr ng-repeat="line in category.items track by line.id"
                    sp-focus-in class="line sp-quantity-actions-on-hover static-row-content"
                    tabindex="0" aria-label="{{(line.product.names | name).long}}"
                    ng-class="{'removed sp-quantity-hide-actions': line.removed}">
                    <td class="quantity" aria-live="assertive">
                        <sp-quantity ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY"
                                     read-only="line.type === $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                                     cart-line="line" design="landscape"></sp-quantity>
                        <sp-cart-line-count line="line" text-before=""></sp-cart-line-count>
                    </td>
                    <td class="image">
                        <div class="sale-icon"
                             ng-class="{'club-icon': line.totalClubsGiftsForView}"
                             ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && (line.totalClubsGiftsForView || line.totalGiftsForView)">
                            <svg focusable="false" aria-labelledby="sale_icon_title" role="img">
                                <title id="sale_icon_title">{{(line.totalClubsGiftsForView ? 'club ' : '') + 'sale' | translate}}</title>
                                <use ng-if="!line.totalClubsGiftsForView" xlink:href=""
                                     ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                                <use ng-if="line.totalClubsGiftsForView" xlink:href=""
                                     ng-attr-xlink:href="{{'#sp-icons-sale-club%translate%' | translateImage:{'he': '-he'} }}"></use>
                            </svg>
                        </div>
                        <product-image simple-image="true"
                                       product="line.product"
                                       image-url="line.product.image.url"
                                       size="small"
                                       alt="{{(line.product.names | name).long}}">
                        </product-image>
                    </td>
                    <td class="name">
                        <div class="brand-and-weight">
                            <span class="brand" ng-bind="::line.product.brand.names | name"></span>
                            <span class="weight">
                                {{::line.product.brand.names && line.product.weight ? ' | ' : ''}}
                                {{::line.product | productWeight:product.isCaseMode}}
                            </span>
                        </div>
                        <div class="name" ng-bind="::(line.product.names | name).long"></div>
                    </td>
                    <td class="line-special-details">
                        <div ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                             ng-repeat="gift in line.gifts">
                            <span special-description-split="&#9642; {{gift.Description}}"></span>
                        </div>
                        <div class="product-main-tag-icon-wrapper" ng-if="line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]">
                            <img class="product-main-tag-icon"
                                 ng-src="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'iconResourceUrl'}}"
                                 alt="{{(line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName'}}"/>
                            <div class="tool-tip">
                                {{((line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'description') ||
                                ((line.product | productMainTag:$root.PermanentFilters.values[$root.PermanentFilters.TYPES.PRODUCT_TAGS]).languages | name:'displayName')}}
                            </div>
                        </div>
                        <div class="removed" ng-click="$event.stopPropagation();">
                            <span class="for-vertical-align"></span><!--
                            --><span class="text">
                                {{'Removed' | translate}}
                            </span><!--
                            --><button class="no-design" ng-click="$root.cart.addLine(line)">
                                {{'Restore' | translate}}
                            </button>
                        </div>
                    </td>
                    <td class="unit-price">
                        <sp-product-price
                                ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON"
                                regular-price="line.product | regularPrice: item.isCase"
                                show-weight-unit="!item.isCase && item.product.isWeighable"
                                product="item.product"
                                hide-normalize-price="true">
                        </sp-product-price>
                    </td>
                    <td class="total-price">
                        <sp-product-price
                                regular-price="line.totalPriceForView"
                                sale-price="line.finalPriceForView"
                                type="line.type"
                                hide-normalize-price="true">
                        </sp-product-price>
                    </td>
                    <td class="comments">
                        <sp-cart-line-comments ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.COUPON && line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY"
                                               sp-line="line"
                                               show-product-property="true">
                        </sp-cart-line-comments>
                        <button class="remove no-design" ng-click="removeItem(line)" ng-if="line.type !== $root.SP_SERVICES.CART_LINE_TYPES.DELIVERY">
                            <svg focusable="false" role="img">
                                <title>{{'remove product' | translate}}</title>
                                <use xlink:href="#sp-icons-remove"></use>
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody ng-if="hasSpecialReminders" class="special-reminders">
                <tr class="category">
                    <th colspan="7" class="creative-font-family"
                        ng-bind=":: 'More Specials' | translate"></th>
                </tr>
                <tr ng-repeat="(specialId, specialData) in $root.cart.specialReminders.inCart track by specialId"
                    class="line static-row-content special-reminder" sp-in-view-watcher>
                    <td></td>
                    <td class="sale-icon">
                        <svg focusable="false" role="img">
                            <use ng-if="specialData.awarded && !specialData.showProductsFrom" xlink:href="#sp-icons-done"></use>
                            <use ng-if="!specialData.awarded || specialData.showProductsFrom" xlink:href=""
                                 ng-attr-xlink:href="{{'#sp-icons-sale%translate%' | translateImage:{'he': '-he'} }}"></use>
                        </svg>
                    </td>
                    <td class="name" colspan="2">
                        <div class="bold" ng-bind="(specialData.awarded ? (specialData.showProductsFrom ? 'Select your benefit' : 'special_reminder_awarded_bubble_title') : 'special_reminder_bubble_title') | translate"></div>
                        <div ng-bind=":: specialData.description"></div>
                    </td>
                    <td class="actions" colspan="3">
                        <button ng-click="$root.util.showSpecialDetailsDialog(specialId, specialData.showProductsFrom);"
                                ng-if="specialData.showProductsFrom" ng-bind="::'Select' | translate"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>