$sidenavFooterYouSaveHeight: 1.5em;

$productActionsMargin: 3%;
$productDeleteButton: 0.5em;
$productRemoveSvgWidth: 1.05625em;
$productRemoveSvgHeight: 1.375em;

$sideNavBackgroundColor: #f0f0f0;

$ordersHistoryOrderArrowMarginRight: 1.875em;
$ordersHistoryOrderItemsCountIconPaddingRight: 0.5625em;
$ordersHistoryOrderDataMarginLeft: 1.625em;
$orderInHistoryHeight: 7.375em;
$orderInHistoryPadding: 1.125em;
$orderInHistoryHorizontalMargin: 1em;
$openHistoryOrderBorderWidth: 2px;
$historyOrderHeaderTitlePaddingLeft: 1.1875em;
$historyOrderAddItemsButtonMarginLeft: 1.1875em;
$historyOrderAddItemsButtonPaddingRight: 0.375em;
$historyOrderAddItemsButtonPaddingLeft: 1em;
$historyOrderCheckBoxWrapperPaddingLeft: 0.875em;
$historyOrderCheckBoxWrapperPaddingRight: 1.75em;
$historyOrderProductImagePadding: 0.875em;
$historyOrderProductImageWidth: 6.9375em;
$historyOrderLineAddButtonsSize: 3.4375em;

$sideNavTransitionTime: 0.4s;

$scrollBarWidth: 7px;

html {
  div.sidenav {
    @include fixed();
    top: $toolbarHeight;
    right: 0;
    bottom: 0;
    z-index: 92;
    width: $sidenavWidth;
    box-sizing: border-box;

    > section.cart {
      position: relative;
      padding-top: $sidenavHeaderHeight;
      box-sizing: border-box;
      height: 100%;
      transition: height $sideNavTransitionTime;
      z-index: 1;

      > header {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        color: #ffffff;

        > .data {
          display: flex;
          padding: 0.8em;
          height: $sidenavHeaderDataHeight;
          box-sizing: border-box;

          > .number-of-items {
            position: relative;
            height: 100%;
            margin-top: 0.2em;
            margin-left: 0.4em;

            > span.number {
              position: absolute;
              border: 2px solid #ffffff;
              width: 2.6em;
              height: 2.6em;
              border-radius: 100%;
              box-sizing: border-box;
              text-align: center;
              line-height: 2.3em;
              font-size: 0.625em;
              top: -0.7em;
              left: -0.8em;

              &.enlarged-font {
                width: 2em;
                height: 2em;
                line-height: 1.7em;
                font-size: 0.8em;
                top: -0.5em;
                left: -0.6em;
              }
            }

            > svg {
              fill: #ffffff;
              height: 100%;
              width: 3em;
            }
          }

          > .price {
            flex: 1 1 auto;
            font-size: 1.625em;
            font-weight: 300;
            padding: 0.344em 0.25em;
            direction: ltr;
            text-align: right;
          }

          > button {
            border: 2px solid #ffffff;
            border-radius: 1.5em;
            font-weight: 900;

            //additions for larger-button design (fits russian text):
            width: 10em;
            padding: 0;
            height: 3.2em;

            //small-button design (didn't work for russian translation):
            // padding: 0.625em 1em;
            // white-space: nowrap;
          }
        }

        > .edit-order {
          $padding: 0.8em;

          display: none;
          padding: $padding;
          height: $sidenavHeaderBlock;
          box-sizing: border-box;

          > div.details {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.8em;
          }

          > button {
            background: #ffffff;
            border-radius: 1em;
            height: $sidenavHeaderBlock - ($padding * 2);
            padding: 0 1em;
            box-sizing: border-box;
          }
        }

        > .previous-orders {
          width: 100%;
          height: $sidenavHeaderBlock;
          text-align: center;
          opacity: 1;

          > span {
            display: inline-block;
            vertical-align: middle;

            > * {
              display: block;
              margin: auto;
            }

            > svg {
              fill: #ffffff;
              width: 1em;
              height: 0.3125em;
              margin-top: 0.7em;
            }
          }
        }

        > button.toggle {
          position: absolute;
          right: 1em;
          bottom: -1.1em;
          width: 4.125em;
          height: 4.125em;
          border-radius: 100%;
          background: #ffffff;
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.27);

          > svg {
            fill: #414141;
            width: 100%;
            height: 100%;
            padding: 1.5em;
            box-sizing: border-box;
            transition: transform $sideNavTransitionTime;
          }
        }
      }

      > .collapsible {
        position: relative;
        background: $sideNavBackgroundColor;
        height: 100%;
        box-sizing: border-box;
        transition: height $sideNavTransitionTime; //padding-bottom $sideNavTransitionTime,
        overflow: hidden;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.36);
        display: flex;
        flex-direction: column;

        > section {
          height: 100%;
          overflow: auto;

          &.lets-adding-items {
            text-align: center;
            overflow: hidden;

            > * {
              color: #6e6e6e;
              fill: #6e6e6e;
            }

            > h4 {
              font-size: 1.5em;
              padding: 6em 0 0 0;
            }

            > h3 {
              font-size: 1.75em;
              font-weight: 700;
              padding: 0;
            }

            > svg {
              padding-top: 1em;
              height: 8em;
            }

            &.empty-cart-smart-list {
              display: block;

              h4 {
                font-size: 1.6em;
                padding: 3em 0 0 0;
                margin: 0 0 0.5em 0;
              }

              h5 {
                font-size: 1em;
                width: 70%;
                margin: 0 auto;
                padding: 0;
              }

              button {
                font-size: 1em;
                margin: 0.7em 1em 1em 1em;
                padding: 0.5em 2em;
                border-radius: 3em;
                color: white;

                span {
                  display: block;
                }
              }
            }
          }

          &.empty-cart-smart-list {
            display: block;
            transition: flex-grow $sideNavTransitionTime, flex-shrink $sideNavTransitionTime, height $sideNavTransitionTime;
            text-align: center;
            overflow: hidden;

            h4 {
              padding: 4.2em 0 0 0;
              font-size: 1.7em;
              margin-bottom: 0;
            }

            h5 {
              font-size: 1.2em;
              width: 70%;
              margin: 0 auto;
            }

            button {
              font-size: 1em;
              margin: 0.1em 1em;
              padding: 0.6em 2em;

              span {
                display: block;
              }
            }
          }

          &.lets-adding-items, &.cart, &.orders-history, &.updated-order {
            transition: flex-grow $sideNavTransitionTime, flex-shrink $sideNavTransitionTime, height $sideNavTransitionTime;
          }

          &.cart {
            flex: 1 1 auto;

            $margin: 0.8em;

            > .product-in-cart {
              $padding: 0.625em;

              position: relative;
              background: #ffffff;
              margin: $margin;
              box-sizing: border-box;
              border: 2px solid transparent;
              $quantityWidth: 21%;
              $imageWidth: 30%;

              &.border-animation {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.18);
                animation-name: product-in-cart-border;
                animation-duration: 2s;
              }

              > .remove {
                position: absolute;
                z-index: 2;
                top: $productDeleteButton;
                width: $productRemoveSvgWidth;
                height: $productRemoveSvgHeight;
                box-sizing: content-box;

                > svg {
                  fill: rgba(156, 156, 156, 0.95);
                  width: 100%;
                  height: 100%;
                }
              }

              > .removed {
                display: none;
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(240, 240, 240, 0.7);
                box-shadow: 0 0 0 2px rgba(240, 240, 240, 0.7);
                text-align: center;

                > button, > .text {
                  display: inline-block;
                  vertical-align: middle;
                  box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                  padding: 0.532em 1em;
                  border-radius: 1em;
                  background: #ffffff;
                  font-weight: 900;
                  opacity: 0.5;
                }

                > button {
                  display: none;
                  color: #414141;
                }

                &:hover {
                  > .text {
                    display: none;
                  }

                  > button {
                    display: inline-block;
                    opacity: 1;
                  }
                }
              }

              &.removed {
                > .remove {
                  $toBeSize: 2.375em;
                  width: $productRemoveSvgWidth;
                  height: $productRemoveSvgHeight;
                  padding: (($toBeSize - $productRemoveSvgHeight) / 2) (($toBeSize - $productRemoveSvgWidth) / 2);
                  background-color: #ffffff;
                  box-shadow: 0.5px 0.9px 7px 0 rgba(0, 0, 0, 0.24);
                  border-radius: 100%;
                }

                > .removed {
                  display: block;
                }
              }

              > div.product-content {
                height: 7.5em;
                padding: $padding;

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .quantity-wrapper {
                  position: relative;
                  width: $quantityWidth;
                  height: 100%;
                  font-size: 0.875em;
                  vertical-align: top;

                  > * {
                    width: 100%;
                  }

                  > .product-actions-wrapper {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    display: none;
                    text-align: center;

                    > .product-actions {
                      display: inline-block;
                      vertical-align: middle;

                      > .add-to-cart {
                        display: none;
                      }

                      .btns-row {
                        > button {
                          $size: 2.2857em;
                          width: $size;
                          height: $size;
                        }

                        > .quantity-wrapper {
                          height: 2.8em;
                        }
                      }
                    }
                  }

                  > .sp-cart-line-count {
                    display: inline-block;
                    vertical-align: middle;

                    > div {
                      $size: 2.8572em;
                      min-width: $size;
                      width: auto;
                      height: $size;
                      background-color: #eaeaea;
                      padding: 0.2em 0.4em;
                      box-sizing: border-box;
                      border-radius: $size;
                    }
                  }
                }

                > .data {
                  position: relative;
                  height: 100%;
                  width: 100% - $imageWidth - $quantityWidth - $productActionsMargin;

                  > .brand-and-weight {
                    font-size: 0.875em;
                    color: #a8a8a8;
                    height: 1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  }

                  > .name {
                    $line-height: 1.2;
                    font-size: 1em;
                    height: $line-height * 2em;
                    line-height: $line-height;
                    padding-top: 0.25em;
                    color: #787878;
                  }

                  > button.add-comment, > .sp-product-price {
                    position: absolute;
                    background: white;
                    bottom: 0;
                  }

                  > .sp-product-price {
                    padding-top: 2em;
                    font-size: 1.125em;
                    height: 1em;
                    white-space: nowrap;

                    > .regular-price {
                      font-size: 0.77em;
                    }
                  }

                  > button.add-comment {
                    line-height: 1em;
                    height: 1em;
                    width: 100%;
                    color: #a3a3a3;
                    white-space: nowrap;

                    > svg {
                      width: 1em;
                      height: 1em;
                      fill: #9c9c9c;
                    }
                  }
                }

                > .image {
                  width: $imageWidth;
                  text-align: center;

                  > svg.sale-icon {
                    height: 1.3em;
                    width: 1.3em;
                    position: absolute;
                    top: 1.8em;
                    right: 20%;

                    &.club-icon {
                      fill: $clubIconFill;
                    }
                  }

                  > span {
                    > img {
                      max-width: 100%;
                      max-height: 100%;
                    }
                  }
                }
              }

              > div.coupon-content {
                display: flex;
                align-items: center;
                min-height: 3.5em;

                > svg.icon {
                  $size: 2.5em;
                  width: $size;
                  height: $size;
                  margin: 0 0.5em;
                  flex: 0 0 auto;
                }

                > div.data {
                  flex: 1 1 auto;
                  display: flex;
                  flex-direction: column;
                  font-size: 0.8125em;
                  padding: $padding;
                  min-width: 0;

                  > div.error {
                    color: #d6353a;
                    font-weight: 700;
                  }

                  > div.name {
                    margin: 0.5em 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }

                  > button {
                    align-self: flex-end;
                    font-weight: 700;
                    padding: 0.2em 0.5em;

                    &.link {
                      background: transparent !important;
                      color: #a3a3a3;
                      text-decoration: underline;
                    }
                  }
                }
              }

              > div.cart-line-comments-wrapper {
                margin-top: $padding;
                padding: $padding 0;
                min-height: 1em;
                border-top: 1px dashed #cccccc;
              }

              &.coupon {
                border-style: dashed;
              }

              &:hover, &.active, &.focus-mode {
                > div.product-content > .quantity-wrapper {
                  > .product-actions-wrapper {
                    display: block;
                  }

                  > .sp-cart-line-count {
                    display: none;
                  }
                }
              }

              &:not(:hover):not(.active):not(.focus-mode) {
                > .remove, > div.product-content > div.data > button.add-comment {
                  display: none;
                }
              }

              &:not(.removed):hover, &:not(.removed).active, &:not(.removed).focus-mode {
                border-style: solid;
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
              }
            }

            > div.special-reminders {
              $fontSize: 0.9em;

              font-size: $fontSize;

              $specialReminderHeight: 4em;
              $specialReminderPadding: 0.25em;
              $specialReminderMargin: ($margin / $fontSize) * 1em;
              $moreButtonPadding: 0.25em;

              > div.special-reminder-wrapper {
                overflow: hidden;
                height: $specialReminderHeight;
                line-height: 1.1em;
                margin: 0 $specialReminderMargin;
                padding: $specialReminderPadding;
                border: 1px solid #c8c8c8;
                background-color: #FEF5E0;
                transition: 0.4s, opacity 0s;

                > div.special-reminder {
                  display: flex;
                  flex-direction: row;
                  height: 100%;

                  > svg {
                    flex: 0 0 auto;
                    width: 2.5em;
                    height: 2.5em;
                    align-self: center;
                  }

                  > div.data {
                    flex: 1 1 auto;
                    align-self: center;
                    padding: 0 0.5em;

                    > div.bold {
                      margin-bottom: 0.1em;
                    }
                  }

                  > button {
                    align-self: flex-end;
                    padding: 0.2em 0.5em;
                  }
                }
              }

              &.collapse {
                > div.special-reminder-wrapper:nth-child(n+2) {
                  height: 0;
                  border-top-width: 0;

                  > div.special-reminder {
                    visibility: hidden;
                  }
                }

                > div.special-reminder-wrapper:nth-child(n+4) {
                  padding: 0;
                  border: none;
                }

                > button {
                  margin-top: (-0.5em - ($moreButtonPadding * 2));
                  line-height: 1em;
                }
              }

              > div.special-reminder-wrapper:first-child, &.expanded > div.special-reminder-wrapper {
                margin-top: $specialReminderMargin;
                border-top-width: 1px;

                > div.special-reminder {
                  visibility: visible;
                }
              }

              > button {
                display: block;
                margin: $specialReminderMargin auto 0 auto;
                border: 1px solid #a0a0a0;
                background-color: #ffffff;
                padding: $moreButtonPadding 1em;
                border-radius: 1em;
              }
            }
          }

          &.orders-history {
            visibility: hidden;
            position: relative;
            flex: 0 0 auto;
            height: 0;
            overflow: hidden;
            background-color: $sideNavBackgroundColor;
            $titleHeight: 2.5em;
            $titlePaddingTop: 1.8125em;
            $titlePaddingBottom: 0.4375em;
            $orderMarginTop: 0.75em;

            > .title {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              $fontSize: 2.5em;
              font-size: $fontSize;
              color: #616161;
              height: $titleHeight / $fontSize * 1em;
              padding: ($titlePaddingTop / $fontSize * 1em) 0 ($titlePaddingBottom / $fontSize * 1em) 0;
              background-color: $sideNavBackgroundColor;
            }

            > .orders-list-wrapper {
              position: absolute;
              top: $titlePaddingTop + $titlePaddingBottom + $titleHeight;
              bottom: 0;
              left: 0;
              right: 0;
              overflow: hidden;
              text-align: center;
              z-index: 1;

              > .order-in-history {
                height: $orderInHistoryHeight;
                margin: $orderMarginTop $orderInHistoryHorizontalMargin 0 $orderInHistoryHorizontalMargin;
                background-color: #ffffff;
                padding: $orderInHistoryPadding;
                white-space: nowrap;
                box-sizing: border-box;
                cursor: pointer;

                svg {
                  fill: #6e6e6e;
                }

                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                > .arrow-icon {
                  height: 100%;
                  width: 0.5em;
                }

                &.open {
                  border-style: solid;
                  border-top-width: $openHistoryOrderBorderWidth;
                  border-bottom-width: $openHistoryOrderBorderWidth;
                  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
                }
              }

              > button {
                margin-top: $orderMarginTop;
                display: inline-block;
              }
            }
          }

          &.updated-order {
            text-align: center;

            svg {
              padding: 3em 0 1.7em 0;
              fill: #8dc63f;
              width: 3.5em;
              height: 3.5em;
            }

            .order-details {
              padding: 0;
              font-size: 2.2em;
            }

            .order-number {
              padding: 1em 0;
              font-size: 1.4em;
            }

            .order-text {
              color: #616161;
              line-height: 1.5em;
            }
          }
        }
        .motivation-message{
          padding-top: 1em;
          display: flex;
          justify-content: center;
        }
        > footer {
          box-sizing: border-box;
          padding: 0.8em;
          flex: 0 0 auto;

          > * {
            margin-top: 0.75em;
          }

          > :first-child {
            margin-top: 0;
          }

          > .you-save {
            display: flex;
            height: $sidenavFooterYouSaveHeight;

            &.multipass-discount {
              height: 1.3em;
              font-size: 0.94em;
              margin-top: 0.5em;
            }

            > * {
              display: inline-block;
              vertical-align: middle;
              line-height: $sidenavFooterYouSaveHeight;
            }

            > svg {
              height: 104%;
              width: 2em;
            }

            > .text {
              flex: 1 1 auto;
              padding: 0 1em;
              font-weight: 700;

              &.saving-label {
                font-size: 0.8em;
              }
            }

            > .price {
              padding: 0 1em;

              &.has-value {
                font-weight: bold;
              }
            }

            &.club-savings > svg {
              fill: $clubIconFill;
            }

            .join-or-connect {
              cursor: pointer;
              border: 1px solid #414141;
              padding: 0 1em;
              border-radius: 1.3125em;
              vertical-align: middle;
            }
          }

          > button {
            width: 100%;
            height: 2.5em;
            background: #414141;
            border-radius: 1.3125em;
            color: #ffffff;
            font-weight: 900;
            padding: 0.5em;
            position: relative;

            > * {
              vertical-align: middle;
            }

            > .refresh-icon {
              display: none;
              width: 1.7em;
              height: 1.7em;
              fill: #ffffff;
            }

            > .loading-wrapper {
              position: absolute;
              top: 0;
              left: 0;
              margin: 0.45em;
              width: 1.7em;
              height: 1.7em;
              background: #414141;
              fill: #c5c2c2;
              animation-name: loading-animation;
              animation-duration: 500ms;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }

            @keyframes loading-animation {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }

            > span {
              height: 100%;
            }

            > span.price {
              direction: ltr;
              background: rgba(255, 255, 255, 0.1);
              box-sizing: border-box;
              border-radius: 0.875em;
              padding: 0.125em 0.5em;
            }
          }
        }
      }

      > .history-order {
        position: absolute;
        top: 0;
        bottom: 4.5em;
        z-index: 1;
        width: 21.8125em;
        background-color: #ffffff;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.18);
        border: $openHistoryOrderBorderWidth solid transparent;
        display: none;
        margin-bottom: $openHistoryOrderBorderWidth * -2;

        > header {
          > .close-header {
            height: 1em;
            padding: 0.62em 0.75em 0 0.75em;

            > button {
              display: inline-block;
              vertical-align: top;
              height: 100%;

              > svg {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                width: 1em;
              }
            }
          }

          > .title {
            padding-top: 0.75em;
            padding-bottom: 0.75em;

            > .items-count-wrapper {
              font-size: 0.68em;
            }

            > .order-data {
              > .date, > .day {
                font-size: 1.53125em;
              }
            }

            > .add-items-button {
              display: inline-block;
              vertical-align: middle;
              font-weight: 700;
              $height: 2.625em;
              height: $height;
              border-radius: $height;
              color: #ffffff;
              padding: 0;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > .arrow-icon {
                text-align: center;
                width: 2em;
                height: 2em;
                border-radius: 1em;

                > svg {
                  width: 0.75em;
                  height: 100%;
                  fill: #ffffff;
                }
              }
            }

            > .edit-history-order {
              display: inline-block;
              vertical-align: middle;
              font-weight: 700;
              $height: 2.625em;
              height: $height;
              border-radius: $height;
              color: #ffffff;
              padding: 0.5em;
            }
          }

          > .clear-selection {
            font-size: 0.75em;
            padding: 0.6em 0;
            border-bottom: 1px solid #dddddd;

            > button {
              display: inline-block;
              vertical-align: top;
              padding: 0 0.1667em;
              height: 1.25em;
              line-height: 1.25em;

              > * {
                display: inline-block;
                vertical-align: middle;
              }

              > svg {
                height: 100%;
                width: 1.25em;
                fill: #7a7a7a;
              }

              > span {
                padding: 0 0.4em;
              }
            }
          }
        }

        > .order-lines-list {
          position: absolute;
          top: 8.355em;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: auto;
          margin: 5px;

          > .order-line {
            $height: 8em;
            padding: 0;
            margin: 0 0.875em;
            height: $height;
            position: relative;
            box-sizing: border-box;

            &:after {
              content: '';
              right: 0;
              left: 0;
              top: -2px;
              height: 1px;
              display: block;
              position: absolute;
              background-color: #dddddd;
            }

            &:first-child:after {
              height: 0;
            }

            &:hover {
              > .order-line-content {
                box-shadow: -1.8px 0.8px 6px 0 rgba(0, 0, 0, 0.25);
                border-radius: 2px;
              }

              > .add-button {
                opacity: 1;
              }

              &:after {
                height: 0;
              }

              + .order-line:after {
                height: 0;
              }
            }

            > .order-line-content {
              display: flex;
              flex-direction: row;
              border: 2px solid transparent;
              height: 100%;
              box-sizing: border-box;
              padding: 0.3125em 0;

              > * {
                flex: 0 0 auto;
              }

              > .checkbox-wrapper {
                > * {
                  display: inline-block;
                  vertical-align: middle;
                }

                label.checkbox {
                  $historyOrderCheckBoxSize: 2.5em;
                  $historyOrderCheckBoxFontSize: 0.9375em;

                  > span {
                    &.box {
                      width: $historyOrderCheckBoxSize / $historyOrderCheckBoxFontSize * 1em;
                      height: $historyOrderCheckBoxSize / $historyOrderCheckBoxFontSize * 1em;
                      font-size: $historyOrderCheckBoxFontSize;
                      border-radius: 100%;
                      border-width: 2px;
                      margin-top: 0;

                      > svg {
                        width: 1em;
                      }
                    }

                    &.label {
                      display: none;
                    }
                  }
                }
              }

              > .product-data {
                height: 100%;
                position: relative;
                flex: 1 1 auto;
                padding: 1.125em 0;
                box-sizing: border-box;

                > * {
                  display: block;
                }

                > .data {
                  color: #a8a8a8;
                  font-size: 0.875em;
                  height: 1.1em;
                }

                > .name {
                  $line-height: 1.2;
                  font-size: 1em;
                  height: $line-height * 2em;
                  line-height: $line-height;
                  padding: 0.25em 0;
                  color: #787878;
                }

                > .sp-product-price {
                  position: absolute;
                  bottom: 1.125em;
                }
              }

              > .product-image-wrapper {
                width: $historyOrderProductImageWidth;
                padding: $historyOrderProductImagePadding;
                box-sizing: border-box;
                position: relative;

                > .sale-icon {
                  position: absolute;
                  top: $historyOrderProductImagePadding;
                  $size: 2.3125em;
                  width: $size;
                  height: $size;
                  z-index: 1;
                }
              }
            }

            > .add-button {
              position: absolute;
              top: 50%;
              margin-top: $historyOrderLineAddButtonsSize / -2;
              width: $historyOrderLineAddButtonsSize;
              height: $historyOrderLineAddButtonsSize;
              border-radius: $historyOrderLineAddButtonsSize;
              text-align: center;
              padding: 0.375em;
              box-sizing: border-box;
              opacity: 0;
              z-index: 1;

              > svg {
                display: block;
                width: 100%;
                height: 0.75em;
                fill: #ffffff;
              }

              > .text {
                display: inline-block;
                padding: 0.6em;
                font-size: 0.625em;
                color: #ffffff;
                line-height: 1.1em;
              }
            }
          }

          &::-webkit-scrollbar {
            background-color: #d0d0d0;
            border-radius: $scrollBarWidth;
            width: $scrollBarWidth;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #9c9c9c;
            border-radius: $scrollBarWidth;
          }
        }
      }

      > .collapsible > section.orders-history, > .history-order > header {
        .items-count-wrapper {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          height: 3.9375em;
          width: 3.125em;
          box-sizing: border-box;
          padding-top: 0.5em;

          > .items-count {
            position: absolute;
            display: block;
            top: 0;
            box-sizing: border-box;
            font-size: 1.01875em;
            border-radius: 2em;
            $size: 1.84049em;
            min-width: $size;
            height: $size;
            color: #ffffff;
            text-align: center;
            padding: 0 0.36809em;
            z-index: 1;

            > span {
              display: inline-block;
              vertical-align: middle;
            }
          }

          > svg {
            height: 100%;
            width: 100%;
          }
        }

        .order-data {
          display: inline-block;
          vertical-align: middle;
          color: #616161;
          max-width: 6.4em;

          > * {
            display: block;
            font-weight: 400;
          }

          > .day {
            font-size: 1.53125em;
            padding-bottom: 0.24489em;
          }

          > .date {
            font-size: 2.5em;
          }
        }
      }

      &.history-order-shown {
        > .history-order {
          display: block;
        }

        &.history-order-not-loaded > .history-order > * {
          opacity: 0;
        }
      }

      &.orders-history-shown {
        > header > .previous-orders > span > svg {
          height: 0.575em;
        }

        > .collapsible {
          > section.lets-adding-items, > section.cart {
            height: 0;
            flex-grow: 0;
            flex-shrink: 0;
          }

          > section.orders-history {
            visibility: visible;
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;

            > .orders-list-wrapper {
              overflow: auto;
            }
          }

          > section.cart {
            visibility: hidden;
          }
        }

        > .history-order {
          z-index: 0;
        }
      }

      &.edit-order-shown {
        padding-top: $sidenavHeaderHeight + $sidenavHeaderBlock;

        > header > .edit-order, > .collapsible > footer > button > svg {
          display: block;
        }
      }
    }

    button[disabled] {
      opacity: 0.3;
    }
  }

  &.hub-child div.sidenav {
    top: $toolbarHeight + $hubHeaderHeight;
  }

  &.hide-sidenav div.sidenav {
    display: none;
  }

  &.close-sidenav div.sidenav {
    pointer-events: none;

    > section.cart {
      > header {
        pointer-events: all;

        > button.toggle > svg {
          transform: rotate(180deg);
          z-index: 90;
        }
      }

      > .collapsible {
        height: 0;
        padding-bottom: 0;
      }
    }
  }

  &.ltr {
    div.sidenav > section.cart {
      > .collapsible > section.orders-history > .orders-list-wrapper > .order-in-history {
        &.open {
          margin-left: $openHistoryOrderBorderWidth * -1;
          padding-left: $orderInHistoryHorizontalMargin + $orderInHistoryPadding;
          border-right-width: $openHistoryOrderBorderWidth;
        }

        > .arrow-icon {
          margin-right: $ordersHistoryOrderArrowMarginRight;
        }
      }

      > header {
        > .data {
          > .price {
            text-align: left;
          }
        }
      }

      > .history-order {
        right: 100%;

        > header > .title, .clear-selection {
          padding-left: $historyOrderHeaderTitlePaddingLeft;

          > .order-data {
            margin-left: 0.625em;
          }

          > .add-items-button {
            margin-left: $historyOrderAddItemsButtonMarginLeft;
            padding-right: $historyOrderAddItemsButtonPaddingRight;
            padding-left: $historyOrderAddItemsButtonPaddingLeft;

            > .arrow-icon {
              margin-left: $historyOrderAddItemsButtonPaddingRight;

              > svg {
                transform: scaleX(-1);
              }
            }
          }

          > .edit-history-order {
            margin-left: $historyOrderAddItemsButtonMarginLeft;
          }
        }

        > .order-lines-list > .order-line {
          > .order-line-content {
            > .checkbox-wrapper {
              padding-right: $historyOrderCheckBoxWrapperPaddingRight;
              padding-left: $historyOrderCheckBoxWrapperPaddingLeft;
            }

            > .product-image-wrapper > .sale-icon {
              right: $historyOrderProductImagePadding;
            }
          }

          > .add-button {
            right: $historyOrderProductImageWidth/ 2;
            margin-right: $historyOrderLineAddButtonsSize / -2;

            > svg {
              transform: scaleX(-1);
            }
          }
        }
      }

      &.history-order-shown {
        > .collapsible {
          margin-left: $openHistoryOrderBorderWidth * -1;
          padding-left: $openHistoryOrderBorderWidth;

          > section.orders-history {
            margin-left: $openHistoryOrderBorderWidth * -1;

            > * {
              padding-left: $openHistoryOrderBorderWidth;
            }
          }

          > footer {
            left: $openHistoryOrderBorderWidth;
          }
        }

        > .history-order {
          box-shadow: 9.1px 4.1px 18px 0 rgba(0, 0, 0, 0.18);
        }
      }

      > .collapsible {
        > section.cart > .product-in-cart {
          > .remove {
            right: $productDeleteButton;
          }

          > div.product-content {
            > .quantity-wrapper {
              margin-right: $productActionsMargin;
            }

            > button.add-comment, > .sp-product-price {
              right: 0;
            }
          }
        }

        > section.orders-history, > .history-order > header {
          .items-count-wrapper {
            padding-right: $ordersHistoryOrderItemsCountIconPaddingRight;

            > .items-count {
              right: 0;
            }

            > svg {
              transform: scaleX(-1);
            }
          }

          .order-data {
            margin-left: $ordersHistoryOrderDataMarginLeft;
            text-align: left;
          }
        }
      }
    }
  }

  &.rtl {
    div.sidenav {
      right: auto;
      left: 0;

      > section.cart {
        > header {
          > button.toggle {
            left: auto;
            right: 1em;
          }

          > .data {
          }
        }

        > .collapsible {
          > section {
            &.cart > .product-in-cart {
              > .remove {
                left: $productDeleteButton;
              }

              > div.product-content {
                > .quantity-wrapper {
                  margin-left: $productActionsMargin;
                }

                > button.add-comment, > .sp-product-price {
                  right: 0;
                }

                > .image > svg.sale-icon {
                  right: auto;
                  left: 20%;
                }
              }

              > div.coupon-content > svg.icon {
                @include flipH();
              }
            }
          }

          > footer > button > .loading-wrapper {
            right: 0;
            left: auto;
          }
        }

        > .history-order {
          left: 100%;

          > header > .title, .clear-selection {
            padding-right: $historyOrderHeaderTitlePaddingLeft;

            > .order-data {
              margin-right: 0.625em;
            }

            > .add-items-button {
              margin-right: $historyOrderAddItemsButtonMarginLeft;
              padding-left: $historyOrderAddItemsButtonPaddingRight;
              padding-right: $historyOrderAddItemsButtonPaddingLeft;

              > .arrow-icon {
                margin-right: $historyOrderAddItemsButtonPaddingRight;
              }
            }

            > .edit-history-order {
              margin-right: $historyOrderAddItemsButtonMarginLeft;
            }
          }

          > .order-lines-list > .order-line {
            > .order-line-content {
              > .checkbox-wrapper {
                padding-right: $historyOrderCheckBoxWrapperPaddingLeft;
                padding-left: $historyOrderCheckBoxWrapperPaddingRight;
              }

              > .product-image-wrapper > .sale-icon {
                left: $historyOrderProductImagePadding;
              }
            }

            > .add-button {
              left: $historyOrderProductImageWidth/ 2;
              margin-left: $historyOrderLineAddButtonsSize / -2;
            }
          }
        }

        &.history-order-shown {
          > .collapsible {
            margin-right: $openHistoryOrderBorderWidth * -1;
            padding-right: $openHistoryOrderBorderWidth;

            > section.orders-history {
              margin-right: $openHistoryOrderBorderWidth * -1;

              > * {
                padding-right: $openHistoryOrderBorderWidth;
              }
            }

            > footer {
              right: $openHistoryOrderBorderWidth;
            }
          }

          > .history-order {
            box-shadow: -9.1px 4.1px 18px 0 rgba(0, 0, 0, 0.18);
          }
        }

        > .collapsible > section.orders-history > .orders-list-wrapper > .order-in-history {
          &.open {
            margin-right: $openHistoryOrderBorderWidth * -1;
            padding-right: $orderInHistoryHorizontalMargin + $orderInHistoryPadding;
            border-left-width: $openHistoryOrderBorderWidth;
          }

          > .arrow-icon {
            margin-left: $ordersHistoryOrderArrowMarginRight;
            transform: scaleX(-1);
          }
        }

        > .collapsible > section.orders-history, > .history-order > header {
          .items-count-wrapper {
            padding-left: $ordersHistoryOrderItemsCountIconPaddingRight;

            > .items-count {
              left: 0;
            }
          }

          .order-data {
            margin-right: $ordersHistoryOrderDataMarginLeft;
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  $responsive1575SideNavFontSize: 0.9em;

  html {
    div.sidenav {
      font-size: $responsive1575SideNavFontSize;
      width: $responsive1575SidenavWidth / $responsive1575SideNavFontSize * 1em;
      top: $responsive1575ToolbarHeight / $responsive1575SideNavFontSize * 1em;
    }

    &.hub-child div.sidenav {
      top: ($responsive1575ToolbarHeight + $hubHeaderHeight) / $responsive1575SideNavFontSize * 1em;
    }
  }
}
