html div.sidenav {
  > section.cart {
    > header {
      > .data {
        background: $mainColor;

        > .number-of-items > span.number {
          background: $mainColor;
        }
      }

      > .edit-order {
        background: '{{mainColor-#000000-83}}';

        > button {
          color: $mainColor;
        }
      }

      > .previous-orders {
        background: $mainColorSecondary;
      }
    }

    > .collapsible {
      > section {
        &.orders-history {
          > .orders-list-wrapper > .order-in-history.open {
            border-color: $secondaryColor;
          }
        }

        &.empty-cart-smart-list {
          * {
            font-family: $defaultFontFamily;
          }
        }

        &.updated-order {
          .order-details {
            font-family: $defaultFontFamily;
          }

          .order-number {
            color: $mainColor;
          }
        }

        &.cart {
          > .product-in-cart {
            &.removed > .remove > svg {
              fill: $mainColor;
            }

            &:not(.removed):hover, &:not(.removed).active, &:not(.removed).focus-mode {
              border-color: $secondaryColor;
            }

            &.coupon {
              border-color: $mainColor;
            }

            @keyframes product-in-cart-border {
              0% {
                border-color: $secondaryColor;
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
              }
              100% {
                border-color: transparent;
              }
            }

            > div.product-content > div.image > svg.sale-icon {
              fill: $mainColor;
            }
          }

          > div.special-reminders > div.special-reminder-wrapper > div.special-reminder > svg {
            fill: $mainColor;
          }
        }

        &.empty-cart-smart-list {
          h4 {
            font-family: $defaultFontFamily;
          }

          h5 {
            font-family: $defaultFontFamily;
          }
        }
      }

      > footer > .you-save {
        > svg {
          fill: $mainColor;
        }

        > .price.has-value {
          color: $mainColor;
        }

        &.credit-customer {
          .price{
            font-weight: bold;
            direction: ltr;

            &.not-enough{
              color: #D6353A;
            }
          }

          .text{
            padding: 0 0.6em;
          }
        }

      }
    }

    > .history-order > .order-lines-list > .order-line {
      > .add-button {
        background-color: '{{secondaryColor-#000000-92}}';
        box-shadow: 0 0 0 5px '{{secondaryColor-50}}';
      }

      > .order-line-content {
        > .checkbox-wrapper label.checkbox > span.box {
          border-color: $secondaryColor;

          &.true svg {
            fill: $secondaryColor;
          }
        }

        > .product-image-wrapper > .sale-icon {
          fill: $mainColor;
        }
      }

      &:hover > .order-line-content {
        border-color: $secondaryColor;
      }
    }

    &.orders-history-shown > .history-order {
      border-color: $secondaryColor;
    }

    > .history-order > header > .title > .add-items-button, > .history-order > header > .title > .edit-history-order {
      background-color: $secondaryColor;

      > .arrow-icon {
        background-color: '{{secondaryColor-#000000-92}}';
      }
    }

    > .collapsible > section.orders-history, > .history-order > header {
      .items-count-wrapper > .items-count {
        background-color: $mainColor;
      }
    }
  }
}