<h4 ng-style="homePageBubbleCtrl.hpMessages[$root.config.language.id].titleColor && {'color': homePageBubbleCtrl.hpMessages[$root.config.language.id].titleColor}">{{homePageBubbleCtrl.hpMessages[$root.config.language.id].title}}</h4>
<div ng-bind-html="homePageBubbleCtrl.trustedHtml(homePageBubbleCtrl.hpMessages[$root.config.language.id].text)"></div>