$circleSize: 3.5em;
$circleLabelFontSize: 0.7em;
$circleMarginBorderHeight: 0.17em;
$circleBorderWidth: 2px;
$borderBetweenCircleWidth: 2.5em;
$orderNumberPadding: 0.5em;
$orderNumberBorder: 1px solid #cccccc;
$editOrderBubbleBorderRadius: 0.3125em;
$bubbleClosePadding: 1.5em;

.sp-bubble.home-page-bubble {
  z-index: 90;
  width: 20.24em;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 1em;

  .bubble-close {
    background-image: url('https://storage.googleapis.com/sp-public/global/frontend-icons/close-popup.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 91;
    top: 3em;
    left: auto;
    right: $bubbleClosePadding;
    cursor: pointer;
    zoom: 0.6;
  }

  .arrow-wrapper {
    width: 100%;
    height: 1.25em;

    > svg {
      display: inline-block;
      height: 100%;
      width: 2.5625em;
      fill: #ffffff;
    }
  }

  .home-page-bubble-nav {
    position: absolute;
    z-index: 91;
    top: 2.4em;
    left: auto;
    right: 0.5em;
    width: 4.4em;
    height: 1.2em;

    .nav-counter {
      display: inline-block;
      height: 1.2em;
      width: 2.4em;
      text-align: center;
      color: #4a4a4a;
      font-size: 0.9em;
    }

    .nav-arrow {
      height: 0.8em;
      width: 1em;
      cursor: pointer;
      margin-top: 0.2em;
      fill: #4a4a4a;

      &.nav-arrow-left {
        float: right;
        transform: scale(-1);
      }

      &.nav-arrow-right {
        float: left;
        transform: scale(1);
      }
    }
  }

  .bubble-bg {
    background-color: #ffffff;
    border-radius: $editOrderBubbleBorderRadius;
    border-top-left-radius: 0;
  }

  .home-page-bubble-message {
    @include animation(fadeIn 0.5s both ease);
    display: block;
    min-height: 12em;
    max-height: 16em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: $editOrderBubbleBorderRadius;
    border-top-left-radius: 0;
    padding: 1em;
    line-height: 1.4em;
    position: relative;

    
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      @include border-radius(5px);
      background-color: rgba(96, 96, 96, 0.2);
      max-height: 20px;

      &:hover {
        background-color: rgba(96, 96, 96, 0.7);
      }

      &:active {
        background-color: rgba(96, 96, 96, 1);
      }
    }


    &.with-paging h4 {
      margin: 0 3.4em 0 0;
    }

    h4 {
      padding: 0 0 0.8em 0;
      line-height: 1.2em;
      font-size: 1.6em;
    }

    em, i {
      font-style: italic;
    }

    p {
      padding-bottom: 0.4em;
    }

    u {
      text-decoration: underline;
    }
  }

  .edit-order-bubble {
    @include animation(fadeIn 0.5s both ease);

    .order-details-wrapper {
      color: #414141;
      background-color: #ffffff;
      padding: 1em;

      > h3 {
        color: #414141;
        padding: 0 0 0.5em 0;
      }

      .order-details {
        .order-number {
          font-weight: 400;
        }

        .view-order {
          margin: 0 0 0 1em;
          font-size: 0.8em;
          font-weight: 700;
        }
      }

      .delivery-time-title {
        font-size: 0.8em;
        margin-bottom: 0.4em;
      }

      .delivery-time .times {
        direction: ltr;
        display: inline-block;
      }

      .order-status-wrapper {
        padding: 1em;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        display: inline-block;

        .circle {
          position: relative;
          display: inline-block;
          height: $circleSize;
          width: $circleSize;
          border: $circleBorderWidth solid #cccccc;
          border-radius: 100%;
          margin-bottom: $circleLabelFontSize;
          vertical-align: middle;
          box-sizing: border-box;

          > svg {
            padding: 25%;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            fill: #a9a9a9;

            &.order-ready {
              padding: 15%;
            }
          }

          > .label {
            position: absolute;
            top: 100%;
            left: 0;
            width: 120%;
            text-align: center;
            font-size: $circleLabelFontSize;
            margin-top: 0.3em;
            margin-left: -10%;
          }

          &:not(:first-child):before {
            content: '';
            position: absolute;
            top: 50%;
            height: $circleBorderWidth;
            width: $borderBetweenCircleWidth;
            margin-top: -($circleBorderWidth / 2);
            background-color: #cccccc;
          }

          &.active {
            > svg {
              fill: #ffffff;
            }

            > .label {
              font-weight: 700;
            }
          }
        }
      }
    }

    .forgot-something {
      width: 100%;
      height: 3.3em;
      box-sizing: border-box;
      color: #ffffff;
      border-radius: 0 0 $editOrderBubbleBorderRadius $editOrderBubbleBorderRadius;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .title-wrapper, > .btn-wrapper {
        padding: 0 1em;
        box-sizing: border-box;
      }

      > .title-wrapper {
        width: 45%;
        font-size: 0.9em;
        line-height: 1.3;
        white-space: nowrap;

        > * {
          vertical-align: middle;
        }

        > .title {
          display: inline-block;
          width: 1.1em;
          white-space: normal;
          font-size: 0.9em;
          padding: 0 0.5em 0 0.7em;
        }
      }

      > .btn-wrapper {
        width: 55%;

        button {
          font-size: 0.875em;
          border: 2px solid #ffffff;
          padding: 0.3em 1em;
          color: #ffffff;
          border-radius: 1.5em;
          font-weight: 700;
          box-sizing: border-box;

          &.disabled {
            opacity: 0.4;
          }
        }
      }
    }
  }
}

.ltr .sp-bubble.home-page-bubble {
  @include animation(slideInLeft 0.5s both ease);

  > .arrow-wrapper > svg {
    transform: scaleX(-1);
  }

  .edit-order-bubble {
    .order-details-wrapper {
      border-top-right-radius: $editOrderBubbleBorderRadius;

      .order-details .order-number {
        padding-right: $orderNumberPadding;
        border-right: $orderNumberBorder;
      }

      .order-status-wrapper .circle {
        &:not(:first-child) {
          margin-left: $borderBetweenCircleWidth;

          &:before {
            right: 100%;
            margin-right: $circleBorderWidth;
          }
        }
      }
    }
  }
}

.rtl .sp-bubble.home-page-bubble {
  @include animation(slideInRight 0.5s both ease);

  .bubble-close {
    left: $bubbleClosePadding;
    right: auto;
  }

  .bubble-bg {
    border-radius: $editOrderBubbleBorderRadius;
    border-top-right-radius: 0;
  }

  .home-page-bubble-nav {
    left: 0.5em;
    right: auto;

    .nav-arrow-left {
      float: left;
      transform: scale(1);
    }

    .nav-arrow-right {
      float: right;
      transform: scale(-1);
    }
  }

  .home-page-bubble-message {
    border-radius: $editOrderBubbleBorderRadius;
    border-top-right-radius: 0;

    &.with-paging h4 {
      margin: 0 0 0 3.4em;
    }
  }

  .edit-order-bubble {
    .order-details-wrapper {
      border-top-left-radius: $editOrderBubbleBorderRadius;

      .order-details .view-order {
          margin: 0 1em 0 0;
      }

      .order-details .order-number {
        padding-left: $orderNumberPadding;
        border-left: $orderNumberBorder;
      }

      .order-status-wrapper .circle {
        &:not(:first-child) {
          margin-right: $borderBetweenCircleWidth;

          &:before {
            left: 100%;
            margin-left: $circleBorderWidth;
          }
        }
      }
    }
  }
}