.edit-order-bubble {
  .order-details-wrapper .order-status-wrapper .circle.active {
    background-color: $mainColor;
    border-color: $mainColor;

    &:not(:last-child):before {
      background-color: $mainColor;
    }
  }

  .forgot-something {
    background-color: $mainColor;
  }
}

.ltr .edit-order-bubble {
  .order-details-wrapper .order-status-wrapper .circle.active +:not(.active):before {
    background: linear-gradient(to right, $mainColor, #cccccc);
  }
}

.rtl .edit-order-bubble {
  .order-details-wrapper .order-status-wrapper .circle.active +:not(.active):before {
    background: linear-gradient(to left, $mainColor, #cccccc);
  }
}