$spPasswordInputPaddingRight: 1em;

.sp-password {
  position: relative;

  > input {
    width: 100%;
    @include box-sizing(border-box);
  }

  > .eye-icon {
    position: absolute;
    height: 100%;
    width: 1em;
    top: 0;
    cursor: pointer;
    background-size: 100% auto;
    background-image: url('https://storage.googleapis.com/sp-public/global/frontend-icons/eye-ic.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}

html {
  &.ltr {
    .sp-password {
      > input {
        padding-right: $spPasswordInputPaddingRight;
      }

      > .eye-icon {
        right: 0;
      }
    }
  }

  &.rtl {
    .sp-password {
      > input {
        padding-left: $spPasswordInputPaddingRight;
      }

      > .eye-icon {
        left: 0;
      }
    }
  }
}