$grayColor: #616161;
$backgroundColor: #f3f3f3;
$toolsActionSvgMarginRight: 0.8em;
$categoriesTitleFontSize: 1.88em;
$arrowWrapperWidth: 0.7em;

html.shop-lists {
  &, body {
    height: 100%;
  }

  section.view {
    height: auto;
    min-height: 100%;
    background: $backgroundColor;

    > div {
      margin: 0 $sidenavWidth;
      padding: 0 2em;
      color: $grayColor;

      > .my-shop-lists {
        .title-wrapper {
          > h1 {
            padding: 0.5em 0;
            color: inherit;
            display: inline-block;
          }

          > button {
            float: right;
            margin-top: 1em;
            display: inline-block;
            text-align: center;

            > .icon-wrapper {
              width: 3em;
              height: 3em;
              margin: auto;
              box-shadow: 0.1px 1px 7px 0 rgba(0,0,0,0.22);
              border-radius: 100%;
              padding: 0.2em;
              margin-bottom: 0.4em;
              background-color: #ffffff;

              > svg {
                width: 1.8em;
                height: 1.8em;
                margin: 0.6em;
                fill: #9c9c9c;
              }
            }

            > .desc {
              width: 7em;
              font-size: 0.8em;
            }
          }
        }

        sp-table {
          display: block;

          table {
            border-collapse: separate;
            thead {
              border-bottom-width: 0;
              font-weight: 700;
              tr th {
                font-weight: 700;
                padding: 1em 0.5em;
              }
            }

            tbody {
              tr {
                background-color: #ffffff;
                height: 6em;

                td {
                  padding: 0 1em;
                  max-width: 5em;
                  //box-sizing: border-box;
                  border-bottom: 11px solid $backgroundColor;

                  &.actions {
                    width: 19em;
                    box-sizing: border-box;

                    .buttons-wrapper {
                      display: none;
                      button {
                        width: 33%;
                        .icon-wrapper {
                          box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                          background-color: #ffffff;
                          border-radius: 100%;
                          width: 3em;
                          height: 3em;
                          margin: auto;
                          margin-bottom: 0.5em;

                          svg {
                            height: 2em;
                            width: 2em;
                            margin: 0.5em;
                            fill: #9c9c9c;
                          }
                        }

                        .desc {
                          font-size: 0.813em;
                          line-height: 0.9em;
                          color: #787878;
                        }
                      }
                    }
                  }

                  &.date-column {
                    max-width: 9em;
                    position: relative;
                    .arrow {
                      $arrowSize: 1.25em;
                      //display: inline-block;
                      //vertical-align: bottom;
                      width: $arrowWrapperWidth;
                      height: $arrowSize;
                      position: absolute;
                      top: 39%;
                      left: 99.5%;
                      overflow: hidden;
                      margin-bottom: 0.5em;

                      &:after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: $arrowSize;
                        transform: rotate(45deg);
                        margin-left: $arrowWrapperWidth * -1.95;
                        height: 100%;
                        background-color: #ffffff;
                        box-sizing: border-box;
                        //box-shadow: 0.1px 1px 7px 0 rgba(0, 0, 0, 0.22);
                        left: 100%;
                      }
                    }
                  }
                }

                &:hover {
                  td {
                    box-sizing: border-box;
                    //box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);

                    &.actions {
                      background-color: $backgroundColor;
                      max-width: unset;

                      .buttons-wrapper {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

html {
  &.ltr.shop-lists section.view {
    margin-right: 0;
  }

  &.rtl.shop-lists section.view {
    margin-left: 0;

    > div .my-shop-lists {
      .title-wrapper > button {
        float: left;
      }

      sp-table table tbody tr td.date-column .arrow {
        right: 99.5%;
        left: auto;

        &:after {
          margin-left: $arrowWrapperWidth * -0.7;;
        }
      }
    }
  }
}

@media screen and (max-width: 1575px) {
  html {
    &.shop-lists section.view > div {
      margin-left: $responsive1575MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 15px;

      .my-shop-lists sp-table table tbody tr td.date-column .arrow {
        left: 99%;
      }
    }

    &.rtl.shop-lists section.view > div {
      margin-right: $responsive1575MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;

      .my-shop-lists sp-table table tbody tr td.date-column .arrow {
        right: 99%;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  $responsive1180CategoriesTitleFontSize: 1.4em;
  html {
    &.shop-lists section.view > div {
      margin-left: $responsive1180MenuCategoriesTitleWidth + 1em;
      padding: 0;
      font-size: 14px;
    }

    &.rtl.shop-lists section.view > div {
      margin-right: $responsive1180MenuCategoriesTitleWidth + 1em;
      margin-left: $sidenavWidth;
    }
  }
}
