div.dialog.product {
  .dialog-body {

    .product-more-info {
      display: block;
      padding: 2em 0 1em 0;
      overflow: hidden;
      @include box-sizing(border-box);

      .more-details {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        @include box-sizing(border-box);

        > h4 {
          font-size: 1.4705882352941178em;
          font-weight: bold;
          padding: 2em 0 0.3em 0;
          margin-bottom: 0.5em;
          border-bottom: 2px solid #C8C8C8;

          &:first-child {
            padding-top: 0;
          }
        }

        > div > h4, > h4 {
          // dont use the default 'h4' font, rather inherit default font from father element
          font-family: inherit !important;
        }

        > div {
          line-height: 1.2;
          margin-bottom: 1em;

          > h4, > p {
            font-size: 1.03em;
            padding: 0;
            margin: 0 0.8567em;
          }

          > h4, &.row > div.header {
            color: #282828;
            font-weight: bold;
          }

          > p {
            margin-top: 0.5em;
          }

          &.row {
            display: flex;
            font-size: 0.8824em;

            &.warning > * {
              color: #AC1914 !important;
            }

            > div {
              flex: 2;

              &.header {
                flex: 1;
                margin: 0 1em;
              }
            }
          }
        }
      }

      .nutrition-values {
        display: inline-block;
        text-align: left;
        width: 39%;

        > div.table-wrapper {
          width: 80%;
          font-size: 0.75em;
          border: 2px solid #444444;
          padding: 1.1667em;
          box-sizing: border-box;
          display: inline-block;

          $marginLeft: 20%;
          .ltr & {
            margin-left: $marginLeft;
          }
          .rtl & {
            margin-right: $marginLeft;
          }
          
          > .title {
            font-size: 2em;
            font-weight: bold;
            padding-bottom: 0.8em;
          }

          table {
            width: 100%;

            th, td {
              padding: 0.5em 0.8em;
              border: 1px solid #444444;
            }

            thead th {
              border-top-width: 0;
              //border-bottom-width: 2px;
              font-weight: normal;
            }
            tbody tr:last-child {
              th, td {
                border-bottom-width: 0;
              }
            }
            tbody, thead {
              th, td {
                &:first-child {
                  html.rtl & {
                    border-right-width: 0;
                    //border-left-width: 2px;
                  }

                  html.ltr & {
                    border-left-width: 0;
                    //border-right-width: 2px;
                  }
                }

                &:last-child {
                  html.rtl & {
                    border-left-width: 0;
                  }

                  html.ltr & {
                    border-right-width: 0;
                  }
                }
              }
            }
          }
        }
      }

      .nutrition-facts {
        display: inline-block;
        vertical-align: top;
        width: 37%;
        font-size: 16px;
        background: #fff;
        border: 2px solid #444;
        padding: 0.5em;

        .clearfix:after {
          display: table;
          content: "";
          clear: both;
        }

        * {
          margin: 0;
          padding: 0;
          @include box-sizing(border-box);
        }

        header h1 {
          font-size: 1.6em;
          font-weight: bold;
          color: #444;

        }

        header > p {
          font-size: 0.8em;
          padding: 0.2em 0;
        }

        header dl, header h2 {
          font-size: 0.8em;
        }

        header h2 {
          margin-top: 0.2em;
          padding: 0.4em 0;
          border-top: 12px solid #444;
          border-bottom: 1px solid #444;
          color: #232222;
          font-weight: bold;
        }

        header dl {
          width: 50%;
          float: left;
          border-bottom: 7px solid #444;
          padding: 0.4em 0;
          @include box-sizing(border-box);
        }

        header dt, header dd {
          display: inline;
        }

        header > dl:first-of-type dt {
          font-weight: bold;
        }

        header dl + dl {
          text-align: right;
        }

        .main-table, .second-table {
          border-collapse: collapse;
        }

        .main-table th, .main-table td {
          text-align: right;
          width: 100%;
          font-size: 0.8em;
          padding: 0.4em;
        }

        .main-table td {
          font-weight: bold;
          text-align: left;
          border-top: 1px solid #444;
          border-bottom: 1px solid #444;
          padding: 0.4em;
        }

        .main-table td.indent {
          width: 2em;
          border: none;
        }

        .main-table td.indent + td {
          font-weight: normal;
        }

        .main-table td + td:last-child {
          text-align: right;
        }

        .main-table td.indent + td:last-child {
          text-align: left;
        }

        .main-table .grams {
          font-weight: normal;
        }

        tbody.first tr:last-child {
          border-bottom: 12px solid #444;
        }

        tbody.second td:first-child {
          font-weight: normal;
        }

        .main-table + p {
          font-size: 0.7em;
          padding: 1em 1em;
          text-align: justify;
        }

        .main-table + p::before {
          content: "*";
          float: left;
          padding: 0 0.4em 0 0;
          height: 3em;
        }
      }

      .product-info-disclaimer {
        padding-top: 2em;
        font-size: 0.74em;
        line-height: 1.4em;
        color: #000000;
      }

      .product-page-message {
        margin: 1em 0 0.5em 0;
        font-size: 0.8em;
        line-height: 1.4em;

        p {
          margin: 0 0 0.5em 0;
        }
      }
    }
  }
}

.rtl {
  div.dialog.product > .dialog-body {
    .product-more-info {
      .nutrition-values > div.table-wrapper {
        text-align: right;
      }

      .nutrition-facts {
        direction: rtl;

        header dl {
          float: right;
        }

        .main-table th {
          text-align: left;
        }

        .main-table td {
          text-align: right;
        }

        .main-table td.indent + td:last-child {
          text-align: right;
        }

        .main-table + p::before {
          float: right;
        }
      }
    }
  }
}

